html, body,.wrapper { width:100%; height:100%; margin:0; padding:0; border:0; }
body{
    font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}
a
{
	color:#666;
	text-decoration:none;
}

a:link
{
	color:#666;
	text-decoration:none;
}
a:hover
{
	color:#5b5b5b;
	text-decoration:none;
}
a:active
{
	color:#666;
	text-decoration:none;
}
	
.wrapper
{
	vertical-align:middle;
	text-align:center;
	background:#900;
}
header
{
	background: #00a0d1; /* Old browsers */
        background: -moz-linear-gradient(top,  #00a0d1 0%, #008eb9 99%, #0080a6 99%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a0d1), color-stop(99%,#008eb9), color-stop(99%,#0080a6)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #00a0d1 0%,#008eb9 99%,#0080a6 99%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #00a0d1 0%,#008eb9 99%,#0080a6 99%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #00a0d1 0%,#008eb9 99%,#0080a6 99%); /* IE10+ */
        background: linear-gradient(to bottom,  #00a0d1 0%,#008eb9 99%,#0080a6 99%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a0d1', endColorstr='#0080a6',GradientType=0 ); /* IE6-9 */
        -webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, .1);
        box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, .1);
}
.api_header
{
	width:100%; margin:auto; display:table;
}
.headerara
{
	margin:auto;
	width:80%;
	height:50px;
	display:table;
}
img
{
	display:table-cell; vertical-align:middle; text-align:center;
}
.vhc
{
	display:table-cell; vertical-align:middle; text-align:center;
}
.api_logo
{
	width:20%;
	border:#333 solid 0px;
        text-align: left;
        color: #fff;
}
.api_icon
{
	width:3%;
	border:#333 solid 0px;
}
.api_inputbig
{
	width:50%;
	border:#CCC solid 0px;
}
.api_inputsmall
{
	width:20%;
	border:#CCC solid 0px;
}
.api_button
{
	width:10%;
	border:#CCC solid 0px;
}
.inputbig
{
	-webkit-appearance:none;
	border:1px solid #b2b2b2;
	width:95%;
	padding: 0 10px;
	height:30px;
	-webkit-border-radius: 6px;
    border-radius: 6px;
	-webkit-box-shadow: inset 0px 3px 7px 1px rgba(0, 0, 0, .2);
	box-shadow: inset 0px 3px 7px 1px rgba(0, 0, 0, .2);
	font-size:100%;
}

.inputsmall
{
	-webkit-appearance:none;
	border:1px solid #b2b2b2;
	width:90%;
	height:30px;
	padding: 0 10px;
	-webkit-border-radius: 6px;
    border-radius: 6px;
	-webkit-box-shadow: inset 0px 3px 7px 1px rgba(0, 0, 0, .2);
	box-shadow: inset 0px 3px 7px 1px rgba(0, 0, 0, .2);
	font-size:100%;
}
.button
{
	-webkit-appearance:none;
	width:70%;
	height:30px;
	padding:0;
	margin:0;
	border:none;
	color:#FFF;
	font-size:16px;
	-webkit-border-radius: 6px;
    border-radius: 6px;
	text-shadow: 0px -1px 0px #6e6e6e;
	filter: dropshadow(color=#6e6e6e, offx=0, offy=-1);
	background:rgba(0, 0, 0, .5)
}
.button:hover
{
	-webkit-appearance:none;
	width:70%;
	height:30px;
	padding:0;
	margin:0;
	color:#FFF;
	border:none;
	font-size:16px;
	-webkit-border-radius: 6px;
    border-radius: 6px;
	text-shadow: 0px 1px 0px #6e6e6e;
	filter: dropshadow(color=#6e6e6e, offx=0, offy=1);
	background:rgba(0, 0, 0, .6)	
}

.api_content
{
	font-size:100%;letter-spacing: 1;width:79.7%; margin: 12px auto; border:#dadada solid 1px; display:table; padding:5px 0 5px 5px; background:#f4f4f4;-webkit-border-radius: 6px; border-radius: 6px;
}
.api_contentarea
{
	width:100%; border:#0C0 solid 0px;
}
.api_area_heading
{
	width:90%;
	margin:5px auto auto auto;
	border:#000 solid 0px;
	display:block;
	
	color:#666;
	font-weight:normal;
	overflow:auto;
}
.api_area_heading h3 span
{
    padding: 10px 0;
    display: block;
}
.floatleft
{
	float:left;
}
.floatright
{
	float:right;
}
.graylink
{
	font-size:100%;
	color:#666;
	font-weight:normal;
	text-decoration:none;
}

.graylink:link
{
	font-size:100%;
	color:#666;
	font-weight:normal;
	text-decoration:none;
}

.graylink:hover
{
	font-size:100%;
	color:#444444;
	font-weight:normal;
	text-decoration:none;
}
.api_clear
{
	clear:both;
	display:block;
}
.api_subheading
{
	display:block;
	width:95%;
	padding:10px;
	margin:auto;
	background:#e7f6ec;
	border:#c3e8d1 1px solid;
	-webkit-border-radius: 6px;
    border-radius: 6px;
}

.api_subheading_1
{
	display:block;
	width:92%;
	padding:10px;
	margin:auto;
	background:#ebf3f9;
	border:#c3d9ec 1px solid;
	-webkit-border-radius: 6px;
    border-radius: 6px;
	overflow:auto;

}
.api_subheading_error
{
	display:block;
	width:95%;
	padding:10px;
	margin:auto;
	background:#f5e8e8;
	border:#e8c6c7 1px solid;
	-webkit-border-radius: 6px;
    border-radius: 6px;
}
.api_subheading3
{
	display:block;
	width:95%;
	padding:10px;
	margin:auto;
	background:#f5f6e0;
	border:#e7e6a6 1px solid;
	-webkit-border-radius: 6px;
    border-radius: 6px;
}
.api_dscrarea
{
	width:100%;
	margin:auto;
	overflow:auto;
	height:100%;
	display:block;
	border:#333 solid 0px;
	
}
.api_dscrarea span
{
	float:left;
	border:#333 solid 0px;
        margin-bottom: 3px;
        font-size: 13px;
}

.dscrarea_1 input[type=text]
{
	-webkit-appearance:none;
	border:1px solid #b2b2b2;
	width:75%;
	padding: 0 10px;
	height:30px;
	-webkit-border-radius: 6px;
    border-radius: 6px;
	-webkit-box-shadow: inset 0px 3px 7px 1px rgba(0, 0, 0, .2);
	box-shadow: inset 0px 3px 7px 1px rgba(0, 0, 0, .2);
	font-size:100%;
}

.dscrarea_3 input[type=text]
{
	-webkit-appearance:none;
	border:1px solid #b2b2b2;
	width:80%;
	padding: 0 10px;
	height:30px;
	-webkit-border-radius: 6px;
    border-radius: 6px;
	-webkit-box-shadow: inset 0px 3px 7px 1px rgba(0, 0, 0, .2);
	box-shadow: inset 0px 3px 7px 1px rgba(0, 0, 0, .2);
	font-size:100%;
}
.inpt input[type=text]
{
	-webkit-appearance:none;
	border:1px solid #b2b2b2;
	width:70%;
	padding: 0 10px;
	height:30px;
	margin:5px 0;
	-webkit-border-radius: 6px;
    border-radius: 6px;
	-webkit-box-shadow: inset 0px 3px 7px 1px rgba(0, 0, 0, .1);
	box-shadow: inset 0px 3px 7px 1px rgba(0, 0, 0, .1);
	font-size:100%;
}
.inpt1 input[type=text]
{
	-webkit-appearance:none;
	border:1px solid #b2b2b2;
	width:35%;
        float:left;
	padding: 0 10px;
	height:30px;
	margin:5px 0;
	-webkit-border-radius: 6px;
    border-radius: 6px;
	-webkit-box-shadow: inset 0px 3px 7px 1px rgba(0, 0, 0, .1);
	box-shadow: inset 0px 3px 7px 1px rgba(0, 0, 0, .1);
	font-size:100%;
}
.inpt_error input[type=text]
{
	-webkit-appearance:none;
	border:1px solid #b2b2b2;
	width:85%;
	padding: 0 5px;
	height:30px;
	margin:5px 0;
	-webkit-border-radius: 6px;
    border-radius: 6px;
	-webkit-box-shadow: inset 0px 3px 7px 1px rgba(0, 0, 0, .1);
	box-shadow: inset 0px 3px 7px 1px rgba(0, 0, 0, .1);
	font-size:100%;
}

.dscrarea_4 textarea
{
	-webkit-appearance:none;
	border:1px solid #b2b2b2;
	width:80%;
	padding: 10px 10px;
	height:50px;
	-webkit-border-radius: 6px;
    border-radius: 6px;
	-webkit-box-shadow: inset 0px 3px 7px 1px rgba(0, 0, 0, .2);
	box-shadow: inset 0px 3px 7px 1px rgba(0, 0, 0, .2);
	font-size:100%;
}
.dscrarea_44 textarea
{
	-webkit-appearance:none;
	border:1px solid #b2b2b2;
	width:42%;
	padding: 10px 10px;
	height:50px;
	-webkit-border-radius: 6px;
    border-radius: 6px;
	-webkit-box-shadow: inset 0px 3px 7px 1px rgba(0, 0, 0, .2);
	box-shadow: inset 0px 3px 7px 1px rgba(0, 0, 0, .2);
	font-size:100%;
}
.dscrarea_5
{
	width:18%;
	color:#000;
}
.dscrarea_5 h3
{
	padding:5px 5px;
	margin:0;
	font-size:100%;
	font-weight:normal;
	
}
.api_da
{
	width:15%;
}
.api_colan
{
	width:1%;
	font-size:20px;
	font-weight:normal;
}
.api_inpt
{
	width:18%;
}
.api_txtara
{
	width:25%;
}
.api_txtara23
{
	width:25%;
        margin-left: 16px;
}
.api_floatbutt
{
	width:100%;
	float:right;
}
.api_floatbutt input[type=button]
{        
	-webkit-appearance:none;
	height:30px;
	padding:0 10px;
	margin:10px;
	color:#FFF;
	border:none;
	font-size:100%;
	-webkit-border-radius: 6px;
        border-radius: 6px;
        background:rgba(0, 0, 0, .4)
}
.api_floatbutt input[type=button]:hover
{        
	-webkit-appearance:none;
	height:30px;
	padding:0 10px;
	margin:10px;
	color:#FFF;
	border:none;
	font-size:100%;
	-webkit-border-radius: 6px;
        border-radius: 6px;
        background:rgba(0, 0, 0, .5	)
}
.api_floatbutt1 input[type=button]
{      
	-webkit-appearance:none;
	height:30px;
	padding:0 10px;
	margin:10px;
	color:#FFF;
	border:none;
	font-size:100%;
	-webkit-border-radius: 6px;
        border-radius: 6px;
        background-color:#a41e22;
}
.api_floatbutt1 input[type=button]:hover
{        
	-webkit-appearance:none;
	height:30px;
	padding:0 10px;
	margin:10px;
	color:#FFF;
	border:none;
	font-size:100%;
	-webkit-border-radius: 6px;
        border-radius: 6px;
        background-color:#971519;
}

.api_floatbutt_op input[type=button]
{	
	-webkit-appearance:none;
	height:30px;
	padding:0 10px;
	margin:10px;
	color:#FFF;
	border:none;
	font-size:100%;
	-webkit-border-radius: 6px;
    border-radius: 6px;
	background-color:#0f6ab4;
}
.api_floatbutt_op input[type=button]:hover
{	
	-webkit-appearance:none;
	height:30px;
	padding:0 10px;
	margin:10px;
	color:#FFF;
	border:none;
	font-size:100%;
	-webkit-border-radius: 6px;
        border-radius: 6px;
	background-color:#0b5ea2;
}
.api_floatbutt_op1 input[type=button]
{	
	-webkit-appearance:none;
	height:30px;
	padding:0 10px;
	margin:10px;
	color:#FFF;
	border:none;
	font-size:100%;
	-webkit-border-radius: 6px;
        border-radius: 6px;
	background-color:#a41e22;
}
.api_floatbutt_op1 input[type=button]:hover
{	
	-webkit-appearance:none;
	height:30px;
	padding:0 10px;
	margin:10px;
	color:#FFF;
	border:none;
	font-size:100%;
	-webkit-border-radius: 6px;
        border-radius: 6px;
	background-color:#971519;
}
.api_floatbutt_er input[type=button]
{
	float:right;
	-webkit-appearance:none;
	height:30px;
	padding:0 10px;
	margin:10px;
	color:#FFF;
	border:none;
	font-size:100%;
	-webkit-border-radius: 6px;
        border-radius: 6px;
	background-color:#a41e22;
}
.api_floatbutt_er input[type=button]:hover
{
	float:right;
	-webkit-appearance:none;
	height:30px;
	padding:0 10px;
	margin:10px;
	color:#FFF;
	border:none;
	font-size:100%;
	-webkit-border-radius: 6px;
        border-radius: 6px;
	background-color:#971519;
}
.api_floatbutt_er1 input[type=button]
{
	float:right;
	-webkit-appearance:none;
	height:30px;
	padding:0 10px;
	margin:10px;
	color:#FFF;
	border:none;
	font-size:100%;
	-webkit-border-radius: 6px;
        border-radius: 6px;
	background-color:#a41e22;
}
.api_floatbutt_er1 input[type=button]:hover
{
	float:right;
	-webkit-appearance:none;
	height:30px;
	padding:0 10px;
	margin:10px;
	color:#FFF;
	border:none;
	font-size:100%;
	-webkit-border-radius: 6px;
        border-radius: 6px;
	background-color:#971519;
}
.api_floatbutt_pr input[type=button]
{
	float:right;
	-webkit-appearance:none;
	height:30px;
	padding:0 10px;
	margin:10px;
	color:#FFF;
	border:none;
	font-size:100%;
	-webkit-border-radius: 6px;
        border-radius: 6px;
	background-color:#10a54a;
}
.api_floatbutt_pr1 input[type=button]
{
	float:right;
	-webkit-appearance:none;
	height:30px;
	padding:0 10px;
	margin:10px;
	color:#FFF;
	border:none;
	font-size:100%;
	-webkit-border-radius: 6px;
        border-radius: 6px;
	background-color:#971519;
}
.api_floatbutt_pr input[type=button]:hover
{
	float:right;
	-webkit-appearance:none;
	height:30px;
	padding:0 10px;
	margin:10px;
	color:#FFF;
	border:none;
	font-size:100%;
	-webkit-border-radius: 6px;
        border-radius: 6px;
	background-color:#098c3c;
}
.api_floatbutt_pr1 input[type=button]:hover
{
	float:right;
	-webkit-appearance:none;
	height:30px;
	padding:0 10px;
	margin:10px;
	color:#FFF;
	border:none;
	font-size:100%;
	-webkit-border-radius: 6px;
        border-radius: 6px;
	background-color:#A41E22;
}

.api_pad
{
	height:4px;
	display:block;
}
.hdng
{
	display:block;
	width:15%;
	float:left;
	
	font-size:100%;
	font-weight:normal;
	color:#333;
	margin-top:8px;
}
.hdng1
{
	display:block;
	width:10%;
	float:left;
	
	font-size:100%;
	font-weight:normal;
	color:#333;
	margin-top:8px;
        padding-left: 20px;
}
.hdng2
{
	display:block;
	width:5%;
	float:left;
	
	font-size:100%;
	font-weight:normal;
	color:#333;
	margin-top:8px;
}
.inpt
{
	display:block;
	width:60%;
	float:left;
}
.inpt_error
{
	display:block;
	width:29%;
	float:left;
}
.ori_stxt
{
	display:block;
	margin-left:5%;
	width:95%;
	
}
.ori_hdng
{
	display:block;
	width:21%;
	float:left;
	
	font-size:100%;
	font-weight:normal;
	color:#333;
	margin-top:10px;
	text-align:left;
}
.ori_hdng_er
{
	display:block;
	width:21%;
	float:left;
	
	font-size:100%;
	font-weight:normal;
	color:#333;
	margin-top:10px;
	text-align:right;
}
.api_error_msg
{
	width:100%;
	margin:auto;
}
.er_sp
{
	margin:0;
}
.api_dp_menu
{
    -webkit-apprarance:none;
    width: 10%;
    display:block;
}
.api_dp_menu select
{
    width: 95%;
    border:1px solid #b2b2b2;
    height:32px;
    -webkit-appearance:none;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: inset 0px 3px 7px 1px rgba(0, 0, 0, .2);
    box-shadow: inset 0px 3px 7px 1px rgba(0, 0, 0, .2);
    font-size:100%;
}

.savebutton
{
        text-align: center;
	-webkit-appearance:none;
	height:30px;
	padding:0 20px;
	margin:10px;
	color:#000;
	border:none;
        font-weight: bold;
	font-size:100%;
	-webkit-border-radius: 6px;
        border-radius: 6px;
	background-color:#89BF04;
}
.savebutton:hover
{
        text-align: center;
	-webkit-appearance:none;
	height:30px;
	padding:0 20px;
	margin:10px;
	color:#000 ;
	border:none;
	font-size:100%;
	-webkit-border-radius: 6px;
        border-radius: 6px;
	background-color:#6f980b;
}
.api-flo
{
    float: left;
    margin-left: 16px;
    font-size: 13px;
    font-weight: normal;
    width: 85%;
}
.api_hdng2
{
	display:block;
	width:12%;
	float:left;
	font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
	font-weight:bold;
	color:#333;
        padding-left: 20px;
        text-align: right;
}
.api_hdng1
{
	display:block;
	width:12%;
	float:left;
	font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
	font-weight:bold;
	color:#333;
        padding-left: 20px;
        text-align: right;
}
.api_ori_hdng {
        display: block;
        width:13%;
        float: left;
        font-size: 13px;
        font-weight: bold;
        color: #333;
        text-align: right;
        padding-right: 10px;
}
.ori_hdng_er_api
{
	display:block;
	width:21%;
	float:left;
	font-size:100%;
	font-weight:bold;
	color:#333;
	text-align:left;
}
.ori_hdng_er_reason
{
	display:block;
	width:10%;
	float:left;
	font-size:100%;
	font-weight:bold;
	color:#333;
	text-align:left;
}
.api_dp_menu_1 {
    -webkit-apprarance: none;
    width: 10%;
    display: block;
    font-weight: normal;
    font-size: 13px;
    color: #666;
}
.inpt_api
{
    font-size: 13px;
    font-weight: normal;
    color: #666;
    float: left;
    width: 85%;
}
.api_da_api
{
	width:21%;
        font-size: 13px;
        font-weight: bold;
        text-align: right;
        padding-right: 10px;

}
.api_inpt_api
{
	width:18%;
        font-size: 13px;
        font-weight: normal;
        color: #666;
        text-align: left;
}
.api_inpt_api_1
{
	font-size: 13px;
        font-weight: normal;
        color: #666;
        text-align: left;
}
.api_txtara_api
{
	width:35%;
        font-size: 13px;
        font-weight: normal;
        color: #666;
        text-align: left;
}
.mand
{
    color: red;
    font-size: 13px;
    font-weight: normal;
    float: right;
}

.dscrarea_5_api
{
	/*width:32%;*/
	color:#000;
        
}
.dscrarea_5_api h3
{
	margin:0;
	font-size:100%;
	font-weight:normal;
        float: left;
        padding: 0 5px;

}
.inpt_error_api
{
	display:block;
	width:29%;
	float:left;
        font-size: 13px;
        font-weight: normal;
        color: #666;
}

.api_txtara_api_6 {
    width: 10%;
    font-size: 13px;
    font-weight: normal;
    color: #666;
    text-align: left;
}

.api_inpt_dig
{
    width: 4%;
}
.api_dp_menu_2
{
    width:7%;
}
.api_dp_menu_2 select
{
    width: 95%;
    border:1px solid #b2b2b2;
    height:32px;
    -webkit-appearance:none;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: inset 0px 3px 7px 1px rgba(0, 0, 0, .2);
    box-shadow: inset 0px 3px 7px 1px rgba(0, 0, 0, .2);
    font-size:100%;
}
.api_txtara_op
{
    width:70%;
    margin: 30px;
    display:block;
}
.api_padng
{
    display: block;
    padding: 0 15px 0 15px;
}
.api_header_btns
{
    width: 75%;
    margin-left: 13%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.api_header_btns a
{
    padding: 3px 10px;
    display: block;
    float: left;
    margin: 2px;
    -webkit-transition:.2s;
    -transition:.2s;
    -moz--transition:.2s;
    -o-transition:.2s;
    -border-radius:15px;
    -webkit-border-radius:15px;
    
}
.api_header_btns a:hover
{
    background-color: #008eb9;
    color: #fff;
}
.api_headr_path
{
    display: block;
    clear: both;
    width: 78%;
    background-color: #008eb9;
    padding: 5px 5px 5px 20px;
    text-align: left;
    -wekit-border-radius: 6px;
    border-radius: 6px;
    margin-top:2%;
    margin-bottom:1%;
    margin-left: 10%;
    color:#fff;
    font-weight:bold;
    font-size:120%;
}
.api_txtara1
{
	width:97%;
        margin-left: 0px;
}
.api_txtara1 pre
{
    background: #fff;
    border: solid 1px lightgray;
    padding: 10px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
.mainApidiv
{
    margin: 5px 0;
}
.subApi
{
    float:left;
    position: relative;
    background: #F4F4F4;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    width: 90%;

}
.mainApi
{
    float: left;
    width:10%;
    font-weight: bold;
}
.api_number
{
    display: block;
    font-size: 13px;
    font-weight: bold;
    width: 79.7%;
    margin: auto;
}
.api_mar
{
    margin-right: 5px;
}
.api_headerarea
{
	background: #00a0d1; /* Old browsers */
        background: -moz-linear-gradient(top,  #00a0d1 0%, #008eb9 99%, #0080a6 99%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a0d1), color-stop(99%,#008eb9), color-stop(99%,#0080a6)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #00a0d1 0%,#008eb9 99%,#0080a6 99%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #00a0d1 0%,#008eb9 99%,#0080a6 99%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #00a0d1 0%,#008eb9 99%,#0080a6 99%); /* IE10+ */
        background: linear-gradient(to bottom,  #00a0d1 0%,#008eb9 99%,#0080a6 99%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a0d1', endColorstr='#0080a6',GradientType=0 ); /* IE6-9 */
        -webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, .1);
        box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, .1);
		
}
.api_main_area
{
	width:30%;
	margin:5% auto auto auto;
	background:#C33;
	display:block;
	
}
.api_main_area ul
{
	list-style-type:none;
	text-align:center;
	padding:8px;
	margin:0;
	background-color:#666;
	
}

.api_main_area ul li
{
	padding:15px 0;
	background-color:#ededed;
	font-size:150%;
	-o-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
}
.api_main_area ul li:hover
{
	padding:15px 0;
	background-color:#ddd;
}
.api_main_area ul hr
{
	margin:0;
	padding:0;
	background:#999;
	border-left:none;
	border-right:none;
	border-bottom:none;
}

.homeicon
{
	float:right;
	padding:12px 0 0 0;
	margin:0;
}
.api_txtara_api_doc_desc
{
	font-size: 13px;
        font-weight: normal;
        color: #666;
        text-align: left;
        width:67%;
}

.api_response1
{
    display: block;
    font-size: 13px;
    font-weight: bold;
    width: 96%;
    margin: auto auto 15PX auto;
}