html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  min-width: 960px; 
  color: #404041;
  background-color: #f1f1f2;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}
ol {
  list-style-position: inside;
}
ol ol {
  padding-left: 2em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 13px;
  background: white;
}

table td {
  vertical-align: top;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

table form { margin-bottom: 0; }

table thead, table th, table caption {
  background: #eaeaea;
  font-weight: 600;
}

.top30 { margin-top: 30px; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.margintop { margin-top: 52px; }

header { 
  border-bottom: 1px solid #232324;
  background: #404040 url('/img/new-header-bg.png') 0 0 repeat-x;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .9);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .9);
  box-shadow: 0 0 4px rgba(0, 0, 0, .9);
  position: fixed;
  top: 0; left: 0;
  z-index: 1;
}

header a { color: white; text-decoration: none; }
header {
padding: 0;
background-color: #ffffff;
background-image: -webkit-gradient(linear,left top,left bottom,from(#454546),to(#262527));
background-image: -webkit-linear-gradient(top,#ffffff,#ffffff);
background-image: -moz-linear-gradient(top,#ffffff,#ffffff);
background-image: -ms-linear-gradient(top,#ffffff,#ffffff);
background-image: -o-linear-gradient(top,#ffffff,#ffffff);
background-image: linear-gradient(to bottom,#ffffff,#ffffff);
border-bottom: 1px solid #282729;
border-bottom: 1px solid rgba(0, 0, 0, 0.25);-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
color: white;
overflow: hidden;
top: 0;
z-index: 900;
width: 100%;
position: fixed;
}
header .login { 
  margin-top: 4px;
  padding: 4px 20px 4px 20px;
  display: inline-block;
  font-size: 13px;
  font-weight: bold; 
  margin-right: 4px; 
  float: right;
  color: #fff;
  background-color: #26a8d8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#39b7e4), to(#048fc3)); 
  background-image: -webkit-linear-gradient(top, #39b7e4, #048fc3);
  background-image: -moz-linear-gradient(top, #39b7e4, #048fc3);
  background-image: -ms-linear-gradient(top, #39b7e4, #048fc3);
  background-image: -o-linear-gradient(top, #39b7e4, #048fc3);
  background-image: linear-gradient(to bottom, #39b7e4, #048fc3);
  text-shadow: 1px 1px 0 #3c95b4; 
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
header .side {  line-height: 0; }
header hgroup.in { padding-left: 4em; }

footer {
  background: #171717;
  overflow: hidden;
  padding: 2em 0 3em 0;
  color:  white;
  position: relative;
  z-index: 2;
}

footer div {
  padding: 0 10px;
}

footer h2 {
  font-size: 13px;
  font-weight: bold;
  color: #9c9c9c;
  margin-bottom: 0;
  margin-top: .83em;
}
footer nav {
  padding-left: 12.5%;
}

footer li {
  margin-bottom: 0;
}

footer a {
  font-size: 13px;
  color: #666;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

footer a:hover {
  color: #9C9C9C;
  border-bottom: 1px solid #9c9c9c;
}

.sizewrap {
  max-width: 1364px;
  margin: 0 auto;
}

footer .colophon {
  text-align: center;
  font-size: 12px;
  color: #666;
  float: left; clear: left;
  padding-left: 12.5%;
  font-size: 12px;
  padding-top: 4em;
}

.line:after, body:after, .lastUnit:after {
  clear: both;
  display: block;
  visibility: hidden;
  overflow: hidden;
  height: 0 !important;
  line-height: 0;
  font-size: xx-large;
  content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}

.line, body {
  *zoom: 1;
}

.unit {
  float: left;
}

.unitExt {
  float: right;
}

.size1of1 {
  float: none;
}

.size1of2 {
  width: 50%;
}

.size1of3 {
  width: 33.333%;
}

.size2of3 {
  width: 66.667%;
}

.size1of4 {
  width: 25%;
}

.size3of4 {
  width: 75%;
}

.size1of5 {
  width: 20%;
}

.size2of5 {
  width: 40%;
}

.size3of5 {
  width: 60%;
}

.size4of5 {
  width: 80%;
}

.size1of6 {
  width: 16.667%;
}

.size5of6 {
  width: 83.333%;
}

.size1of8 {
  width: 12.5%;
}
.size3of8 {
  width: 37.5%;
}
.size5of8 {
  width: 62.5%;
}

.size7of8 {
  width: 87.5%;
}

.lastUnit {
  display: table-cell;
  float: none;
  width: auto;
  *display: block;
  *zoom: 1;
  _position: relative;
  _left: -3px;
  _margin-right: -3px;
}

/* ADDED */
html {
  background: #f1f1f2;
}

body {
  font-family: "Helvetica Neue", Arial, Helvetica;
  font-size: 15px;
  line-height: 1.618;
}
footer {
  font-size: 13px;
}

.main p, .main h1, .main h2, .main h3, .main h4, .main h5, .main h6, .main ul, .main ol, .main .flash, .green {
  max-width: 100%; 
}
code {
  max-width: 100%;
}

.example-header {
  max-width: 800px;
}
.main p { font-size: 15px; }

/* media queries increasing line height for wider screen */
@media screen and (min-width: 1000px) {
  section .main {
    line-height: 1.75;
  }
}

header .logo { 
  display: block;
  background: url('../img/mandrill-by-mailchimp.png') no-repeat center center;
  background-size:contain;
  width:190px;
  height: 36px;
  margin-left:15px;
  float: left;
}

@media screen and (max-width: 780px) { 
  header .size3of8 {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  header .logo {
    margin:5px auto;
    float:none;
  }
}

header .mainNav {
  float: right;
  padding: 0 0 0 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 780px) {
  header .mainNav {
    width: 100%;
    padding: 0;
    border-top: 1px solid rgba(255,255,255,0.15);
    -webkit-box-shadow: 0 -1px 0 0 #282729;
    box-shadow: 0 -1px 0 0 #282729;
  }
}


header .mainNav ul {
  margin: 0; padding: 0;
  list-style: none;
  display: block;
  padding: 0;
}

header .mainNav ul li a.feature {
  background-color: #3492B3;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#3492B3),to(#0F7097));
  background-image: -webkit-linear-gradient(top,#3492B3,#0F7097);
  background-image: -moz-linear-gradient(top,#3492B3,#0F7097);
  background-image: -ms-linear-gradient(top,#3492B3,#0F7097);
  background-image: -o-linear-gradient(top,#3492B3,#0F7097);
  background-image: linear-gradient(to bottom,#3492B3,#0F7097);
  color: white;
}

header .mainNav ul li a.feature:hover {
  background-color: #429BBA;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#429BBA),to(#1F7BA0));
  background-image: -webkit-linear-gradient(top,#429BBA,#1F7BA0);
  background-image: -moz-linear-gradient(top,#429BBA,#1F7BA0);
  background-image: -ms-linear-gradient(top,#429BBA,#1F7BA0);
  background-image: -o-linear-gradient(top,#429BBA,#1F7BA0);
  background-image: linear-gradient(to bottom,#429BBA,#1F7BA0);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

header .mainNav ul li {
  float: left;
  width: 16.6%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 0;
}

header .mainNav ul li:first-of-type a {
  -webkit-box-shadow: -1px 0 0 0 rgba(0,0,0,0.25);
  box-shadow: -1px 0 0 0 rgba(0,0,0,0.25);
}

header .mainNav ul li:last-of-type a {
  -webkit-box-shadow: 1px 0 0 0 rgba(255,255,255,0.15);
  box-shadow: 1px 0 0 0 rgba(255,255,255,0.15);
}

header .mainNav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #BFBFBF;
  text-decoration: none;
  font-size: 13px;
  line-height: 36px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

header .mainNav ul li a:hover {
  color: #FFF;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
  background-image: -webkit-linear-gradient(top,#404041,#0B0B0C);
  background-image: -moz-linear-gradient(top,#404041,#0B0B0C);
  background-image: -ms-linear-gradient(top,#404041,#0B0B0C);
  background-image: -o-linear-gradient(top,#404041,#0B0B0C);
  background-image: linear-gradient(to bottom,#404041,#0B0B0C);
}

@media screen and (max-width: 780px) {
  #main {
     margin-top: 42px;
  }
}

.page-content {
  width: 80%;
  min-width: 940px;
  max-width: 1600px;
  margin: 0 auto;
}

.right { float: right; }
.center { text-align: center; }

.main {
  padding-left: 260px; /* must match width of .side */
  background: #f1f1f2;
}

ul.bullets {
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 2em;
}

ul.bullets li {
  margin-bottom: 0.5em;
}

ul.floated-list {
  float: none;
  clear: both;
}
ul.floated-list li {
  float: left;
  margin-right: 25px;
}

.highlight {
  background: #f8f4ac;
  display: block;
  padding: 1em !important;
}

.side {
  width: 260px;
}

aside {
  font-size: 11px;
  position: fixed; 
  top: 37px; left: 0; bottom: 0;
  background: white url('/img/faux-col.png') top left repeat-y;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (max-width: 780px) {
  aside {
    margin-top: 46px;
  }
}

aside nav ul {
  padding: 0;
}
aside nav ul li {
  font-weight: 800;
  font-size: 15px;
  margin: 0;
  padding: 0 ;
}

aside nav ul li span {
color: #a3a3a3;
}

aside nav ul li ul li{
  font-weight: bold;
  font-size: 14px;
  text-transform: capitalize;
  padding-left: 15px;
  margin: 0;
}
aside nav ul li ul li a {
}
nav ul li ul {
  display: none;
}
nav ul.current, li.active-item ul, ul.active-list {
  display: block;
}
aside nav a {
  padding: 6px 22px 5px;
  border-bottom: 1px solid #262626;
  border-top: 1px solid #535353;
  display: block;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: -0.8px;
}
aside nav ul ul a { /* second level nav */
  padding: 1px 23px 2px;
}
aside nav ul {
  border-top: 1px solid #262626;
  border-bottom: 1px solid #535353;
}
aside nav ul ul, aside nav ul ul a {
  border: none;
}
aside nav .active-list {
  border-bottom: 1px solid #262626;
}
aside nav ul li:last-of-type {
  margin-bottom: 0;
}
aside nav ul li a {
  color: #BFBFBF;
}
aside nav ul li a:hover {
  color: #f1f1f2;
}
aside nav ul ul li {
  font-size: 11px;
  font-weight: 500;
  margin-top: 0;
}
li.section > a:hover {
  background: #454545;
  background: rgba(255,255,255,6%);
}
li.section.active-section > a:hover {
  background: transparent;
}
li.section.active-section > ul {
  margin-bottom: -5px;
}
nav a:hover {
}

.active-section {
  border-bottom: 1px solid #262626;
  background: #454545;
  background: rgba(255,255,255,6%);
}

.active-section > a {
  border-top: none;
  color:#fff;
}

.active-section > ul {
  display: block;
  padding-bottom: 20px;
}
.active-section li.active-section {
  border-bottom: none;
}
.active-section li.active-section ul {
  margin-top:0;
  padding-bottom:5px;
}
.active-section, .active-item, .active-anchor {
}
.active-section > a {  border-bottom: none; }
.active-item > a { background: #b1e1ed; text-shadow: none; }
.active-section.active-item > a { background: transparent; }

a.back { margin: 15px 0 25px; display: block; }
.in {
  padding: 0 1.618em;
}
.in.ab {
  padding: 1.618em 1.618em;
}
.in.ab.double {
  padding: 1.618em 3.236em;
}

.in2 {
  padding: 0 3.236em;
}
.in2.ab {
  padding: 1.618em 3.236em;
}

a {
  color: #008cc0;
  text-decoration: none;
}
a:hover {
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, li {
  color: #404041;
  text-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -.5px;
}
h1 { letter-spacing: -1px; line-height: 1.2; }

#st {
  margin-left: 15px;
}

#st input {
  margin-top: 15px;
  height: 27px;
  background-color: #232324;
  border-top: 1px solid #1B1B1C;
  border-left: 1px solid #1B1B1C;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
  margin-bottom: 12px;
  outline: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.0976563) 0px 1px 0px 0px;
  background: #232324 url(/img/search-button.png) no-repeat 201px -1px;
  border: 1px solid #262626;
  border-bottom: 1px solid 535353;
  font-family: "Helvetica Neue", Arial, Helvetica;
  font-size: 12px;
  color: #808184;
  width: 218px;
  padding: 0 5px;
}

#st input[type=search] {
  width: 100%;
  margin-top: 1.618em;
}
header #st input[type=search] { margin-top: 0 }

.orange {
  background: #f2bdb9;
}
/* /register */
form table input {
  margin-bottom: 15px;
}

strong { font-weight: bold; }
em { font-style: italic; }

/* TABLES */
table {
  width: 100%;
  margin-bottom: 3em;
}
table table { 
  margin-bottom: 0px;
  margin-top: 10px;
}

td, th {
  text-align: left;
}

.simple th {
  font-weight: 600;
}
.simple th, .simple td {
  padding: 10px;
  line-height: 1.4;
}
.simple tr {
  border-bottom: 1px solid #dcdcdc;
  box-shadow: 0px 1px 1px white;
  -moz-box-shadow: 0px 1px 1px white;
  -webkit-box-shadow: 0px 1px 1px white;
}
.simple tr:first-child {
  border-top: 1px solid #dcdcdc;
}
.simple td, .simple th {
  border-right: 1px solid #dcdcdc;
  box-shadow: 1px 0px 1px white;
  -moz-box-shadow: 1px 0px 1px white;
  -webkit-box-shadow: 1px 0px 1px white;
}
.simple tr, .simple td:not(:first-of-type) {
  border-left: 1px solid #dcdcdc;
}

/* Google Groups inline images */
h2 img {
  margin-bottom: -8px;
}

/* Code */
pre, code {
  font-family: Monaco, Courier, monospace;
}

code {
  display: block;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 4px;
  margin-bottom: 20px;
  font-family: Monaco, Courier, monospace;
  overflow-x: auto;
}


pre {
  height: auto;
  margin-bottom: 1em;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

code.inline-code {display:inline-block; padding:0 7px; margin:0 3px; background-color:#fff; background-color:rgba(255,255,255,.75);}

.param-type, .return-type {
  font-weight: regular;
  color: #666;
  display: block;
}

.param-type, .return-type, .param-name {
  font-family: monaco, courier;
}
.param-name {
  font-weight: 600;
  font-size: 16px;
  color: #404041;
  margin-right: 3px;
  font-family: "Helvetica Neue",Arial,Helvetica;
} 

a.link-back {
  display: block;
  margin-bottom: 1em;
}

/* Flash Type Things */
.flash, .red, .green {
  padding: 1em 0;
  margin: 1em 0 2em;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}

.flash h2, .red h2, .green h2 {
  margin-bottom: 0.5em;
}

.flash p, .red p, .green p, .flash p:last-of-type, .red p:last-of-type, .green p:last-of-type {
  margin: 0;
}

.red {
  background: #f2bdb9;
}

.green {
  background: #c9e6de;
}

/* Type */
.nomargin {
  margin: 0;
}

.padtop { padding-top: 37px; padding-bottom: 60px;}

h1, .h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 54px;
  margin-bottom: 0px;
}

h2, .h2 {
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 0.6em;
}

h1 + h2 {
  padding-top: 30px;
}

h3, .h3 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 16px;
  padding-top: 50px;
  border-bottom: 1px solid #c1c1c2;
}

h4, .h4 {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 0.6em;
}

h5, .h5 {
  font-weight: 300;
  font-size: 1.1em;
  margin-bottom: 0.6em;
}

h6, .h6 {
  font-weight: 200;
  font-size: 1em;
  margin-bottom: 0.6em;
}

p {
  margin-bottom: 1em;
}
p:last-of-type {
  margin-bottom: 24px;
}

table p:last-of-type {
  margin-bottom: 0em;
}

li {
  margin-bottom: 0.5em;
}
li:last-of-type {
  margin-bottom: 2em;
}

dl dt {
  font-weight: bold;
}
dl dd {
  padding-left: 1em;
}

#st-search-input { width: 256px; }

.namespace-summary ul {
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
}
.namespace-summary li {
  padding: 1em;
  margin: 0;
}

.namespace-summary li:not(:first-of-type) {
  border-top: 1px solid #ccc;
}
.namepsace-summary li:not(:last-of-type) {
  border-bottom: 1px solid #ccc;
}


/* CODE HIGHLIGHTING */
/*
 *
 * XCode style (c) Angel Garcia <angelgarcia.mail@gmail.com>
 *
 * */

pre code {
  display: block; 
  background: #fff; color: black;
  border: 1px solid #ccc;
  padding: 15px;
}

pre .comment,
pre .template_comment,
pre .javadoc,
pre .comment * {
  color: rgb(0,106,0);
}

pre .keyword,
pre .literal,
pre .nginx .title {
  color: rgb(170,13,145);
}
pre .method,
pre .list .title,
pre .tag .title,
pre .setting .value,
pre .winutils,
pre .tex .command,
pre .http .title,
pre .request,
pre .status {
  color: #008;
}

pre .envvar,
pre .tex .special {
  color: #660;
}

pre .string {
  color: rgb(196,26,22);
}
pre .tag .value,
pre .cdata,
pre .filter .argument,
pre .attr_selector,
pre .apache .cbracket,
pre .date,
pre .regexp {
  color: #080;
}

pre .sub .identifier,
pre .pi,
pre .tag,
pre .tag .keyword,
pre .decorator,
pre .ini .title,
pre .shebang,
pre .input_number,
pre .hexcolor,
pre .rules .value,
pre .css .value .number,
pre .symbol,
pre .ruby .symbol .string,
pre .ruby .symbol .keyword,
pre .ruby .symbol .keymethods,
pre .number,
pre .css .function {
  color: rgb(28,0,207);
}

pre .class .title,
pre .haskell .type,
pre .smalltalk .class,
pre .javadoctag,
pre .yardoctag,
pre .phpdoc,
pre .typename,
pre .tag .attribute,
pre .doctype,
pre .class .id,
pre .built_in,
pre .setting,
pre .params {
  color: rgb(92,38,153);
}

pre .variable {
  color: rgb(63,110,116);
}
pre .css .tag,
pre .rules .property,
pre .pseudo,
pre .subst {
  color: #000;
}

pre .css .class, pre .css .id {
  color: #9B703F;
}

pre .value .important {
  color: #ff7700;
  font-weight: bold;
}

pre .rules .keyword {
  color: #C5AF75;
}

pre .annotation,
pre .apache .sqbracket,
pre .nginx .built_in {
  color: #9B859D;
}

pre .preprocessor,
pre .preprocessor * {
  color: rgb(100,56,32);
}

pre .tex .formula {
  background-color: #EEE;
  font-style: italic;
}

pre .diff .header,
pre .chunk {
  color: #808080;
  font-weight: bold;
}

pre .diff .change {
  background-color: #BCCFF9;
}

pre .addition {
  background-color: #BAEEBA;
}

pre .deletion {
  background-color: #FFC8BD;
}

pre .comment .yardoctag {
  font-weight: bold;
}

pre .method .id {
  color: #000;
}

/*Buttons --------------------------------------------------*/
.btn, form input[type="submit"] {display:inline-block; padding:4px 10px 4px; font-size:13px; line-height:18px; color:#333333; text-align:center; text-shadow:0 1px 1px rgba(255, 255, 255, 0.75); background-color:#fafafa; background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6)); background-image:-webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6); background-image:-moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6); background-image:-ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6); background-image:-o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6); background-image:linear-gradient(#ffffff, #ffffff 25%, #e6e6e6); background-repeat:no-repeat; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0); border:1px solid #ccc; border-bottom-color:#bbb; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor:pointer; *margin-left:.3em; font-weight:normal;}
.btn:first-child {*margin-left:0;}
.btn:hover {color:#333333; text-decoration:none; background-color:#e6e6e6; background-position:0 -15px; -webkit-transition:background-position 0.1s linear; -moz-transition:background-position 0.1s linear; -ms-transition:background-position 0.1s linear; -o-transition:background-position 0.1s linear; transition:background-position 0.1s linear;}
.btn:focus {outline:thin dotted; outline:5px auto -webkit-focus-ring-color; outline-offset:-2px;}
.btn.active, .btn:active {background-image:none; -webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); background-color:#e6e6e6; background-color:#d9d9d9 \9; color:rgba(0, 0, 0, 0.5); outline:0;}
.btn.disabled, .btn[disabled] {cursor:default; background-image:none; background-color:#e6e6e6; opacity:0.65; filter:alpha(opacity=65); -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none;}
.btn-large {padding:10px 25px !important; font-size:16px !important; height:auto !important; line-height:normal;}
.btn-large .icon {margin-top:1px;}
.btn-small {padding:5px 9px; font-size:11px; line-height:16px;}
.btn-small .icon {margin-top:-1px;}
.btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover {text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25); color:#ffffff;}
.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active {color:rgba(255, 255, 255, 0.75);}
.btn-primary, form input[type="submit"].btn-primary {color:#fff !important; text-shadow:0 1px 1px rgba(0, 0, 0, 0.1); background-color:#0288b4; background-image:-moz-linear-gradient(top, #32b8e6, #0288b4); background-image:-ms-linear-gradient(top, #32b8e6, #0288b4); background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#32b8e6), to(#0288b4)); background-image:-webkit-linear-gradient(top, #32b8e6, #0288b4); background-image:-o-linear-gradient(top, #32b8e6, #0288b4); background-image:linear-gradient(top, #32b8e6, #0288b4); background-repeat:repeat-x; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0); border-color:#0283ae; filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {background-color:#0288b4;}
.btn-primary:active, .btn-primary.active {background-color:#0288b4 \9;}
.btn-warning {background-color:#faa732; background-image:-moz-linear-gradient(top, #fbb450, #f89406); background-image:-ms-linear-gradient(top, #fbb450, #f89406); background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406)); background-image:-webkit-linear-gradient(top, #fbb450, #f89406); background-image:-o-linear-gradient(top, #fbb450, #f89406); background-image:linear-gradient(top, #fbb450, #f89406); background-repeat:repeat-x; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0); border-color:#f89406 #f89406 #ad6704; border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {background-color:#f89406;}
.btn-warning:active, .btn-warning.active {background-color:#c67605 \9;}
.btn-danger {background-color:#da4f49; color:#fff !important; background-image:-moz-linear-gradient(top, #ee5f5b, #bd362f); background-image:-ms-linear-gradient(top, #ee5f5b, #bd362f); background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f)); background-image:-webkit-linear-gradient(top, #ee5f5b, #bd362f); background-image:-o-linear-gradient(top, #ee5f5b, #bd362f); background-image:linear-gradient(top, #ee5f5b, #bd362f); background-repeat:repeat-x; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0); border-color:#bd362f #bd362f #802420; border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {background-color:#bd362f;}
.btn-danger:active, .btn-danger.active {background-color:#942a25 \9;}
.btn-success {background-color:#5bb75b; background-image:-moz-linear-gradient(top, #62c462, #51a351); background-image:-ms-linear-gradient(top, #62c462, #51a351); background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351)); background-image:-webkit-linear-gradient(top, #62c462, #51a351); background-image:-o-linear-gradient(top, #62c462, #51a351); background-image:linear-gradient(top, #62c462, #51a351); background-repeat:repeat-x; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0); border-color:#51a351 #51a351 #387038; border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {background-color:#51a351;}
.btn-success:active, .btn-success.active {background-color:#408140 \9;}
.btn-info {background-color:#49afcd; background-image:-moz-linear-gradient(top, #5bc0de, #2f96b4); background-image:-ms-linear-gradient(top, #5bc0de, #2f96b4); background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4)); background-image:-webkit-linear-gradient(top, #5bc0de, #2f96b4); background-image:-o-linear-gradient(top, #5bc0de, #2f96b4); background-image:linear-gradient(top, #5bc0de, #2f96b4); background-repeat:repeat-x; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0); border-color:#2f96b4 #2f96b4 #1f6377; border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {background-color:#2f96b4;}
.btn-info:active, .btn-info.active {background-color:#24748c \9;}
button.btn, input[type="submit"].btn {*padding-top:2px; *padding-bottom:2px;}
button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner {padding:0; border:0;}
button.btn.large, input[type="submit"].btn.large {*padding-top:7px; *padding-bottom:7px;}
button.btn.small, input[type="submit"].btn.small {*padding-top:3px; *padding-bottom:3px;}
.disabled {color:#999 !important;}
button.btn-cancel {position:relative; top:1px; height:32px;}
/*Mix-Ins
-------------------------------------------------------------- */
.hide, .hidden {display:none !important;}
.clear {clear:both;}
.clear-right {clear:right;}
.clear-left {clear:left;}
.pull-left {float:left !important;}
.pull-right {float:right !important;}
.alignr {text-align:right;}
.alignl {text-align:left;}
.alignc {text-align:center;}
.above-below15 {margin-top:15px !important; margin-bottom:15px !important;}
.above0 {margin-top:0 !important;}
.above30 {margin-top:30px !important;}
.below30 {margin-bottom:30px !important;}
.below0 {margin-bottom:0 !important;}
.overflow {overflow:visible;}
.imgrpl {display:block; text-indent:-9999em; overflow:hidden;}
.inline {display:inline-block !important;}
.small-meta {font-size:11px; font-weight:normal; color:#999;}
.nomargin {margin:0 !important;}
.panel-block {padding:20px; background-color:#fefefe;}
/*Forms ------------------------------------------ */
input, textarea {font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif; border:1px solid #bfbfbf; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; background:#fff url(/img/input-bg.png) top left repeat-x; height:32px; padding:0 5px; font-size:13px; color:#4d4d4d;}
input[type="text"], input[type="password"], textarea, select {width:98%;}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus {border:1px solid #008BC0;}
select {}
option {background-color:#fff;}
form fieldset {margin:0 0 10px 0;padding:0 0 10px 0;font-size:13px; color:#737373;}
form fieldset.form-actions {margin:0 0 0 20%;padding:0;border:none;}
form fieldset.slim {margin:0;}
form fieldset.check {padding-left:20%;}
form legend {font-size:20px; font-weight:bold; color:#000; padding-bottom:20px;}
form fieldset label {float:left;width:20%;margin:20px 0 5px 0;font-weight:bold; color:#737373; text-transform:capitalize;}
form fieldset label.stacked {float:none; width:auto; display:block;}
form fieldset label.inline {float:none; width:auto;}
form fieldset.check label {display:inline;float:none;width:auto;font-weight:normal;}
form fieldset.radio ul li label {display:inline;float:none;width:auto;font-weight:normal;}
form fieldset input.form-text,
/*form fieldset textarea {display:block;width:50%;padding:5px;font-size:14px;border:1px solid #ddd;background:#f5f5f5;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.05);-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.05);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}*/
form fieldset input.form-text:focus {border:1px solid #ccc;background:#fff;}
form fieldset textarea {height:150px;}
form fieldset select {min-width:25%; margin:0; padding:5px;}
form fieldset.radio ul {margin:5px 0 0 20%;}
form fieldset.radio ul li {margin:0 0 5px 0;}
form fieldset.radio ul li:last-child {margin:0;}
form fieldset p.form-help {margin:5px 0 0 20%;font-size:12px;color:#999;}
/*form input[type="submit"].btn {height:32px; margin:0; padding:4px 10px; font-size:13px; font-weight:bold; border:1px solid #bfbfbf; background:#eee; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}*/
form input[type="submit"]:hover,
form input[type="submit"]:focus {border:1px solid #bbb;background:#e5e5e5;}
form input[type="submit"]:active {border:1px solid #ccc;background:#eee;}
form fieldset input[type="text"].small {width:70px;}
form fieldset input.giant {font-size:150%; padding:10px;}
.field-help {font-size:11px; color:#999; padding:3px 0;}
.adjacent-field-group {float:left; width:48%; margin-right:2%;}
.adjacent-field-group input, .adjacent-field-group .invalid-error {width:100%;}
.adjacent-fields {clear:both;}
.adjacent-fields .field-group {float:left; clear:none; width:47%; margin-right:15px;}
.adjacent-fields .size1of2 {width:49%; margin:0}
.adjacent-fields select {width:98%;}
span.invalid-error {display:block; padding:5px 8px; color:#c91117;}
.field-wrapper input {margin-bottom:5px;}

.CodeMirror-wrap {margin:-15px; border-radius:4px;}
.CodeMirror.CodeMirror-wrap pre {line-height:21px; font-family:Monaco, Courier, monospace;}
em.response-message {color:#666;}

#doc-lang {
  position:fixed;
  top:75px;
  right:0;
  width:100px;
  height:75px;
}

@media screen and (max-width: 780px) {
  #doc-lang {
     margin-top: 34px;
    }
 }

#lang-current {
  padding:3px 10px 3px 10px;
  background-color:#d8d8d9;
  border:1px solid #ccc;
  border-right:0;
  border-radius:5px 0 0 5px;
  position:absolute;
  top:0;
  right:0;
  -webkit-transition:right .3s linear;
  -moz-transition:right .3s linear;
  transition:right .3s linear;
  z-index:100;
  -webkit-animation: appear 1s linear 1;
  -moz-animation: appear 1s linear 1;
  animation: appear 1s linear 1;
}

#lang-current p {
  padding-left:20px;
  background:url(/img/icons/code-icon.png) left 50% no-repeat;
  font-size:14px;
  font-weight:bold;
}

#lang-nav p {
  border-bottom:1px solid #ccc;
  font-weight:bold;
  font-size:14px;
}

#doc-lang:hover #lang-current {
  right:-200px;
}

#lang-nav {
  padding:3px 10px 10px 10px;
  background-color:#d8d8d9;
  border:1px solid #ccc;
  border-right:0;
  border-radius:5px 0 0 5px;
  position:absolute;
  top:0;
  right:-200px;
  -webkit-transition:right .3s linear;
  -moz-transition:right .3s linear;
  transition:right .3s linear;
  z-index:200;
  width:145px;
}

#doc-lang:hover #lang-nav {
  right:0;
}

#lang-nav ul {
  padding-top:10px;
}

#lang-nav li:last-of-type {
  margin-bottom:0;
}

#lang-nav li a {
  font-size:12px;
  color:#575757;
  font-weight:bold;
}

#lang-nav a {
  padding:4px 10px;
  margin:5px 0;
}

#lang-nav a.selected, #lang-nav a:hover {
  background-color:#f1f1f2;
  border-radius:20px;
}

@-webkit-keyframes appear {
  0% {right:-200px;}
  70% {right:-200px;}
  100% {right:0;}
}

@-moz-keyframes appear {
  0% {right:-200px;}
  70% {right:-200px;}
  100% {right:0;}
}

@keyframes appear {
  0% {right:-200px;}
  70% {right:-200px;}
  100% {right:0;}
}

@media screen and (min-width: 1300px) {
    .playground form {padding-bottom:50px;}
}
.parmeter-margin
{
    margin-bottom: 0.5em;
}
td:first-child {
    width: 30%;
}
