/* 
    Created on : 14 Mar, 2016, 11:00:09 AM
    Author     : Whiz Solutions
*/ 
*, *:before, *:after{box-sizing: content-box;}
body{font:14px/20px 'open sans', helvetica, arial, verdana, tahoma;font-weight: 300;background: #fff;color:#424242;min-width:320px; -webkit-font-smoothing: subpixel-antialiased;-webkit-text-stroke:1px transparent;-webkit-text-size-adjust:none;}
input, textarea{outline:none;resize:none;font-family:calibri;font-size:14px;padding:3px 4px;height:20px;line-height:20px;border:solid 1px #ccc;background:#fff;font-family: 'open sans', helvetica, arial, verdana, tahoma;}
input[type="button"], input[type="submit"], input[type="image"]{outline:none;cursor:pointer;padding:7px 10px;font-weight:700;border:none;height:auto;line-height:30px;background:#dfdd00;border:solid 1px #000;color:#000;}
input[type="button"]:hover, input[type="submit"]:hover, input[type="image"]:hover{background:#d3d3d3;}
input[type="checkbox"], input[type="radio"]{background:transparent;}
strong, b{font-weight:700;}
ul{list-style:none;}

select{padding:4px;border:solid 1px #ccc;background:#fff;font-family: 'open sans', helvetica, arial, verdana, tahoma;font-size:14px;-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
  border-radius: 0px;
}
label{font-weight:400;}
.btn{border:0;}

.pages h1, .pages h2{font-size:60px;line-height:60px;text-transform:uppercase;margin:0 0 40px;font-weight: 700;}
.clearfix:after, .oh:after, .row:after {clear: both;content:"";display: block;font-size: 0;height: 0;line-height: 0;overflow: hidden;}
.button-green1, .button-green1:hover{display:inline-block;padding:12px 10px;text-align:center;background:#59ad33;color:#fff;border-radius:4px;min-width:140px;font-size:15px;text-transform:uppercase;}
.new-searvice-page-main-container {background:#eff0f2;}

.pull-right{float:right;}

button.button-green1, button.button-green1:hover{padding:10px 10px;background:#008000;line-height:1;border:none;border-radius:4px;cursor:pointer;}
button.button-green1:hover{color:#fff;background:#008000;}

.search .btn.search-btn-clicked a{background:#52a723 url(../images/loader.gif) no-repeat 90% center;background-size:auto 40%;-webkit-background-size:auto 40%;-moz-background-size:auto 40%;opacity:0.5;}
#search-result .search .btn.search-btn-clicked a{background:#d85124 url(../images/loader.gif) no-repeat 90% center / auto 40%;opacity:0.5;}


.header {line-height:20px;}
.new-searvice-page-main-container .header{border-bottom:solid 1px #ddd;background:#fff;}
.header nav{font-size:15px;float:left;border-right:solid 1px #ddd;}
.header nav .menu{font-weight:300;color:#747373;background:url(../images/menu-lines.png) no-repeat 20px 22px;padding:20px 20px 20px 60px;display:block;min-height:20px;}
.header.sub nav .menu{padding:20px 20px 20px 45px;}
#header-search.sub nav .menu{overflow:hidden;text-indent:-1000em;}
.header nav .menu.active{background-position: 20px -60px;}
.header nav .menu:hover{color:#000;}
.header .logo{float:left;}
.header .logo a{display:block;background:url(../images/transporteca-logo-new.png) no-repeat 10px center;overflow:Hidden;text-indent:-1000em;width:235px;min-height:57px;}
.header .customer-services{float:right;border-right:solid 1px #ddd;padding:10px 20px 10px 0;}
.header .customer-services a{font-weight:300;color:#747373;font-size:17px;display:block;background:url(../images/customer-services-icon.png) no-repeat 0 center;padding:10px 0 10px 30px;}
.header .customer-services.cookie-icon-da{padding-right:28px;position:relative;}
.header .customer-services.cookie-icon-da a.cookie-icon-da-link{position:absolute;right:8px;top:11px;display:block;background:transparent;width:14px;height:14px;}

.header .telephone{font-size:23px;color:#f1551d;float:right;background:url(../images/phone-icon-new.png) no-repeat 0 center;padding:20px 20px 20px 40px;margin:0 0 0 20px;}
.header .login{float:right;background:#237aa7;position:relative;min-width:140px;}
.header .login a{text-decoration:none;color:#fff;font-weight:300;font-size:21px;padding:15px 0 3px;height:42px;text-align:center;display:block;}
.header.sub {border-bottom:solid 1px #ddd;background:#fff;width:100%;position:fixed;left:0;top:870px;z-index:10;}
.header.sub .login{border-left:solid 1px #ddd;}
.header.sub .telephone{padding:20px 20px 20px 40px}

#show_link, #show_main_link{position:absolute;right:0;top:60px;background:rgba(255, 255, 255, 0.9);z-index: 9;}
#show_link p, #show_main_link p{background:#eee;margin:0 0 1px;}
#show_link p a, #show_main_link p a{text-align:left;font-size:14px;color: #237AA7;height: auto;padding: 5px 0 5px 10px;min-width: 130px;}

.sub-nav-overlay{position:fixed;left:0;top:60px;width:100%;height:100%;background:rgba(0, 0, 0, 0.7);z-index:998;display:none;}
.sub-nav{position:fixed;left:-260px;width:258px;height:100%;background:#fff;z-index:999;top:60px;text-align:left;border-top:solid 1px #ddd;}
.sub-nav > ul {margin:0 0 20px;padding:0;}
.sub-nav ul li{border-bottom:solid 1px #eaeaea;}
.sub-nav ul li.active{background:#f7f7f7;}
.sub-nav ul li a{display:block;padding:15px 0 15px 20px;text-transform:uppercase;color:#000;font-size:23px;letter-spacing:-1px;text-decoration:none;font-weight:400;}
.sub-nav ul li a:hover{background:#f7f7f7;color:#237aa7;}

.sub-nav ul li ul{display:None;max-height:200px;overflow-y:auto;margin:0;padding:0;}
.sub-nav ul li.active ul{display:block;}
.sub-nav ul li li{border:None;}
.sub-nav ul li li a, .sub-nav ul li li a:hover{padding:0 0 10px;margin:0 0 0 30px;font-size:14px;font-weight:300;text-transform:none;background:transparent;letter-spacing:0;}

.sub-nav .login-btn a{background:#237aa7;color:#fff;font-weight:300;font-size:21px;padding:13px 0;margin:15px 0 25px 20px;text-align:center;min-width:140px;display:inline-block;}

.sub-nav .social-icons {margin:0 0 0 50px;}
.sub-nav .social-icons a{display:inline-block;margin-right:10px;background:#b2b2b2;border-radius:50%;line-height:28px;text-align:center;color:#fff;height:28px;width:28px;font-size:16px;}
.sub-nav .social-icons a:hover{background:#878787;}
/*
.sub-nav .social-icons .facebook:hover{background-position:0 bottom;}
.sub-nav .social-icons .twitter{background-position:-40px -1px;}
.sub-nav .social-icons .twitter:hover{background-position:-40px bottom;}
.sub-nav .social-icons .linkedin{background-position:right -1px;}
.sub-nav .social-icons .linkedin:hover{background-position:right bottom;}
.sub-nav .social-icons .youtube{background-position: -80px -1px;}
.sub-nav .social-icons .youtube:hover{background-position: -80px bottom;}
*/

.booking-quote.search .location-container {width: 55%;}
.booking-quote.search .dimensions-container {width: 30%;}
.booking-quote.search .date {width: 42%;}
.booking-quote.search .cbm {width: 27%;}
.booking-quote.search .kg {width: 31%;}

#search-freight{background: url(../images/search-background.jpg) 50% 0 no-repeat fixed;background-size: cover; min-height: 800px;height: 800px;margin: 0 auto;width: 100%;position: relative;}
#search-freight article {position: absolute;top:40%;height: 190px;margin: -95px 0 0;width: 100%;}
#search-freight.shipper-labels article {position: absolute;top:150px;height: auto;margin:0;}
#search-freight article h1{color:#fff;font-size:53px;margin-bottom:40px;}
#search-freight .search{box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);}
.search{font-size:15px;text-align:left;color:#fff;border-radius:5px;background:rgba(256, 256, 256, 0.15);border:1px solid rgba(170, 170, 170, 0.5);margin:0 auto;max-width:750px;padding:15px;position:relative;}
.search > div, .location-container > div, .dimensions-container > div{float:left;}
.search .location-container div > div, .search .dimensions-container div > div{border:1px solid rgba(170, 170, 170, 0.6);background:rgba(256, 256, 256, 0.1);border-right:none;padding:5px 0;}
.search .dimensions-container .kg div{border-right:1px solid rgba(170, 170, 170, 0.6);}
.search label{display:block;min-height:18px;padding-top:4px;white-space: nowrap;line-height:16px;font-size:15px;}
header .search label{min-height: 20px;line-height:14px;font-size:11px;}
.search input{background:transparent;border:none;color:#fff;padding:0;width:97%;margin:0 0 0 2%;overflow: hidden;text-overflow: ellipsis;white-space: pre;}
.search .location-container{width:46%;}
.search .dimensions-container{width:39%;}
.search .from {width:50%;}
.search .to {width:50%;position:relative;}
.search .pickup {width:25%;}
.search .dimensions-container .pickup > div {height: 26px;padding:5px 4px 0;position:relative;}
.search .date {width:37%;}
.search .cbm {width:20%;}
.search .kg {width:18%;}
.search .pickup input, .search .date input, .search .cbm input, .search .kg input{text-align:center;}
.version-4 .search .date input{text-align:left;}

.search .btn {width:15%;text-align:right;padding:22px 0 0;float: right !important;}
.search .btn a{text-align: center;color:#fff;width:100%;display:block;background:#52a723;padding:5px 0 0;margin:0;height:29px;text-transform:uppercase;}
.search .pickup select{width:100%;height:22px;line-height: 19px; border: none;color: #fff;background:transparent;font-size: 13px;padding: 2px;} 

.search .location-pointer{position:absolute;left:51px;top:-16px;}

.sub .search{max-width:645px;float:left;border:none;padding:5px 0 0 20px;color:#707070;font-size:11px;background:transparent;}
.sub .search input{color:#707070;font-size:13px;}
.sub .search .location-container div > div, .sub .search .dimensions-container div > div{padding:2px 0 0;box-sizing:border-box;height:27px;}
.sub .search label{margin:0;}
.sub .search .btn{float:left !important;padding:24px 0 0;width:15%;}
.sub .search .btn a{text-decoration:none;width:100%;padding:4px 0 0;color:#fff;margin:0;height:23px;line-height: 19px;}
.sub .search .btn.update-btn a{background-color:#d85124;}
.sub .search .pickup select{color: #707070;}
.sub .search .dimensions-container .pickup > div {padding: 0 0 2px;height: 27px;}
.sub .search .dimensions-container .pickup .select {padding-top:2px;font-size:13px;}

.search .btn-grey {
    float: right !important;
    padding: 22px 0 0;
    text-align: right;
    width: 15%;
}
.search .btn-grey a {background-color: #7f7f7f;height: 29px;padding: 5px 0 0;text-align: center;color:#fff;display:block;width: 100%;margin:0;}

.sub .search .btn-grey {
    float: left !important;
    padding: 24px 0 0;
    width: 15%;
}
.sub .search .btn-grey a {color: #fff;height: 22px;line-height: 19px;margin: 0;padding: 5px 0 0;width: 100%;}
.search-back-arrow{margin:0 auto 10px;max-width:966px;text-align:left;}
#search-result{padding:70px 0 0;min-height:500px;}
#search-result .search label{font-size: 15px;min-height:24px;}
#search-result .search{color:#333;margin:0 auto 50px;padding:0;border:none;max-width:966px;}
#search-result .search input{color:#707070;font-size: 15px;margin: 0 0 0 5%;width:93%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#search-result .search .cbm input, #search-result .search .kg input{background:transparent;}
#search-result .search .date{width:35%;}
#search-result .search .btn{width:14%;padding: 28px 0 0;}
#search-result .search .btn a{width:100%;height:31px;padding:9px 0 0;font-size:16px;margin:0;color:#fff;border-radius:0 4px 4px 0;background:#d85124;text-transform:uppercase;}
#search-result .search > div > div > div{padding:9px 0 8px;box-shadow: 0 3px 2px 0 rgba(170, 170, 170, 0.3) inset;background:#fff;}
#search-result .search .from div{border-radius:4px 0 0 4px;}
#search-result .search .kg {width:20%;}
#search-result .search .dimensions-container .kg div {border-right:none;}
#search-result .search .pickup {width:25%;}
#search-result .search .pickup select{color:#707070;font-size: 15px;height:24px;outline: none;}
#search-result .search .dimensions-container .pickup > div{padding:6px 2px;}
#search-result .search .dimensions-container .pickup > div .select{color: #707070;font-size: 15px;height: 28px;padding: 4px 0 0 4px;}
#search-result .search .dimensions-container {width: 40%;}
#search-result .search .date input {text-align:left;width:86%;margin-left:6%;}

#search-result .dtd-services-list .date, .dtd-services-list .date{width:40%;}
#search-result .dtd-services-list .cbm, .dtd-services-list .cbm{width:30%;}
#search-result .dtd-services-list .kg, .dtd-services-list .kg{width:30%;}
#search-result .search .btn-grey {
    padding: 28px 0 0;
    width: 14%;
}
#search-result .search .btn-grey a {
    background: #7f7f7f;
    border-radius: 0 4px 4px 0;
    color: #fff;
    font-size: 16px;
    height: 30px;
    margin: 0;
    padding: 10px 0 0;
    text-transform: uppercase;
    width: 100%;
}
#wordSearchLeftForm > div, #wordSearchLeftForm > div{margin:10px 20px 30px;}
#wordSearchLeftForm div input, #wordSearchLeftForm div input{float:left;width:170px;padding:4px;color:#222;border-radius:0;}
#wordSearchLeftForm div img, #wordSearchLeftForm div img{float:left;cursor:pointer;}

#wordSearchForm div{margin:0 0 30px;position:relative;}
#wordSearchForm div input{float:left;width:95%;padding: 4px;color:#222222;}
#wordSearchForm div img{position:absolute;right:0;top:0;cursor:pointer;}
.search-mini-ifram-container{position:relative;padding-top:10px;}
.search-mini-ifram-container iframe{height:100%;max-width:100%;position:absolute;left:0;top:0;}
.search-mini-ifram-container iframe:hover, .search-mini-ifram-container iframe:focus{height:250px;}
.search-mini-ifram-container iframe body{background:transparent;}
.search-mini-container .search .location-container div > div, .search-mini-container .search .dimensions-container div > div{height:33px;box-sizing:border-box;background:rgba(255, 255, 255, 0.1);padding:4px 0 0;position:relative;}

.searchmini-main-container #transporteca_search_form_container{max-width:780px;margin:0 auto;}
.searchmini-main-container, .searchmini-main-container div, .searchmini-main-container p{line-height:1.6;}
.searchmini-main-container .search-mini-container .search{color:#fff;}

.searchmini-main-container .search-mini-container .search{background:rgba(255, 255, 255, 0.15);}

.searchmini-main-container .search label{font-size:14px !important;}
.searchmini-main-container .search .input-title{font-size:14px !important;color:#fff;}
.searchmini-main-container .search-mini-container .search .location-container div > div, .searchmini-main-container .search-mini-container .search .dimensions-container div > div{background: rgba(255, 255, 255, 0.1);border-color: rgba(170, 170, 170, 0.6);}
.searchmini-main-container .search-mini-container .search input{background:transparent;color:#fff;}
.searchmini-main-container .search-mini-container .input-fields input{background:rgba(255, 255, 255, 0.1);border-color: rgba(170, 170, 170, 0.6);}
.searchmini-main-container #complete-box .select{background: rgba(255, 255, 255, 0.1) url(../images/search-field-arrow.png) no-repeat 94% center !important;color:#fff;border:solid 1px rgba(170, 170, 170, 0.6);border-right:0;}
.searchmini-main-container #complete-box .select{border:solid 1px rgba(170, 170, 170, 0.6);}
.searchmini-main-container .cargo-button-container a, .searchmini-main-container .cargo-button-container a:hover{background:url(../images/Minus-custom.png) no-repeat 0 0;width:22px;height:22px;margin-top:3px;}
.searchmini-main-container .cargo-button-container .cargo-add-button, .searchmini-main-container .cargo-button-container .cargo-add-button:hover{background:url(../images/Plus-custom.png) no-repeat 0 0;}
.searchmini-main-container .location-pointer, .location-pointer-v5, .location-pointer-v1{position:relative;}
.searchmini-main-container .location-pointer img{position:absolute;left:50px;top:-5px;width:256px;}
.searchmini-main-container .location-pointer-v5 img{position:absolute;left:50px;top:-1px;width:160px;}
.searchmini-main-container .location-pointer-v1 img{position:absolute;left:50px;top:-19px;}
.searchmini-main-container .version-5 .booking-quote.search .search-mini-v3-fields-container .dimensions-container > .kg{width:20%;}
.searchmini-main-container .version-5 .booking-quote.search .search-mini-v3-fields-container .dimensions-container > .date{width:27%;}
.searchmini-main-container .version-5 .booking-quote.search .search-mini-v3-fields-container .dimensions-container > .pickup{width:33%;}

.cargo-heading-v7{margin:0 0 8px;padding-top:10px;}
.cargo-quantity .input-box{border:solid 1px rgba(170, 170, 170, 0.6);}
.version-7 .request-quote-fields select{min-width:100%;width:100%;}
.version-7 .request-quote-fields .input-fields{background: rgba(255, 255, 255, 0.1);border:solid 1px rgba(170, 170, 170, 0.6);border-right:0;height:28px;}
.version-7 .request-quote-fields .cargo-button-container .v3-cargo-buttons-container{float:left;}

.contact-shipper-cb .checkbox-container-custom, .contact-shipper-cb .checkbox-container{display:inline-block;}
.search-min-v3-button-cotainer .btn, .search-min-v3-button-cotainer .btn-grey{float:none !Important;width:auto !Important;display:inline-block;min-width:20%;padding:10px 0 0;}
.version-7 .search-mini-v3-fields-container{margin:0;}
.version-7 .search .btn, .version-7 .search .btn-grey{width: 35% !important;}

.searchmini-main-container .cargo1 .field-name img{max-height:34px;}

.searchmini-main-container .version-3 .cargo1{margin: 0 0 8px;}
.searchmini-main-container .version-3 .transporteca-box .cargo-weight-measures .search-mini-cargo-fields div .input-fields + .input-fields{border-right:solid 1px rgba(170, 170, 170, 0.6);}

.version-7 .contact-shipper-cb{padding-top:10px;}

.searchmini-main-container .search-mini-container .search-min-v3-cargo-field .cargo1 .field-name{overflow:hidden;background:url(../images/CartonSmallWhite.png) no-repeat center bottom;background-size:auto 34px;height:34px;}
.searchmini-main-container .search-mini-container .search-min-v3-cargo-field .request-quote-fields .cargo1 .field-name{height:63px;}
.searchmini-main-container .search-mini-container .search-min-v3-cargo-field .cargo1 .field-name img{display:none;}


.footer{background:#1c1c1c;color:#777;font-size:12px;font-family:arial;padding:50px 0 20px;}
.footer a{color:#777;font-weight:normal;}
.footer a:hover{color:#888;}
.footer .footer-container {max-width:900px;margin:0 auto;text-align:left;}
.footer ul {width:20%;float:left;margin:0 0 30px;min-width:160px;}
.footer ul .head{text-transform:uppercase;font-size:14px;}
.footer ul li{padding:0 0 7px;}

.footer address:after {clear: both;content: ".";display: block;font-size: 0;height: 0;line-height: 0;overflow: hidden;}
.footer address {max-width:900px;margin:0 auto;text-align:left;font-style:normal;border-top:solid 2px #4d4d4d;padding:12px 0;}
.footer address .copyright {width:35%;float:left;}
.footer address .social-icons {width:11%;float:left;}
.footer .social-icons a{display:inline-block;margin-right:5px;width:17px;height:17px;background:#4d4d4d;text-indent:0;text-align:center;line-height:17px;color:#1c1c1c;font-size:12px;border-radius:50%;}
.footer .social-icons a:hover{background:#686868;}

/*.footer .social-icons .facebook:hover{background-position:0 bottom;}
.footer .social-icons .twitter{background-position:-18px 0;}
.footer .social-icons .twitter:hover{background-position:-18px bottom;}
.footer .social-icons .youtube{background-position:right 0;}
.footer .social-icons .youtube:hover{background-position:right bottom;}

.footer .social-icons .linkedin {background-position: -36px 0;}
.footer .social-icons .linkedin:hover {background-position: -36px bottom;}
*/

.footer address .links {width:54%;float:right;text-align:right;}
.footer address > div.links a{display:inline-block;}
.footer address > div.links a+a{margin-left:15px;}

.searchmini-main-container .checkbox{background:url(../images/custom-checkbox-noborder.png) no-repeat scroll 0 0;border:solid 1px rgba(170, 170, 170, 0.6);height:24px;}

.checkbox-mobile{display:none;padding:0 15px;text-align:left;font-size:15px;}
.checkbox-mobile .checkbox-image-mobile{display:block;color:#fff;margin-bottom:6px;padding:0 0 0 28px;background:url(../images/Check.png) no-repeat 0 1px;background-size:20px;letter-spacing: -0.5px;font-weight:600;}

.clear-data{display:none;position:absolute;right:5px;top:7px;font-size:20px;box-sizing:border-box;border-radius:50%;color:#fff;text-align:center;line-height:1;}
.clear-data a{color:#fff;width:18px;height:18px;overflow:hidden;text-indent:-1000em;background:url(../images/MyLocation.png) no-repeat 0 0;background-size:100%;display:block;}
.mobile-price-guarantee-points{display:none;}
.fb-submit-button{display: none;}
.gplus-submit-button{display: none;}
.updownarrow{display:none;}

#iNewDeliveryAddress .country > .input-fields {
    
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    border-color: rgba(170, 170, 170, 0.6) -moz-use-text-color rgba(170, 170, 170, 0.6) rgba(170, 170, 170, 0.6);
    border:solid 1px rgba(170, 170, 170, 0.6); border-left:0;
    box-sizing: border-box;
    float: left;
    height: 30px;
    width: 100%;
}

#main .search .btn, #main .search .btn-grey{padding-top:27px;}
#main .search .btn a, #main .search .btn-grey a{height:33px;text-decoration:none !Important;box-sizing:border-box;padding-top:6px;}

#search-result.search_list_serachmini_5 .search > div > div > div{background:transparent;box-shadow:0 0 0;}
.search_list_serachmini_5 .search-mini-container .search{background:transparent;box-shadow:0 0 0;border-radius:0;}
#search-result.search_list_serachmini_5 .search .update-btn a{box-sizing: border-box;height:33px;padding:6px 0;}
.search_list_serachmini_5 .search-mini-container .search .location-container div > div, .search_list_serachmini_5 .search-mini-container .search .dimensions-container div > div{background:#fff;}

#main .search-mini2-iframe-container .version-2 .location-container, #main .search-mini2-iframe-container .version-2 .dimensions-container{float:none;width:auto;}
#main .search-mini2-iframe-container .version-2 .btn, #main .search-mini2-iframe-container .version-2 .btn-grey{float:none !important;width:auto;padding-top: 15px;display:block;}
#main .search-mini2-iframe-container .version-2 .dimensions-container:after{content:'';display:table;clear:both;}
#main .search-mini2-iframe-container .version-2 .dimensions-container > div{float:left;}
#main .search-mini2-iframe-container .version-2 .dimensions-container .cbm div{border-left:0;border-right:0;}

#main .search-mini2-iframe-container .version-6 .location-container, #main .search-mini2-iframe-container .version-6 .dimensions-container{float:none;width:auto;}
#main .search-mini2-iframe-container .version-6 .btn, #main .search-mini2-iframe-container .version-6 .btn-grey{float:none !important;width:auto;padding-top: 15px;display:block;}
#main .search-mini2-iframe-container .version-6 .dimensions-container:after{content:'';display:table;clear:both;}
#main .search-mini2-iframe-container .version-6 .dimensions-container > div{float:left;}
#main .search-mini2-iframe-container .version-6 .dimensions-container > div+div div{border-left:0;}
#main .search-mini2-iframe-container .version-6 .dimensions-container .pickup .select{border:0;padding:4px 0 0;text-align:left;}

.duty-calculator {
    background: rgba(255, 255, 255, 0.15) none repeat scroll 0 0;
    border: 1px solid rgba(170, 170, 170, 0.5);
    border-radius: 5px;
    margin: 0 auto;
    max-width: 50%;
    padding: 15px;
    position: relative;
    text-align: left;
}
.duty-calculator div {
    min-height: 20px;
    padding: 4px 10px;
}
.duty-calculator div::after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
.duty-calculator div > span {
    float: left;
    font-weight: bold;
    padding: 5px 0 0;
    width: 35%;
}

.country_logo{float:right;padding: 15px 4px 14px;border-left:solid 1px #ddd;border-right:solid 1px #ddd;position:relative;}
.danish-flag{background:url(../images/DA.png) no-repeat 0px center;;display:inline-block;height: 31px;width: 31px;}
.danish-flag:hover, .danish-flag:focus{text-decoration:none;}
.english-flag{background:url(../images/EN.png) no-repeat 0px center;;display:inline-block;height: 31px;width: 31px;}
.english-flag:hover, .english-flag:focus{text-decoration:none;}
.swedish-flag{background:url(../images/SE.png) no-repeat 0px center;;display:inline-block;height: 31px;width: 31px;}
.swedish-flag:hover, .swedish-flag:focus{text-decoration:none;}
.german-flag{background:url(../images/DE.png) no-repeat 0px center;;display:inline-block;height: 31px;width: 31px;}
.german-flag:hover, .german-flag:focus{text-decoration:none;}
.polish-flag{background:url(../images/PL.png) no-repeat 0px center;;display:inline-block;height: 31px;width: 31px;}
.polish-flag:hover, .polish-flag:focus{text-decoration:none;}
.italian-flag{background:url(../images/IT.png) no-repeat 0px center;;display:inline-block;height: 31px;width: 31px;}
.italian-flag:hover, .italian-flag:focus{text-decoration:none;}
.nederlands-flag{background:url(../images/NL.png) no-repeat 0px center;;display:inline-block;height: 31px;width: 31px;}
.nederlands-flag:hover, .nederlands-flag:focus{text-decoration:none;}
.portuguese-flag{background:url(../images/PT.png) no-repeat 0px center;;display:inline-block;height: 31px;width: 31px;}
.portuguese-flag:hover, .portuguese-flag:focus{text-decoration:none;}
.spanish-flag{background:url(../images/ES.png) no-repeat 0px center;;display:inline-block;height: 31px;width: 31px;}
.spanish-flag:hover, .spanish-flag:focus{text-decoration:none;}
.french-flag{background:url(../images/FR.png) no-repeat 0px center;;display:inline-block;height: 31px;width: 31px;}
.french-flag:hover, .french-flag:focus{text-decoration:none;}
.icelandic-flag{background:url(../images/IS.png) no-repeat 0px center;;display:inline-block;height: 31px;width: 31px;}
.icelandic-flag:hover, .icelandic-flag:focus{text-decoration:none;}
.flag-dropdown{display:none;position:absolute;left:0;top:100%;z-index:9;background:#fff;width:100%;padding:0 0 5px;border-left:1px #ddd solid;}
.flag-dropdown ul{list-style:none;margin:0;padding:0;}
.flag-dropdown ul li{text-align:center;}
.flag-dropdown ul li+li{padding-top:5px;}

.signup-container .form-box{margin:0 auto 50px;padding:25px 30px;border-radius:0;}
.form-box{max-width:1100px;margin:0 auto 20px;background:#006699;color:#fff;font-size:18px;padding:20px 20px;text-align:left;line-height:1.2;border-radius:4px;}
.form-box .red_border{border:solid 1px red !important;}

.form-box .form-fields label{font-weight:300;display:block;margin-bottom:3px;}
.form-box .form-fields input{border:0;height:42px;width:100%;font-size:16px;background:#fff;padding:4px;color:#000;box-sizing:border-box;border-radius:2px;}
.form-box .form-fields .field-one{float:left;width:38%;}
.form-box .form-fields .field-two{float:left;width:20%;margin-left:1.5%;position:relative;}
.form-box .form-fields .field-btn{float:left;width:17.5%;text-align:center;padding-top:25px;margin-left:1.5%;}
.form-box .form-fields .field-btn input{padding:5px 20px;font-weight:700;font-size:20px;border-radius:4px;color:#444;}
.form-box .form-fields select{border:0;height:42px;width:100%;font-size:16px;background:#fff;padding:4px;color:#000;box-sizing:border-box;position:absolute;bottom:0;left:0;opacity:0;}
.form-box .form-fields .field-btn .button1, .form-box .form-fields .field-btn .button1:hover {background: #52a723;border-radius: 4px;color: #fff;cursor: pointer;display: inline-block;min-width: 90px;padding:4px 20px;text-align: center;text-decoration: none;text-transform: none;background: #52a723 url("../images/CheckRound.png") no-repeat scroll 5% center / auto 40%;}

.body-color.white .form-box p, .body-color.white .form-box label{color:#fff !important;}

.search-mini2-iframe-container .form-box .form-fields .field-one{float:none;width:auto;margin-bottom:10px;}
.search-mini2-iframe-container .form-box .form-fields .field-two{width:49%;margin-left:0;margin-bottom:10px;}
.search-mini2-iframe-container .form-box .form-fields .field-two+.field-two{margin-left:2%;}
.search-mini2-iframe-container .form-box .form-fields .field-btn{float:none;width:auto;margin:0;clear:both;padding-top:10px;}

.holding-page .form-box{border-radius:0 0 4px 4px;}
.holding-page .search-mini2-iframe-container h3{border:0;background:#006699;color:#fff !Important;padding:15px 20px 0;}

.holding-video-section .holding-page-video{margin:0 auto;max-width:525px;padding:0 15px;}

.responsive-video{position: relative;padding-bottom: 56.25%;padding-top: 60px; overflow: hidden;}
.responsive-video iframe, .responsive-video object, .responsive-video embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}

#popup-bg{background:#000;opacity:0.5;filter:alpha(opacity=50);position:fixed;top:0;left:0;z-index:999998;width:100%;height:100%;}
#popup-container{position:fixed;top:10%;left:0;width:100%;text-align:center;z-index:999999;}
#popup-bg.white-bg{background:#fff;}
.popup{width:330px;text-align:left;padding:10px 20px;margin:0 auto;background:#fff;border-radius: 8px 8px 8px 8px;position: relative;}
.popup h5{font-weight:bold;text-align:left;}
.signin-popup h5{margin-bottom:20px;}

.popup.search-popup{margin:61px 0 0;border-radius:0;width:100%;padding:0;border-bottom: 1px solid #ddd;}
.popup.search-popup .search{border:none;padding:10px;color:#707070;}
.popup.search-popup select, .popup.search-popup input[type="text"]{color:#707070;}
.popup.search-popup .close-icon{right: 0;top: -2px;}

.signin-popup{font-size:14px;width:270px;text-align:left;padding:10px 20px 10px 10px;margin:0 auto;}
.signin-popup input[type=text]{width:175px;}
.signin-popup .oh{padding:0 0 3px;}
.signin-popup-verification{width:270px;text-align:left;padding:10px 20px 10px 10px;margin:100px auto 0;}

.forgot-password-popup{width:340px;text-align:left;padding:10px 20px 10px 10px;margin:0 auto;}
.forgot-password-popup input[type=text]{width:220px;}

.contact-popup{width:355px;text-align:left;padding:10px 20px 10px 10px;margin:0 auto;}
.contact-popup textarea{width:100%;height:70px;}
.contact-popup input[type=text]{width:100%;}


#popup-bg{background:#000;opacity:0.5;filter:alpha(opacity=50);position:fixed;top:0;left:0;z-index:999998;width:100%;height:100%;}
#popup-container{position:fixed;top:10%;left:0;margin-top:0%;width:100%;text-align:center;z-index:999999;}
#popup-bg.white-bg{background:#fff;}
.popup{width:330px;text-align:left;padding:10px 20px;margin:0 auto;background:#fff;border-radius: 8px 8px 8px 8px;position: relative;}
.popup h5{font-weight:700;text-align:left;font-size:17px;margin-top:0;}

.signin-popup{width:270px;text-align:left;padding:10px 20px 10px 10px;margin:0 auto;}
.signin-popup input[type=text]{width:175px;}
.signin-popup .oh{padding:0 0 3px;}
.signin-popup-verification{width:270px;text-align:left;padding:10px 20px 10px 10px;margin:100px auto 0;}
.signin-popup-verification a{color:#7f7f7f;text-decoration:none;}
.signin-popup-verification .button1{color:#fff;font-weight:400;}

.forgot-password-popup{width:340px;text-align:left;padding:10px 20px 10px 10px;margin:0 auto;}
.forgot-password-popup input[type=text]{width:220px;}

.contact-popup{width:355px;text-align:left;padding:10px 20px 10px 10px;margin:0 auto;}
.contact-popup textarea{width:100%;height:70px;}
.contact-popup input[type=text]{width:100%;}

.warehouse-map-popup{width:345px;text-align:left;padding:10px 20px;border:solid 1px #000;margin:0 auto;}
.warehouse-map-popup .map-border{border:solid 1px #000;}

.help-select-graph-popup{width:625px;background:url(../images/help-select-graph.gif) no-repeat 38px 80px #FFFFFF;min-height:350px;}
.help-select-graph-popup p{margin:0 0 12px;font-size:17px;}
.help-select-graph-popup .links{overflow:hidden;margin:0 0 58px;}
.help-select-graph-popup .links span{float:left;text-align:center;font-style:italic;color:#7F7F7F;line-height:100%;font-size:14px;}
.help-select-graph-popup .links .first{width:60px;margin: 0 0 0 11px;}
.help-select-graph-popup .links .third{width:65px;margin:0 0 0 56px;}
.help-select-graph-popup .links .seventh{width:69px;margin:0 0 0 243px;}
.help-select-graph-popup .links .ninth{width:70px;margin:0 0 0 50px;}
.help-select-graph-popup .shipment{font-style:italic;color:#7F7F7F;line-height:100%;font-size:14px;margin:0 0 5px;}

.help{background:url(../images/Question.png) no-repeat 0 0;height:14px;width:14px;display:inline-block;text-decoration:none;vertical-align: top;}
.search .help{background:url(../images/Question-small.png) no-repeat 0 0;height:12px;width:12px;}
#search-freight .search .help{background:url(../images/Question-small-white.png) no-repeat 0 0;}

.help-pop{margin-top:10px;background:#000;width:300px;padding:1px;position:absolute;display:none;z-index:99999999;box-shadow: 2px 2px 2px #9D9D9D;-moz-box-shadow: 2px 2px 2px #9D9D9D;-webkit-box-shadow: 2px 2px 2px #9D9D9D;-o-box-shadow: 2px 2px 2px #9D9D9D;}
.help-pop div{background:#FFF;text-align:left;padding: 11px 14px;line-height: 14px;font-size:12px;border: 2px solid #BFBFBF;}
.help-pop div h5{margin:0 0 6px;}
.help-pop div span, .help-pop div p{font-size:12px;}
.help-pop.right{background-position:200px top;}
.help-pop img{position:absolute;left:30px;top:-10px;}
.help-pop.right img{left: 253px;}


.fl{float:left;}
.fr{float:right;}
.fl-33{float:left;width:33%;}
.fl-40{float:left;width:39.5%;}
.fl-45{float:left;width:44.5%;}
.fl-55{float:left;width:55%;}
.fl-65{float:left;width:65%;}
.fl-60{float:left;width:59.5%;}

.close-icon{position:absolute;top:-14px;right:-14px;cursor:pointer;margin: 0 !important;z-index:1;}

.f-size-12{font-size:12px;}
.f-size-14{font-size:14px;}
.f-size-16{font-size:16px;}
.f-size-18{font-size:18px;}

.button1, .button1:hover{background:#52a723;border-radius: 4px;display:inline-block;cursor:pointer;text-decoration:none;padding:10px 20px;color:#fff;text-transform:uppercase;min-width:90px;text-align:center;}
.button2, .button2:hover{background:#f1551d;border-radius: 4px;display:inline-block;cursor:pointer;text-decoration:none;padding:10px 20px;color:#fff;text-transform:uppercase;min-width:90px;text-align:center;}
.button3, .button3:hover{background:#f7b932;border-radius: 4px;display:inline-block;cursor:pointer;text-decoration:none;padding:10px 20px;color:#fff;text-transform:uppercase;min-width:90px;text-align:center;}

.popup .oh.email-space{margin-top:10px;}
.popup .oh.name-space{padding-bottom:5px;margin-top:10px;}
.popup .oh p{margin:0;}


@media (min-width:768px) {
	#search-result.search_list_serachmini_5 .search .update-btn {padding-top:37px !important;}
}
@media (min-width:801px) {
	#search-result.search_list_serachmini_5 .search .dimensions-container, .search_list_serachmini_5 .version-5 .booking-quote.search .search-mini-v3-fields-container .location-container{width:43%;}
	
}

@media only screen and (max-width : 1420px) and (min-width : 0) {
	.sub .search{max-width:560px;}
}
@media only screen and (max-width : 1340px) {
	.sub .search{max-width:485px;}
}
@media only screen and (max-width : 1280px) and (min-width : 0) {
	.header nav .menu{overflow: hidden;padding: 20px 40px 20px 20px;text-indent: -1000em;}
	
}
@media only screen and (max-width:1260px) and (min-width : 0) {
	.sub .search{display:none;}
	.sub .search.popsearch{display:block;}
	.sub .search-icon{display:block;}
	.header.sub .telephone{display:block;text-indent: 0;width: auto;background-position: 10px center;padding: 20px 10px 20px 45px;border-left: 1px solid #ddd;margin: 0 0 0 10px;}
}
@media only screen and (max-width : 1200px) and (min-width : 0) {
	.header.sub .login {min-width:100px;}
	.header.sub .login > a{overflow: hidden;text-overflow:ellipsis;white-space:nowrap;}
}

@media (max-width:1099px) {
	.signup-container h1{font-size:60px;}
	.form-box .form-box{padding:15px;margin-bottom:20px;}
}
@media only screen and (max-width : 1040px) and (min-width : 0) {
	.search-back-arrow{margin:0 10px;}
	.footer{padding:50px 10px 20px;}
}

@media (max-width:991px) {
	.form-box, .form-box .form-fields label{font-size:16px;}
	.form-box .form-fields input{font-size:16px;height:42px;}
	.flagstrap-icon .country-div:before{top:15px;}
	.flagstrap-icon .country-div{font-size:16px;height:42px;padding:10px 20px 10px 28px;}
	.flagstrap-icon li{font-size:16px;}
	.flagstrap-icon .country-div:after{top:15px;}
	.form-box .form-fields .field-btn{padding-top:23px;}
	.form-box .form-fields .field-btn input{font-size:22px;padding:5px;}
}

@media only screen and (max-width : 950px) and (min-width : 0) {
	.header .customer-services {width:24px;}
	.header .customer-services a{padding:10px 12px;text-indent:-1000em;overflow:hidden;display:block;}
	.header .telephone{display:None;text-indent:-1000em;overflow:hidden;padding: 20px 20px 20px 0;width: 30px;}
	.what-is-in ul li {float:none;display: inline-block;margin-bottom: 30px;}
	.how-does-work ul{background:transparent;}
	.how-does-work ul li {float:none;display: inline-block;margin-bottom: 30px;}
}
@media only screen and (max-width : 800px) and (min-width : 0) {
	.search, #search-result .search{margin:0 10px;}
	.search .location-pointer{display:None;}
	.search .location-container, .booking-quote.search .location-container{float:none;width:100%;}
	.search .location-container .to > div{border-right:solid 1px rgba(170, 170, 170, 0.6);}
		
	.search .dimensions-container, .booking-quote.search .dimensions-container {width: 85%;padding:5px 0 0;}
	#search-result .search .dimensions-container {width: 86%;padding:5px 0 0;}
	.search .btn{padding:27px 0 0;}
	#search-result .search .btn {padding: 30px 0 0;}
	.search .btn-grey{padding:27px 0 0 !important;}
	#search-result .search .btn-grey{padding:30px 0 0 !important;}
	.search .btn-grey a{background:#777;}
	.sub .search .btn {padding: 25px 0 0;}
	.sub #search_header .search .btn {padding:29px 0 0;}
	
	.search-mini-container .search .dimensions-container, .search-mini-container .booking-quote.search .dimensions-container {width:80%;}
	.version-3 .booking-quote.search .dimensions-container {width:30%;padding:0;}
	.version-3 .search .location-container .to > div{border-right:0;}
	.search-mini-container .search .btn-grey, .search-mini-container .search .btn{width:20%;padding:29px 0 0;}
	
	.searchmini-main-container .search .btn{padding-top:27px;}
	.searchmini-main-container .search .btn a{height:30px;}
	.search .btn a, .search .btn-grey a{height:30px;font-size:20px;line-height:1;font-weight:600;}
	
	.search_list_serachmini_5 .version-5 .booking-quote.search .search-mini-v3-fields-container .location-container{width:auto;float:none;}
	#search-result.search_list_serachmini_5 .search .dimensions-container{width:86%;padding:0;}
	.search_list_serachmini_5 .version-5 .search .location-container .to > div{border-right:1px solid rgba(170, 170, 170, 0.6);}
	#search-result.search_list_serachmini_5 .search > div > div > div{padding-top:0;}
	#search-result.search_list_serachmini_5 .search .update-btn {padding-top: 28px !important;}
	
}
@media only screen and (min-width:768px) {
	#search-result .search input{background:url(../images/search-field-arrow.png) no-repeat 100% center;width:88%;padding-right:5%;}
	.version-3 .transporteca-box .v3-cargo-container .input-title{display:none;}
	.version-3 .transporteca-box .v3-cargo-container .cargo-weight-measures .cargo-button-container{padding:1px 0 0 10px;}
	.search-mini-container .search-min-v3-cargo-field .cargo1.v3-cargo-container .field-name{padding-top:0;}
	.version-3 .booking-quote.search .dimensions-container{width:33.33%;}
	
	.version-5 .search .btn-grey, .search-mini-container .search .btn{width:15%;}
	.version-5 .search .dimensions-container, .version-5 .booking-quote.search .dimensions-container{padding-top:0;}
	.version-5 .search .btn-grey, .version-5 .search .btn{padding: 26px 0 0;}
	.version-5 .search .location-container .to > div{border-right:0;}
	
}

@media only screen and (max-width : 767px) {
	.searchmini-main-container .location-pointer, .location-pointer-v5{display:none;}
	
	.version-5 .booking-quote.search .search-mini-v3-fields-container .location-container, .version-5 .booking-quote.search .search-mini-v3-fields-container .dimensions-container{float:none;width:auto;padding:0 0 10px;}
	.version-5 .search .from{float:none;width:auto;padding:0 0 10px}
	.version-5 .search .from > div{border-right:solid #ccc 1px;}
	.version-5 .search .dimensions-container div:nth-last-child(1) div{border-right:solid #ccc 1px;}
	.version-5 .search .to{float:none;width:auto;}
	.version-5 .booking-quote.search .search-mini-v3-fields-container .dimensions-container > div{width:33%;}
	.version-5 .booking-quote.search .search-mini-v3-fields-container .dimensions-container > .pickup{width:34%;}
	.version-5 .booking-quote.search .search-mini-v3-fields-container .dimensions-container > .pickup > div{border-left:0;}
	.version-5 .booking-quote.search .search-mini-v3-fields-container .dimensions-container .date{width:100%;padding-bottom:10px;}
	.version-5 .booking-quote.search .search-mini-v3-fields-container .dimensions-container .date > div{border-right:solid #ccc 1px;}
	.version-5 .search .btn-grey, .version-5 .search .btn{float:none !important;width:100%;padding-top:5px;}
	
	.version-6 .search .btn-grey, .version-6 .search .btn{float:none !important;width:100%;padding-top:5px;}
	.version-6 .booking-quote.search .search-mini-v3-fields-container .location-container, .version-6 .booking-quote.search .search-mini-v3-fields-container .dimensions-container{float:none;width:auto;padding:0 0 10px;}
	.version-6 .search .from{float:none;width:auto;padding:0 0 10px}
	.version-6 .search .from > div{border-right:solid #ccc 1px;}
	.version-6 .search .dimensions-container div:nth-last-child(1) div{border-right:solid #ccc 1px;}
	.version-6 .search .to{float:none;width:auto;}
	.version-6 .booking-quote.search .search-mini-v3-fields-container .dimensions-container > div{width:33%;}
	.version-6 .booking-quote.search .search-mini-v3-fields-container .dimensions-container > .pickup{width:34%;}
	.version-6 .booking-quote.search .search-mini-v3-fields-container .dimensions-container > .pickup > div{border-left:0;}
	.version-6 .booking-quote.search .search-mini-v3-fields-container .dimensions-container .date{width:100%;padding-bottom:10px;}
	.version-6 .booking-quote.search .search-mini-v3-fields-container .dimensions-container .date > div{border-right:solid #ccc 1px;}
	
	#v7-search-freight .search-description-box{padding:0;}
	.contact-feilds-container > div, .location-feilds-container > div{width:50%;margin-bottom:8px;}
	.location-feilds-container{margin:0;}
	.last-name .input-box, .postcode .input-box, .version-7 .request-quote-fields .cargo-type .input-fields{border-right:solid 1px rgba(170, 170, 170, 0.6);}
	
	.request-quote-fields .cargo-category, .request-quote-fields .cargo-type, .request-quote-fields .cargo-quantity, .request-quote-fields .cargo-button-container {width:50%;margin-bottom:8px;}
	.searchmini-main-container .request-quote-fields > div.cargo-type-search-mini-9{float:None;width:auto;}
	
	.location-feilds-container .shipping-cb{width:100%;padding:0;}
	#v7-search-freight .searchmini-main-container .search .btn{padding-top:8px;}
	.vog-feilds-container .request-quote-fields{display:block;}
        
    .header .logo a{max-width:160px;background-size:94%;}
	#search-freight{min-height:0;height:auto;padding-top:20px;padding-bottom:20px;}
	.cookie-pop-up-msg #search-freight{padding-top:120px;}
	#search-freight article{position:static;height:auto;margin:0;}
	#search-freight article h1{margin-bottom:15px;padding:0 15px;}
	#search-freight .location-pointer-v1{display:none;}
	#search-freight .location-container > div{width:auto;float:none;}
	#search-freight .location-container > .to{padding-top:5px;}
	#search-freight .location-container > .to .updownarrow{display:block;background:url(../images/Swap.png) no-repeat center center;background-size:100%;width:16px;height:16px;position:absolute;left:50%;margin-left:-8px;top:5px;overflow:hidden;text-indent:-1000em;cursor:pointer;}
	#search-freight .search .location-container div > div{border-right:solid 1px rgba(170, 170, 170, 0.6);position:relative;}
	#search-freight .booking-quote.search .dimensions-container{float:none;width:auto;}
	#search-freight .booking-quote.search .dimensions-container:after{content:'';clear:both;display:table;visibility:hidden;}
	#search-freight .search .btn, #search-freight .search .btn-grey{float:none!important;width:auto;}
	#search-freight .search .btn a{text-indent:0;font-weight:600;background:#52a723;}
	#search-freight .search .btn.search-btn-clicked a{opacity:1;background:#52a723 url(../images/loader.gif) no-repeat scroll 90% center / auto 40%;}
	#search-freight .search .btn-grey a{text-indent:0;background:#777;}
	.search-description-box{padding:30px 15px;}
	
	.checkbox-mobile{display:block;}
	.search{border:none;background:transparent;padding:0 5px;}
	#ui-datepicker-div{display:none !Important;}
	#search-freight .clear-data{display:block;}
	.header nav .menu {background-position:20px 12px;padding: 10px 40px 10px 20px;}
	.header.sub nav .menu{padding:10px 20px 10px 45px;}
	.sub .search-icon{margin: 4px 10px 0 0;}
	.header .logo a{min-height:37px;}
	.header .login p{margin:0;line-height:1;}
	.header .login a{height:22px;padding:9px 0;}
	.country_logo{padding: 5px 4px 4px;}
	.header .customer-services{padding: 0 20px 0 0;}
	#show_link, #show_main_link, .sub-nav-overlay, .sub-nav{top:40px;}
	.header nav .menu.active {background-position: 20px -70px;}
	.header.sub .telephone{padding:10px 10px 10px 45px;}
	.sub .search.popsearch{top:41px;}
	#search-result{padding-top:20px;}
	#search-result .search .btn{padding: 33px 0 0;}
	#search-result .search .btn-grey{padding: 33px 0 0 !important;}
	.sub .search .btn, .sub .search .btn-grey{padding: 29px 0 0;}
	.results div > .days, .results div > .price{font-size:15px;}
	.results .head > .days, .results .head > .price{font-size:13px;}
	.gplus-submit-button, .fb-submit-button{display:block;}
	.mobile-price-guarantee-points{display:block;}
	
	#search-result.search_list_serachmini_5 .search .dimensions-container{width:100%;}
	.search_list_serachmini_5 .search .dimensions-container div > div{border-left:1px solid rgba(170, 170, 170, 0.6);}
	.search_list_serachmini_5 .search .dimensions-container div+div > div, #search-result.search_list_serachmini_5 .search .dimensions-container .kg div{border-left:0;border-right:1px solid rgba(170, 170, 170, 0.6);}
	#search-result.search_list_serachmini_5 .search .update-btn{width:100%;padding:0 !important;}
	#search-result.search_list_serachmini_5 .search .update-btn a{border-radius:6px;}
	.search_list_serachmini_5 .version-5 .booking-quote.search .search-mini-v3-fields-container .location-container{padding-bottom:0;}
	
	.version-3 .booking-quote.search .search-mini-v3-fields-container .location-container{float:none;width:auto;}
	.version-3 .booking-quote.search .search-mini-v3-fields-container .location-container .to{float:none;width:auto;}
	.version-3 .booking-quote.search .search-mini-v3-fields-container .location-container .from{float:none;width:auto;}
	.version-3 .booking-quote.search .dimensions-container{float:none;width:auto;}
	.searchmini-main-container .search-mini-container .search-min-v3-cargo-field .request-quote-fields .cargo1 .field-name{display:none;}
	.version-3 .transporteca-box .cargo-volume-measures, .version-3 .transporteca-box .cargo-weight-measures{width:auto;}
	.version-3 .search .location-container .to > div, .version-3 .search .location-container .from > div{border-right:1px solid rgba(170, 170, 170, 0.6);}
	
	#landing_page_form_V_5 .search .dimensions-container .kg div{border-right: 1px solid rgba(170, 170, 170, 0.6);}
	.version-5 #landing_page_form_V_5 .booking-quote.search .search-mini-v3-fields-container .dimensions-container .date > div{border-right:none;}
        
    #v3-search-freight .location-container > .to{padding-top:5px;}
    #v3-search-freight .location-container > .to .updownarrow{display:block;background:url(../images/Swap.png) no-repeat center center;background-size:100%;width:16px;height:16px;position:absolute;left:50%;margin-left:-8px;top:5px;overflow:hidden;text-indent:-1000em;cursor:pointer;}
	
	#landing_page_form_V_3 .clear-data{display:block;}
	
	.form-box, .signup-container .form-box{padding:15px;}
	.form-box .form-fields .field-one, .form-box .form-fields .field-two, .form-box .form-fields .field-btn, .search-mini2-iframe-container .form-box .form-fields .field-two{float:none;width:auto;margin:0 0 10px;}
	.search-mini2-iframe-container .form-box .form-fields .field-two+.field-two{margin-left:0;}
	.signup-container h1{font-size:40px;}
}

@media (max-width:650px){
	.header.sub .telephone{display:none;}
}
@media only screen and (max-width : 570px) and (min-width : 0) {
	.header .telephone{display:none;}
	.search-mini-container .search .dimensions-container, .search-mini-container .booking-quote.search .dimensions-container {width:75%;}
	.search-mini-container .search .btn-grey, .search-mini-container .search .btn{width:25%;}
	
	.version-3 .booking-quote.search .dimensions-container{float:none;width:auto;}
	
	.version-5 .search .btn-grey, .version-5 .search .btn{width:100%;}
	.version-7 .search .btn, .version-7 .search .btn-grey, .version-3 .search .btn, .version-3 .search .btn-grey{width:100% !Important;}
}
@media only screen and (max-width : 500px) and (min-width : 0) {
	.header .customer-services{display:none;}
}
@media only screen and (max-width : 460px) and (min-width : 0) {
	#hsbody {width:94%;}
	
	.pages h2{font-size: 26px;}
	.pages h1, #search-freight article h1, h2 {font-size:35px;line-height:41px;}
	
	#booking_details_container.booking-reciept-main-container .bank-details-box{width:auto;}
	
	#two-column{width:90%;margin:0 0 0 5%;background:transparent;}
	#two-column .hsbody-2-left{float:none;width:auto;padding:0 0 20px;border-bottom: 1px solid #ddd;margin:0 0 20px;}
	#two-column .hsbody-2-right, #two-column .hsbody-2-right .main-body-container{float:none;width:auto;margin:0;}
	
	.pages h1, .pages h2{margin:0 0 20px;}
	.what-is-in {padding: 50px 0 0;}
	.what-is-in h1, .pages h2 {margin: 0 0 40px;}
	
	
	.get-price{padding:0 0 1px;}
	.forwarder-ready .text h3 {font-size: 21px;}
	.forwarder-ready .text p, .get-price .price-guarantee-points p{font-size:16px;}
	.get-price .price-guarantee-points .read-more, .get-price .read-more {font-size: 13px;margin:0;}
	.get-price .price-form .form-line2 input {width: 66%;}
	.form-line3 .get-quote-phone-container {margin: 0 2% 0 0;width: 20%;}
	.get-price .price-form .form-line3 input.get-quote-phone{width:78%;}
	
	.get-rate-section2 .time-price-communication p {font-size: 20px;}
	.get-rate-section3 .price-guarantee {padding: 30px 0;}
	.get-rate-section3 .insurance {padding: 30px 0 30px 10px;}
	
	
	.header .login, .header.sub .login{min-width: 32px;}
	.header .login > a{overflow: hidden;text-indent: -1000em;background:url(../images/LogIn.png) no-repeat center center;background-size:90%;}
	.header.sub .logo{margin:0;}
	.header.sub .logo a{background-size:92% auto;width:215px;}
	.search .btn a{overflow: hidden;text-indent: -1000em;background:url(../images/magnifying-icon.png) no-repeat center center #52a723;}
	.search .btn-grey a, #search-result .search .btn-grey a{background:url(../images/magnifying-icon.png) no-repeat center center #777;overflow: hidden;text-indent: -1000em;}
	
	.version-7 .search .btn a, .version-3 .search .btn a{text-indent:0;background:#52a723;}
	.version-7 .search .btn-grey a, .version-3 .search .btn-grey a{text-indent:0;background:#777;}
	
	#search-result .search .btn a{overflow: hidden;text-indent: -1000em;background:url(../images/magnifying-icon.png) no-repeat center center #d85124;}
	
	.version-5 .search .btn-grey, .version-5 .search .btn{width:100%;}
	.version-5 .search .btn-grey a, .version-5 .search .btn a{background:#52a723;text-indent:0;}
	
	#search-freight{min-height:0;}
	.search .btn.search-btn-clicked.mobile-view a, #search-result .search .btn.search-btn-clicked.mobile-view a{background-position: center center;}
	
	.signup-container h1{font-size: 28px;}
}

@media only screen and (max-width : 340px) and (min-width : 0) {
	.header .logo {margin:0;}
	.header .logo a{width:220px;background-size: 95% auto;}
	.header.sub .logo a {width: 175px;}
}
@media only screen and (min-width : 768px) {
	.transporteca-box .cargo-volume-measures, .transporteca-box .cargo-weight-measures{float:left;width:40%;}
	.transporteca-box .cargo-volume-measures .input-title:nth-last-child(1){margin:0;}
	.version-3 #complete-box .select{border-right:0;}
} 

.search-mini2-iframe-container{width:400px;float:right;margin-left:15px;}
.search-mini2-iframe-container .search{border-top:0;border-radius:0 0 5px 5px;background:rgba(155, 145, 145, 0.15);}
.search-mini2-iframe-container iframe{max-width:100%;}
.search-mini2-iframe-container h3{font-size:20px;border-radius:5px 5px 0 0;border:1px solid rgba(170, 170, 170, 0.5);border-bottom:none;background:rgba(155, 145, 145, 0.15);padding:15px 15px 0;margin:0;}

.search-mini2-iframe-container .version-4 .search-mini-v3-fields-container{margin:0;}
.search-mini2-iframe-container label, .search-mini2-iframe-container p, .search-mini2-iframe-container span{font-size:15px !important;}
.search-mini2-iframe-container span .sup{font-size:11px !important;}
.search-mini2-iframe-container .search > div, .search-mini2-iframe-container .location-container > div, .search-mini2-iframe-container .dimensions-container > div{float:none;width:auto;}

.search-mini2-iframe-container .version-4 .booking-quote.search .date, .search-mini2-iframe-container .version-4 .booking-quote.search .location-container{width:auto !important;float:none !important;}
.search-mini2-iframe-container .version-4 .booking-quote.search .dimensions-container{width:auto !important;float:none !important;}
.search-mini2-iframe-container .version-4 .booking-quote.search .date input{text-align:left;}

.search-mini2-iframe-container .version-4 .search-mini-cargo-fields .input-fields{float:None;width:auto;margin:0;border:0;padding:0;background:transparent;}
.search-mini2-iframe-container .version-4 .search-mini-cargo-fields:nth-child(1) .input-fields{border:0;}
.search-mini2-iframe-container .transporteca-box .cargo-volume-measures, .search-mini2-iframe-container .transporteca-box .cargo-weight-measures{width:auto !important;float:none !important;}

#main .search-mini2-iframe-container #complete-box .select, .search-mini2-iframe-container .select{padding:5px 0 0 4px;font-size: 14px !important;border-radius:0;z-index:1;left:0;top:0;height:33px;border:1px #ccc solid;margin:0;}
.search-mini2-iframe-container .search .pickup select.styled, .search-mini2-iframe-container select.styled{z-index:2;left:0;top:0;position:absolute;width:100%;height:33px;color:#424242;box-sizing:border-box;}
.search-mini2-iframe-container .cargo1 .search-mini-cargo-fields{float:left;width:25%;box-sizing:border-box;}
.search-mini2-iframe-container .cargo1 .search-mini-cargo-fields .input-fields input{border:1px solid #ccc;border-right:0;text-align: center !important;border-radius:0;}
.search-mini2-iframe-container .cargo1 .search-mini-cargo-fields:nth-last-child(1) .input-fields input{border-right:1px #ccc solid;}
.search-mini2-iframe-container .cargo1 .search-mini-cargo-fields input{width:100%;background:#fff;padding:0 4px;height:33px;box-sizing:border-box;}

.search-mini2-iframe-container .cargo-weight-measures .weight-v4{width:50%;}
.search-mini2-iframe-container .cargo-weight-measures .weight-v4 .input-fields{float:left;width:50%;box-sizing:border-box;}
.search-mini2-iframe-container .cargo1 .cargo-button-container{padding-top: 32px;}
.search-mini2-iframe-container .version-4 .dotted-line{position:relative;margin:0 -15px;height:17px;max-width: none !important;}
.search-mini2-iframe-container .dotted-line:after{content:'';position:absolute;left:0;top:15px;width:100%;height:1px;border-top:dotted 1px #ccc;}
#main .search-mini2-iframe-container .version-4 .search-min-v3-button-cotainer .btn, #main .search-mini2-iframe-container .version-4 .search-min-v3-button-cotainer .btn-grey{display:block;}
#main .search-mini2-iframe-container .search .location-container div > div, #main .search-mini2-iframe-container .search .dimensions-container div > div{border-right:solid 1px rgba(170, 170, 170, 0.6);}
 
@media (max-width:767px) {
	.footer address .copyright, .footer address .social-icons, .footer address .links{float:none;width:auto;text-align:center;}
	.footer address > div.links a+a{margin-left:5px;}
}
