@charset 'UTF-8';

.red_border{border:1px solid #790000 !important;}
.search .btn.search-btn-clicked a{background:#52a723 url(../images/loader.gif) no-repeat 90% center;background-size:auto 40%;-webkit-background-size:auto 40%;-moz-background-size:auto 40%;opacity:0.5;}
#search-result .search .btn.search-btn-clicked a{background:#d85124 url(../images/loader.gif) no-repeat 90% center / auto 40%;opacity:0.5;}

#ratings-star{float: left;background:url(../images/ratings-star.png) no-repeat 5px 3px;border-radius:3px;padding:3px 5px 1px;width:86px;height:19px;}
#ratings-star span{display:block;background:url(../images/ratings-star.png) no-repeat 0 -75px;height:19px;}


.errorBox {
    background-color: #FFFFDD;
    border: 1px solid #F2C218;
    margin-bottom: 20px;
    padding: 15px 15px 15px 45px;
}
.errorBox .header {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}
.errorBox li {
    margin: 3px 0 3px 15px;
}
.scroll-div{height:130px;padding:1px 5px;overflow-y:auto;border:solid 1px #BFBFBF;margin-bottom:10px;}

.clear-all{clear:both;}

.f-size-12{font-size:12px;}
.f-size-14{font-size:14px;}
.f-size-16{font-size:16px;}
.f-size-18{font-size:18px;}

.color{color:#7F7F7F;}

.transportation-select {width:67%;}
.transportation-select select{min-width:411px;}

.where-when{width:22%;}
.where-when input{width:126px;}

.dimensions-field span{float:left;margin:0 6px 0 0;width:72px;}
.dimensions-field span.last{margin:0;}
.dimensions-field span input{width:66px;}
.dimensions-field span select{width:71px;}
.dimensions-field span.cross_seperator{width:7px;}
.dimensions-field span.dangerous_cargo{margin-right: 20px;text-align: right;width: 137px;}

.dimensions-field-name span{float:left;font-size:12px;}
.dimensions-field-name span.length{padding:0 55px 0 0;}
.dimensions-field-name span.width{padding:0 58px 0 0;}
.dimensions-field-name span.quantity{padding:0 0 0 123px;}

#popup-bg{background:#000;opacity:0.5;filter:alpha(opacity=50);position:fixed;top:0;left:0;z-index:999998;width:100%;height:100%;}
#popup-container{position:fixed;top:10%;left:0;width:100%;text-align:center;z-index:999999;}
#popup-bg.white-bg{background:#fff;}
.popup{width:330px;text-align:left;padding:10px 20px;margin:0 auto;background:#fff;border-radius: 8px 8px 8px 8px;position: relative;}
.popup h5{font-weight:bold;text-align:left;}

.signin-popup{width:282px;text-align:left;padding:10px 20px 10px 10px;margin:0 auto;}
.signin-popup input[type=text]{width:175px;}
.signin-popup .oh{padding:0 0 3px;}
.signin-popup-verification{width:282px;text-align:left;padding:10px 20px 10px 10px;margin:100px auto 0;}

.forgot-password-popup{width:340px;text-align:left;padding:10px 20px 10px 10px;margin:0 auto;}
.forgot-password-popup input[type=text]{width:220px;}

.contact-popup{width:355px;text-align:left;padding:10px 20px 10px 10px;margin:0 auto;}
.contact-popup textarea{width:100%;height:70px;}
.contact-popup input[type=text]{width:100%;}

.warehouse-map-popup{width:345px;text-align:left;padding:10px 20px;border:solid 1px #000;margin:0 auto;}
.warehouse-map-popup .map-border{border:solid 1px #000;}

.forwarders label{display:block;position:relative;padding-left:20px;}
.forwarders label input{position:absolute;top:2px;left:0;}

/*loader function starts*/
.loader_popup_bg{position:fixed;width:100%;height:100%;z-index:9999;margin:0px;padding:0px;left:0;top:0;}
			
.popup_loader{width:100%;z-index:1;height:100%;position:absolute;left:0;top:0;margin:0px;padding:0px;background:#000;opacity:0.5;filter:alpha(opacity=50);}

.popup_loader .popup_content{width:100%;position:fixed;margin:0px;;padding:0px;text-align:center;z-index:33;left:0;top:44%;}
.popup_loader .popup_content img{margin:10px auto 0;padding:0px;}

.login_popup3 .error_msg{min-height:40px;margin:0px 20px 10px;text-align:center;padding-top:15px;color:red;font-weight:bold;}
#loader img{left:50%;top:50%;position:absolute;margin:0;z-index:2}
/*loader function ends*/


.RatingBox1
{
	display:block;
	width:10px;
	background:url(/images/white-star.png) no-repeat;
	margin:3px 4px 0px 0px;
	height:10px;
	line-height:4px;
	float:left;
	cursor:pointer;
	text-decoration:none;
}
.RatingBoxAct1, .RatingBox1:hover
{
	display:block;
	width:10px;
	margin:3px 4px 0px 0px;
	height:10px;
	line-height:4px;
	float:left;
	background:url(../images/orange-star.png) no-repeat;
	cursor:pointer;
	text-decoration:none;
} 

/*******************New home page css starts here*************************************/
.home-new p{font-size:16px;}
.orange-button{background:#f79646;display:inline-block;text-align:center;padding:4px 12px;color:#fff;text-decoration:none; font-style:normal;box-shadow:0px 3px 3px #0f233b;-o-box-shadow:0px 3px 3px #0f233b;-webkit-box-shadow:0px 3px 3px #0f233b;-moz-box-shadow:0px 3px 3px #0f233b;}
.orange-button:hover{color:#000;}

.blue-button{min-width:150px;background:#17375e;display:inline-block;text-align:center;padding:4px 12px;color:#fff;text-decoration:none; font-style:normal;/*box-shadow:0px 3px 3px #0f233b;-o-box-shadow:0px 3px 3px #0f233b;-webkit-box-shadow:0px 3px 3px #0f233b;-moz-box-shadow:0px 3px 3px #0f233b;*/border-radius:3px 3px 3px;-webkit-border-radius:3px 3px 3px;-moz-border-radius:3px 3px 3px;-o-border-radius:3px 3px 3px;}
.blue-button:hover{color:#FFF;}

.benefits .common p{padding:0;line-height: 115%;margin: 0 !important;font-size:15px;line-height: 18px;}

.compare-button{background:url(../images/compare-button.png) no-repeat 0 0;width:228px;margin:0 auto;height:32px;text-decoration:none;}
.compare-button:hover{background-position:0 -32px;}
.register-button {
    background: url(../images/register-button.png) no-repeat scroll 0 0;height: 34px;margin: 0 auto;width: 144px; display:inline-block;
}
.register-button:hover{background-position:0 -34px;}
.search-option{overflow:Hidden;padding-bottom:1px !important;}
.intro_video{background: url(../images/see-transporteca-txt.jpg) no-repeat 43px 0;padding: 65px 0 0 130px;text-align:center;margin:0 0 20px;}
.intro_video_danish{background: url(../images/see-transporteca-txt-da.jpg) no-repeat 43px 0;padding: 65px 0 0 130px;text-align:center;margin:0 0 20px;}
.search-new .text p.book_in_minutes{font-family: arial-rounded;margin-bottom: 17px !important;}
.share-this-button {
    background: url(../images/share-this-link-button.png) no-repeat scroll 0 0;height: 34px;margin: 0 auto;width: 148px; display:inline-block;
}
.share-this-button:hover{background-position:0 -34px;}
/*******************New home page css ends here*************************************/


.service-popup{position:relative;padding:10px 15px;border-radius:8px;-o-border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;background:#17375E;margin:0 auto;width:570px;text-align:left;box-shadow: 0 0 0;border: medium none;color:#fff;}
.service-popup h1{margin:0 0 4px 5px;padding:0;color:#fff;font-size:16px;}

.service-popup .container{background:#fff;margin:0 0 10px;padding:5px;border-radius:8px;-o-border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;min-height:370px;position:relative;color:#000;}
.service-popup .container2{background:#fff;margin:0 0 10px;padding:2px 5px 5px;border-radius:8px;-o-border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;max-height: 313px;height:313px;overflow-x: hidden;overflow-y: auto;color:#000;}
.service-popup .head{overflow:Hidden;border-bottom:solid 1px #17375E;margin: 0 0 4px;}
.service-popup .content{overflow:Hidden;margin:0 0 4px;width: 551px;}
.service-popup .head div{float:left;font-size:12px;font-weight:bold;}
.service-popup .content div{float:left;font-size:12px;}
.service-popup .first{width:95px;}
.service-popup .first img{max-height:20px;}
.service-popup .second{width:76px;}
.service-popup .third{width:76px;}
.service-popup .fourth{width:140px;}
.service-popup .fifth{width:70px;}
.service-popup .sixth{width:94px;}
.close-icon{position:absolute;top:-14px;right:-14px;cursor:pointer;margin: 0 !important;z-index:1;}
.act-question{position:absolute;right:17px;width:127px;top:109px;line-height: 18px;}
select.styled{top:0;max-width:100%;}
.cargo1 .input-title span.select{padding: 3px 24px 0 8px;}
#data_container{color:#000;margin-top:10px;}
/************ New Popup's style ******/

.all-service-parent-popup{position:relative;padding:10px 15px;border-radius:8px;-o-border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;background:#17375E;margin:0 auto;width:570px;text-align:left;}
.all-service-popup{width:570px;max-height: 350px;overflow-x: hidden;overflow-y: auto;padding-bottom:10px;}
.all-service-popup h5{padding-top:10px;margin-bottom:0px;}

.format-2 th{font-size:14px;font-weight:bold;text-align:center;background-color:#FFFFFF;}
.format-2 td{font-size:14px;padding:4px 0px;text-align:center;background-color:#FFFFFF;}
.format-1 td img{max-width:80px;}

.active-orange-btn-small{margin:0 0 10px 10px !important;}
.active-orange-btn-small span{width: 30px;}

.standard-popup-x{position:relative;padding:10px 15px 15px;border-radius:8px;-o-border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;background:#17375E;margin-top:130px; auto;width:390px;color:#FFFFFF;text-align:left;box-shadow:0px 0px 0px;border:none;}
.standard-popup-x input[type=text]{width:297px;color: #003366;font-size: 16px;border-radius: 5px;-o-border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}
.standard-popup-x input[type=email]{width:297px;color: #003366;font-size: 16px;border-radius: 5px;-o-border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}
.standard-popup-x .oh{padding:0 0 10px;}

.standard-popup-f{position:relative;padding:10px 15px 15px;border-radius:8px;-o-border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;background:#17375E;margin-top:50px; auto;width:390px;color:#FFFFFF;text-align:left;box-shadow:0px 0px 0px;border:none;}
.standard-popup-f input[type=text]{width:297px;color: #003366;font-size: 16px;border-radius: 5px;-o-border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}
.standard-popup-f input[type=email]{width:297px;color: #003366;font-size: 16px;border-radius: 5px;-o-border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}

.standard-popup-d{position:relative;padding:10px 15px 15px;border-radius:8px;-o-border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;background:#17375E;margin-top:130px; auto;width:220px;color:#FFFFFF;text-align:left;box-shadow:0px 0px 0px;border:none;}
.standard-popup-d .oh{padding:0 0 3px;}
.standard-popup-d .orange-button1, .standard-popup-d .orange-button1 span{display:block;}
.standard-popup-d .orange-button2, .standard-popup-d .orange-button2 span{display:block;}

.standard-popup-z{position:relative;padding:10px 15px 15px;border-radius:8px;-o-border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;background:#17375E;margin-top:130px; auto;width:220px;color:#FFFFFF;text-align:left;box-shadow:0px 0px 0px;border:none;}
.standard-popup-z .oh{padding:0 0 3px;}
.standard-popup-z .orange-button1 span{min-width: 70px;}
.standard-popup-z .orange-button2 span{min-width: 70px;}

.standard-popup-p{position:relative;padding:10px 15px 15px;border-radius:8px;-o-border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;background:#17375E;margin-top:130px; auto;width:400px;color:#FFFFFF;text-align:left;box-shadow:0px 0px 0px;border:none;}
.standard-popup-p .oh{padding:0 0 3px;}

.standard-popup-rk{position:relative;padding:10px 15px 15px;border-radius:8px;-o-border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;background:#17375E;margin-top:10px; auto;width:400px;color:#FFFFFF;text-align:left;box-shadow:0px 0px 0px;border:none;}
.standard-popup-rk .oh{padding:0 0 3px;}
.standard-popup-rk input[type=text]{width:297px;color: #003366;font-size: 16px;border-radius: 5px;-o-border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}
.standard-popup-rk input[type=text]{width:297px;color: #003366;font-size: 16px;border-radius: 5px;-o-border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}

.standard-popup{position:relative;padding:10px 15px;border-radius:8px;-o-border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;background:#17375E;margin:0 auto;width:350px;color:#FFFFFF;text-align:left;border: medium none; box-shadow: 0 0 0;}
.standard-popup input[type=text]{width:225px;border-color: #AFAFAF;border-radius: 5px 5px 5px 5px;color: #7F7F7F;font-size: 16px;height: 21px;padding: 3px 2px;}
.standard-popup input[type=email]{width:225px;}
.standard-popup .oh{padding:0 0 3px;}
.standard-popup .help{background:url(../images/help-icon-white.png) no-repeat 0 0;}

.errorBox1-requirement {
    background-color: #FFFFDD;
    border: 1px solid #F2C218;
    margin: 0 auto;
    padding: 10px 0 0;
    text-align: left;  
    color:#B22222; 
}
.errorBox1-requirement .header {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}
.errorBox1-requirement li {
    margin: 3px 0 3px 15px;
    color:#CD5C5C;
}
.statingnewtrade-box{border:solid 1px #BFBFBF;padding:6px;max-height: 250px;height: 250px;overflow-x: hidden;overflow-y: auto;}
.statingnewtrade-box p{margin:0 0 10px;font-style:italic;font-size:14px;}
.red_text{color:red;}
/**.standard-popup .close-icon{position:absolute;right:-15px;top:-19px;}*/
.standard-popup .close-icon img{cursor:pointer;}
.requirement-content{min-height:101px;line-height: 21px;}
.requirement-content ol{margin-bottom:0;}
.button-container{margin:10px 14px 0;}
.button-container .orange-button1, .button-container .orange-button1 span{display:block;}
.button-container .orange-button2, .button-container .orange-button2 span{display:block;}

.button-container .gray-button1, .button-container .gray-button1 span{display:block;}


.datefield input{background:url(../images/custom-select-bg.png) no-repeat 0 0;height: 26px !important;font-size: 16px;padding:1px 24px 2px 8px !important;;width: 200px !important;border: medium none !important;}
.fr-next-button{position:absolute;right:20px;bottom:12px;margin: 0 !important;}
#complete-box hr{margin-right: 155px;  max-width: 720px;  min-width: 720px;}
.service_type_canvas
{
	margin-left:-10px;
}
.popup-forgot-password{width:330px;margin:70px auto;}
.popup-forgot-password h5{font-weight:bold;text-align:left;}

#popup-container p.heading-space{margin-top:5px;}
.transporteca-box.active .question-heading{margin-bottom:16px;}
.orange-button2{background:url(../images/orange-button2-left.png) no-repeat 0 0;padding-left:8px;display:inline-block;cursor:pointer;text-decoration:none;position:relative;}
.orange-button2 span{line-height:21px;background:url(../images/orange-button2-right.png) no-repeat right 0;min-width:100px;padding: 5px 8px 6px 0;display:inline-block;font-size:16px;font-family:Calibri,arial,tahoma,verdana;text-transform:uppercase;color:#fff;font-style:normal;text-align:center;}
.orange-button2:hover{background-position:0 -32px;}
.orange-button2:hover span{background-position:right -32px;}
.orange-button2 img{position:absolute;}
textarea:disabled, input:not([type]):disabled, input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="password"]:disabled, input[type="number"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled {color:#7f7f7f;cursor:pointer;}
.timing-text{float: left;font-size: 15px;font-style: italic;line-height: 17px;margin-left: 20px;margin-top: -5px;width: 469px;}
#cargo_measure_error_span{float:left;width:56%;font-style:italic;}
.standard-popup a{color:#fff;}
.currency-option .select {
    background: url(../images/custom-select-bg-s.png) no-repeat 0 0;
    color: #17375E;
    font-size: 16px;
    width: 59px;padding: 3px 24px 0 8px;display:inline-block;
}
.currency-option select{max-width:92px;}
#service_type_image_div{margin: 0 0 5px;text-align:right;}
#landing_page_form select { padding: 1px 2px;}
#all_available_service .service-popup .container{overflow:auto;max-height:370px;min-height: 370px;}
#all_available_service #popup-bg{z-index: 998;}
#all_available_service #popup-container{z-index: 10002;}

.trans-box-complete{min-height: 63px;}
.transporteca-box .image-text-div{overflow:hidden;}
.image-text-div .image-origin-text{float:left;font-style:italic;}
.image-text-div .image-dest-text{float:right;font-style:italic;}
.transporteca-box .service-image{margin-bottom:8px;}
.next-step{padding-bottom:11px;}
.text-field-align .text-field-align-name{padding-top:3px;}
#data_container span{color:#FFFFFF;}
h5.terms-heading{margin:0 !important;}
.new-button-container-topgap{padding-top:10px;}
.small-popup-doublebutton{margin:13px 10px 0 !important;overflow:hidden;}
.small-popup-doublebutton .orange-button1{float:left;}
.small-popup-doublebutton .orange-button1.right-button{float:right;}
.small-popup-doublebutton .orange-button2{float:left;}
.small-popup-doublebutton .orange-button2.right-button{float:right;}
.standard-popup-rk a{font-size:16px;}
#popup-container select{padding: 1px 2px;}
#booking_detail_form select{padding: 1px 2px;}
#start_search_form .orange-button2{padding-left: 3px;}
#start_search_form .orange-button2 span{min-width: 226px;padding: 5px 3px 6px 0;}

.rating-popup .left-text{float:left;text-align:right;width:61px;line-height:105%;margin-right: 1%;padding-left: 10px;}
.rating-popup .right-text{float:left;text-align:left;width:72px;line-height:105%;margin-left:10px;}
.rating-popup .readio-container{float:left;text-align:center;width:26px;}
.rating-popup .readio-container input {margin: 0 3px;}




/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 * 
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
 * 
 * Version: 1.3.4 (11/11/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url('../images/fancybox.png');
}

#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
	display: none;
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1101;
	outline: none;
	display: none;
}

#fancybox-outer {position: relative;width: 100%;height: 100%;}

#fancybox-content {
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0px solid #fff;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}

#fancybox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background: transparent url('../images/fancybox.png') -40px 0px;
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#fancybox-error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}

#fancybox-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background: transparent url('blank.gif');
	z-index: 1102;
	display: none;
}

#fancybox-left {
	left: 0px;
}

#fancybox-right {
	right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}

#fancybox-left-ico {
	background-image: url('../images/fancybox.png');
	background-position: -40px -30px;
}

#fancybox-right-ico {
	background-image: url('../images/fancybox.png');
	background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible; /* IE6 */
}

#fancybox-left:hover span {
	left: 20px;
}

#fancybox-right:hover span {
	left: auto;
	right: 20px;
}

.fancybox-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}

#fancybox-bg-n {
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url('../images/fancybox-x.png');
}

#fancybox-bg-ne {
	top: -20px;
	right: -20px;
	background-image: url('../images/fancybox.png');
	background-position: -40px -162px;
}

#fancybox-bg-e {
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url('../images/fancybox-y.png');
	background-position: -20px 0px;
}

#fancybox-bg-se {
	bottom: -20px;
	right: -20px;
	background-image: url('../images/fancybox.png');
	background-position: -40px -182px; 
}

#fancybox-bg-s {
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url('../images/fancybox-x.png');
	background-position: 0px -20px;
}

#fancybox-bg-sw {
	bottom: -20px;
	left: -20px;
	background-image: url('../images/fancybox.png');
	background-position: -40px -142px;
}

#fancybox-bg-w {
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url('../images/fancybox-y.png');
}

#fancybox-bg-nw {
	top: -20px;
	left: -20px;
	background-image: url('../images/fancybox.png');
	background-position: -40px -122px;
}

#fancybox-title {
	font-family: Helvetica;
	font-size: 12px;
	z-index: 1102;
}

.fancybox-title-inside {
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #fff;
	position: relative;
}

.fancybox-title-outside {
	padding-top: 10px;
	color: #fff;
}

.fancybox-title-over {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: left;
}

#fancybox-title-over {
	padding: 10px;
	background-image: url('../images/fancy_title_over.png');
	display: block;
}

.fancybox-title-float {
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 32px;
}

#fancybox-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto;
}

#fancybox-title-float-wrap td {
	border: none;
	white-space: nowrap;
}

#fancybox-title-float-left {
	padding: 0 0 0 15px;
	background: url('../images/fancybox.png') -40px -90px no-repeat;
}

#fancybox-title-float-main {
	color: #FFF;
	line-height: 29px;
	font-weight: bold;
	padding: 0 0 3px 0;
	background: url('../images/fancybox-x.png') 0px -40px;
}

#fancybox-title-float-right {
	padding: 0 0 0 15px;
	background: url('../images/fancybox.png') -55px -90px no-repeat;
} 

.sl-slider-wrapper {
	max-width: 1080px;
	height: 400px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.sl-slider-wrapper div{max-width:100%;}
.sl-slider-wrapper > div{max-width:92%;margin-left:4%;}

.sl-slider {
	position: absolute;
	top: 0;
	left: 0;
}

/* Slide wrapper and slides */

.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
} 

.sl-slide {
	z-index: 1;
}

/* The duplicate parts/slices */

.sl-content-slice {
	overflow: hidden;
	position: absolute;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	background: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity : 1;
}

/* Horizontal slice */

.sl-slide-horizontal .sl-content-slice {
	width: 100%;
	height: 50%;
	left: -200px;
	-webkit-transform: translateY(0%) scale(1);
	-moz-transform: translateY(0%) scale(1);
	-o-transform: translateY(0%) scale(1);
	-ms-transform: translateY(0%) scale(1);
	transform: translateY(0%) scale(1);
}

.sl-slide-horizontal .sl-content-slice:first-child {
	top: -200px;
	padding: 200px 200px 0px 200px;
}

.sl-slide-horizontal .sl-content-slice:nth-child(2) {
	top: 50%;
	padding: 0px 200px 200px 200px;
}

/* Vertical slice */

.sl-slide-vertical .sl-content-slice {
	width: 50%;
	height: 100%;
	top: -200px;
	-webkit-transform: translateX(0%) scale(1);
	-moz-transform: translateX(0%) scale(1);
	-o-transform: translateX(0%) scale(1);
	-ms-transform: translateX(0%) scale(1);
	transform: translateX(0%) scale(1);
}

.sl-slide-vertical .sl-content-slice:first-child {
	left: -200px;
	padding: 200px 0px 200px 200px;
}

.sl-slide-vertical .sl-content-slice:nth-child(2) {
	left: 50%;
	padding: 200px 200px 200px 0px;
}

/* Content wrapper */
/* Width and height is set dynamically */
.sl-content-wrapper {
	position: absolute;
}

.sl-content {
	width: 100%;
	height: 100%;
	background: #fff;
}

/* Default styles for background colors */
.sl-slide-horizontal .sl-slide-inner {
	background: #FFFFFF;
}

.sl-slide-vertical .sl-slide-inner {
	background: #ccc;
}

.sl-slide-horizontal .sl-slide-inner h2{font-family: 'AdobeGaramondProRegular';font-size:33px;line-height:38px;color:#2a2a2a;margin:20px 0 5px;}
.sl-slide-horizontal .sl-slide-inner p{font-family: 'AdobeGaramondProRegular';font-size:33px;line-height:38px;color:#898989;padding:0 0 10px;}
.sl-slide-horizontal .sl-slide-inner cite{font-size:18px;font-style: normal;text-transform:uppercase;}
.sl-slide-horizontal .sl-slide-inner cite span{color:#237aa7;}


/* Custom navigation arrows */

.nav-arrows span {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 40px;
	height: 40px;
	border: 8px solid #ddd;
	border: 8px solid rgba(150,150,150,0.4);
	text-indent: -90000px;
	margin-top: -40px;
	cursor: pointer;
	
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.nav-arrows span:hover {
	border-color: rgba(150,150,150,0.9);
}

.nav-arrows span.nav-arrow-prev {
	left: 10px;
	border-right: none;
	border-top: none;
}

.nav-arrows span.nav-arrow-next {
	right: 10px;
	border-left: none;
	border-bottom: none;
}

/* Custom navigation dots */

.nav-dots {
	text-align: center;
	position: absolute;
	bottom: 2%;
	height: 30px;
	width: 100%;
	left: 0;
	z-index: 1;
}
.nav-dots span {
	display: inline-block;
	position: relative;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin: 3px;
	background: #ddd;
	background: rgba(150,150,150,0.4);
	cursor: pointer;
	box-shadow: 
		0 1px 1px rgba(255,255,255,0.4), 
		inset 0 1px 1px rgba(0,0,0,0.1);
}
.nav-dots span.nav-dot-current{
	background: rgba(150,150,150,0.1);
	box-shadow:0 1px 1px rgba(255, 255, 255, 0.9), 0px 0px 2px rgba(0, 0, 0, 0.9) inset;
}

/* Animations for content elements */

.sl-trans-elems .deco{
	-webkit-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-moz-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-o-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-ms-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	animation: roll 1s ease-out both, fadeIn 1s ease-out both;
}
.sl-trans-elems h2{
	-webkit-animation: moveUp 1s ease-in-out both;
	-moz-animation: moveUp 1s ease-in-out both;
	-o-animation: moveUp 1s ease-in-out both;
	-ms-animation: moveUp 1s ease-in-out both;
	animation: moveUp 1s ease-in-out both;font-family: 'AdobeGaramondProRegular';font-size:33px;
}
.sl-trans-elems blockquote{
	-webkit-animation: fadeIn 0.5s linear 0.5s both;
	-moz-animation: fadeIn 0.5s linear 0.5s both;
	-o-animation: fadeIn 0.5s linear 0.5s both;
	-ms-animation: fadeIn 0.5s linear 0.5s both;
	animation: fadeIn 0.5s linear 0.5s both;
}
.sl-trans-back-elems .deco{
	-webkit-animation: scaleDown 1s ease-in-out both;
	-moz-animation: scaleDown 1s ease-in-out both;
	-o-animation: scaleDown 1s ease-in-out both;
	-ms-animation: scaleDown 1s ease-in-out both;
	animation: scaleDown 1s ease-in-out both;
}
.sl-trans-back-elems h2{
	-webkit-animation: fadeOut 1s ease-in-out both;
	-moz-animation: fadeOut 1s ease-in-out both;
	-o-animation: fadeOut 1s ease-in-out both;
	-ms-animation: fadeOut 1s ease-in-out both;
	animation: fadeOut 1s ease-in-out both;
}
.sl-trans-back-elems blockquote{
	-webkit-animation: fadeOut 1s linear both;
	-moz-animation: fadeOut 1s linear both;
	-o-animation: fadeOut 1s linear both;
	-ms-animation: fadeOut 1s linear both;
	animation: fadeOut 1s linear both;
}

@-webkit-keyframes roll{
	0% {-webkit-transform: translateX(500px);}
	100% {-webkit-transform: translateX(0px);}
}
@-moz-keyframes roll{
	0% {-moz-transform: translateX(500px); opacity: 0;}
	100% {-moz-transform: translateX(0px); opacity: 1;}
}
@-o-keyframes roll{
	0% {-o-transform: translateX(500px); opacity: 0;}
	100% {-o-transform: translateX(0px); opacity: 1;}
}
@-ms-keyframes roll{
	0% {-ms-transform: translateX(500px); opacity: 0;}
	100% {-ms-transform: translateX(0px); opacity: 1;}
}
@keyframes roll{
	0% {transform: translateX(500px); opacity: 0;}
	100% {transform: translateX(0px); opacity: 1;}
}
@-webkit-keyframes moveUp{
	0% {-webkit-transform: translateY(40px);}
	100% {-webkit-transform: translateY(0px);}
}
@-moz-keyframes moveUp{
	0% {-moz-transform: translateY(40px);}
	100% {-moz-transform: translateY(0px);}
}
@-o-keyframes moveUp{
	0% {-o-transform: translateY(40px);}
	100% {-o-transform: translateY(0px);}
}
@-ms-keyframes moveUp{
	0% {-ms-transform: translateY(40px);}
	100% {-ms-transform: translateY(0px);}
}
@keyframes moveUp{
	0% {transform: translateY(40px);}
	100% {transform: translateY(0px);}
}
@-webkit-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-moz-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-o-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-ms-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes scaleDown{
	0% {-webkit-transform: scale(1);}
	100% {-webkit-transform: scale(0.5);}
}
@-moz-keyframes scaleDown{
	0% {-moz-transform: scale(1);}
	100% {-moz-transform: scale(0.5);}
}
@-o-keyframes scaleDown{
	0% {-o-transform: scale(1);}
	100% {-o-transform: scale(0.5);}
}
@-ms-keyframes scaleDown{
	0% {-ms-transform: scale(1);}
	100% {-ms-transform: scale(0.5);}
}
@keyframes scaleDown{
	0% {transform: scale(1);}
	100% {transform: scale(0.5);}
}
@-webkit-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-moz-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-o-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-ms-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}

.formError {
	position: absolute;top: 300px;
	left: 300px;
	display: block;
	z-index: 999999;
	cursor: pointer;
}

.formError .formErrorContent {
	width: 100%;
	background: #fff;
	position:relative;
	z-index:6001;
	color: #ee0101;
	width: 150px;
	font-family: tahoma;
	font-size: 11px;
	padding: 4px 6px;
	text-align:left;
}

.formError .formErrorArrow .line10 {
	width: 15px;
	border: none;
}

.formError .formErrorArrow .line9 {
	width: 13px;
	border: none;
}

.formError .formErrorArrow .line8 {
	width: 11px;
}

.formError .formErrorArrow .line7 {
	width: 9px;
}

.formError .formErrorArrow .line6 {
	width: 7px;
}

.formError .formErrorArrow .line5 {
	width: 5px;
}

.formError .formErrorArrow .line4 {
	width: 3px;
}

.formError .formErrorArrow .line3 {
	width: 1px;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-bottom: 0 solid #ddd;
}

.formError .formErrorArrow .line2 {
	width: 3px;
	border: none;
	background: #ddd;
}

.formError .formErrorArrow .line1 {
	width: 1px;
	border: none;
	background: #ddd;
}


.formError .formErrorArrow {
	width: 15px;
	margin: -2px 0 0 13px;
        position:relative;
        z-index: 6001;
}


.formError .formErrorArrowBottom {
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
	margin: 0px 0 0 12px;
        top:2px;
}

.formError .formErrorArrow div {
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	box-shadow: 0 2px 3px #444;
	-moz-box-shadow: 0 2px 3px #444;
	-webkit-box-shadow: 0 2px 3px #444;
	font-size: 0px;
	height: 1px;
	background: #DDDDDD;
	margin: 0 auto;
	line-height: 0;
	font-size: 0;
	display: block;
}

.formError .formErrorArrowBottom div {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;}
.social-section-head.email-verification{padding:0;min-height:0;}
.social-section-head.email-verification .text{width: 37%;}
.social-section-head.email-verification h1{font-size: 57px; margin: 30px 0;}

#email-verification-div .booking-feedback-container p{max-width:1000px;}
#email-verification-div .booking-feedback-container {min-height: 200px; padding: 40px 30px;}
#user-email-verification-form input{padding: 9px 4px;border-radius:4px;border:none;min-width:300px;}
 

/** initial setup **/
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
  max-height: 125px;
}
.nano .content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano .content:focus {
  outline: thin dotted;
}
.nano .content::-webkit-scrollbar {
  visibility: hidden;
}
.has-scrollbar .content::-webkit-scrollbar {
  visibility: visible;
}
.nano > .pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 10px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01; 
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;  
  border-radius         : 5px;
}
.nano > .pane > .slider {
  background: none repeat scroll 0 0 #0C5C8D;
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;  
  border-radius         : 3px;
}
.nano:hover > .pane, .pane.active, .pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}

.checkbox, .radio {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(../images/checkbox.png) no-repeat;
	display: block;
	clear: left;
	float: left;
}
.radio {
	background: url(../images/radio.png) no-repeat;
}
.select {
	position: absolute;box-sizing: border-box;
	width: 94%; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 29px;
	padding:1px 0 0 4px;text-align:left;font-size:14px;
	
	overflow: hidden;font-weight:400;
}

.signup-container strong{font-weight:700;}
.signup-container{font-family: 'Open Sans', sans-serif;font-weight:300;background:url(../images/signup-bg.jpg) no-repeat center 0 #fff;background-size:cover;text-align:center;padding:30px 20px}
.signup-container h1{margin: 0 auto 40px;max-width:1280px;font-size:62px;font-weight:700;color:rgba(21,21,21,0.8);line-height:1.2;font-family: 'Montserrat', sans-serif;}
.signup-container h1 span{color:rgba(255,255,255,0.9);}
.signup-container h3{font-size:30px;font-weight:300;margin-bottom:50px;}
.signup-container h3 span{font-weight:700;}

.signup-container p{margin-bottom:20px;}

.holding-video-section{background:#fff;padding:40px 0;}
.holding-video-section .container{max-width:1280px;margin:0 auto;}
.holding-video-section h3{font-size:30px;font-weight:300;margin-bottom:50px;}
.holding-video-section h3 span{font-weight:700;}


@media (min-width:768px) {
	.select{background:url(../images/search-field-arrow.png) no-repeat right center;}
}
.searchmini-main-container .select{background:transparent;width:100%;}
.searchmini-main-container .select:after{content:'';width:13px;height:9px;position:absolute;right:4px;top:9px;display:block;background: url(../images/search-field-arrow-white.png) no-repeat right center;}

#search-freight .select{background: url(../images/select-box-arrow-white.png) no-repeat right 11px;font-size:14px;}

.orange-button1{background:url(../images/orange-button1-left.png) no-repeat 0 0;padding-left:12px;display:inline-block;cursor:pointer;text-decoration:none;position:relative;}
.orange-button1 span{line-height:21px;background:url(../images/orange-button1-right.png) no-repeat right 0;min-width:100px;padding:2px 10px 3px 0;display:inline-block;font-size:15px;font-family:Calibri,arial,tahoma,verdana;text-transform:uppercase;color:#fff;font-style:normal;text-align:center;}
.orange-button1:hover{background-position:0 -26px;}
.orange-button1:hover span{background-position:right -26px;}


.gray-button1{background:url(../images/gray-button1-left.png) no-repeat 0 0;padding-left:12px;display:inline-block;cursor:pointer;text-decoration:none;}
.gray-button1 span{line-height:21px;background:url(../images/gray-button1-right.png) no-repeat right 0;min-width:100px;padding:2px 10px 3px 0;display:inline-block;font-size:15px;font-family:Calibri,arial,tahoma,verdana;letter-spacing:-0.03em;text-transform:uppercase;color:#7f7f7f;font-style:normal;text-align:center;}

.body-color-white p, .body-color-white span, .body-color-white li, .body-color-white div, .body-color-white font
{
	color: #424242 !important;
    font-family: 'open sans',helvetica,arial,verdana,tahoma !important;
    font-size: 22px !important;
    line-height: 1.6 !important;
}


.rating-popup{width:480px;}
.rating-popup .rating-box .oh{padding:0 0 5px;}
.rating-popup .rating-box .oh p{margin-top: 0 !important;}
.rating-popup .rating-box p{line-height:90%;}
.rating-popup .rating-box .show-all-reviews{line-height:120%;margin:0 0 5px;font-size:12px;}
.rating-popup .rating-box .show-all-reviews a{font-style:italic;text-decoration:underline;}
.rating-popup .rating-count{font-style:italic;text-decoration:underline;color:#7F7F7F;float:left;width:25%;font-size: 13px;}
.rating-popup .rating-graph{background:#eeeecc;margin:0 10px 0 0 !important;}
.rating-popup .rating-graph span{display:block;background:#ffcc66;}

.rating-popup .rating-container{float:right;width:54%;padding: 7px 0 0;}
.rating-popup .rating-container .text{float:left;width:50%;}
.rating-popup .rating-container .ratings{float:right;}

.body-color.white a, .body-color.white div, .body-color.white font, .body-color.white h1, .body-color.white h2, .body-color.white li, .body-color.white p, .body-color.white span {
    color: #424242 !important;
}
.body-color-white h3{font-size:22px;}

.booking-insurance-container{background:#237aa7;color:#fff;font-size:20px;}
.fixed-body-container{margin: 0 auto;max-width: 990px;padding: 30px 0;text-align: left;}
	
.booking-insurance-container .checkbox-container{font-size:20px;}
.booking-insurance-container .checkbox-container input{top:4px;}
.booking-insurance-container .oh{padding:20px 0 0;}
.booking-insurance-container .oh p{padding:30px 0 0;}
.booking-insurance-container .insurance-heading-image{float:left;width:17%;}
.booking-insurance-container .fl-40{width:48%;}
.booking-insurance-container .fl-33{width:35%;}

.insurance-checkbox > span{display:block;}

#insurance-form-container {padding:3px 0 10px 23px;}
#insurance-form-container .fl-33{width:45%;margin-left:5%;padding: 30px 0 0;}
#insurance-form-container .fl-33 input{float:left;width: 110px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}
#insurance-form-container > span{float:left;width:60%;}
#insurance-form-container > span:nth-child(1){padding-top: 6px;}
#insurance-form-container > .field{width:15%;font-size:12px;}
#insurance-form-container .field input{width:100% !important;box-sizing:border-box; height: 28px;}
#insurance-form-container .insurance-currency-container{width:75px;position:relative;margin: 0 0 0 8px;}
#insurance-form-container select{width:75px;}
#insurance-form-container .select{width:75px;left:0;background:url(../images/search-field-arrow.png) no-repeat 56px center #fff;height: 34px;padding:2px 0 0 4px;color: #000;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}
#insurance-form-container .fl-33 a{float:left;}
#insurance-form-container .fl-33 a img{max-width:32px;}

.price-guaranty-container {font-size:20px;}
.price-guaranty-container p{margin:0 0 10px;}
.price-guaranty-container .insurance-heading-image {width:17%;float:left;}
.price-guaranty-container .price-guarantee-div {width:83%;float:left;position:relative;}
.price-guaranty-container .price-guarantee-div .btn-container {position:absolute;right:0;bottom:0;font-size:14px;}

#support_heading_bubble{position:fixed; z-index:10; display: none; right: 12px; bottom:45px; max-width: 520px; min-width: 250px;}

#support_heading_bubble > div{background:#237aa7;padding:10px;color:#fff;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
}
.support-popup-heading{border-left: 10px solid transparent;border-right: 10px solid transparent;border-top: 10px solid #237aa7;bottom: -10px;height:0;width:0;left: 53%;position: absolute;}
/*
.support-popup-heading {
    border-bottom: 10px solid #237aa7;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    left: 20px;
    position: absolute;
    top: -10px;
    width: 0;
}*/


.price-guarantee-container{position:relative;padding:0 0 0 55px;box-sizing: border-box;}
.price-guarantee-container img{position:absolute;left:0;top:0;}
#price_gurantee_details_text{font-size:18px;}
.pg-more{font-size:16px;}
.map-popup .nano{max-height: 325px !important;}
 
.booking-quotes {background-size: cover; margin: 0 auto;width: 100%;position: relative;}  
.booking-quotes ul {margin:0 auto;max-width:990px;display:inline-block;width:90%;text-align:center;}
.booking-quotes ul li {display:inline-block;margin:0 25px 0 0;vertical-align:middle;text-align:center;position:relative;}
.booking-quotes ul li > div, .tooltip-pop{display:none;background:url(../images/tooltip-arrow.png) no-repeat 20px 0;padding:11px 0 0;position:absolute;left:0;z-index:10;min-width:200px;max-width:520px;}
.booking-quotes ul li:hover > div{display:block;}
.booking-quotes ul li > div div, .tooltip-pop > div{background:rgba(256, 256, 256, 0.8);border-radius:4px;padding:5px;color:#333;box-shadow:0 2px 3px 0 rgba(0, 0, 0, 0.3);}
.booking-quotes ul li img.hover{display:none;position:absolute;left:0;top:0;z-index:1;}
.booking-quotes ul li:hover img.hover{display:block;}

#hsbody-2.quote-page{background:url(../images/rfq-background.jpg) no-repeat center 0;background-size:100% auto;color:#fff;}

.booking-quote-heading{margin:0 0 20px;}
.booking-quote-heading h2{font-size: 40px;font-weight: 700;line-height: 42px;margin: 0 0 20px;text-transform: uppercase;text-align:center;}
.booking-quote-heading p{font-size:22px;margin:0 0 12px;line-height: 125%;}

.booking-quote-main-container{margin:0 auto 20px;max-width:320px;background:rgba(256, 256, 256, 0.2);border:solid 1px white;padding:20px;font-size:16px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	-o-border-radius:8px;
	border-radius:8px;
}
.booking-quote-main-container select, .booking-quote-main-container input{background:transparent;border:solid 1px white;color:white;width: 100%;height:30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;border-radius:0;
}
.booking-quote-main-container .telephone select{font-weight: 600;width:30%;margin:0 5% 0 0;float:left;-webkit-border-radius:0;-moz-border-radius:0;-o-border-radius:0;border-radius:0;}
.booking-quote-main-container .telephone input{font-weight: 600;width:65%;float:left;}
.booking-quote-main-container .button1{display:block;}

.quote-price-guarantee-container{margin:0 auto 50px;max-width:320px;background:rgba(256, 256, 256, 0.2);border:solid 1px white;padding:5px 20px 20px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	-o-border-radius:8px;
	border-radius:8px;
}
.quote-price-guarantee-container h2{padding:10px 0 20px 50px;background:url(../images/CONFIRMATION_Award_quote.png) no-repeat 0 0;}


.common-fields-container{margin:5px 0 0 0;display:block;position:relative;clear: both;min-height: 30px;}
.common-fields-container .field-name{float:left;width:30%;}
.common-fields-container .field-name span{font-size:11px;color:#7F7F7F;}
.common-fields-container .field-container{float:left;width:30%;}
.common-fields-container .field-container input[type="text"], .common-fields-container .field-container input[type="password"]{width:100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;height: 28px;[11:04:42] Arun Bansal: display:block;}
.common-fields-container .field-container select{min-width:100px;padding: 1px 2px;}

.common-fields-container .phone-container{float:left;width:30%; padding: 1px 0 0;}
.common-fields-container .phone-container input[type="text"]{width:72%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;height: 28px;float:right;}
.common-fields-container .phone-container select{padding: 1px 2px;float:left;height: 28px; line-height:22px;width: 24%;}
 
.common-fields-container.checkbox-field{height:55px;}
.common-fields-container.checkbox-field .email-checkbox{position:absolute;left:25%;top:24px;padding-left:20px;height:28px;}
.common-fields-container.checkbox-field .email-checkbox input{position:absolute;left:0;top:0px;}

.ui-fields{min-height:30px;margin:3px 0 0 0;display:block;position:relative;}
.ui-fields .field-name{float:left;width:30%;}
.ui-fields .field-name span{font-size:11px;color:#7F7F7F;}
.ui-fields .field-container{float:left;width:65%;font-style:italic;}
.ui-fields .field-container input[type=text]{width:99%;}
.ui-fields .field-container select{min-width:100px;}

.ui-full-fields{overflow:hidden;margin:3px 0 0 0;display:block;position:relative;min-height:26px;}
.ui-full-fields .field-name{float:left;width:auto;}
.ui-full-fields .field-name span{font-size:11px;color:#7F7F7F;}
.ui-full-fields .field-container{float:right;font-style:italic;}
.ui-full-fields .field-container input[type=text]{width:50%;}
.ui-full-fields .field-container select{min-width:100px;}

#my-account-body{margin:0 auto;width:946px;padding:0 20px;overflow:hidden;text-align:left;background:url(../images/border-line.gif) repeat-y 205px top;}
#my-account-body .hsbody-2-left{float:left;width:185px;padding:27px 20px 20px 0;}
#my-account-body .hsbody-2-left p{margin:0px 0px 12px;}
#my-account-body .hsbody-2-right{float:left;width:725px;padding: 20px 0 20px 15px;min-height:500px;}
#my-account-body .hsbody-2-right.mybookings{padding-left:0px;width:740px;}

.account-links a{color:#000;font-style:normal;font-size:16px;}
.account-links li{list-style:none;margin:0 0 10px;}
.account-links li.active{list-style:disc;}
.account-links li a{text-decoration:none;}
.account-links li.active{list-style:disc;}
.account-links li.triangle{list-style:url("../images/Triangle.gif");}
.account-links li.active-triangle{list-style:url("../images/Triangle-down.gif");}

#myaccount_info h5{margin:0 0 7px;}
.filter_style p{margin: 0 0 2px;}

.checkbox-ab{display:block;padding-left:20px;position:relative;}
.checkbox-ab input{position:absolute;left:0;top:2px;}


.breadcrumb{overflow:hidden; margin: 0 0 7px 35px;}
.breadcrumb p{float:left;display:inline-block;font-size:14px;background:url(../images/breadcrumb-arrow.jpg) no-repeat right center; padding: 9px 35px 10px 0;margin:0 25px 0 0;}
.breadcrumb p a{font-style:normal;text-decoration:none;font-size:14px;color:#000;}
.breadcrumb p.active {padding:0 35px 0 0;margin:0 25px 0 0;}
.breadcrumb p.active span{font-size:22px;color:#ff9d49;display:block;text-align:center;font-weight:bold;line-height:100%;}
.breadcrumb p.active .active-here{font-size:14px;color:#22518a;display:block;text-align:center;font-weight:bold;line-height:70%;}
.breadcrumb p.last{background: none !important;margin-right: 0 !important;;padding-right: 0 !important;}

.breadcrumb.booking-tabs{margin:0;}
#booking_detail_form .oh{padding: 0 0 5px;}
.breadcrumb.booking-tabs p.active{padding:0 26px 2px 0;}
.breadcrumb.booking-tabs p{background: url("../images/booking-tabs-sep.png") no-repeat right center;padding:  9px 27px 10px 0;}
.terms_condition_top{margin-top:-35px;margin-right:15px;}

.mybookings .booking-box .details{width:392px;}


.booking-box{overflow:hidden;border:solid 1px #BFBFBF;background:url(../images/border-line.gif) repeat-y scroll 150px top;padding: 10px 5px 1px 10px;margin:0 0 10px;position:relative;}
.booking-box .logo-container{float:left;width:130px;margin-right:20px;}
.booking-box .details{float:left;width:377px;margin:0 5px 0 0;}
.booking-box .details p{line-height:110%;}
.booking-box .details p.f-size-12{line-height:160%;}
.booking-box .buttons{float:left;width:175px;}
.booking-box .buttons .button1 span, .booking-box .buttons .button2 span{width:145px;text-align:center;}

.booking-box-part1{margin-bottom:10px;border:solid 1px #BFBFBF;border-top:none;overflow:hidden;padding:10px;position: relative;}
.booking-box-part1 .buttons{float:right;width:170px;padding-bottom: 58px;}
.booking-box-part1 .buttons .color{font-size:13px;color:#7F7F7F;margin:0 0 10px;}
.booking-box-part1 .buttons .button1 span, .booking-box-part1 .buttons .button2 span{width:145px;text-align:center;}

.fl-85{width:85%;float:left;}
.fl-80{width:80%;float:left;}
.fl-75{width:75%;float:left;}
.fl-70{width:70%;float:left;}
.fl-65{width:65%;float:left;}
.fl-60{width:59%;float:left;}
.fl-49{width:49%;float:left;}
.fl-40{width:40%;float:left;}
.fl-33{width:33%;float:left;}
.fl-30{width:30%;float:left;}
.fl-25{width:25%;float:left;}
.fl-20{width:20%;float:left;}
.fl-15{width:15%;float:left;}
.fl-10{width:10%;float:left;}
.fr-5{float:right;width:5%;}
.fl-44{float:left;width:44%;}
.fl-56{float:left;width:56%;}
.fr-35{float:right;width:35%;}
.fl-67 {float: left; width: 67%;}
.fr-20{width:20%;float:right;}

.registered-textarea select{width:348px;height:150px;}
.registered-textarea .consignee{margin-left:2%;}
.registered-textarea h5{margin-bottom:3px;}
.registered-textarea{padding-bottom:4px;}
.remove-shippers-popup{margin-top:50px;}
#linked_user_account select{height:150px;width:99%;}
.delete-account-popup{margin-top:80px;}
.map-popup{margin-top:-50px;width:500px;}
.servicess_slider_header_text{font-size:15px;}

.booking-box .button1, .booking-box .button2, .booking-box .button3{padding:6px 10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;width:100%;}
.booking_ratings p{margin:0;}
.filter_top_text{position:absolute;font-size:11px;font-style:italic;margin-left:10px;}
.range_value_left{position:absolute;font-size:11px;color:#a0a0a0;font-style:italic;margin:2px 0 0;}
.range_value_right{position:absolute;font-size:11px;margin: 2px 0 0 94px;color:#a0a0a0;font-style:italic;width: 77px;text-align: right;}

h2.create-account-heading{color: #424242;font-family: "Montserrat",sans-serif;font-size: 28px;font-weight: 700;margin: 0 0 15px;}
h2.create-account-heading a{color:#424242;font-size:14px;}

.font-22{color: #424242;font-family: "open sans",helvetica,arial,verdana,tahoma;font-size: 22px;line-height: 1.3;}
.font-22 .checkbox-container{margin:0;font-size: 18px;}
.font-22 .checkbox-container input{top:4px;}
.font-22 .common-fields-container .field-container select{width:100%; height: 30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;line-height:22px;display:block;}
.common-fields-container .field-container.checkbox-ab{width:65%;}

.booking-textarea textarea{width:99%;height:60px;}
.booking-textarea span{font-size:12px;font-style:italic;}

.rating_buttons{bottom: 14px;position: absolute;right: 10px;width: 170px;}

.profile-done-alert{z-index: 9;position:absolute;right:60px;top:260px;background:url(../images/profile-done-alert.png) no-repeat left 10px;width:310px;height:459px;}
.profile-done-alert td{padding: 0 0 0 55px;}
.profile-done-alert .profile-alert-content{background:#B6DDE8;padding:20px;vertical-align: middle;display:table-cell;width: 270px;}
.profile-done-alert div a{font-size:15px;}
.profile-done-alert div p{margin-bottom:15px;}
.profile-fields .checkbox-alert{top:30px;}

.my-booking-heading{margin-left: -10px !important;font-weight:bold;margin-top:-19px !important;}
.display-bullets{list-style-type: circle;}

.btn-clicked{background:#cbcbcb url(../images/loader.gif) no-repeat 90% center / auto 62%;}


#complete-box{position:relative;}
#complete-box.active{color:#222222;}
#complete-box .done-text{position:absolute;bottom:55px;right:20px;}
#complete-box .input-title > span{display:none;}
#complete-box .input-title > .select{display:block;padding-top: 5px;}
#complete-box .select{position:static;display:block;box-sizing:border-box;background: url(../images/search-field-arrow.png) no-repeat 94% center #fff!important;width:100%;padding:5px 4px 3px;color:#424242;border-radius:5px;border:solid 1px #ccc;height:33px;left:0;font-size:14px;}
.cargo1 .input-title span.select{padding: 3px 24px 0 8px;}
#data_container{color:#000;margin-top:10px;}
#complete-box hr{margin-right: 155px;  max-width: 720px;  min-width: 720px;}
#complete-box.transporteca-box .cargo-heading{margin: 0 0 20px 18px;font-weight: 700;font-size:15px;}
#complete-box.transporteca-box .cargo-heading.CargoHeadingDa{margin: 0 0 20px 28px;}
#cargo_measure_error_span{float:left;width:56%;font-style:italic;}

.transporteca-box *{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.transporteca-box{margin:0 auto 10px;position:relative;text-align:left;max-width:966px;}
.transporteca-box input[type=text]{width:100%;padding:3px 2px;height:33px;border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-color:#ccc;color:#7f7f7f;}
.transporteca-box.active  input[type=text], .transporteca-box.active select{color:#424242;}

.cargo1 .input-title, .cargo2 .input-title{padding:6px 0 0 0;position:relative;margin-right:3%;width:22%;min-width: 65px;}
.cargo1, .cargo2{margin:0 0 6px;}
.cargo1 p, .cargo2 p{margin:0px;float:left;}
.cargo1 .input-title span{font-size:12px;display:block;padding:0 0 0 3px;}
.cargo1 .sep{width:22px;padding:20px 0 0;font-size:17px;}
.cargo1 .input-title select, .cargo2 .input-title select{width:100%;padding:3px 2px;}
.cargo1 .field-name{width:140px;padding:0 0 0 20px;text-align:center;}
.cargo2 .field-name{width:140px;padding:5px 0 0;}
.cargo2 .sep{width:22px;padding:0;}
.cargo2 .text{width:220px;text-align:right;padding-right:15px;padding-top:4px;}
.cargo-button-container{float:right;padding:5px 0 0;}
.cargo-button-container a, .cargo-button-container a:hover{margin-left:6px;overflow:hidden;text-indent:-1000em;float:right;width:30px;height:30px;background:url(../images/MinusYellow.png) no-repeat 0 0;background-size:100%;}
.cargo-button-container .cargo-add-button, .cargo-button-container .cargo-add-button:hover{line-height: 20px;background:url(../images/PlusYellow.png) no-repeat 0 0;background-size:100%;}


.cargo-success-text{margin:0 auto 20px;color:#d0504d;max-width:966px;font-size: 15px;font-weight: 400;min-height: 40px;}
.sort-arrow-up{background:url(../images/sort-arrow-up.png) no-repeat -1px center;display:inline-block;padding-left: 12px;}
.sort-arrow-down{background:url(../images/sort-arrow-down.png) no-repeat -1px center;;display:inline-block;padding-left: 12px;}

.cookie-blue-box{background-color: rgba(10, 150, 255, 0.3);box-sizing: border-box;color: #fff !important;left: 0;padding: 10px 20px;position: absolute;top: 60px;    width: 100%;    z-index: 1;} 
.cookie-blue-box-container{
    background-color: #1e4376;
    box-sizing: border-box;
    color: #fff !important; 
    padding: 10px 20px; 
    width: 100%;
    z-index: 1;
}
.cookie-blue-box a, .cookie-blue-box a:hover, .cookie-blue-box-container a, .cookie-blue-box-container a:hover{color:#ffffff;text-decoration:underline} 
 



.search-mini-container .search{box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);text-align:left;color:#424242;border-radius:5px;background:rgba(155, 145, 145, 0.15);border:1px solid rgba(170, 170, 170, 0.5);margin:0 auto;max-width:100%;padding:15px;position:relative;}
.search-mini-container .search > div, .location-container > div, .dimensions-container > div{float:left;}
.search-mini-container .search .dimensions-container .kg div{border-right:0;}
.search-mini-container .search label{line-height:22px;} 
.search-mini-container .search input{background:#fff;border-radius:0;border:none;color:#424242;padding:0 5px;;width:100%;overflow: hidden;text-overflow: ellipsis;white-space: pre;box-sizing:border-box;margin:0;display:block;}
.search-mini-container .search .location-container{width:46%;}
.search-mini-container .search .dimensions-container{width:39%;}
.search-mini-container .search .pickup {width:25%;} 
.search-mini-container .search .date {width:37%;}
.search-mini-container .search .cbm {width:20%;}
.search-mini-container .search .kg {width:18%;}

.search-mini-2-container .search{margin:0;box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);text-align:left;color:#424242;border-radius:0 0 5px 5px;background:rgba(155, 145, 145, 0.15);border:1px solid rgba(170, 170, 170, 0.5);border-top:none;padding:15px;color:#424242;}
.search-mini-2-container .search .from, .search-mini-2-container .search .to{float:none;width:auto;margin-bottom:8px;}

.search-mini-2-container .search .dimensions-container:after{clear: both;content: ".";display: block;font-size: 0;height: 0;line-height: 0;overflow: hidden;}
.search-mini-2-container .search .dimensions-container, .search-mini-2-container  .booking-quote.search .dimensions-container {float:none;width:auto;}
.search-mini-2-container .search .location-container div > div, .search-mini-2-container .search .dimensions-container div > div{background:#fff;border:1px solid #ccc;box-sizing: border-box;height:33px;padding:6px 4px 0;}
.search-mini-2-container .search label{line-height:22px;} 
.search-mini-2-container .search .from > div{border-right:solid 1px #ccc;}
.search-mini-2-container .search .btn, .search-mini-2-container .search .btn-grey {display: block;padding:10px 0 0 !important;float:none !important;width:auto;}
.search-mini-2-container.version-2 .search .btn, .search-mini-2-container.version-2 .search .btn-grey {padding:15px 0 0 !important;}
.search-mini-2-container .search .btn a, .search-mini-2-container .search .btn-grey a{background-image:none;text-indent:0;text-align:center; box-sizing: border-box;color: #fff !important;height:33px;padding:5px;text-decoration: none !important;font-size:14px !important;font-weight:400 !Important;}
.search-mini-2-container .search .btn.search-btn-clicked a{background:#52a723 url(../images/loader.gif) no-repeat scroll 68% center !important;background-size:auto 40% !important;}
.search-mini-2-container .search input{text-align:left !important;background:#fff;border-radius:0;background:transparent;border:none;color:#424242;padding:0;width:100%;margin:0;overflow: hidden;text-overflow: ellipsis;white-space: pre;display:block;box-sizing:border-box;}
.search-mini-2-container .search .cbm input, .search-mini-2-container .search .kg input{text-align:center !important;}
 
.booking-quote-heading-old{margin:0 0 20px}
.booking-quote-heading-old p{font-size:22px;margin:0 0 12px;line-height:125%}
.booking-quote-heading-old h2{font-size:40px;font-weight:700;line-height:42px;margin:0 0 20px;text-transform:uppercase;text-align:center} 
.service-waiting-text{color: #424242;font-size: 26px;font-weight: 700;line-height:1.4;padding-top:50px;}

.search-mini-container label, .search-mini-container p, .search-mini-container span, .search-mini-container .cargo1 .input-title, .search-mini-container .cargo2 .input-title{font-size:15px !important;}
.search-mini-container .sup, .search-mini-2-container .sup{font-size:9px !important;}
.search-mini-container .search-min-v3-cargo-field .cargo1 .field-name{width:11.11%;padding:29px 0 0;}
.search-mini-container .search-min-v3-cargo-field .cargo1 .field-name img{display:block;margin:0 auto;}
.search-mini-container .search .btn a, .search-mini-container .search .btn-grey a{height:33px;color:#fff !Important;font-size:14px;font-weight:400 !Important;padding:5px;text-decoration:none !Important;box-sizing: border-box;}
.search-mini-container .search-mini-v3-fields-container{float:none !important;margin-bottom:15px;}
.search-mini-container .search-min-v3-cargo-field{float:none !important;margin-bottom:5px;}
.search-mini-container .search-min-v3-cargo-field .transporteca-box{margin-bottom:5px;}
.search-mini-container .search-min-v3-button-cotainer{float:none !important;}
.search-mini-container .search .dimensions-container .pickup > div{height:33px;box-sizing: border-box;}
.search-mini-container .search .dimensions-container .pickup > div .select{font-size:14px;height:32px;width:100%;left:0;top:0;z-index:1;padding:8px 0 0 4px;font-size:14px !important;background-position: right 15px;box-sizing: border-box;}
.search-mini-container .search .pickup select{height:26px;padding:0;left:0;top:0;position:absolute;color:#424242;}

.version-3 .booking-quote.search .search-mini-v3-fields-container .location-container{float:left;width:66.67%;}
.version-3 .booking-quote.search .dimensions-container{float:left;width:33.33%;}
.version-3 .search-mini-v3-fields-container .dimensions-container .date{width:100%;}
.version-3 .search-mini-v3-fields-container .dimensions-container .date div{border-right:1px solid rgba(170, 170, 170, 0.6);}
.version-3 .search .date input{text-align:left;}

.version-3 .dotted-line{height:1px;line-height:1px;border-top:dashed 1px #ccc;float:none !important;margin:0 -15px;max-width: none !important;}
.version-3 .search-min-v3-button-cotainer{text-align:center;}
.version-3 .search-min-v3-button-cotainer .btn, .version-3 .search-min-v3-button-cotainer .btn-grey{float:none !important;margin:0 auto;width:auto;text-align:center;min-width:36%;padding:0;}
.version-3 .cargo1{margin:0 0 3px;}

.version-3 .transporteca-box .cargo-volume-measures{width:44.44%;}
.version-3 .transporteca-box .cargo-volume-measures > div{float:left;width:25%;}
.version-3 .transporteca-box .cargo-weight-measures {width:44.45%;}
.version-3 .transporteca-box .cargo-weight-measures .search-mini-cargo-fields{float:left;width:25%;}
.version-3 .transporteca-box .cargo-weight-measures .search-mini-cargo-fields + .search-mini-cargo-fields{width:50%;}
.version-3 .transporteca-box .cargo-weight-measures .search-mini-cargo-fields div .input-fields{float:left;width:50%;}
.version-3 .transporteca-box .cargo-weight-measures .search-mini-cargo-fields div .input-fields + .input-fields{border-right:1px solid #ccc;}
.version-3 .transporteca-box .cargo-weight-measures .cargo-button-container{float:left;width:33.33%;}
.version-3 .transporteca-box .cargo-weight-measures .cargo-button-container{padding-top:31px;padding-left:0;width:25%;text-align:center;}
.version-3 .transporteca-box .cargo-weight-measures .cargo-button-container .v3-cargo-buttons-container{display:inline-block;}
.version-3 .search-mini-cargo-fields p{float:none;position:relative;width:auto;margin:0;}
.version-3 #complete-box .select{border-radius:0;font-size:14px !important;}
.version-3 .search-mini-cargo-fields input{padding:0 4px;text-align: center;}
.version-3 select.styled{box-sizing:border-box;width:100%;position:absolute;left:0;}

.version-3 .search .btn{width:auto;float:None !important;}

.version-4 .request-quote-fields .cargo-button-container{width:25%;padding:32px 0 0;}

.version-5 .booking-quote.search .search-mini-v3-fields-container .location-container{width:42%;float:left;}
.version-5 .booking-quote.search .search-mini-v3-fields-container .dimensions-container{width:43%;float:left;}
.version-5 .booking-quote.search .search-mini-v3-fields-container .dimensions-container > div{width:22.66%;float:left;}
.version-5 .booking-quote.search .search-mini-v3-fields-container .dimensions-container > .pickup{width:32%;}
.version-5 .search .dimensions-container .pickup > div .select{width:97%;padding:3px 0 0 4px;background-position: right center;}
.version-5 .search-mini-v3-fields-container{margin-bottom:0;}
.version-5 .search .date input{text-align:left;}

.search-mini-container span .sup{font-size:11px !important;}
.input-fields{position:relative;}


.version-6 .booking-quote.search .dimensions-container > div{box-sizing:border-box;float:left;}
.version-6 .booking-quote.search .dimensions-container .date{width:25%;padding-left:0;}
.version-6 .booking-quote.search .dimensions-container .kg{width:20%;}
.version-6 .booking-quote.search .dimensions-container .pickup{width:35%;}
.version-6 .select{width:97%;border:none;height:32px;}
.version-6 .search .dimensions-container div > div{border-right:0;}
.version-6 .search .dimensions-container div:nth-last-child(1) > div{border-right:solid 1px #ccc;}


.version-2 .booking-quote.search .dimensions-container > div{box-sizing:border-box;float:left;}
.version-2 .booking-quote.search .date{width:40%;}
.version-2 .booking-quote.search .cbm{width:30%;}
.version-2 .booking-quote.search .kg{width:30%;}
.version-2.search-mini-2-container .search .dimensions-container .date > div, .version-2.search-mini-2-container .search .dimensions-container .cbm > div{border-right:0;}

.pallet-feilds-container h4{margin:0 0 15px;}
.pallet-feilds-container .cargo1{margin:0;}
.pallet-feilds-container .cargo1 .field-name{float:left;width:10%;padding:0;text-align:left;}
.pallet-feilds-container .cargo1 .cargo-volume-measures{float:left;width:75%;}
.pallet-feilds-container .cargo1 .cargo-volume-measures .search-mini-cargo-text{float:left;width:19%;box-sizing:border-box;font-size:18px;font-weight:400;padding:3px 0 0;color:#000;}
.pallet-feilds-container .cargo1 .cargo-volume-measures div{float:left;box-sizing:border-box;padding-left:5px;width:27%;}
.pallet-feilds-container .cargo1 .search-mini-cargo-fields input{width:100%;box-sizing:border-box;background:#fff;border:solid 1px #ccc;border-radius:0;}
.pallet-feilds-container .cargo1 .cargo-weight-measures{float:left;width:14%;}
.pallet-feilds-container .cargo1 .cargo-weight-measures .cargo-button-container{padding:0;}
.pallet-feilds-container .cargo1 .search-mini-cargo-fields .input-fields{float:none;}
.pallet-feilds-container #complete-box .select{padding:4px 0 0 4px;border: 1px solid #ccc;font-size:14px !important;border-radius:0;z-index:1;left:0;top:0;height:33px;}
.pallet-feilds-container select.styled{z-index:2;left:0;top:0;position:absolute;width:100%;height:30px;color:#424242;box-sizing:border-box;}
.pallet-feilds-container .cargo1 .cargo-button-container{}

.search-mini-container .input-fields input{border:solid 1px #ccc;border-right:none;color:#424242;}

.input-fields > span{display:None;}
.input-fields > span.select{display:block;}

.search-mini-container .cargo-button-container a:nth-child(2), .search-mini-container .cargo-button-container a:nth-child(2):hover,.search-mini-2-container .cargo-button-container a:nth-child(2), .search-mini-2-container .cargo-button-container a:nth-child(2):hover{margin-left:0;}

.version-4 .transporteca-box{padding:0;}
#insurance-form-container.quote-cargo-value-container{padding:3px 0 10px 1px;}
.insurance-desc-container .fl-60{padding-left:1px;} 
#insurance-form-container .madatory-insurance .select{padding-top:6px;}

.search-mini-container .search .voga-automatic-location-container{padding:3px 0 8px;}
.search-mini-container .search .voga-automatic-location-container .explanation-from{width:50%;float:left;padding:5px 0 0;} 
.search-mini-container .search .voga-automatic-location-container .explanation-to{width:50%;float:right;padding:5px 0 0;} 
.search-mini-container .search .voga-automatic-location-container .explanation-to .input-box{border-right:solid 1px rgba(170, 170, 170, 0.6);} 

.vog-feilds-container .request-quote-fields .input-fields{border:solid 1px rgba(170, 170, 170, 0.6);border-right:0;height:28px;}
.vog-feilds-container .request-quote-fields .input-fields select{padding:2px 4px;}


