.flagstrap {
    display: inline-block;
    position: relative;
    width: 100%;
}
.FromList.flagstrap-icon, .ToList.flagstrap-icon{background:#fff;color:#222;max-height:225px;overflow-y:auto;position:absolute;left:0;width:100%;top:100%;z-index:9;border:solid 1px rgba(0,0,0,0.2);box-sizing:border-box;}
.flagstrap-icon li{cursor:pointer;position:relative;padding:5px 5px 5px 30px;font-size:18px;font-weight:400;}
.flagstrap-icon li:hover, .flagstrap-icon li:focus{background:#f2f2f2;}
.flagstrap-icon .country-div{position:relative;padding:11px 4px 10px 28px;background:#fff;height:42px;font-size:16px;color:#000 !important;box-sizing:border-box;font-weight:400;border-radius:2px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.flagstrap-icon .country-div:before{content:'';position:absolute;right:10px;top:15px;width:10px;height:13px;background:url(../images/dropdown-arrow.png) no-repeat 0 center;}
.flagstrap-icon .country-div:after{content:'';position:absolute;left:6px;top:15px;width:16px;height:11px;background: url(../images/flags.png) no-repeat;}

.flagstrap-icon li:after{content:'';position:absolute;left:6px;top:12px;width:16px;height:11px;background: url(../images/flags.png) no-repeat;}

.flagstrap-icon .flagstrap-ad:after{background-position: -16px 0;}

.flagstrap-icon .flagstrap-ae:after {background-position: -32px 0}

.flagstrap-icon .flagstrap-af:after {
    background-position: -48px 0
}

.flagstrap-icon .flagstrap-ag:after {
    background-position: -64px 0
}

.flagstrap-icon .flagstrap-ai:after {
    background-position: -80px 0
}

.flagstrap-icon .flagstrap-al:after {
    background-position: -96px 0
}

.flagstrap-icon .flagstrap-am:after {
    background-position: -112px 0
}

.flagstrap-icon .flagstrap-an:after {
    background-position: -128px 0
}

.flagstrap-icon .flagstrap-ao:after {
    background-position: -144px 0
}

.flagstrap-icon .flagstrap-ar:after {
    background-position: -160px 0
}

.flagstrap-icon .flagstrap-as:after {
    background-position: -176px 0
}

.flagstrap-icon .flagstrap-at:after {
    background-position: -192px 0
}

.flagstrap-icon .flagstrap-au:after {
    background-position: -208px 0
}

.flagstrap-icon .flagstrap-aw:after {
    background-position: -224px 0
}

.flagstrap-icon .flagstrap-az:after {
    background-position: -240px 0
}

.flagstrap-icon .flagstrap-ba:after {
    background-position: 0 -11px
}

.flagstrap-icon .flagstrap-bb:after {
    background-position: -16px -11px
}

.flagstrap-icon .flagstrap-bd:after {
    background-position: -32px -11px
}

.flagstrap-icon .flagstrap-be:after {
    background-position: -48px -11px
}

.flagstrap-icon .flagstrap-bf:after {
    background-position: -64px -11px
}

.flagstrap-icon .flagstrap-bg:after {
    background-position: -80px -11px
}

.flagstrap-icon .flagstrap-bh:after {
    background-position: -96px -11px
}

.flagstrap-icon .flagstrap-bi:after {
    background-position: -112px -11px
}

.flagstrap-icon .flagstrap-bj:after {
    background-position: -128px -11px
}

.flagstrap-icon .flagstrap-bm:after {
    background-position: -144px -11px
}

.flagstrap-icon .flagstrap-bn:after {
    background-position: -160px -11px
}

.flagstrap-icon .flagstrap-bo:after {
    background-position: -176px -11px
}

.flagstrap-icon .flagstrap-br:after {
    background-position: -192px -11px
}

.flagstrap-icon .flagstrap-bs:after {
    background-position: -208px -11px
}

.flagstrap-icon .flagstrap-bt:after {
    background-position: -224px -11px
}

.flagstrap-icon .flagstrap-bv:after {
    background-position: -240px -11px
}

.flagstrap-icon .flagstrap-bw:after {
    background-position: 0 -22px
}

.flagstrap-icon .flagstrap-by:after {
    background-position: -16px -22px
}

.flagstrap-icon .flagstrap-bz:after {
    background-position: -32px -22px
}

.flagstrap-icon .flagstrap-ca:after {
    background-position: -48px -22px
}

.flagstrap-icon .flagstrap-catalonia:after {
    background-position: -64px -22px
}

.flagstrap-icon .flagstrap-cd:after {
    background-position: -80px -22px
}

.flagstrap-icon .flagstrap-cf:after {
    background-position: -96px -22px
}

.flagstrap-icon .flagstrap-cg:after {
    background-position: -112px -22px
}

.flagstrap-icon .flagstrap-ch:after {
    background-position: -128px -22px
}

.flagstrap-icon .flagstrap-ci:after {
    background-position: -144px -22px
}

.flagstrap-icon .flagstrap-ck:after {
    background-position: -160px -22px
}

.flagstrap-icon .flagstrap-cl:after {
    background-position: -176px -22px
}

.flagstrap-icon .flagstrap-cm:after {
    background-position: -192px -22px
}

.flagstrap-icon .flagstrap-cn:after {
    background-position: -208px -22px
}

.flagstrap-icon .flagstrap-co:after {
    background-position: -224px -22px
}

.flagstrap-icon .flagstrap-cr:after {
    background-position: -240px -22px
}

.flagstrap-icon .flagstrap-cu:after {
    background-position: 0 -33px
}

.flagstrap-icon .flagstrap-cv:after {
    background-position: -16px -33px
}

.flagstrap-icon .flagstrap-cw:after {
    background-position: -32px -33px
}

.flagstrap-icon .flagstrap-cy:after {
    background-position: -48px -33px
}

.flagstrap-icon .flagstrap-cz:after {
    background-position: -64px -33px
}

.flagstrap-icon .flagstrap-de:after {
    background-position: -80px -33px
}

.flagstrap-icon .flagstrap-dj:after {
    background-position: -96px -33px
}

.flagstrap-icon .flagstrap-dk:after {
    background-position: -112px -33px
}

.flagstrap-icon .flagstrap-dm:after {
    background-position: -128px -33px
}

.flagstrap-icon .flagstrap-do:after {
    background-position: -144px -33px
}

.flagstrap-icon .flagstrap-dz:after {
    background-position: -160px -33px
}

.flagstrap-icon .flagstrap-ec:after {
    background-position: -176px -33px
}

.flagstrap-icon .flagstrap-ee:after {
    background-position: -192px -33px
}

.flagstrap-icon .flagstrap-eg:after {
    background-position: -208px -33px
}

.flagstrap-icon .flagstrap-eh:after {
    background-position: -224px -33px
}

.flagstrap-icon .flagstrap-england:after {
    background-position: -240px -33px
}

.flagstrap-icon .flagstrap-er:after {
    background-position: 0 -44px
}

.flagstrap-icon .flagstrap-es:after {
    background-position: -16px -44px
}

.flagstrap-icon .flagstrap-et:after {
    background-position: -32px -44px
}

.flagstrap-icon .flagstrap-eu:after {
    background-position: -48px -44px
}

.flagstrap-icon .flagstrap-fi:after {
    background-position: -64px -44px
}

.flagstrap-icon .flagstrap-fj:after {
    background-position: -80px -44px
}

.flagstrap-icon .flagstrap-fk:after {
    background-position: -96px -44px
}

.flagstrap-icon .flagstrap-fm:after {
    background-position: -112px -44px
}

.flagstrap-icon .flagstrap-fo:after {
    background-position: -128px -44px
}

.flagstrap-icon .flagstrap-fr:after {
    background-position: -144px -44px
}

.flagstrap-icon .flagstrap-ga:after {
    background-position: -160px -44px
}

.flagstrap-icon .flagstrap-gb:after {
    background-position: -176px -44px
}

.flagstrap-icon .flagstrap-gd:after {
    background-position: -192px -44px
}

.flagstrap-icon .flagstrap-ge:after {
    background-position: -208px -44px
}

.flagstrap-icon .flagstrap-gf:after {
    background-position: -224px -44px
}

.flagstrap-icon .flagstrap-gg:after {
    background-position: -240px -44px
}

.flagstrap-icon .flagstrap-gh:after {
    background-position: 0 -55px
}

.flagstrap-icon .flagstrap-gi:after {
    background-position: -16px -55px
}

.flagstrap-icon .flagstrap-gl:after {
    background-position: -32px -55px
}

.flagstrap-icon .flagstrap-gm:after {
    background-position: -48px -55px
}

.flagstrap-icon .flagstrap-gn:after {
    background-position: -64px -55px
}

.flagstrap-icon .flagstrap-gp:after {
    background-position: -80px -55px
}

.flagstrap-icon .flagstrap-gq:after {
    background-position: -96px -55px
}

.flagstrap-icon .flagstrap-gr:after {
    background-position: -112px -55px
}

.flagstrap-icon .flagstrap-gs:after {
    background-position: -128px -55px
}

.flagstrap-icon .flagstrap-gt:after {
    background-position: -144px -55px
}

.flagstrap-icon .flagstrap-gu:after {
    background-position: -160px -55px
}

.flagstrap-icon .flagstrap-gw:after {
    background-position: -176px -55px
}

.flagstrap-icon .flagstrap-gy:after {
    background-position: -192px -55px
}

.flagstrap-icon .flagstrap-hk:after {
    background-position: -208px -55px
}

.flagstrap-icon .flagstrap-hm:after {
    background-position: -224px -55px
}

.flagstrap-icon .flagstrap-hn:after {
    background-position: -240px -55px
}

.flagstrap-icon .flagstrap-hr:after {
    background-position: 0 -66px
}

.flagstrap-icon .flagstrap-ht:after {
    background-position: -16px -66px
}

.flagstrap-icon .flagstrap-hu:after {
    background-position: -32px -66px
}

.flagstrap-icon .flagstrap-ic:after {
    background-position: -48px -66px
}

.flagstrap-icon .flagstrap-id:after {
    background-position: -64px -66px
}

.flagstrap-icon .flagstrap-ie:after {
    background-position: -80px -66px
}

.flagstrap-icon .flagstrap-il:after {
    background-position: -96px -66px
}

.flagstrap-icon .flagstrap-im:after {
    background-position: -112px -66px
}

.flagstrap-icon .flagstrap-in:after {
    background-position: -128px -66px
}

.flagstrap-icon .flagstrap-io:after {
    background-position: -144px -66px
}

.flagstrap-icon .flagstrap-iq:after {
    background-position: -160px -66px
}

.flagstrap-icon .flagstrap-ir:after {
    background-position: -176px -66px
}

.flagstrap-icon .flagstrap-is:after {
    background-position: -192px -66px
}

.flagstrap-icon .flagstrap-it:after {
    background-position: -208px -66px
}

.flagstrap-icon .flagstrap-je:after {
    background-position: -224px -66px
}

.flagstrap-icon .flagstrap-jm:after {
    background-position: -240px -66px
}

.flagstrap-icon .flagstrap-jo:after {
    background-position: 0 -77px
}

.flagstrap-icon .flagstrap-jp:after {
    background-position: -16px -77px
}

.flagstrap-icon .flagstrap-ke:after {
    background-position: -32px -77px
}

.flagstrap-icon .flagstrap-kg:after {
    background-position: -48px -77px
}

.flagstrap-icon .flagstrap-kh:after {
    background-position: -64px -77px
}

.flagstrap-icon .flagstrap-ki:after {
    background-position: -80px -77px
}

.flagstrap-icon .flagstrap-km:after {
    background-position: -96px -77px
}

.flagstrap-icon .flagstrap-kn:after {
    background-position: -112px -77px
}

.flagstrap-icon .flagstrap-kp:after {
    background-position: -128px -77px
}

.flagstrap-icon .flagstrap-kr:after {
    background-position: -144px -77px
}

.flagstrap-icon .flagstrap-kurdistan:after {
    background-position: -160px -77px
}

.flagstrap-icon .flagstrap-kw:after {
    background-position: -176px -77px
}

.flagstrap-icon .flagstrap-ky:after {
    background-position: -192px -77px
}

.flagstrap-icon .flagstrap-kz:after {
    background-position: -208px -77px
}

.flagstrap-icon .flagstrap-la:after {
    background-position: -224px -77px
}

.flagstrap-icon .flagstrap-lb:after {
    background-position: -240px -77px
}

.flagstrap-icon .flagstrap-lc:after {
    background-position: 0 -88px
}

.flagstrap-icon .flagstrap-li:after {
    background-position: -16px -88px
}

.flagstrap-icon .flagstrap-lk:after {
    background-position: -32px -88px
}

.flagstrap-icon .flagstrap-lr:after {
    background-position: -48px -88px
}

.flagstrap-icon .flagstrap-ls:after {
    background-position: -64px -88px
}

.flagstrap-icon .flagstrap-lt:after {
    background-position: -80px -88px
}

.flagstrap-icon .flagstrap-lu:after {
    background-position: -96px -88px
}

.flagstrap-icon .flagstrap-lv:after {
    background-position: -112px -88px
}

.flagstrap-icon .flagstrap-ly:after {
    background-position: -128px -88px
}

.flagstrap-icon .flagstrap-ma:after {
    background-position: -144px -88px
}

.flagstrap-icon .flagstrap-mc:after {
    background-position: -160px -88px
}

.flagstrap-icon .flagstrap-md:after {
    background-position: -176px -88px
}

.flagstrap-icon .flagstrap-me:after {
    background-position: -192px -88px
}

.flagstrap-icon .flagstrap-mg:after {
    background-position: -208px -88px
}

.flagstrap-icon .flagstrap-mh:after {
    background-position: -224px -88px
}

.flagstrap-icon .flagstrap-mk:after {
    background-position: -240px -88px
}

.flagstrap-icon .flagstrap-ml:after {
    background-position: 0 -99px
}

.flagstrap-icon .flagstrap-mm:after {
    background-position: -16px -99px
}

.flagstrap-icon .flagstrap-mn:after {
    background-position: -32px -99px
}

.flagstrap-icon .flagstrap-mo:after {
    background-position: -48px -99px
}

.flagstrap-icon .flagstrap-mp:after {
    background-position: -64px -99px
}

.flagstrap-icon .flagstrap-mq:after {
    background-position: -80px -99px
}

.flagstrap-icon .flagstrap-mr:after {
    background-position: -96px -99px
}

.flagstrap-icon .flagstrap-ms:after {
    background-position: -112px -99px
}

.flagstrap-icon .flagstrap-mt:after {
    background-position: -128px -99px
}

.flagstrap-icon .flagstrap-mu:after {
    background-position: -144px -99px
}

.flagstrap-icon .flagstrap-mv:after {
    background-position: -160px -99px
}

.flagstrap-icon .flagstrap-mw:after {
    background-position: -176px -99px
}

.flagstrap-icon .flagstrap-mx:after {
    background-position: -192px -99px
}

.flagstrap-icon .flagstrap-my:after {
    background-position: -208px -99px
}

.flagstrap-icon .flagstrap-mz:after {
    background-position: -224px -99px
}

.flagstrap-icon .flagstrap-na:after {
    background-position: -240px -99px
}

.flagstrap-icon .flagstrap-nc:after {
    background-position: 0 -110px
}

.flagstrap-icon .flagstrap-ne:after {
    background-position: -16px -110px
}

.flagstrap-icon .flagstrap-nf:after {
    background-position: -32px -110px
}

.flagstrap-icon .flagstrap-ng:after {
    background-position: -48px -110px
}

.flagstrap-icon .flagstrap-ni:after {
    background-position: -64px -110px
}

.flagstrap-icon .flagstrap-nl:after {
    background-position: -80px -110px
}

.flagstrap-icon .flagstrap-no:after {
    background-position: -96px -110px
}

.flagstrap-icon .flagstrap-np:after {
    background-position: -112px -110px
}

.flagstrap-icon .flagstrap-nr:after {
    background-position: -128px -110px
}

.flagstrap-icon .flagstrap-nu:after {
    background-position: -144px -110px
}

.flagstrap-icon .flagstrap-nz:after {
    background-position: -160px -110px
}

.flagstrap-icon .flagstrap-om:after {
    background-position: -176px -110px
}

.flagstrap-icon .flagstrap-pa:after {
    background-position: -192px -110px
}

.flagstrap-icon .flagstrap-pe:after {
    background-position: -208px -110px
}

.flagstrap-icon .flagstrap-pf:after {
    background-position: -224px -110px
}

.flagstrap-icon .flagstrap-pg:after {
    background-position: -240px -110px
}

.flagstrap-icon .flagstrap-ph:after {
    background-position: 0 -121px
}

.flagstrap-icon .flagstrap-pk:after {
    background-position: -16px -121px
}

.flagstrap-icon .flagstrap-pl:after {
    background-position: -32px -121px
}

.flagstrap-icon .flagstrap-pm:after {
    background-position: -48px -121px
}

.flagstrap-icon .flagstrap-pn:after {
    background-position: -64px -121px
}

.flagstrap-icon .flagstrap-pr:after {
    background-position: -80px -121px
}

.flagstrap-icon .flagstrap-ps:after {
    background-position: -96px -121px
}

.flagstrap-icon .flagstrap-pt:after {
    background-position: -112px -121px
}

.flagstrap-icon .flagstrap-pw:after {
    background-position: -128px -121px
}

.flagstrap-icon .flagstrap-py:after {
    background-position: -144px -121px
}

.flagstrap-icon .flagstrap-qa:after {
    background-position: -160px -121px
}

.flagstrap-icon .flagstrap-re:after {
    background-position: -176px -121px
}

.flagstrap-icon .flagstrap-ro:after {
    background-position: -192px -121px
}

.flagstrap-icon .flagstrap-rs:after {
    background-position: -208px -121px
}

.flagstrap-icon .flagstrap-ru:after {
    background-position: -224px -121px
}

.flagstrap-icon .flagstrap-rw:after {
    background-position: -240px -121px
}

.flagstrap-icon .flagstrap-sa:after {
    background-position: 0 -132px
}

.flagstrap-icon .flagstrap-sb:after {
    background-position: -16px -132px
}

.flagstrap-icon .flagstrap-sc:after {
    background-position: -32px -132px
}

.flagstrap-icon .flagstrap-scotland:after {
    background-position: -48px -132px
}

.flagstrap-icon .flagstrap-sd:after {
    background-position: -64px -132px
}

.flagstrap-icon .flagstrap-se:after {
    background-position: -80px -132px
}

.flagstrap-icon .flagstrap-sg:after {
    background-position: -96px -132px
}

.flagstrap-icon .flagstrap-sh:after {
    background-position: -112px -132px
}

.flagstrap-icon .flagstrap-si:after {
    background-position: -128px -132px
}

.flagstrap-icon .flagstrap-sk:after {
    background-position: -144px -132px
}

.flagstrap-icon .flagstrap-sl:after {
    background-position: -160px -132px
}

.flagstrap-icon .flagstrap-sm:after {
    background-position: -176px -132px
}

.flagstrap-icon .flagstrap-sn:after {
    background-position: -192px -132px
}

.flagstrap-icon .flagstrap-so:after {
    background-position: -208px -132px
}

.flagstrap-icon .flagstrap-somaliland:after {
    background-position: -224px -132px
}

.flagstrap-icon .flagstrap-sr:after {
    background-position: -240px -132px
}

.flagstrap-icon .flagstrap-ss:after {
    background-position: 0 -143px
}

.flagstrap-icon .flagstrap-st:after {
    background-position: -16px -143px
}

.flagstrap-icon .flagstrap-sv:after {
    background-position: -32px -143px
}

.flagstrap-icon .flagstrap-sx:after {
    background-position: -48px -143px
}

.flagstrap-icon .flagstrap-sy:after {
    background-position: -64px -143px
}

.flagstrap-icon .flagstrap-sz:after {
    background-position: -80px -143px
}

.flagstrap-icon .flagstrap-tc:after {
    background-position: -96px -143px
}

.flagstrap-icon .flagstrap-td:after {
    background-position: -112px -143px
}

.flagstrap-icon .flagstrap-tf:after {
    background-position: -128px -143px
}

.flagstrap-icon .flagstrap-tg:after {
    background-position: -144px -143px
}

.flagstrap-icon .flagstrap-th:after {
    background-position: -160px -143px
}

.flagstrap-icon .flagstrap-tj:after {
    background-position: -176px -143px
}

.flagstrap-icon .flagstrap-tk:after {
    background-position: -192px -143px
}

.flagstrap-icon .flagstrap-tl:after {
    background-position: -208px -143px
}

.flagstrap-icon .flagstrap-tm:after {
    background-position: -224px -143px
}

.flagstrap-icon .flagstrap-tn:after {
    background-position: -240px -143px
}

.flagstrap-icon .flagstrap-to:after {
    background-position: 0 -154px
}

.flagstrap-icon .flagstrap-tr:after {
    background-position: -16px -154px
}

.flagstrap-icon .flagstrap-tt:after {
    background-position: -32px -154px
}

.flagstrap-icon .flagstrap-tv:after {
    background-position: -48px -154px
}

.flagstrap-icon .flagstrap-tw:after {
    background-position: -64px -154px
}

.flagstrap-icon .flagstrap-tz:after {
    background-position: -80px -154px
}

.flagstrap-icon .flagstrap-ua:after {
    background-position: -96px -154px
}

.flagstrap-icon .flagstrap-ug:after {
    background-position: -112px -154px
}

.flagstrap-icon .flagstrap-um:after {
    background-position: -128px -154px
}

.flagstrap-icon .flagstrap-us:after {
    background-position: -144px -154px
}

.flagstrap-icon .flagstrap-uy:after {
    background-position: -160px -154px
}

.flagstrap-icon .flagstrap-uz:after {
    background-position: -176px -154px
}

.flagstrap-icon .flagstrap-va:after {
    background-position: -192px -154px
}

.flagstrap-icon .flagstrap-vc:after {
    background-position: -208px -154px
}

.flagstrap-icon .flagstrap-ve:after {
    background-position: -224px -154px
}

.flagstrap-icon .flagstrap-vg:after {
    background-position: -240px -154px
}

.flagstrap-icon .flagstrap-vi:after {
    background-position: 0 -165px
}

.flagstrap-icon .flagstrap-vn:after {
    background-position: -16px -165px
}

.flagstrap-icon .flagstrap-vu:after {
    background-position: -32px -165px
}

.flagstrap-icon .flagstrap-wales:after {
    background-position: -48px -165px
}

.flagstrap-icon .flagstrap-wf:after {
    background-position: -64px -165px
}

.flagstrap-icon .flagstrap-ws:after {
    background-position: -80px -165px
}

.flagstrap-icon .flagstrap-ye:after {
    background-position: -96px -165px
}

.flagstrap-icon .flagstrap-yt:after {
    background-position: -112px -165px
}

.flagstrap-icon .flagstrap-za:after {
    background-position: -128px -165px
}

.flagstrap-icon .flagstrap-zanzibar:after {
    background-position: -144px -165px
}

.flagstrap-icon .flagstrap-zm:after {
    background-position: -160px -165px
}

.flagstrap-icon .flagstrap-zw:after {
    background-position: -176px -165px
}
