@charset 'UTF-8';

@font-face {
    font-family: 'AdobeGaramondProRegular';
    src: url('agaramondpro-regular.eot');
    src: url('agaramondpro-regular.eot') format('embedded-opentype'),
         url('agaramondpro-regular.woff') format('woff'),
         url('agaramondpro-regular.ttf') format('truetype'),
         url('agaramondpro-regular.svg#AdobeGaramondProRegular') format('svg');
}
*{margin:0;padding:0;}
article, aside, figure, footer, header, hgroup, menu, nav, section, address{display:block;}
body{font:14px/20px 'open sans', helvetica, arial, verdana, tahoma;font-weight: 300;background: #fff;text-align:center;color:#424242;min-width:320px; -webkit-font-smoothing: subpixel-antialiased;-webkit-text-stroke:1px transparent;-webkit-text-size-adjust:none;}
strong, b{font-weight: 700;}
h1, h3, h4, h5, h6{font-weight: 700;line-height:1.2;}
h1{font-size:30px;font-family: 'Montserrat', sans-serif;font-weight:700;}
h2{font-weight: 300;font-size:26px;line-height: 1.5;}
h4{font-size: 16px;margin:0 0 5px;}
h5{font-size: 100%;margin:0 0 5px;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{color: inherit;text-decoration: none;}
a{color: #7f7f7f;text-decoration: none;font-weight:400;}
a:hover{text-decoration: none;color:#222;}
p{line-height:140%;margin:0 0 12px;}
input, textarea{outline:none;resize:none;font-family:calibri;font-size:14px;padding:3px 4px;height:20px;line-height:20px;border:solid 1px #ccc;background:#fff;font-family: 'open sans', helvetica, arial, verdana, tahoma;}
input[type="button"], input[type="submit"], input[type="image"]{outline:none;cursor:pointer;padding:7px 10px;font-weight:700;border:none;height:auto;line-height:30px;background:#dfdd00;border:solid 1px #000;color:#000;}
input[type="button"]:hover, input[type="submit"]:hover, input[type="image"]:hover{background:#d3d3d3;}
input[type="checkbox"], input[type="radio"]{background:transparent;}

select{padding:4px;border:solid 1px #ccc;background:#fff;font-family: 'open sans', helvetica, arial, verdana, tahoma;font-size:14px;-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
  -webkit-border-radius: 0px;
}

a img, img{max-width:100%;height:auto;outline:none;border:none;display:inline-block;}

ul{list-style:none;}

sup{font-size:9px;}

::-webkit-input-placeholder {color: white;}
:-moz-placeholder { /* Firefox 18- */color: white;}
::-moz-placeholder {  /* Firefox 19+ */color: white;}
:-ms-input-placeholder {color: white;}


.transporteca-box ::-webkit-input-placeholder{color: #999;font-weight: 600;}
.transporteca-box :-moz-placeholder { /* Firefox 18- */color: #999;font-weight: 600;}
.transporteca-box ::-moz-placeholder {  /* Firefox 19+ */color: #999;font-weight: 600;}
.transporteca-box :-ms-input-placeholder {color: #999;font-weight: 600;}

.search-description-box{max-width:750px;margin:0 auto;color:#fff;padding:30px 0 0;text-align:center;font-size:15px;}
#search-freight.shipper-labels article h1{margin:0 0 20px;}
.shipper-labels .search-description-box{padding:0 0 30px;}

.what-is-in{padding:90px 0 0;text-align:center;min-height:565px;}
.what-is-in h1{margin: 0 0 90px;}
.what-is-in h3{font-size:24px;font-weight:400;}
.what-is-in ul {display:inline-block;}
.what-is-in ul li{float:left;width:275px;}
.what-is-in ul li+li{margin-left:10px;}
.what-is-in ul li .icon{background:url(../images/what-is-in-icons.png) no-repeat 0 center #237aa7;border-radius:50%;display:inline-block;width:151px;height:151px;margin:0 0 20px;}
.what-is-in ul .quick .icon{background-position:0 center;}
.what-is-in ul .all-price .icon{background-position:53% center;}
.what-is-in ul .on-time .icon{background-position:105% center;}
.what-is-in ul li a{font-weight:300;color:#424242;}
.what-is-in ul li h3 a{font-weight:400;}

.how-does-work{background:url(../images/map.png) no-repeat center center #f15925;min-height:565px;padding:90px 0 0;}
.how-does-work h1, .how-does-work h2{color:#fff;margin: 0 0 125px;}
.how-does-work ul {display:inline-block;background:url(../images/how-does-work-arrow.png) no-repeat center 40px;}
.how-does-work ul li{float:left;width:265px;}
.how-does-work ul li .icon{background:url(../images/how-does-work-icons.png) no-repeat 0 center #f15925;border:solid 5px #df501f;border-radius:50%;display:inline-block;width:107px;height:107px;margin:0 0 20px;}
.how-does-work ul .quick .icon{background-position:26px center;}
.how-does-work ul .all-price .icon{background-position:51% center;}
.how-does-work ul .on-time .icon{background: rgba(0, 0, 0, 0) url(../images/welcome/WIFM_Plane.png) repeat 0 0;border:none;height: 120px;width: 120px;}
.how-does-work ul p{font-size:21px;color:#fff;}

#partners {background: url(../images/partners-background.jpg) 50% 0 no-repeat fixed;background-size: cover; height: 800px;margin: 0 auto;width: 100%;position: relative;}
#partners article {color:#fff;position: absolute;text-align: center;top: 220px;width: 100%;}
#partners h2 {font-size:26px;font-weight:400;margin:0 0 30px;line-height:28px;text-transform: none;}
#partners .partners-number {border-bottom:solid 1px rgba(160, 160, 160, 0.3); margin:0 auto 25px;max-width:990px;}
#partners .partners-number > div{text-align:center;float:left;min-width:33.1%;font-size:18px;font-family:arial;text-transform:uppercase;color:#f15925;padding:10px 0 30px;}
#partners .partners-number > div span{font-size:70px;color:#fff;line-height:80px;}
#partners .partners-number .companies {border-left:solid 1px rgba(160, 160, 160, 0.3);border-right:solid 1px rgba(160, 160, 160, 0.3);}
#partners ul {margin:0 auto;max-width:990px;display:inline-block;width:90%;text-align:center;}
#partners ul li {display:inline-block;margin:0 25px 0 0;vertical-align:middle;text-align:center;position:relative;}
#partners ul li > div, .tooltip-pop{display:none;background:url(../images/tooltip-arrow.png) no-repeat 20px 0;padding:11px 0 0;position:absolute;left:0;z-index:10;min-width:200px;max-width:520px;}
#partners ul li:hover > div{display:block;}
#partners ul li > div div, .tooltip-pop > div{background:rgba(256, 256, 256, 0.8);border-radius:4px;padding:5px;color:#333;box-shadow:0 2px 3px 0 rgba(0, 0, 0, 0.3);}

#partners ul li img.hover{display:none;position:absolute;left:0;top:0;z-index:1;}
/*#partners ul li:hover img.normal{display:none;}*/
#partners ul li:hover img.hover{display:block;}

/* Testimonials Style starts here */

#testimonials {padding:90px 0;}
#testimonials .testimonials-container {text-align:center;max-width:1060px;margin:0 auto;}

#video {background: url(../images/video-background.jpg) 50% 0 no-repeat fixed;background-size: cover; height: 800px;margin: 0 auto;width: 100%;position: relative;}

#mcts1 
{
    width:960px;
    height:380px;
    margin: 0 auto;
    background:url(../images/loading.gif) no-repeat 50% 50%;
    
    /* Do not alter the below settings */
    white-space:nowrap;
    position:relative;
    font-size:0px;
}
#mcts1>* {display:none;}
  
/*-------- div.item is each thumbnail's wrapper created by the javascript ------*/
#mcts1 div.item 
{
    padding:0;
    margin-right:0; /* this specifies the distance between each thumbnail */
    border:none;
    position:relative;
}

/*-------- style of user defined class ---------*/
#mcts1 div.each 
{
    color:#696F5B;
    white-space:normal;
    width:960px;
    height:164px;
    background-color:White;
}

#mcts1 .each .content 
{
    font-size:18px;
    height:200px;
}
#mcts1 .each img {border:none;margin:0 0 30px;}

#mcts1 .each .content h3{font-family:'AdobeGaramondProRegular';font-size:33px;color:#2a2a2a;font-weight:300;}
#mcts1 .each .content p{margin:0 0 10px;font-family:'AdobeGaramondProRegular';font-size:33px;color:#898989;font-weight:300;line-height: 100%;}
#mcts1 .each .content .author{font-size:300;text-transform:uppercase;}
#mcts1 .each .content .author span{color:#237aa7;}


/*---------navigation buttons-------*/
#mcts1 .navPrev, #mcts1 .navNext, #mcts1 .navPlay, #mcts1 .navPause 
{
    width:34px; height:64px; position:absolute;  
    background:url(../images/navButtons.png); 
    background-repeat: no-repeat;
    display:inline-block; z-index:5; cursor:pointer;
    top:220px;
}
#mcts1 .navPrev {background-position:0 2px;left:-50px;}
#mcts1 .navPrev:hover {background-position:0 bottom;}
#mcts1 .navPrevDisabled {background-position:0 -90px;cursor:default;}

#mcts1 .navNext {background-position:right 2px;right:-50px;} 
#mcts1 .navNext:hover {background-position:right bottom;} 
#mcts1 .navNextDisabled {background-position:-45px -90px; cursor:default;} 

#mcts1 .navPause, #mcts1 .navPlay {display:none;}

.navPrev, .navPlay, .navPause, .navNext 
{
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
   user-select: none;
}

        
/*---------built-in navigation bullets--------*/

/* Note: the navBullets won't be available when the "scrollByEachThumb" option was set to false in the Javascript.*/
#mcts1 .navBullets
{
    /*display:none;*/ /*set it display:none when you don't need it*/
	display:block;
	cursor:pointer;
	/*Specify its position that is relative to the div#mcts1 */
	position:absolute;
	bottom:-46px;
	left:450px;
	width:80px;height:20px;
	z-index:5;
}
/* Below defines the style of each bullet*/
#mcts1 .navBullets a 
{
    display:inline-block;
    width:13px; height:13px;
    background:transparent url(../images/bullet.png) no-repeat 0 0;
    float:left;overflow:hidden;vertical-align:middle;cursor:pointer;
    margin-right:6px;/*margin-right determines the distance between each bullets*/
}
#mcts1 .navBullets a:hover {background-position:0 -13px;}
#mcts1 .navBullets .active {background-position:0 -26px;}
#mcts1 .navBullets a.active:hover {background-position:0 -26px;}


/* --------- Others ------- */
#mcts1
{
	transform: translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}


/* Testimonials Style ends here */

#video article{text-align:center;padding:200px 0;} 

.results {margin:0 auto 50px;max-width:966px;text-align:left;}
.results > div{padding:10px;}
.results .odd{background:#e5e5e7;}
.results div > div{float:left;font-weight: 400;font-size: 15px;text-align:center;}
.results .head > div{font-weight:700;text-align:center;padding:0;}
.results .head .rating{position:relative;}
.results .head .price{position:relative;text-align:left;}
.results .head .price .select{font-size:13px;width: 48px;color:#999;}
.results .head .price select.styled{position:absolute;width:45%;font-size:13px;padding:0;}
.results .head .mode{margin-left:2%;}

.results .logo{width:16%;}
.results .logo a{display:block;vertical-align:middle;height:40px;padding-top:4px;}
.results .logo img{max-width:100%;max-height:44px;}
.results .rating{width:14%;padding:14px 0 0;}
.results .rating a{font-weight:300;font-size:12px;display:inline-block;}
.results .rating a:after{clear: both;content: ".";display: block;font-size: 0;height: 0;line-height: 0;overflow: hidden;}
.results .rating img{float:left;margin:3px 5px 0 0;}
.results .rating > a > span{float:left;}
.results .cut-off{width:16%;padding:14px 0 0;}
.results .delivery{width:12%;padding:14px 0 0;white-space: nowrap;}
.results .days{width:12%;padding:14px 0 0;}
.results .price{width:13%;padding:14px 0 0;}
.results .service-offer-text{width:54%;padding:4px 0 0;}
.results .btn{float:right;width:17%;padding:4px 0 0;}
.results .btn a{min-width:10px;display:inline-block;padding:12px 0;text-align:center;background:#59ad33;color:#fff;border-radius:4px;width:94%;font-size:15px;text-transform:uppercase;}
.results .btn a.button-yellow{background:#f7b932;}

.quotation-service-listing .results .rating{width:20%;}
.quotation-service-listing .results .cut-off{width:16%;}
.quotation-service-listing .results .delivery{width:14%;}
.quotation-service-listing .results .days{width:14%;}
.quotation-service-listing .results .price{width:20%;}
.quotation-service-listing .results .head .price {padding-left: 4%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;}

.results.quick-quotes-results .logo{width:19%;}
.results.quick-quotes-results .rating{width:18%;}
.results.quick-quotes-results .cut-off{width:20%;}
.results.quick-quotes-results .delivery{width:14%;}
.results.quick-quotes-results .days{width:14%;}
.results.quick-quotes-results .price{width:15%;}

.body-color{padding:0 0 50px;}
.body-color .para{margin:0 0 15px;color:#fff;}
.body-color h1, .body-color .heading{text-transform: uppercase;line-height: 1.2;font-size:60px !important;margin:0 0 45px !important;font-family: 'Montserrat', sans-serif !important;font-weight:700 !important;color:#fff !important;}
.body-color h2{font-size:28px !important;margin:0 0 25px !important;font-family: 'Montserrat', sans-serif !important;font-weight:700 !important;color:#fff !important;}
.body-color a{color:#fff !important;font-weight:300 !important;text-decoration:underline !important;}
.body-color a:hover{text-decoration:none;}
.body-color .ulclass{list-style: disc;margin: 0 0 5px 14px;color:#fff;}
.body-color p, .body-color span, .body-color li, .body-color div, .body-color font {color:#fff !important;font-size:22px !important;line-height:1.6 !important;font-family:'open sans', helvetica, arial, verdana, tahoma !important;}

.body-color-white{padding:0 0 50px;}
.body-color-white .para{margin:0 0 15px;color:#424242;}
.body-color-white h1, .body-color-white .heading{text-transform: uppercase;line-height: 1.2;font-size:60px !important;margin:0 0 45px !important;font-family: 'Montserrat', sans-serif !important;font-weight:700 !important;color:#424242 !important;}
.body-color-white h2{font-size:28px !important;margin:0 0 25px !important;font-family: 'Montserrat', sans-serif !important;font-weight:700 !important;color:#424242 !important;}
.body-color-white a{color:#424242 !important;font-weight:300 !important;text-decoration:underline !important;}
.body-color-white a:hover{text-decoration:none;}
.body-color-white .ulclass{list-style: disc;margin: 0 0 5px 14px;color:#424242;}

.body-color-white p, .body-color.white span, .body-color.white li,.body-color.white a, .body-color.white div, .body-color.white font , .body-color.white h1, .body-color.white h2 {color:#424242 !important;}
#hsbody{max-width: 962px;margin:0 auto;padding:50px 0 20px;text-align:left;min-height:400px;}
#hsbody ul, #hsbody ol {margin:0 0 0 25px;}
#hsbody div {max-width:100%;}

#level3SerachResult table{margin:0 0 30px;width:100%;}
#level3SerachResult a{color:#237aa7;font-size:16px;font-weight:600;}
#level3SerachResult .pagelink{color:#006621;font-size:13px;}
#level3SerachResult .des{color:#000;font-size:13px;word-wrap:break-word;text-align:justify;text-justify:inter-word}


.pagination-a {
    color: #000;
    list-style: none outside none; 
    overflow: hidden;
    padding: 0; 
    width: 100%; 
}
.pagination-a li {position: fixed; top: 50%;margin: -24px 0 0;z-index: 2; left: 0;}
.pagination-a li > a {
    background: url(../images/sprite-a.png) no-repeat scroll -29px -1897px #1e4376;
    display: block;
    height: 48px;
    overflow: hidden;
    position: relative;
    text-indent: -3000em;
    width: 48px;
    z-index: 2;
}
.pagination-a li:first-child > a {
    background-position: 20px -1897px;
    float: left;
} 
.pagination-a li.right-msg {position: fixed; top: 50%;margin: -24px 0 0;z-index: 2; right: 0;left:auto;}
.pagination-a li.right-msg a{float:right;}
.pagination-a li .text {background-color:#eee;width: auto;float:left;}
.pagination-a li .text a{display:block;color:#000;background-color:#eee;height: 28px;line-height: 28px;padding:10px;}

.social-section-head {min-height:250px;width:80%;margin-left:20%;padding:40px 0 0;}
.social-section-head h1{font-size:80px;line-height:1;margin:0 0 30px;text-transform: uppercase;}
.social-section-head h4{font-size:30px;line-height:40px;font-weight:300;margin-bottom: 15px;}
.social-section-head .text{width:35%;float:left;text-align:left;}
.social-section-head .image{width:60%;float:right;overflow:Hidden;}
.social-section-head .image img{float:right;display:block;}
.link-container{color:#7f7f7f;}
.link-container a{display:inline-block;margin:0 2px;font-size:16px;font-weight:300;}


.search .btn-grey {
    float: right !important;
    padding: 22px 0 0;
    text-align: right;
    width: 15%;
}
.search .btn-grey a {background-color: #7f7f7f;height: 29px;padding: 5px 0 0;text-align: center;color:#fff;display:block;width: 100%;margin:0;}

.sub .search .btn-grey {
    float: left !important;
    padding: 20px 0 0;
    width: 15%;
}
.sub .search .btn-grey a {color: #fff;height: 22px;line-height: 19px;margin: 0;padding: 5px 0 0;width: 100%;}

#search-result .search .btn-grey {
    padding: 28px 0 0;
    width: 14%;
}
#search-result .search .btn-grey a {
    background: #7f7f7f;
    border-radius: 0 4px 4px 0;
    color: #fff;
    font-size: 16px;
    height: 30px;
    margin: 0;
    padding: 10px 0 0;
    text-transform: uppercase;
    width: 100%;
}

#hsbody-2{background:#eff0f2;}
#hsbody-2 .hsbody-2-right, #hsbody-2 .hsbody-right{padding:30px 0;text-align:left;margin:0 auto;max-width:990px;}

.booking-page{text-align:left;margin:0 auto 30px;max-width:966px;}

#booking_details_container{font-size:22px;}
.shipper-details-container, .consignee-details-container{float:left;text-align:left;}
#booking_details_container .shipper-details-container{width:72%;}
#booking_details_container .consignee-details-container{width:28%;float:right;}
#booking_details_container .shipper-details-container h5{margin-left:56.5%;}
#booking_details_container .shipper-details-container .fl-55{padding:2px 0 0;}
#booking_details_container .even{background:#e5e5e7;padding:8px 40px 8px 10px;min-height:36px;}
#booking_details_container .consignee-details-container .even{padding:8px 10px 8px 0;}
#booking_details_container .odd{padding:8px 40px 8px 10px;min-height: 40px;}
#booking_details_container .consignee-details-container .odd{padding:8px 10px 8px 0;}
#booking_details_container #billing_info_div .even, #booking_details_container #billing_info_div .odd{padding:8px 10px;}
#booking_details_container input[type="text"]{height:34px;border-radius:4px;border:1px solid #fff;padding:6px;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;}
#booking_details_container .disable-field{opacity:0;filter:alpha(opacity=0);}
#booking_details_container select{border-radius:4px;border:none;padding:6px;line-height:29px;float:left;width:28%;height: 34px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;}
#booking_details_container .insurance-currency-container select{width:100%;}
#booking_details_container #szShipperPhone{width:65%;float:right;}
#booking_details_container .country-select select{width:232px;}

#booking_details_container #billing_info_div #szBillingPhone, #booking_details_container #szConsigneePhone{width:65%;float:right;}

#booking_details_container #consignee_info_div .dont-know span{line-height: 1.3;margin-top: 4px;}
#booking_details_container #consignee_info_div .dont-know input{width:13px !important;}

#shipper_info_div .checkbox-container{margin-right:8px;}

.fl{float:left;}
.fr{float:right;}
.fl-33{float:left;width:33%;}
.fl-40{float:left;width:39.5%;}
.fl-45{float:left;width:44.5%;}
.fl-55{float:left;width:55%;}
.fl-60{float:left;width:59.5%;}

.checkbox-container{position:relative;padding:0 0 0 17px;font-weight:300;font-size:13px;}
.checkbox-container input{position:absolute;left:0;top:1px; width:auto !Important;}

.checkbox-container-custom{position:relative;padding:0 0 0 30px;font-weight:300;font-size:13px;}
.checkbox-container-custom .checkbox{position:absolute;left:0;top:0;z-index:2;width:20px;}
.checkbox-container-custom input{position:absolute;left:0;top:2px;opacity:0;z-index:1;width:auto !Important;}

#booking_details_container .checkbox-container input{top:2px;height: 13px;width: 13px;}
#booking_details_container #shipper_info_div .checkbox-container input {top: 8px;}

.consignee-details-container h5 .checkbox-container{margin:9px 15px 0 0;}
#booking_details_container .payment-options-checkbox .checkbox-container {font-size:18px;}
#booking_details_container .payment-options-checkbox .checkbox-container input {top: 7px !important;}
#booking_details_container .insurance-checkbox .checkbox-container {font-size:22px;padding-left:23px;}
#booking_details_container .insurance-checkbox .checkbox-container input {top: 9px !important;}

#billing-address-container h5{margin: 15px 0 5px 72%;}
#billing_info_div .fl-45{width:27.5%;float:right;}

#error_message_container_div{font-size:20px;text-align:center;padding:10px 30px 0 0;}

.breadcrumb{margin:0 auto;max-width:990px;text-align:left;}
.breadcrumb ul{display:inline-block;border:solid 1px #b4c5cf;border-radius:5px;
	background: #fff;
    background-image: linear-gradient(center bottom , #eaf1f5 10%, #fff 80%);
    background-image: -o-linear-gradient(center bottom , #eaf1f5 10%, #fff 80%);
    background-image: -moz-linear-gradient(center bottom , #eaf1f5 10%, #fff 80%);
    background-image: -webkit-linear-gradient(center bottom , #eaf1f5 10%, #fff 80%);
    background-image: -ms-linear-gradient(center bottom , #eaf1f5 10%, #fff 80%);

    background-image: -webkit-gradient(
        linear,
        center bottom,
        center top,
        color-stop(0.1, #eaf1f5),
        color-stop(0.55, #fff)
    );
}
.breadcrumb ul li{float:left;background:url(../images/breadcrumb-sep.png) no-repeat right center;padding:9px 14px;font-size: 13px;color:#999;}
.breadcrumb ul li.last{background:transparent;}
.breadcrumb ul li.active{color:#000;}

#booking_details_container .cargo-description{padding:8px 10px;text-align:left;}
#booking_details_container .cargo-description .text{float:left;width:37%;}
.cargo-description .field{float:right;width:59.5%;}

#bank_transfer_message_span{float:right;color:#000;line-height: 12px;padding: 14px 0 0;}

.booking_details_buttons{padding: 8px 0 8px 10px;text-align:center;}
.booking_details_buttons .back-button{float:left;width:9.5%;padding: 12px 0 0;font-size:14px;}
.booking_details_buttons .back-button a{color:#777;font-weight:300;}
.booking_details_buttons .back-button a:hover{color:#000;}
.booking_details_buttons .continue-button{font-size:15px;}
.booking_details_buttons .pay-later-button{float:right;padding:12px 0 0;}
.booking_details_buttons .pay-later-button a{color:#777;font-weight:300;}
.booking_details_buttons .pay-later-button a:hover{color:#000;}

.contact-deails.booking-feedback-container{min-height:0;font-size:22px;padding:13px 0;line-height:125%;}
.contact-deails.booking-feedback-container .booking-quote-support-phone{white-space:pre;}

#booking_details_container .text{display: table-cell;height: 33px;vertical-align: middle;width: 100%;}
#booking_details_container .text{width:100%;padding:2px 0 0;}

#price_gurantee_details_text p {
    margin: 0 0 12px !important;
}
.telephone{position:relative;}
.telephone .select {
    background: url("../images/search-field-arrow.png") no-repeat scroll 90% center rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    height: 30px;
    left: 0;
    padding: 2px 0 0 6px;
    width: 30%;
}

.terms-text{background:#fff;border-radius:5px;padding:5px 7px;min-height:100px;overflow:auto;margin:0;font-size:14px;}
.error_message_container{color:red;}

#booking_details_container .print-icon{float:right;background:url(../images/print-icon.png) no-repeat 0 0; width:26px;height:26px;overflow:hidden;text-indent:-1000em;margin: 4px 0 0;}

#booking_details_container.booking-reciept-main-container{margin:0 0 30px;position:relative;}

#booking_details_container.booking-reciept-main-container .even{background:url(../images/booking-thankyou-process-normal.png) no-repeat 30px -44px #e5e5e7; padding:15px 15px 15px 75px; color: #777;}
#booking_details_container.booking-reciept-main-container .even.first{background:url(../images/booking-thankyou-process-top.png) no-repeat 30px 20px #e5e5e7;}
#booking_details_container.booking-reciept-main-container .even.last{background:url(../images/booking-thankyou-process-bottom.png) no-repeat 30px -462px #e5e5e7;}

#booking_details_container.booking-reciept-main-container .odd{background:url(../images/booking-thankyou-process-active.png) no-repeat 26px -14px;padding:15px 15px 15px 75px;color: #000;}
#booking_details_container.booking-reciept-main-container .odd.first{background:url(../images/booking-thankyou-process-active-top.png) no-repeat 26px 15px;}
#booking_details_container.booking-reciept-main-container .odd.last{background:url(../images/booking-thankyou-process-active-bottom.png) no-repeat 26px bottom;}
#booking_details_container.booking-reciept-main-container .icons{padding-right:150px;}

#booking_details_container.booking-reciept-main-container .pdf-image-container{position:absolute;right:10px;top:20px;}
#booking_details_container.booking-reciept-main-container .pdf-image-container a{float:right;margin:0 0 0 10px;opacity:0.4;filter:alpha(opacity=40);}
#booking_details_container.booking-reciept-main-container .pdf-image-container a:hover{opacity:1;filter:alpha(opacity=100);}

#booking_details_container.booking-reciept-main-container .bank-details-box{padding:15px 20px;width:60%;margin:15px auto 10px;border:solid 2px #333;}
#booking_details_container.booking-reciept-main-container .bank-details-box p > span{float:right;width:54%;}
#booking_details_container.booking-reciept-main-container .bank-details-box p > span.left{float:left;width:44%;}

.thank-you-page-heading{padding: 0 0 10px 30px;}

.quote-price-guarantee-box ol{list-style-position: inside;}
.quote-price-guarantee-box ol li{margin:0 0 10px;}

.booking-feedback-container{background:#237aa7;text-align:center;color:#fff;padding:10px 20px;min-height:238px;}
.booking-feedback-container h2{font-size:40px;margin-bottom:20px;}
.booking-feedback-container h5{font-size:20px;margin-bottom:10px;}
.booking-feedback-container p{margin:0 auto 20px;max-width:600px;font-size: 20px;}
.booking-feedback-container textarea{width:80%;border-radius:5px;height:40px;border:None;}

.radio-btns {display:inline-block;}
.radio-btns > span{float:left;width:20px;padding-right: 5px;text-align:center;}
.radio-btns > span.left-text{width:113px;text-align:right;padding: 0 5px 0 0;line-height: 1.25;}
.radio-btns > span.right-text{width:113px;text-align:left;padding: 0 0 0 5px;line-height: 1.25;}

#terms_condtion_container{padding:30px;line-height:1.8;max-width:21cm;margin:0 auto;text-align:left;}
#terms_condtion_container h1 {margin:0 0 10px;}

.sub .search-icon{display:none;background:url(../images/search-icon.png) no-repeat 0 0;width:32px;height:32px;float:right;margin: 15px 10px 0 0;}

.popup.search-popup{margin:61px 0 0;border-radius:0;width:100%;padding:0;border-bottom: 1px solid #ddd;}
.popup.search-popup .search{border:none;padding:10px;color:#707070;}
.popup.search-popup select, .popup.search-popup input[type="text"]{color:#707070;}
.popup.search-popup .close-icon{right: 0;top: -2px;}

.sub .search.popsearch{background: #fff;border-radius: 0;display: block;margin: 0;max-width: 100%;padding: 4px 2% 10px;position: absolute;top: 61px;width: 96%;border-bottom:solid 1px #ddd;}

#smallResolution{display:none;}
#fullResolution{display:inline-block;}

#two-column{margin: 0 auto;max-width: 990px;padding: 30px 0;text-align: left;background:url(../images/border-line.gif) repeat-y 205px top; }
#two-column .hsbody-2-left{float:left;width:185px;position:relative;z-index:1;}
#two-column .hsbody-2-right{float:right;margin:0 0 0 -185px;width:100%;}
#two-column .hsbody-2-right .main-body-container{margin:0 0 0 225px;text-align:justify;}
#two-column .hsbody-2-left ol{padding:0 0 0 30px;}
#two-column .hsbody-2-left ol li{padding:0 0 5px;}
#two-column .hsbody-2-left ol a{font-weight:400;color:#000;}

.sitemaps_left{float:left;width:360px;position:relative;z-index:1;}
.sitemaps_right{float:right;width:100%;margin-left:-360px;}
.sitemaps_right > div{margin-left:380px;}
.sitemaps_right .common{float:left;width:183px;margin:0 0 10px 10px;}
.sitemaps_right .common.first{margin-left:0;}
.sitemaps_right a, .sitemaps_left a{font-weight:400;color:#777;}
.sitemaps_right p, .sitemaps_left p{margin:0 0 4px;}

.profile-fields {clear: both;display: block;margin:0 0 5px;position: relative;}
.profile-fields .field-name {float: left;width: 25%;position:relative;z-index:1;}
.profile-fields .field-container {float: left;width: 100%;margin:0 0 0 -25%;}
.profile-fields .field-container > span {margin:0 0 0 26%;border: 1px solid #bfbfbf;display:block;width:30%;background:#fff;}
.profile-fields .field-container > span input, .profile-fields .field-container > span select {margin:0 0 0 26%;border:none;padding:0;width:98%;margin:3px 0 3px 1%;}

.field-alert {background: url(../images/field-alert-arrow.png) no-repeat left 10px;left: 59.5%;padding: 0 0 0 15px;position: absolute;top: -5px;max-width: 350px;z-index: 9;}
.field-alert1{position:absolute;left:59.5%;bottom:3px;z-index:9;background:url(../images/field-alert-arrow-btm.png) no-repeat left bottom;padding:0 0 0 15px;max-width:350px;}
.field-alert > div, .field-alert1 > div {background: #b6dde8;padding: 10px;}

.evp-video-splash{z-index:1 !important;}
.evp-bar-facebook, .evp-bar-google{z-index:2 !important;}
.mrgtop5{margin-top:5px;}
.mrgtop8{margin-top:8px;}
#booking_details_container .even p, #booking_details_container .odd p{margin:0;}
.search-description-box a{color:#fff;font-weight:200}
#shipper_info_div .fl-45{float:right;width:40.5%;}

#booking_details_container.quotation-contact-details-container .shipper-details-container h5 {margin-left: 60%;}
.quotation-contact-details-container .consignee-details-container > h5{padding-left:90px;}
#booking_details_container.quotation-contact-details-container .shipper-details-container{width: 64%;}
#booking_details_container.quotation-contact-details-container .consignee-details-container{width: 36%;}

#booking_details_container.quotation-contact-details-container .shipper-details-container .fl-55{width:42%;}
#booking_details_container.quotation-contact-details-container .shipper-details-container .fl-45{float:right;width:39.5%;padding-left: 90px;position: relative;}
.quotation-contact-details-container #shipper_info_div .checkbox-container{left: 0;margin-right:0;position: absolute;top: 9px;}

#booking_details_container.quotation-contact-details-container .consignee-details-container .odd, #booking_details_container.quotation-contact-details-container .consignee-details-container .even{position:relative;padding-left:90px;}
#booking_details_container.quotation-contact-details-container .dont-know{left: 0;position: absolute;top: 14px;}
#booking_details_container.quotation-contact-details-container .odd, #booking_details_container.quotation-contact-details-container .even {padding: 8px 10px;}
#booking_details_container.quotation-contact-details-container #shipper_info_div .checkbox-container input {top: 4px;}

#booking_details_container.quotation-contact-details-container .cargo-description .text {width: 38.5%;}
.quotation-contact-details-container .cargo-description .field {width: 61.5%;}
.quotation-contact-details-container #billing_info_div .fl-45 {width: 26%;}
.quotation-contact-details-container #billing-address-container h5 {margin: 15px 0 5px 73.5%;}

#search-freight .courierLabel .select{width:24%;background-position: 92% center;top:0;padding: 4px 0 0 4px;}
#search-freight .courierLabel  select.styled{max-width:24%;color:#333;}


.courierLabel {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(170, 170, 170, 0.5);
    border-radius: 5px;
    color: #fff;
    margin: 0 auto;
    max-width: 400px;
    padding: 15px;
    position: relative;
    text-align: left;
}

.courierLabel div{padding:4px 10px;min-height:20px;}
.courierLabel div:after{display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden;}
.courierLabel div > span{width:35%;padding: 5px 0 0;float:left;font-weight:bold;}
.courierLabel div > span:nth-last-child(1){width:65%;padding:0;}
.courierLabel div .error-msg{position:relative;background:url(../images/alert-icon.png) no-repeat 0 2px;line-height:1;padding:5px 40px 0 !important;display:block;font-size:14px;text-align:center;font-family:arial;float:None;width:auto !important;}
.courierLabel div .error-msg:after{background:url(../images/alert-icon.png) no-repeat 0 0;position:absolute;right:0;top:2px;height:30px;width:34px;content:"";}

.courierLabel .phone-container-code {
    padding: 1px 0 0;
    width: 24%;
}
.courierLabel .phone-container {
    padding: 1px 0 0;
    width: 55%;
}
.courierLabel select, .courierLabel input {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid white;
    border-radius: 0;
    box-sizing: border-box;
    color: white;
    height: 30px;
    width: 100%;
}
.booking_quotes_buttons a{width:100%;box-sizing: border-box;}
.phone-container-div input{width:71%;margin-left:5%;}

.sup{position:relative;top:-4px;font-size:9px;}
#booking_details_container .quote-insurance{padding:8px 0;min-height: 40px;}

.forwarder-ready .number{float:left;width:32%;margin:0 0 80px;background:rgba(255,255,255,0.2);border-radius:10px;border:solid 2px rgba(255, 255, 255, 0.7);text-align:center;padding:30px 0;font-size:140px;line-height: 1.2;position: relative;}
.forwarder-ready .number:after{content:""; position:absolute;top:108%;left:5%;border-left:solid transparent 140px;border-right:solid transparent 140px;border-top:solid 50px rgba(255,255,255,0.2);}
.forwarder-ready .text{float:right;width:63%;padding-top:15px;}
.forwarder-ready .text h3{font-size:38px;font-weight:400;margin:0 0 15px;text-transform: uppercase;}
.forwarder-ready .text p{font-size:22px;padding:6px 0 6px 42px;margin:0 0 6px;}
.forwarder-ready .text .fastest{background:url(../images/watch-icon.png) no-repeat 0 center;}
.forwarder-ready .text .cheapest{background:url(../images/price-tag-icon.png) no-repeat 0 center;}
.forwarder-ready .text .get-quote-sub-heading{padding-left:0;}

.get-price, .get-price *{box-sizing:border-box;}
.get-price{position:relative;margin:0 0 100px;border-radius:12px 0 0 12px;background:url(../images/get-rates-curve-bg.png) no-repeat right center;}
.get-price > .clearfix{padding-right:50px;background:url(../images/get-rates-curve-border.png) no-repeat right center;}
.get-rates{font-family: 'Montserrat', sans-serif;}
.get-price .price-guarantee-points{border:solid 2px rgba(255, 255, 255, 0.7);border-right:0;border-radius: 12px 0 0 12px;float: left;min-height: 273px;padding: 15px 10px 0 15px;position: relative;width: 37%;}
/*.get-price .price-guarantee-points:after{content:""; position:absolute;top:0;left:100%;border-top:solid transparent 115px;border-bottom:solid transparent 115px;border-left:solid 60px rgba(255,255,255,0.2);}*/
.get-price .price-guarantee-points h3{display:table-cell;height:86px;vertical-align: middle;line-height:1.1;background:url(../images/price-guarantee-ribbon.png) no-repeat 0 5px;padding:0 0 10px 65px;font-size:32px;font-weight:400;}
.get-price .price-guarantee-points p{font-size:21px;margin:0 0 6px 11px;}
.get-price .price-form{border:solid 2px rgba(255, 255, 255, 0.7);border-left:0;border-right:0;background:url(../images/get-rates-curve-border.png) no-repeat 0 center;float:left;padding:30px 15px 15px 75px;width: 63%;min-height:273px;}
.get-price .price-form input, .get-price .price-form select{max-width:100%;font-size:16px;font-weight:600;float:left;border-radius: 2px;border:solid 2px rgba(255, 255, 255, 0.7);background:transparent;height:40px;color:#fff;}
.get-price::-webkit-input-placeholder, .get-price:-moz-placeholder, .get-price::-moz-placeholder, .get-price:-ms-input-placeholder {color: white;font-weight:400;font-size:16px;}

.get-price .price-form span{float:right;font-size:16px;font-family:"open sans",helvetica,arial,verdana,tahoma;font-weight:600;}
.get-price .price-form .form-line1, .get-price .price-form .form-line2, .get-price .price-form .form-line3{margin:0 0 10px;}
.get-price .price-form .form-line1 input{width:48%;margin-right:4%;}
.get-price .price-form input:nth-last-child(1), .get-price .price-form span:nth-last-child(1){margin-right:0;}
.get-price .price-guarantee-points .read-more, .get-price .read-more{text-align:right;font-size:16px;margin:0 5% 0 0;}
.get-price .read-more a{font-style:italic;text-decoration:underline;color:#fff;}
.get-price .price-form .form-line2 input{width:75%;}
.get-price .price-form .form-line2 input:disabled{background:rgba(0, 0, 0, 0.2);cursor:auto;}
.get-price .price-form .form-line2 span input{width:auto;height:auto;top: 0;}
.get-price .price-form .form-line3 input{width:48%;}
.get-price .price-form .form-line3 input.get-quote-phone{width:28%;}
.get-price .price-btn-text {position:relative;padding:6px 255px 0 0;line-height:1;margin:10px 0 0;font-size:13px;min-height:40px;}
.get-price .price-btn-text button , .get-price .price-btn-text button :hover{position:absolute;right:0;top:0;width: 240px;font-size:18px;background: #008000;color:#fff;font-family:'open sans';font-weight:600;}
.get-quote-button, .get-quote-button:hover {width: 266px;font-size:22px !important;background: #008000 !important;color:#fff !important;border:None !important;}

.get-price .price-form .get-quote-checkbox-container{position:relative;padding:9px 0 0 35px;width:20%;min-width:82px;}
.get-price .price-form .get-quote-checkbox-container .checkbox{position:absolute;width:25px;left:0;top:8px;float:none;background:url(../images/custom-checkbox.png) no-repeat 0 0;}
.form-line3 .get-quote-phone-container{float:left;margin:0 4%;width:16%;position:relative;}
.form-line3 .get-quote-phone-container .select{border:solid 2px rgba(255, 255, 255, 0.7);border-radius: 2px;width:100%;float: none;background-position: 95% center;height: 40px;left: 0;padding: 8px 0 0 4px;top: 0;}


.image-names div{float:left;width:50%;font-size:16px;color:#fff;}
.image-names div:nth-last-child(1){text-align:right;}
.image-names div span{font-size:13px;display:block;}

.get-rate-section2{ margin: 0 auto;max-width: 990px;padding: 30px 0;}
.get-rate-section2 .search-compare-select{margin-bottom:80px;}
.get-rate-section2 .search-compare-select li{position:relative;font-size:40px;font-weight:700;text-transform:uppercase;}
.get-rate-section2 .search-compare-select li span{display:block;min-width:216px;height:216px;margin:0 0 15px;}
.get-rate-section2 .search-compare-select .search-get-rate span{background:url(../images/get-price-search-icon.png) no-repeat center center;}
.get-rate-section2 .search-compare-select .compare-get-rate span{background:url(../images/compare-icon.png) no-repeat center center;}
.get-rate-section2 .search-compare-select .select-get-rate span{background:url(../images/select-icon.png) no-repeat center center;}

.get-rate-section2 .time-price-communication{background:#f2f2f2;border-radius:10px;padding:20px 10px;margin:0 0 20px;position:relative;}
.get-rate-section2 .time-price-communication p{font-size:28px;font-weight:700;margin:0 0 25px;}
.get-rate-section2 .time-price-communication:before{content:""; position:absolute;bottom:110%;left:145px;border-left:solid transparent 350px;border-right:solid transparent 350px;border-top:solid 40px #f2f2f2;}
.get-rate-section2 .time-price-communication ul li{font-size:20px;font-weight:700;}
.get-rate-section2 .time-price-communication ul li span{display:block;min-width:75px;height:67px;margin:0 0 5px;}
.get-rate-section2 .time-price-communication ul .time-get-rate span{background:url(../images/time-icon.png) no-repeat center center;}
.get-rate-section2 .time-price-communication ul .price-get-rate span{background:url(../images/price-icon.png) no-repeat center center;}
.get-rate-section2 .time-price-communication ul .communication-get-rate span{background:url(../images/communication-icon.png) no-repeat center center;}

.get-rate-section3{background:#f15925;color:#fff;font-size:18px;font-weight:400;}
.get-rate-section3 *{box-sizing:border-box;}
.get-rate-section3 .container{margin: 0 auto;max-width:1020px;padding-bottom:30px;text-align:left;}
.get-rate-section3 .container .row{margin-bottom:30px;}
.get-rate-section3 .price-guarantee{padding:30px 40px 30px 15px;}
.get-rate-section3 .price-guarantee h3{font-weight:400;background:url(../images/price-guarantee-ribbon-big.png) no-repeat -5px 0;padding:25px 0 35px 90px;}
.get-rate-section3 .price-guarantee ol{margin:0 0 0 36px;}
.get-rate-section3 .price-guarantee li{line-height:140%;margin:0 0 12px;padding-left: 10px;}
.get-rate-section3 .insurance h3{font-weight:400;background:url(../images/insurance-icon.png) no-repeat -5px 0;padding:25px 0 35px 100px;background-size:92px auto;}
.get-rate-section3 .insurance{padding:30px 15px 0 40px;}

.get-price-button-clicked, .get-price .price-btn-text button.get-price-button-clicked{background:#008000 url(../images/loader.gif) no-repeat 90% center;background-size:auto 40%;opacity:0.5;}

#v3-search-freight{background-attachment:fixed;background-position:50% 0;background-size: cover;color:#fff;min-height:800px;position:relative;}
#v3-search-freight article{padding:30px 0;}

#v7-search-freight{background-attachment:fixed;background-position:50% 0;background-size: cover;color:#fff;min-height:800px;position:relative;}
#v7-search-freight article{padding:70px 0 30px;}
#v7-search-freight article h1{margin-bottom:10px;font-size:48px;}

.contact-feilds-container > div{float:left;width:25%;}
.input-box{background: rgba(255, 255, 255, 0.1);border:solid 1px rgba(170, 170, 170, 0.6);border-right:0;box-sizing:border-box;padding: 4px 0;}

.contact-feilds-container .phone > .input-fields{height:30px;float:left;width:30%;background: rgba(255, 255, 255, 0.1);border:solid 1px rgba(170, 170, 170, 0.6);border-right:0;box-sizing: border-box;}
.contact-feilds-container .phone > .input-fields select{padding: 2px 4px;}
.contact-feilds-container .phone > .shipper-phone{float:left;width:70%;position:relative;border:solid 1px rgba(170, 170, 170, 0.6);}

.location-feilds-container{margin:8px 0;}
.location-feilds-container > div{float:left;width:25%;}
.location-feilds-container .shipping-cb{float:left;width:25%;}
.location-feilds-container .address{width:35%;}
.location-feilds-container .postcode{width:15%;}
.location-feilds-container .city .input-box{border:solid 1px rgba(170, 170, 170, 0.6);}
.shipping-cb{padding:2px 0 0 5px;box-sizing: border-box;}
.search-mini-container .search .shipping-cb input{width:auto;}

.vog-feilds-container{text-align:center;}
.vog-feilds-container .request-quote-fields{margin:0 auto;max-width:534px;}
.vog-feilds-container .request-quote-fields+.request-quote-fields{margin-top:8px;}
.searchmini-main-container .request-quote-fields > div{float:left;text-align:left;box-sizing:border-box;}
.version-3 .request-quote-fields > div{float:none;}
.request-quote-fields .cargo-category{width:35%;}
.request-quote-fields .cargo-type{width:35%;}
.request-quote-fields .cargo-quantity{width:15%;}
.request-quote-fields .cargo-button-container{width:15%;padding: 1px 0 0 10px;}
.request-quote-fields.service-page-cargo-container .cargo-button-container{width:25%;padding:8px 0 0 10px;}
.request-quote-fields .cargo-type-search-mini-9{width:100%;border-right:solid 1px rgba(170, 170, 170, 0.6);}
.request-quote-fields .cargo-type-search-mini-9 .input-fields select{width:98%;}


.pallet-feilds-container h4{font-size:20px;}

.EmailClass{text-transform: lowercase;}
#search_header .updownarrow{display:none;}

.cfs_name{font-size:13px;}


@media (max-width:991px) {
	.sitemaps_left{float:none;width:auto;margin:0 0 20px;}
	.sitemaps_right{float:none;width:auto;margin:0;}
	.sitemaps_right > div{margin:0;}
	.sitemaps_right .common{width:33.33%;margin:0;}
}

@media only screen and (max-width:810px) {
	#booking_details_container.quotation-contact-details-container .dont-know, .quotation-contact-details-container #shipper_info_div .checkbox-container{display: block;left: auto;position: relative;top: auto;width: 100%;box-sizing: border-box;}
	#booking_details_container.quotation-contact-details-container .shipper-details-container .fl-45, #booking_details_container.quotation-contact-details-container .consignee-details-container .odd, #booking_details_container.quotation-contact-details-container .consignee-details-container .even{padding-left:0;}
	
	#booking_details_container.quotation-contact-details-container .shipper-details-container .fl-45{width:44.5%;}
	#booking_details_container.quotation-contact-details-container .shipper-details-container{width:70%;}
	#booking_details_container.quotation-contact-details-container .consignee-details-container{width:30%;}
	.quotation-contact-details-container .consignee-details-container > h5 {padding-left: 0;}
	#booking_details_container.quotation-contact-details-container .shipper-details-container h5 {margin-left: 55.5%;}
}
@media only screen and (max-width : 1180px) and (min-width : 0) {
	#hsbody-2.quote-page{background-color:#777;}
}
@media only screen and (max-width : 1040px) and (min-width : 0) {
	#hsbody-2 .hsbody-2-right, #hsbody-2 .hsbody-right{margin:0 10px;}
	
	.social-section-head{width:90%;margin-left:10%;}
	.social-section-head h1{font-size:70px;}
	
	#two-column{max-width:90%;margin-left:5%;}
	
	#search-result{padding: 70px 0 10px;}
	.transporteca-box{padding:0 10px;}
}
@media only screen and (min-width : 992px) {
	.get-rate-section3 .price-guarantee h3, .get-rate-section3 .insurance h3{font-size:32px;min-height: 100px;}
	
	#v3-search-freight{padding-top:0;}
	#v3-search-freight article{position:absolute;left:0;top:50%;margin-top:-261px;width:100%;}
}
@media only screen and (max-width : 965px) and (min-width : 0) {
	#booking_details_container .shipper-details-container h5 {margin-left: 59.5%;}
	.cargo-description .field {width: 57.5%;}
	
	.forwarder-ready .text h3 {font-size: 30px;}
	.forwarder-ready .text p {font-size: 17px;}
	.forwarder-ready .number{font-size:100px;}
	.forwarder-ready .number:after{border-left: 106px solid transparent;border-right: 106px solid transparent;border-top: 30px solid rgba(255, 255, 255, 0.2);}
	.get-price .price-guarantee-points h3 {font-size: 26px;}
	.get-price .price-guarantee-points p {font-size: 18px;}
	.get-price .price-form span {font-size: 14px;}
	.forwarder-ready .number{margin:0 0 50px;}
	.get-rate-section2 .time-price-communication::before {border-left: 280px solid transparent;border-right: 280px solid transparent;border-top: 40px solid #f2f2f2;left: 50%;margin-left: -280px;}
	
	
	.get-price .price-btn-text {padding:0;}
	.get-price .price-btn-text .button-green1{position:static;width:100%;margin-top:5px;border-radius:1px;}
		
	.get-price .price-btn-text .fb-submit-button{background:#314c86;position:relative;}
	.get-price .price-btn-text .gplus-submit-button{background:#bb4337;position:relative;}
	.get-price .price-btn-text .button-green1 .social-icon{position:absolute;left:4px;top:4px;width:32px;height:32px;font-size:20px;padding-top:4px;}
}
@media only screen and (max-width : 962px) and (min-width : 0) {
	#hsbody{width:84%;}
	.version-3 .transporteca-box{padding:0;}
}
@media only screen and (max-width : 950px) and (min-width : 0) {
	.what-is-in ul li {float:none;display: inline-block;margin-bottom: 30px;}
	.how-does-work ul{background:transparent;}
	.how-does-work ul li {float:none;display: inline-block;margin-bottom: 30px;}
	
	
}
@media only screen and (max-width : 800px) and (min-width : 0) {
	#service-listing-container{margin: 0 10px;}
	
	.social-section-head{width:97%;margin-left:3%;}
	.social-section-head h1{font-size:55px;}
	.social-section-head .text{width:45%;}
	.social-section-head .image{width:50%;}
	
	#partners ul li{margin:0 15px 0 0;}
	
	#booking_details_container, #booking_details_container .checkbox-container, #booking_details_container .payment-options-checkbox .checkbox-container, #booking_details_container .insurance-checkbox .checkbox-container {font-size: 14px;}
	#booking_details_container .payment-options-checkbox .checkbox-container input {top: 3px !important;}
	#booking_details_container .text {height: 34px;}
	#booking_details_container .checkbox-container input {top: 1px;}
	.consignee-details-container h5 .checkbox-container {margin: 0 15px 0 0;}
	#booking_details_container .checkbox-container input, #booking_details_container .insurance-checkbox .checkbox-container input {top: 3px !important;}
	
	#booking_details_container.booking-reciept-main-container .pdf-image-container{top:10px;}
	
	#booking_details_container .insurance-currency-container .select{padding:5px 0 0 4px;}
}
@media only screen and (min-width:768px) {
	.get-rate-section2 .time-price-communication ul li{float:left;width:33%;}
	.get-rate-section2 .search-compare-select li{float:left;width:33%;}
	.get-rate-section2 .search-compare-select li:nth-child(2){width:34%;}
	.get-rate-section3 .col-sm-6{float:left;width:50%;}
	.get-rate-section3 .col-sm-6:nth-child(1){border-right:solid 3px #fff;}
	.get-rate-section2 .search-compare-select li:nth-child(2n):after{content:""; position:absolute;top:60px;left:93%;border-top:solid transparent 50px;border-bottom:solid transparent 50px;border-left:solid 30px #237aa7;}
	.get-rate-section2 .search-compare-select li:nth-child(2n):before{content:""; position:absolute;top:60px;right:93%;border-top:solid transparent 50px;border-bottom:solid transparent 50px;border-left:solid 30px #237aa7;}
	
	.vog-feilds-container .request-quote-fields{min-width:534px;}
        .vog-feilds-container .request-quote-fields.cargo-detail-search-mini-9{min-width: 0;max-width: 264px;}
	
}
@media only screen and (max-width : 768px) and (min-width : 0) {
	.pages h2{font-size: 44px;}
	.bx-wrapper h2{font-size: 30px;}
	.bx-wrapper p{font-size: 28px;line-height: 30px;}
	#booking_details_container .even, #booking_details_container .odd{padding:8px 10px;}
	#search-freight, #partners, #video{background-attachment:scroll;}
	.sl-slider li > div cite{font-style:normal;font-size:14px;}
	
	.image-names{display:none;}
	.get-rate-section2{margin:0 2% 20px;padding:30px 15px;}
	.get-price .price-form, .get-price .price-guarantee-points {min-height: 276px;}
	.get-rate-section2 .search-compare-select li {font-size:30px;}
	.get-rate-section2 .search-compare-select li span {background-size:auto 90% !important;height: 210px;width:210px;margin:0 auto 15px;}
	
}
@media only screen and (max-width :1000px) and (min-width : 768px) {
	.get-quote-pg-container.get-price .price-form, .get-quote-pg-container.get-price .price-guarantee-points{min-height: 283px;}
	.get-quote-pg-container.get-price .price-form{padding: 13px 15px 13px 75px;}
}


@media only screen and (max-width : 767px) {
	
	#booking_details_container select{float:none;width:50px;margin:0 0 6px;}
	#booking_details_container #szShipperPhone, #booking_details_container #szConsigneePhone, #booking_details_container #billing_info_div #szBillingPhone{float:none;width:100%;}
	.cargo1 .field-name{float:none;width:100%;padding: 0;text-align: center;}
	.transporteca-box .cargo-volume-measures:after, .transporteca-box .cargo-weight-measures:after{clear: both;content: ".";display: block;font-size: 0;height: 0;line-height: 0;overflow: hidden;}
	.pg-more{font-size:14px;}
	
	.forwarder-ready .number{width: 248px;float:none;margin:0 auto 50px;}
	.forwarder-ready .text{width:96%;margin:0 0 20px 2%;float:none;}
	
	.get-price{background:transparent;margin:0;}
	.get-price > .clearfix{background:transparent;padding:0;}
	.get-price .price-guarantee-points, .get-price .price-form{width:auto;margin:0 0 20px 0;padding:0;float:none;min-height:0;border:None;background:transparent;}
	
	.get-rate-section2 .search-compare-select li:nth-child(2n){margin:70px 0;}
	.get-rate-section2 .search-compare-select li:nth-child(2n):after{content:""; position:absolute;top:-50px;left:50%;margin-left:-50px;border-right:solid transparent 50px;border-left:solid transparent 50px;border-top:solid 30px #237aa7;}
	.get-rate-section2 .search-compare-select li:nth-child(2n):before{content:""; position:absolute;bottom:-50px;left:50%;margin-left:-50px;border-right:solid transparent 50px;border-left:solid transparent 50px;border-top:solid 30px #237aa7;}
	
	.get-rate-section2 .time-price-communication:before{bottom:104%;}
	.get-rate-section2 .time-price-communication ul li:nth-child(2){margin:20px 0;}
	
	.price-guarantee-points, .forwarder-ready{display:none;}
	.mobile-price-guarantee-points h3{text-align:center;font-weight:400;margin-bottom:10px;font-size: 155%;}
	.mobile-price-guarantee-points .checkbox-mobile{padding:0;}
	.mobile-price-guarantee-points .checkbox-mobile .checkbox-image-mobile{padding-left:28px;}
	
	.get-price .price-form .form-line3 input:nth-child(1){float:none;width:100%;margin-bottom:10px;}
	.price-form p.read-more{display:none;}
	
	.form-line3 .get-quote-phone-container{margin-left:0;}
	.get-price .price-form .form-line3 input.get-quote-phone{width:80%;}
	#hsbody-2.quote-page{background:url(../images/Background2.jpg) no-repeat 50% 0;background-size:cover;}
	
	.get-rate-header-mobile .header{display:none;}
	.get-rate-header-mobile #hsbody-2 .hsbody-2-right{padding:0;}
	
	.sitemaps_right .common{float:none;width:auto;margin:0 0 15px;}
}

@media only screen and (max-width : 740px) and (min-width : 0) {
	.social-section-head{width:96%;margin:0 2%;}
	.social-section-head .text{margin:0 0 30px;}
	.social-section-head .text, .social-section-head .image{float:none;width:auto;text-align:center;}
	.social-section-head .image img{float:None;}
	
	.results div > div {font-size: 13px;}
	.results div > .days, .results div > .price{font-size:15px;}
	#smallResolution{display:inline-block;}
	#fullResolution{display:none;}

	.results .head .rating{margin-left:13%;}
	.results .logo{width:13%;}
	.results .rating{width:21%;}
	#ratings-star{float:None;display:inline-block;}
	.results .rating > a > span {float: none;}
	.results .btn a{font-size:13px;}
	
	.results .rating{display:none;}
	.results .logo, .results .price{width:18%;}
	.results .days{width:12%;}
	.results .delivery{width:16%;}
	.results .cut-off{width:20%;}
	.results .btn{width:16%;}
	
	.quotation-service-listing .results .days {width: 24%;}
	.quotation-service-listing .results .delivery {width: 18%;}
	.quotation-service-listing .results .cut-off {width: 20%;}
	.quotation-service-listing .results .price {width: 20%;}
	
	.results.quick-quotes-results .logo{width:22%;}
	.results.quick-quotes-results .cut-off{width:24%;}
	.results.quick-quotes-results .delivery{width:18%;}
	.results.quick-quotes-results .days{width:18%;}
	.results.quick-quotes-results .price{width:18%;}
}
@media only screen and (max-width : 700px) and (min-width : 0) {
	.consignee-details-container h5 span {margin:0;display: block;float: none;}
	#booking_details_container .shipper-details-container h5 {margin-left: 56%;}
	#booking_details_container h5 {min-height: 42px;}
}
@media only screen and (max-width : 650px) and (min-width : 0) {
	.pages h2{font-size: 36px;}
	.bx-wrapper h2{font-size: 24px;margin:0;}
	.bx-wrapper p{font-size: 24px;line-height: 24px;}
	
	.results .rating{width:24%;}
	.results .btn{width:14%;}
	.results .btn a{overflow:hidden;max-width:42px;text-indent:-1000em;background:url(../images/book-now-icon.png) no-repeat center center #59ad33;}
	.results .btn a.button-yellow{background:url(../images/book-now-icon.png) no-repeat center center #f7b932;}
	
	.booking-feedback-container h5, .booking-feedback-container p{font-size:14px;}
	.radio-btns > span{width:15px;}
	.radio-btns > span.left-text{width:75px;}
	.radio-btns > span.right-text{width:75px;}
	
	#insurance-form-container > span:nth-child(1){float:none;display:block;width:100%;}
	#insurance-form-container > .field{clear:left;width:50%;}
	#booking_details_container .insurance-currency-container select{width:100%;}
}
@media only screen and (max-width : 570px) and (min-width : 0) {
	#partners article{top:150px;}
	#partners .partners-number .companies{border:none;}
	#partners .partners-number > div{float:none;display:inline-block;width:100%;}
	.contact-deails.booking-feedback-container{font-size:18px;}
	.booking-quote-main-container .fl-55, .booking-quote-main-container .fl-45{float:none;width:auto;}
	
	.get-rate-section2 .time-price-communication:before{border-left: 150px solid transparent;border-right: 150px solid transparent;border-top: 40px solid #f2f2f2;margin-left: -150px;}
}

@media only screen and (max-width : 500px) and (min-width : 0) {
		.pages h2{font-size: 30px;}
		.bx-wrapper h2{font-size: 23px;}
		.bx-wrapper p{font-size: 23px;line-height: 23px;}
		
		.social-section-head .text h1{font-size:28px;}
		.social-section-head .text h4{font-size:16px;}
		
		.body-color p, .body-color span, .body-color li, .body-color div, .body-color font{font-size:14px !important;}
		.body-color h1, .body-color .heading {font-size: 32px !important;}
		
		#partners {height: 650px;}
		#partners article {top: 50px;}
		#partners .partners-number > div{padding: 10px 0 15px;}
		#partners .partners-number > div span{font-size:40px;line-height: 45px;}
		
		.results .cut-off{display:none;}
		.results .logo, .results .delivery, .results .days, .results .price{width:21%;}
		
		.quotation-service-listing .results .days {width: 33%;}
		.quotation-service-listing .results .delivery {width: 21%;}
		.quotation-service-listing .results .price {width: 25%;padding-left:0;}
		
		.results.quick-quotes-results .logo{width:32%;}
		.results.quick-quotes-results .delivery{width:24%;}
		.results.quick-quotes-results .days{width:22%;}
		.results.quick-quotes-results .price{width:22%;}
		
		#video{height:400px;}
		#testimonials, .how-does-work{padding:20px 0;}
		.cargo-button-container a:nth-child(1), .cargo-button-container a:nth-child(1):hover{margin-left:4px;}
}
@media only screen and (max-width : 460px) and (min-width : 0) {
	#hsbody {width:94%;}
	
	.pages h2{font-size: 26px;}
	.pages h1, #search-freight article h1, h2 {font-size:35px;line-height:41px;}
	
	#booking_details_container.booking-reciept-main-container .bank-details-box{width:auto;}
	
	#two-column{width:90%;margin:0 0 0 5%;background:transparent;}
	#two-column .hsbody-2-left{float:none;width:auto;padding:0 0 20px;border-bottom: 1px solid #ddd;margin:0 0 20px;}
	#two-column .hsbody-2-right, #two-column .hsbody-2-right .main-body-container{float:none;width:auto;margin:0;}
	
	.pages h1, .pages h2{margin:0 0 20px;}
	.what-is-in {padding: 50px 0 0;}
	.what-is-in h1, .pages h2 {margin: 0 0 40px;}
	
	
	.get-price{padding:12px 10px 1px;}
	.forwarder-ready .text h3 {font-size: 21px;}
	.forwarder-ready .text p, .get-price .price-guarantee-points p{font-size:16px;}
	.get-price .price-guarantee-points .read-more, .get-price .read-more {font-size: 13px;margin:0;}
	.get-price .price-form .form-line2 input {width: 66%;}
	.form-line3 .get-quote-phone-container {margin: 0 2% 0 0;width: 20%;}
	.get-price .price-form .form-line3 input.get-quote-phone{width:78%;}
	
	.get-rate-section2 .time-price-communication p {font-size: 20px;}
	.get-rate-section3 .price-guarantee {padding: 30px 0;}
	.get-rate-section3 .insurance {padding: 30px 0 30px 10px;}
	
}
@media only screen and (max-width : 420px) and (min-width : 0) {
		.results div > div {font-size: 12px;line-height: 1.1;}
		.results .head .price .select {background-position: right center;font-size: 12px;height: 16px;}
		.results .delivery{display:none;}
		.results .logo, .results .days, .results .price{width:27%;}
		.results .btn{width:19%;}
		
		.quotation-service-listing .results .days {width: 38%;}
		.quotation-service-listing .results .price {width: 35%;}
		
		.results.quick-quotes-results .logo{width:40%;}
		.results.quick-quotes-results .days{width:30%;}
		.results.quick-quotes-results .price{width:30%;}
		
		#shipper_info_div .checkbox-container, #shipper_info_div .fl-55 .fl{display:block;float:none;}
		#booking_details_container .text {height: 41px;}
		
		#booking_details_container.booking-reciept-main-container .pdf-image-container img{max-width:50px;}
		.booking-feedback-container textarea{width:98%;}
		
		.booking-feedback-container{padding:20px 8px;}
		.booking-feedback-container h2 {font-size: 30px;margin-bottom: 20px;}
		.booking-feedback-container p{font-size:13px;}
		.radio-btns > span {width: 14px;padding-right: 0;}
		.radio-btns > span.left-text {padding: 0 2px 0 0;width: 73px;}
		.radio-btns > span.right-text {float: right;padding-left: 4px;width: 70px;}
		
}
@media only screen and (max-width : 360px) and (min-width : 0) {
		
		.bx-wrapper h2{font-size: 20px;margin:0;}
		.bx-wrapper p{font-size: 20px;line-height: 20px;}
		
		#booking_details_container, #booking_details_container .checkbox-container, #booking_details_container .insurance-checkbox .checkbox-container {font-size: 13px;}
		#booking_details_container .shipper-details-container h5 {margin-left: 59%}
		#booking_details_container h5 {min-height: 39px;}
		#booking_details_container .text {height: 39px;}
		
		.sl-slider li > div cite{font-size:13px;}
		.cargo-description .field {width: 57.5%;}
		#insurance-form-container > .field{width:40%;}
}


#wrapper {
  min-width: 600px;
}

.settings {
  display: table;
  width: 100%;
}
.settings .row {
  display: table-row;
}
.settings .question,
.settings .switch {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}
.settings .question {
  width: 600px;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 0px;
  width: 35px;
  height: 21px;
  background-color: #dddddd;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 20px;
  background-color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #52a723;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 13px;
}

#booking_details_container .disabled input[type="text"] {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    cursor: auto;
    border: 1px solid rgba(0, 0, 0, 0);
}