@font-face { 
font-family: arial-rounded;  src: url('Arial Rounded MT Bold.ttf'),
     url('Arial_Rounded_MT_Bold.eot');
}

body
{
	font-family:Calibri,arial,tahoma,verdana;color:#000;font-size:16px;text-align:center;
	padding:0px;margin:0px;
	background:#fff;	
}

p, h1, h2, h3, h4, h6{margin:0;padding:0;}
h5{margin:0 0 12px;font-size:17px;font-weight:normal;}

a{color:#7f7f7f;font-style:italic;text-decoration:underline;outline:none;outline-style:none;font-size:14px;}
a:hover{color:#000;text-decoration:none;}

select{font-size:14px;color:#000;border:solid 1px #BFBFBF;padding:1px;font-family:Calibri,aribooking-textareaal,tahoma,verdana;}
input, textarea{font-size:14px;color:#000;border:solid 1px #BFBFBF;padding:2px;font-family:Calibri,arial,tahoma,verdana;}
select option{padding:0px;margin:0px;font-size:14px;font-family:Calibri,arial,tahoma,verdana;}
input[type=checkbox],input[type=radio]{width:13px;height:13px;margin:0px;padding:0px;}

ul{margin:0 0 0 16px;padding:0px;}
li{margin:0;padding:0px;}

a img, img{border:none;outline:none;}

br{line-height:10px;}

.oh{padding:0 0 10px;}
.oh .oh{padding:0 0 5px;}
.oh:after{display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden;}
.oh select{width:99%;}
.fl-85{width:85%;float:left;}
.fl-80{width:80%;float:left;}
.fl-75{width:75%;float:left;}
.fl-70{width:70%;float:left;}
.fl-65{width:65%;float:left;}
.fl-60{width:59%;float:left;}
.fl-49{width:49%;float:left;}
.fl-40{width:40%;float:left;}
.fl-33{width:33%;float:left;}
.fl-30{width:30%;float:left;}
.fl-25{width:25%;float:left;}
.fl-20{width:20%;float:left;}
.fl-15{width:15%;float:left;}
.fl-10{width:10%;float:left;}
.fr-5{float:right;width:5%;}
.fl-44{float:left;width:44%;}
.fl-56{float:left;width:56%;}
.fr-35{float:right;width:35%;}
.fl-67 {float: left; width: 67%;}
.fr-20{width:20%;float:right;}

.pos-rel{position:relative;}
.right-bt{position:absolute;right:0;bottom:0;}
.right-tp{position:absolute;right:0;top:0;}
.left-bt{position:absolute;left:0;bottom:0;}
.left-tp{position:absolute;left:0;top:0;}

.checkbox-ab{display:block;padding-left:20px;position:relative;}
.checkbox-ab input{position:absolute;left:0;top:2px;}

.help{background:url(../images/help-icon.png) no-repeat 0 0;height:12px;width:12px;display:inline-block;text-decoration:none;vertical-align: top;}

.help-pop{margin-top:10px;background:#000;width:300px;padding:1px;position:absolute;display:none;z-index:99999999;box-shadow: 2px 2px 2px #9D9D9D;-moz-box-shadow: 2px 2px 2px #9D9D9D;-webkit-box-shadow: 2px 2px 2px #9D9D9D;-o-box-shadow: 2px 2px 2px #9D9D9D;}
.help-pop div{background:#FFF;text-align:left;padding: 11px 14px;line-height: 14px;font-size:12px;border: 2px solid #BFBFBF;}
.help-pop div h5{margin:0 0 6px;}
.help-pop div span, .help-pop div p{font-size:12px;}
.help-pop.right{background-position:200px top;}
.help-pop img{position:absolute;left:30px;top:-10px;}
.help-pop.right img{left: 253px;}

.scroll-div{height:130px;padding:5px;overflow-y:auto;border:solid 1px #BFBFBF;margin-bottom:10px;}

.clear-all{clear:both;}

.f-size-12{font-size:12px;}
.f-size-14{font-size:14px;}
.f-size-16{font-size:16px;}
.f-size-18{font-size:18px;}

.color{color:#7F7F7F;}

.button1{background:url(../images/button-left-bg.png) no-repeat 0 0;padding-left:14px;display:inline-block;cursor:pointer;text-decoration:none;}
.button1 span{background:url(../images/button-right-bg.png) no-repeat right 0;min-width:100px;padding:6px 14px 7px 0; 0;display:inline-block;font-size:14px;text-transform:uppercase;color:#000;margin:0px !important;font-style:normal;text-align:center;}
.button1:hover span{color:#fff;}

.button2{background:url(../images/gray-button-left-bg.png) no-repeat 0 0;padding-left:14px;display:inline-block;cursor:pointer;text-decoration:none;}
.button2 span{background:url(../images/gray-button-right-bg.png) no-repeat right 0;padding:6px 14px 7px 0; 0;min-width:100px;text-align:center;display:inline-block;font-size:14px;text-transform:uppercase;color:#000;margin:0px !important;font-style:normal;}
.button2:hover span{color:#5b5b5b;}

#header{margin:0 auto;width:986px;text-align:left;min-height:90px;}
#header .logo{float:left;margin:15px 0;}
#header .header-links{float:right;width:600px;margin:38px 0 0;position:relative;}
#header .header-links a{float:left;margin-left:25px;margin-top: 9px;width:46px;}
#header .header-links .social-icons{width:125px;float:right;}
#header .header-links .social-icons a{float:right;}
#header .header-links a.facebook-icon{margin-left:0;text-decoration:none;margin-top: 0px;width:27px;}
#header .header-links a.twitter-icon{margin-left:5px;text-decoration:none;margin-top: 0px;width:27px;}
#header .header-links a.linkedin-icon{margin-left:5px;text-decoration:none;margin-top: 0px;width:27px;}
#header .header-links a.rss-icon{margin-left:5px;text-decoration:none;margin-top: 0px;width:27px;}
#header .header-links .user {width:420px;float:left;}
#header .header-links .user a {float:right;width:auto;margin-top:5px;}


#navigation{margin:0 auto;width:986px;border-bottom:solid 1px #bfbfbf;height:35px;text-align:left;padding:0 0 1px;position:relative;}
#navigation a{float:left;margin: 0 50px 7px 0;font-size:13px;width:155px;line-height:15px;color:#000;font-style:normal;text-decoration:none;}
#navigation a:hover, #navigation a.active{border-bottom:solid 7px #bfbfbf;margin-bottom:0;}
#navigation a span{font-size:17px;text-transform:uppercase;}


#footer{background:url(../images/footer-bg.jpg);margin:0 auto;width:936px;overflow:hidden;padding:6px 25px;text-align:left;}
#footer a{color:#fff;}
#footer h3{color:#fff;font-size:16px;font-weight:normal;}
#footer .links1{float:left;margin:0 20px 0 0;width:200px;}
#footer .links2{float:right;width:100px;}
#footer .links3{float:left;margin:0 20px 0 0;width:150px;}
#footer .links1 a, #footer .links2 a,  #footer .links3 a{font-style:normal;text-decoration:none;font-size:13px;}

.copyright{color:#ccc;font-style:italic;padding: 10px 0 0 !important;overflow:hidden;}
#footer .copyright span, #footer .copyright a{color:#ccc;float:left;margin-right:15px; font-size:14px;margin-top: 4px;}


#hsbody{margin:0 auto;width:946px;padding:20px;text-align:left;position:relative;}
#hsbody-2{margin:0 auto;width:946px;padding:0 20px;overflow:hidden;text-align:left;background:url(../images/border-line.gif) repeat-y 205px top;}

#hsbody-3{margin:0 auto;width:946px;padding:0 20px;overflow:hidden;text-align:left;background:url(../images/border-line.gif) repeat-y 750px top;}

.hsbody-2-left{float:left;width:185px;padding:20px 20px 20px 0;}
.hsbody-2-left p{margin:0px 0px 12px;}
.hsbody-2-right{float:left;width:725px;padding: 20px 0 20px 15px;min-height:500px;}
.hsbody-2-right.mybookings{padding-left:0px;width:740px;}

.hsbody-3-left{float:left;width:725px;padding:20px 20px 20px 0;}
.hsbody-3-left p{margin:0px 0px 12px;}
.hsbody-3-right{float:left;width:185px;padding: 20px 0 20px 15px;min-height:500px;}


.mybookings .booking-box .details{width:392px;}
.hsbody-half{text-align:left;margin:0 auto;width:986px;overflow:hidden;background:url(../images/border-line.gif) repeat-y 50% top;border-bottom:solid 1px #BFBFBF;}
.hsbody-half .hsbody-left{padding:20px 0;width:49%;float:left;}
.hsbody-half .hsbody-right{padding:20px 0;width:49%;float:right;}

.transportation-select {width:67%;}
.transportation-select select{min-width:411px;}

.where-when{width:22%;}
.where-when input{width:126px;}

.dimensions-field span{float:left;margin:0 6px 0 0;width:72px;}
.dimensions-field span.last{margin:0;}
.dimensions-field span input{width:66px;}
.dimensions-field span select{width:71px;}
.dimensions-field span.cross_seperator{width:7px;}
.dimensions-field span.dangerous_cargo{margin-right: 20px;text-align: right;width: 137px;}

.dimensions-field-name span{float:left;font-size:12px;}
.dimensions-field-name span.length{padding:0 55px 0 0;}
.dimensions-field-name span.width{padding:0 58px 0 0;}
.dimensions-field-name span.quantity{padding:0 0 0 123px;}

#popup-bg{background:#000;opacity:0.5;filter:alpha(opacity=50);position:fixed;top:0;left:0;z-index:999998;width:100%;height:100%;}
#popup-container{position:fixed;top:10%;left:0;margin-top:0%;width:100%;text-align:center;z-index:999999;}
#popup-bg.white-bg{background:#fff;}
.popup{width:330px;text-align:left;padding:10px 20px;margin:0 auto;background:#fff;border-radius: 8px 8px 8px 8px;position: relative;}
.popup h5{font-weight:bold;text-align:left;}

.signin-popup{width:270px;text-align:left;padding:10px 20px 10px 10px;margin:0 auto;}
.signin-popup input[type=text]{width:175px;}
.signin-popup .oh{padding:0 0 3px;}
.signin-popup-verification{width:270px;text-align:left;padding:10px 20px 10px 10px;margin:100px auto 0;}

.forgot-password-popup{width:340px;text-align:left;padding:10px 20px 10px 10px;margin:0 auto;}
.forgot-password-popup input[type=text]{width:220px;}

.contact-popup{width:355px;text-align:left;padding:10px 20px 10px 10px;margin:0 auto;}
.contact-popup textarea{width:100%;height:70px;}
.contact-popup input[type=text]{width:100%;}

.warehouse-map-popup{width:345px;text-align:left;padding:10px 20px;border:solid 1px #000;margin:0 auto;}
.warehouse-map-popup .map-border{border:solid 1px #000;}

.rating-popup{width:400px;}
.rating-popup .rating-box .oh{padding:0 0 5px;}
.rating-popup .rating-box .oh p{margin-top: 0 !important;}
.rating-popup .rating-box p{line-height:80%;}
.rating-popup .rating-count{font-style:italic;text-decoration:underline;color:#7F7F7F;}
.rating-popup .rating-graph{background:#eeeecc;margin:0 10px 0 0 !important;}
.rating-popup .rating-graph span{display:block;background:#ffcc66;}

.help-select-graph-popup{width:625px;background:url(../images/help-select-graph.gif) no-repeat 38px 80px #FFFFFF;min-height:350px;}
.help-select-graph-popup p{margin:0 0 12px;font-size:17px;}
.help-select-graph-popup .links{overflow:hidden;margin:0 0 58px;}
.help-select-graph-popup .links span{float:left;text-align:center;font-style:italic;color:#7F7F7F;line-height:100%;font-size:14px;}
.help-select-graph-popup .links .first{width:60px;margin: 0 0 0 11px;}
.help-select-graph-popup .links .third{width:65px;margin:0 0 0 56px;}
.help-select-graph-popup .links .seventh{width:69px;margin:0 0 0 243px;}
.help-select-graph-popup .links .ninth{width:70px;margin:0 0 0 50px;}
.help-select-graph-popup .shipment{font-style:italic;color:#7F7F7F;line-height:100%;font-size:14px;margin:0 0 5px;}


.forwarders label{display:block;position:relative;padding-left:20px;}
.forwarders label input{position:absolute;top:4px;left:0;}

.format-1 th, .format-1 td{font-size:12px;padding:4px 0px;text-align:center;border-bottom:solid 1px #9ca0bd;}

.breadcrumb{overflow:hidden; margin: 0 0 7px 35px;}
.breadcrumb p{float:left;display:inline-block;font-size:16px;background:url(../images/breadcrumb-arrow.jpg) no-repeat right center; padding: 9px 35px 10px 0;margin:0 25px 0 0;}
.breadcrumb p a{font-style:normal;text-decoration:none;font-size:16px;color:#000;}
.breadcrumb p.active {padding:0 35px 0 0;margin:0 25px 0 0;}
.breadcrumb p.active span{font-size:26px;color:#ff9d49;display:block;text-align:center;font-weight:bold;line-height:100%;}
.breadcrumb p.active .active-here{font-size:16px;color:#22518a;display:block;text-align:center;font-weight:bold;line-height:70%;}
.breadcrumb p.last{background: none !important;margin-right: 0 !important;;padding-right: 0 !important;}

.signin-box{border: 1px solid #BFBFBF;padding:10px;width:42%;min-height:160px;}
.signin-box input[type=text]{width:99%;}
.bd-or{float:left;width:70px;padding-top:65px;}

.profile-fields{height:26px;margin:3px 0 0 0;display:block;position:relative;clear: both;}
.profile-fields .field-name{float:left;width:25%;}
.hsbody-2-right .profile-fields .field-name{width:30%;}
.profile-fields .field-name span{font-size:11px;color:#7F7F7F;}
.profile-fields .field-container{float:left;width:30%;}
.profile-fields .field-container input[type="text"], .profile-fields .field-container input[type="password"]{width:99%;}
.profile-fields .field-container select{min-width:100px;padding: 1px 2px;}
.profile-fields.checkbox-field{height:55px;}
.profile-fields.checkbox-field .email-checkbox{position:absolute;left:25%;top:24px;padding-left:20px;}
.profile-fields.checkbox-field .email-checkbox input{position:absolute;left:0;top:0px;}

.ui-fields{height:30px;margin:3px 0 0 0;display:block;position:relative;}
.ui-fields .field-name{float:left;width:30%;}
.ui-fields .field-name span{font-size:11px;color:#7F7F7F;}
.ui-fields .field-container{float:left;width:65%;font-style:italic;}
.ui-fields .field-container input[type=text]{width:99%;}
.ui-fields .field-container select{min-width:100px;}

.ui-full-fields{overflow:hidden;margin:3px 0 0 0;display:block;position:relative;min-height:26px;}
.ui-full-fields .field-name{float:left;width:auto;}
.ui-full-fields .field-name span{font-size:11px;color:#7F7F7F;}
.ui-full-fields .field-container{float:right;font-style:italic;}
.ui-full-fields .field-container input[type=text]{width:50%;}
.ui-full-fields .field-container select{min-width:100px;}

.profile-fields .field-alert{position:absolute;left:54.5%;top:-5px;z-index:9;background:url(../images/field-alert-arrow.png) no-repeat left 10px;padding:0 0 0 15px;width:350px;}
.hsbody-2-right .profile-fields .field-alert{width:300px;left:60%;}
.profile-fields .field-alert div, .profile-fields .field-alert1 div{background:#b6dde8;padding:10px;line-height:110%;}

.profile-done-alert{z-index: 9;position:absolute;right:60px;top:60px;background:url(../images/profile-done-alert.png) no-repeat left 10px;width:310px;height:459px;}
.profile-done-alert td{padding: 0 0 0 55px;}
.profile-done-alert .profile-alert-content{background:#B6DDE8;padding:20px;vertical-align: middle;display:table-cell;width: 270px;}
.profile-done-alert div a{font-size:15px;}
.profile-done-alert div p{margin-bottom:15px;}
.profile-fields .checkbox-alert{top:30px;}

.profile-fields .field-alert1{position:absolute;left:54.5%;bottom:3px;z-index:9;background:url(../images/field-alert-arrow-btm.png) no-repeat left bottom;padding:0 0 0 15px;width:350px;}

.bd-details-field input[type=text]{width:246px;}
.bd-details-field select{width:252px;}

.total-payable{border-top:solid 1px #BFBFBF;margin-left:20%;}

.account-links a{color:#000;font-style:normal;font-size:16px;}
.account-links li{list-style:none;margin:0 0 10px;}
.account-links li.active{list-style:disc;}
.account-links li a{text-decoration:none;}
.account-links li.active{list-style:disc;}
.account-links li.triangle{list-style:url("../images/Triangle.gif");}
.account-links li.active-triangle{list-style:url("../images/Triangle-down.gif");}
.booking-steps{list-style:none;height:30px;margin:0;}
.booking-steps li{float:left;font-size:16px;padding:5px 11px 0;}
.booking-steps li.active{font-weight:bold;font-size:24px;color:#E46C0A;padding-top:0;}
.booking-steps li a{font-size:18px;text-decoration:none;font-style:normal;color:#000;}
.booking-steps li.first{padding-left:0px;}
.booking-steps li.last{padding-right:0px;}

.booking-box{overflow:hidden;border:solid 1px #BFBFBF;background:url(../images/border-line.gif) repeat-y scroll 150px top;padding: 10px 5px 1px 10px;margin:0 0 10px;position:relative;}
.booking-box .logo-container{float:left;width:130px;margin-right:20px;}
.booking-box .details{float:left;width:377px;margin:0 5px 0 0;}
#.booking-box .details p{line-height:110%;}
.booking-box .details p.f-size-12{line-height:160%;}
.booking-box .buttons{float:left;width:175px;}
.booking-box .buttons .button1 span, .booking-box .buttons .button2 span{width:145px;text-align:center;}

.booking-box-part1{margin-bottom:10px;border:solid 1px #BFBFBF;border-top:none;overflow:hidden;padding:10px;position: relative;}
.booking-box-part1 .buttons{float:right;width:170px;padding-bottom: 58px;}
.booking-box-part1 .buttons .color{font-size:13px;color:#7F7F7F;margin:0 0 10px;}
.booking-box-part1 .buttons .button1 span, .booking-box-part1 .buttons .button2 span{width:145px;text-align:center;}

.booking-textarea textarea{width:99%;height:100px;}
.booking-textarea span{font-size:12px;font-style:italic;}

.registered-textarea select{width:348px;height:150px;}
.registered-textarea .consignee{margin-left:2%;}

.errorBox {
    background-color: #FFFFDD;
    border: 1px solid #F2C218;
    margin-bottom: 20px;
    padding: 15px 15px 15px 45px;
}
.errorBox .header {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}
.errorBox li {
    margin: 3px 0 3px 15px;
}
.mainpage .fl-67 .fl-25{margin:0 6px 0 0;line-height:110%:}
.mainpage .fl-67 .fl-20{width:130px; line-height:100%:}
.mainpage .fl-67 .postcode{float:left;width:126px; line-height:100%;padding-left:4px;}
.mainpage .fl-67 .postcode input{width:120px;}
.mainpage .fl-67 .fl-20 input[type=text]{width:120px;}
.mainpage .clear-all{padding-right:17px;}
.dimensions-field span.last{margin:0;}
.mainpage h5{margin-bottom:10px;}
.helpmeselect{bottom:13px;position: absolute;right: 0;}
hr{outline:none;height:1px;border:none;border-top:solid 1px #BFBFBF;}
.signin-popup input[type="password"], .signin-popup input[type="text"], .signin-popup input[type="email"]{width:175px;}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
  #navigation a span{font-size:16px;}
  #navigation a{width:160px;}
  #header .header-links{width:585px;} 
  .dimensions-field{width:66%;}
  .fl-65.dimensions-field span.fl-30{margin:0;}
  #start_search_form .orange-button2 span{font-size: 75%;}
  .transporteca-box .orange-button1 span{font-size:100%;line-height:150%;}
  .transporteca-box .orange-button2 span{font-size:100%;line-height:150%;}
  .transporteca-box p{font-size:100%;line-height:105%;}
  #Transportation_pop .orange-button1 span{font-size:100%;line-height:150%;}
  #Transportation_pop .orange-button2 span{font-size:100%;line-height:150%;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
  #navigation a span{font-size:16px;}
  #navigation a{width:160px;}  
  #header .header-links{width:585px;} 
  .dimensions-field{width:66%;}
  .fl-65.dimensions-field span.fl-30{margin:0;}
  #start_search_form .orange-button2 span{font-size: 75%;}
  .transporteca-box .orange-button1 span{font-size:100%;line-height:150%;}
  .transporteca-box .orange-button2 span{font-size:100%;line-height:150%;}  
  .transporteca-box p{font-size:100%;line-height:105%;}
  #Transportation_pop .orange-button1 span{font-size:100%;line-height:150%;}
  #Transportation_pop .orange-button2 span{font-size:100%;line-height:150%;}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation:portrait) {
  /* For portrait layouts only */
  #navigation a span{font-size:16px;}
  #navigation a{width:160px;}
  #header .header-links{width:585px;} 
  .dimensions-field{width:66%;}
  .fl-65.dimensions-field span.fl-30{margin:0;}
  #start_search_form .orange-button2 span{font-size: 75%;}
  .transporteca-box .orange-button1 span{font-size:65%;line-height:150%;}
  .transporteca-box .orange-button2 span{font-size:65%;line-height:150%;}
  .orange-button1 span{font-size:65%;line-height:150%;}
  .transporteca-box p{font-size:60%;line-height:105%;}
  #shipping-box p{font-size:85%;}
  #Transportation_pop .orange-button1 span{font-size:100%;line-height:150%;}
  #Transportation_pop .orange-button2 span{font-size:100%;line-height:150%;}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation:landscape) {
  /* For landscape layouts only */
  #navigation a span{font-size:16px;}
  #navigation a{width:160px;}  
  #header .header-links{width:585px;} 
  .dimensions-field{width:66%;}
  .fl-65.dimensions-field span.fl-30{margin:0;}
  #start_search_form .orange-button2 span{font-size: 75%;}
  .transporteca-box .orange-button1 span{font-size:65%;line-height:150%;}
  .transporteca-box .orange-button2 span{font-size:65%;line-height:150%;}
  .orange-button1 span{font-size:65%;line-height:150%;}
  .orange-button2 span{font-size:65%;line-height:150%;}
  .transporteca-box p{font-size:60%;line-height:105%;}
  #shipping-box p{font-size:85%;}
  #Transportation_pop .orange-button1 span{font-size:100%;line-height:150%;}
  #Transportation_pop .orange-button2 span{font-size:100%;line-height:150%;}
}

#myaccount_info h5{margin:0 0 7px;}
#myaccount_info .ui-fields{height:26px;}
.filter_style p{margin: 0 0 2px;}

/*loader function starts*/
.loader_popup_bg{position:fixed;width:100%;height:100%;z-index:9999;margin:0px;padding:0px;left:0;top:0;}
			
.popup_loader{width:100%;z-index:1;height:100%;position:absolute;left:0;top:0;margin:0px;padding:0px;background:#000;opacity:0.5;filter:alpha(opacity=50);}

.popup_loader .popup_content{width:100%;position:fixed;margin:0px;;padding:0px;text-align:center;z-index:33;left:0;top:44%;}
.popup_loader .popup_content img{margin:10px auto 0;padding:0px;}

.login_popup3 .error_msg{min-height:40px;margin:0px 20px 10px;text-align:center;padding-top:15px;color:red;font-weight:bold;}
#loader img{left:50%;top:50%;position:absolute;margin:0;z-index:2}
/*loader function ends*/
.signin-popup h5{margin-bottom:20px;}

.errorBox1 {
    background-color: #FFFFDD;
    border: 1px solid #F2C218;
    margin: 0 auto;
    padding: 0 0 1px;
    text-align: left;   
}
.errorBox1 .header {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}
.errorBox1 li {
    margin: 3px 0 3px 15px;
}

#select_service_search p{font-size:15px;}
.filter_style h5{margin-bottom:0px;}
.format-1 .button1 span{min-width: 50px !important;}
#select_service_search .forwarders label, #select_service_search hsbody-2-left{font-size:15px;}
.filter_top_text{position:absolute;font-size:11px;font-style:italic;}
.range_value_left{position:absolute;font-size:11px;color:#a0a0a0;font-style:italic;margin:2px 0 0;}
.range_value_right{position:absolute;font-size:11px;margin: 2px 0 0 94px;color:#a0a0a0;font-style:italic;width: 77px;text-align: right;}
.compare-popup{width:350px;margin-top: 50px;}
.no_service_found_div{width:400px;margin-top: 20px;}
.terms-condition-popup{max-height: 540px;overflow-x: hidden;overflow-y: auto;padding:0 20px;}
.terms-condition-popup h5{padding-top:10px;margin-bottom:0px;}
.abandon-popup{margin-top:50px;width:350px;}
.format-1 td img{max-width:80px;}

#ratings-star{background:url(../images/rating-stars.png)no-repeat 0 0;height:10px;line-height:10px;width:50px;margin: 3px auto 2px;}
#ratings-star span{background:url(../images/rating-stars.png)no-repeat 0 -10px;height:10px;line-height:10px;display:block;}

.RatingBox1
{
	display:block;
	width:10px;
	background:url(/images/white-star.png) no-repeat;
	margin:3px 4px 0px 0px;
	height:10px;
	line-height:4px;
	float:left;
	cursor:pointer;
	text-decoration:none;
}
.RatingBoxAct1, .RatingBox1:hover
{
	display:block;
	width:10px;
	margin:3px 4px 0px 0px;
	height:10px;
	line-height:4px;
	float:left;
	background:url(../images/orange-star.png) no-repeat;
	cursor:pointer;
	text-decoration:none;
}
.registered-textarea h5{margin-bottom:3px;}
.registered-textarea{padding-bottom:4px;}
.remove-shippers-popup{margin-top:50px;}
#linked_user_account select{height:150px;}
.delete-account-popup{margin-top:80px;}
.map-popup{margin-top:-50px;width:500px;}
.servicess_slider_header_text{font-size:15px;}


.profile-done-alert-booking{z-index: 9;position:absolute;right:50px;top:190px;background:url(../images/profile-done-alert.png) no-repeat left 10px;width:310px;height:459px;}
.profile-done-alert-booking td{padding: 0 0 0 55px;}
.profile-done-alert-booking .profile-alert-content{background:#B6DDE8;padding:20px;vertical-align: middle;display:table-cell;width: 270px;}
.profile-done-alert-booking div a{font-size:15px;}
.profile-done-alert-booking div p{margin-bottom:15px;}
.compare-popup select{width:80px;}
.optional{color:#7F7F7F;font-size:10px;}
.paid_amount{margin-top:5px;}
.forwarder_logo{text-align:center;}
.booking-box-part1 .checkbox-ab{padding-left:16px;}
.booking-box-part1 .rating_buttons{bottom: 14px;position: absolute;right: 10px;width: 170px;}
.booking_ratings{ bottom: 3px;position: absolute;right: 6px;width: 160px;}
.bottom_align{position:absolute;bottom:10px;right:6px;}
.rating_content p{margin-bottom:6px;}
.rating_content p.rating_comment{margin:0;}


.profile-done-alert-forwarder{z-index: 9;position:absolute;right:50px;top:90px;background:url(../images/profile-done-alert.png) no-repeat left 10px;width:310px;height:180px;}
.profile-done-alert-forwarder td{padding: 0 0 0 55px;}
.profile-done-alert-forwarder .profile-alert-content{background:#B6DDE8;padding:20px;vertical-align: middle;display:table-cell;width: 270px;}
.profile-done-alert-forwarder div a{font-size:15px;}
.profile-done-alert-forwarder div p{margin-bottom:15px;}
#userBookingLogin{padding:10px;border:solid 1px #BFBFBF;margin-bottom:10px;}
#userBookingLogin .oh{padding-bottom:0px;}
#userBookingLogin .oh p {margin-top: 4px;}
.rating-popup h5 {margin-bottom: 5px;font-weight:normal;}
#user_comment p{margin-bottom:5px;font-size:14px;margin-top: 0 !important;}
#booking_detail_form H5{margin-bottom:0px;}
#show_link{position: absolute;right: 180px;top: 25px;width: 200px;}
#booking_confirmation_form .hsbody-2-right .oh{padding: 0 0 5px;}
#booking_confirmation_form .hsbody-2-right hr{margin: 0 0 5px;}
#show_link .logout_account {float: right;padding: 4px 0 0;text-align: right;width: 30px;}
#show_link .user_account {float: right;text-align: right;width: 120px;}
#show_link a {float: none !important;margin: 0 !important;}

/*
* styling for forwarder module 
*/

#forwarder_company h5{margin:0 0 7px;}
#forwarder_company .ui-fields{height:26px;}
#bookingLoginForm input[type="text"], #bookingLoginForm input[type="password"], #bookingLoginForm input[type="email"]{width:227px;}
#shipper_info_div .fl-40, #pickup_address_div .fl-40{width:44%;}
#shipper_info_div .fl-60, #pickup_address_div .fl-60{width:56%;}
#shipper_consignee_label .oh{line-height:24px;}
#shipper_consignee_label .oh .optional{line-height:19px;}
input[type="text"], input[type="password"], textarea, select { 
    margin:0;
}
.breadcrumb.booking-tabs{margin:0;}
#booking_detail_form .oh{padding: 0 0 5px;}
.breadcrumb.booking-tabs p.active{padding:0 26px 2px 0;}
.breadcrumb.booking-tabs p{background: url("../images/booking-tabs-sep.png") no-repeat right center;padding:  9px 27px 10px 0;}
.terms_condition_top{margin-top:-35px;margin-right:15px;}

.popupscroll{overflow:hidden;height:100%;}
.popup-scroller{right:0;left:0;top:0 !important;bottom:0;overflow:auto;position:fixed;}
.popup-scroller div.popup{top:0;margin-top:20px !important;}
#obo_cc_no_record_found{border: 1px solid #458B00;background-color:#ECF1EF;color:#000000;}
.customer_tandc{margin: 0; padding: 0 0 0 20px;}
.customer_tandc a{text-decoration:none;color:#000;font-style:normal;font-size: 16px;}
#forwardersignup .profile-done-alert-forwarder {
    background: url(../images/profile-done-alert-sml.png) no-repeat scroll left 10px transparent;
    height: 206px;
}
#createAccount .profile-fields .field-container input[type="text"], #createAccount .profile-fields .field-container input[type="password"]{width: 96%;}
.welcome_screen
{
	border:1px solid #BFBFBF;background-color:#f2f2f2;color:#000000;padding:10px;margin: 0 0 10px;width: 888px;
}
.welcome_screen ul { list-style-type: none; margin: 0 0 0 2px;} 
#navigation table a{margin-bottom:7px;border:0px;}
#navigation .norten_secured { position: absolute; right: 0px; top: -26px;}
#navigation .norten_secured a {margin: 0;border:0px !important;height:58px;width: 84px;float:right;}
#navigation .norten_secured img {max-height: 60px;width: 84px;}
.multi-postcode-parent-popup{width:450px;margin-top: 20px;}
.multi-postcode-popup{width:400px;max-height: 130px;overflow-x: hidden;overflow-y: auto;padding-bottom:10px;}
.multi-postcode-popup h5{padding-top:10px;margin-bottom:0px;}

.multi-cargo-parent-popup{width:650px;margin-top: 20px;}
.multi-cargo-popup{max-height: 300px;overflow-x: hidden;overflow-y: auto;}
.multi-cargo-popup h5{padding-top:10px;margin-bottom:0px;}
.multi-cargo-popup .multi_popup{width: 200px !important;}

.profile-done-alert-affiliate{z-index: 9;position:absolute;right:50px;top:90px;background:url(../images/profile-done-alert.png) no-repeat left 10px;width:310px;height:180px;}
.profile-done-alert-affiliate td{padding: 0 0 0 55px;}
.profile-done-alert-affiliate .profile-alert-content{background:#B6DDE8;padding:20px;vertical-align: middle;display:table-cell;width: 270px;}
.profile-done-alert-affiliate div a{font-size:15px;}
.profile-done-alert-affiliate div p{margin-bottom:15px;}
#affiliatesignup{position:relative;}
#affiliatesignup .profile-done-alert-affiliate{top:0;background:url("../images/profile-done-alert1.png") no-repeat scroll left -4px;height:170px;}
#affiliatesignup .profile-done-alert-affiliate .profile-alert-content{padding:20px 20px 7px;}




/*******************New home page css starts here*************************************/
.home-new p{font-size:16px;}
.orange-button{background:#f79646;display:inline-block;text-align:center;padding:4px 12px;color:#fff;text-decoration:none; font-style:normal;box-shadow:0px 3px 3px #0f233b;-o-box-shadow:0px 3px 3px #0f233b;-webkit-box-shadow:0px 3px 3px #0f233b;-moz-box-shadow:0px 3px 3px #0f233b;}
.orange-button:hover{color:#000;}

.blue-button{min-width:150px;background:#17375e;display:inline-block;text-align:center;padding:4px 12px;color:#fff;text-decoration:none; font-style:normal;/*box-shadow:0px 3px 3px #0f233b;-o-box-shadow:0px 3px 3px #0f233b;-webkit-box-shadow:0px 3px 3px #0f233b;-moz-box-shadow:0px 3px 3px #0f233b;*/border-radius:3px 3px 3px;-webkit-border-radius:3px 3px 3px;-moz-border-radius:3px 3px 3px;-o-border-radius:3px 3px 3px;}
.blue-button:hover{color:#FFF;}

#hsbody.search-option p{margin:0 0 10px;line-height:20px;}
#hsbody.search-option h2{color:#10254b;margin:0;padding:0;font-weight:normal;font-family: arial-rounded;font-size:27px;}
#hsbody.search-option h3{color:#505050;margin:0 0 10px;font-weight:normal;font-family: arial-rounded;font-size:18px;}
.home-new{float:right;width:650px;padding: 4px 0 23px;}
.benefits{width:646px;background:#f7f7f7;border: 1px solid #e2e2e2;position:relative;padding: 9px 0 0;min-height:126px;}
.benefits .common{ float:left;margin: 0 0 0 5px;padding-right:5px;width:204px;border-right: 1px solid #e2e2e2;}
.benefits .last{border:none;}
.benefits .button{position:absolute;bottom:-26px;left:0px;width:100%;}

#hsbody.search-option .benefits .common h5{ text-align:center;margin: 0 0 7px;font-size:16px;color:#10254b;font-family: arial-rounded;}
.benefits .common p{padding:0;line-height: 115%;margin: 0 !important;font-size:15px;line-height: 18px;}

.search-new{float:left;line-height:140%;width:280px;margin-bottom:10px;line-height:20px;}
.search-new h6{font-family: arial-rounded;font-size:27px;color:#17375e;padding:10px 0;background:url(../images/search-heading-bg.jpg) repeat-x 0 bottom #f0f0f0;font-weight:normal;}
.search-new .fields{background:url(../images/search-arrow.jpg) no-repeat center top #17375e;padding: 24px 24px 1px;margin:0 0 10px;}
.search-new .fields a{display:block;}
#hsbody.search-option .search-new .fields p{margin:0 0 15px;}
.search-new .fields select{width:100%;color:#17375e;font-size:16px;height:26px;}


.search-new .text{padding: 10px 10px 9px;background:/* url("../images/truck.jpg1") no-repeat right bottom*/ #17375E;;color:#fff;}
.search-new ul{list-style:none;margin: 0 0 0 12px;padding:0;}
.search-new li{padding: 5px 0 0 52px;line-height: 20px;margin-bottom: 5px;background-position: 0 16px !important; min-height: 86px;}
.search-new .one{background:url(../images/list-style1.png) no-repeat 0 center;}
.search-new .two{background:url(../images/list-style2.png) no-repeat 0 center;}
.search-new .three{background:url(../images/list-style3.png) no-repeat 0 center;}
.search-new .button1 span{min-width:205px;line-height:18px;}
.search-new .text p {margin: 0 0 12px !important;}
.checkbox, .radio {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(../images/checkbox.png) no-repeat;
	display: block;
	clear: left;
	float: left;
}
.radio {
	background: url(../images/radio.png) no-repeat;
}
.select {
	position: absolute;
	width: 200px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 26px;
	padding: 3px 24px 0 8px;
	color:#003366;
	font-size: 16px;
	background: url(../images/custom-select-bg.png) no-repeat;
	overflow: hidden;
	display:block;
}

.compare-button{background:url(../images/compare-button.png) no-repeat 0 0;width:228px;margin:0 auto;height:32px;text-decoration:none;}
.compare-button:hover{background-position:0 -32px;}
.register-button {
    background: url(../images/register-button.png) no-repeat scroll 0 0;height: 34px;margin: 0 auto;width: 144px; display:inline-block;
}
.register-button:hover{background-position:0 -34px;}
.search-option{overflow:Hidden;padding-bottom:1px !important;}
.intro_video{background: url(../images/see-transporteca-txt.jpg) no-repeat 43px 0;padding: 65px 0 0 130px;text-align:center;margin:0 0 20px;}
.intro_video_danish{background: url(../images/see-transporteca-txt-da.jpg) no-repeat 43px 0;padding: 65px 0 0 130px;text-align:center;margin:0 0 20px;}
.search-new .text p.book_in_minutes{font-family: arial-rounded;margin-bottom: 17px !important;}
.share-this-button {
    background: url(../images/share-this-link-button.png) no-repeat scroll 0 0;height: 34px;margin: 0 auto;width: 148px; display:inline-block;
}
.share-this-button:hover{background-position:0 -34px;}
/*******************New home page css ends here*************************************/

.header_login{float:left;width:310px;}
.header_login input{float:left;width:142px;margin-top: 4px;}
.header_login input[type=email]{margin-right:10px;}
.multi-cargo-popup .dimensions-field span.dangerous_cargo {width: 36%;margin: 0 19px 0 0;}
.multi-cargo-popup .fl-65{width: 426px;}
.multi-cargo-popup .dimensions-field span.weight{width:21% !important;}
/*************************** New Landing page ****************************************/
.clearfix:after { content:''; display:block; clear:both; }

select{padding:4px 2px;text-align:left;}

ol{margin:0 0 15px 20px;padding:0;}

.fl{float:left;}
.fr{float:right;}

.transporteca-box.active .checkbox-ab{padding-left:25px;}
.checkbox-ab .checkbox, .checkbox-ab .radio{float:none;position:absolute;left:0;top:0;}

.white-dot{list-style:none;margin:0 0 15px;}
.white-dot li{background:url(../images/white-dot.png) no-repeat 0 3px;padding:3px 0 2px 28px;}

.orange-button1{background:url(../images/orange-button1-left.png) no-repeat 0 0;padding-left:12px;display:inline-block;cursor:pointer;text-decoration:none;position:relative;}
.orange-button1 span{line-height:21px;background:url(../images/orange-button1-right.png) no-repeat right 0;min-width:100px;padding:2px 10px 3px 0;display:inline-block;font-size:15px;font-family:Calibri,arial,tahoma,verdana;text-transform:uppercase;color:#fff;font-style:normal;text-align:center;}
.orange-button1:hover{background-position:0 -26px;}
.orange-button1:hover span{background-position:right -26px;}
.active-orange-btn{margin:0 0 12px 108px !important;}
.active-orange-btn span{width: 575px;}

.orange-button2{background:url(../images/orange-button1-left.png) no-repeat 0 0;padding-left:12px;display:inline-block;cursor:pointer;text-decoration:none;position:relative;}
.orange-button2 span{line-height:21px;background:url(../images/orange-button1-right.png) no-repeat right 0;min-width:100px;padding:2px 10px 3px 0;display:inline-block;font-size:15px;font-family:Calibri,arial,tahoma,verdana;text-transform:uppercase;color:#fff;font-style:normal;text-align:center;}
.orange-button2:hover{background-position:0 -26px;}
.orange-button2:hover span{background-position:right -26px;}

.gray-button1{background:url(../images/gray-button1-left.png) no-repeat 0 0;padding-left:12px;display:inline-block;cursor:pointer;text-decoration:none;}
.gray-button1 span{line-height:21px;background:url(../images/gray-button1-right.png) no-repeat right 0;min-width:100px;padding:2px 10px 3px 0;display:inline-block;font-size:15px;font-family:Calibri,arial,tahoma,verdana;letter-spacing:-0.03em;text-transform:uppercase;color:#7f7f7f;font-style:normal;text-align:center;}

.transporteca-box{padding:4px 20px 4px 50px; border:solid 1px #BFBFBF;min-height:30px;margin:0 0 8px;position:relative;}
.transporteca-box p{margin:6px 0 0;}
.transporteca-box.active{border:none;padding-top:12px;padding-bottom:1px;}
.transporteca-box.active p{margin:0 0 10px;}
.transporteca-box input[type=text]{width:228px;padding:3px 2px;border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-color:#afafaf;font-size: 16px;color:#7f7f7f;height:21px;}
.transporteca-box.active  input[type=text], .transporteca-box.active select{color:#17375E;}

#shipping-box{background:url(../images/IconGlobeGrey.png) no-repeat 7px center;}
#shipping-box.active{background:url(../images/IconGlobeWhite.png) no-repeat 8px 5px #17375E;color:#fff;}

.nor-form p{float:left;width:302px;margin:0;min-height:26px;}
.nor-form p.text{width:135px; margin-top: 4px;}
.nor-form select{min-width:232px;}

#transportation-box{background:url(../images/IconPieGrey.png) no-repeat 6px 3px;}
#transportation-box.active{background:url(../images/IconPieWhite.png) no-repeat 6px 5px #17375E;color:#fff;}
.transporteca-box.active a{color:#fff;}

#shipper-consignee-box{background:url(../images/IconCircleGrey.png) no-repeat 7px center;}
#shipper-consignee-box.active{background:url(../images/IconCircleWhite.png) no-repeat 8px 5px #17375E;color:#fff;}
#shipper-consignee-box.active p{margin:0;}

#cargo-box{ background: url(../images/IconClockGrey.png) no-repeat  6px 2px;}
#cargo-box.active{background:url(../images/IconClockWhite.png) no-repeat 7px 5px #17375E;color:#fff;}
#cargo-box .fl{width:70%;}

#import-box{background:url(../images/IconSealGrey.png) no-repeat 7px center;}
#import-box.active{background:url(../images/IconSealWhite.png) no-repeat 9px 5px #17375E;color:#fff;min-height: 93px;}

#complete-box{background:url(../images/IconTagGrey.png) no-repeat 9px center;position:relative;}
#complete-box.active{background:url(../images/IconTagWhite.png) no-repeat 9px 5px #17375E;color:#fff;}
#complete-box .done-text{position:absolute;bottom:55px;right:20px;}

.cargo1, .cargo2{margin:0 0 6px;}
.cargo1 p, .cargo2 p{margin:0px;float:left;}
.cargo1 p input, .cargo2 p input{max-width:85px;}
.cargo1 .input-title, .cargo2 .input-title{padding:0 15px 0 0;}
.cargo1 .input-title span{font-size:12px;display:block;padding:0 0 0 3px;}
.cargo1 .sep{width:22px;padding:20px 0 0;font-size:17px;}
.cargo1 .input-title select, .cargo2 .input-title select{width:89px;padding:3px 2px;}
.cargo1 .field-name{width:140px;padding:19px 0 0;}
.cargo2 .field-name{width:140px;padding:5px 0 0;}
.cargo2 .sep{width:22px;padding:0;}
.cargo2 .text{width:220px;text-align:right;padding-right:15px;padding-top:4px;}

.process-bar{overflow:hidden;margin:0 0 11px; padding-top:20px;}
.process-bar.process-completed{padding-top:0;}
.process-bar p{float:left;background:url(../images/process-bar-base.png) no-repeat 1px 0;width:703px;margin:0 !important;line-height:14px;height:14px;position:relative;}
.process-bar p .text{position:absolute;right:5px;top:0px;font-style:italic;font-size:12px;color:#17375E;font-weight: bold;}
.process-bar p span.main{float:left;background:#558ed5;line-height:14px;height:14px;max-width: 687px;}
.process-bar p span.left{float:left;background:url(../images/process-bar-left.png) no-repeat 0 0 transparent;width:8px;line-height:14px;height:14px;}
.process-bar p span.right{float:left;background:url(../images/process-bar-right.png) no-repeat 0 0 transparent;width:8px;line-height:14px;height:14px;}
.process-bar .gray-button1, .process-bar .orange-button1{float:right;margin-top:2px;}
.process-bar .gray-button1, .process-bar .orange-button2{float:right;margin-top:2px;}
.process-bar .gray-button1:hover span{cursor:text;}
#transportation-box .process-bar .orange-button1 span{min-width:100px;}
#transportation-box .process-bar .orange-button2 span{min-width:100px;}


.service-popup{position:relative;padding:10px 15px;border-radius:8px;-o-border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;background:#17375E;margin:0 auto;width:570px;text-align:left;box-shadow: 0 0 0;border: medium none;color:#fff;}
.service-popup h1{margin:0 0 4px 5px;padding:0;color:#fff;font-size:16px;}

.service-popup .container{background:#fff;margin:0 0 10px;padding:5px;border-radius:8px;-o-border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;min-height:370px;position:relative;color:#000;}
.service-popup .container2{background:#fff;margin:0 0 10px;padding:2px 5px 5px;border-radius:8px;-o-border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;max-height: 313px;height:313px;overflow-x: hidden;overflow-y: auto;color:#000;}
.service-popup .head{overflow:Hidden;border-bottom:solid 1px #17375E;margin: 0 0 4px;}
.service-popup .content{overflow:Hidden;margin:0 0 4px;width: 551px;}
.service-popup .head div{float:left;font-size:12px;font-weight:bold;}
.service-popup .content div{float:left;font-size:12px;}
.service-popup .first{width:95px;}
.service-popup .first img{max-height:20px;}
.service-popup .second{width:76px;}
.service-popup .third{width:76px;}
.service-popup .fourth{width:140px;}
.service-popup .fifth{width:70px;}
.service-popup .sixth{width:94px;}
.close-icon{position:absolute;top:-14px;right:-14px;cursor:pointer;margin: 0 !important;}
.act-question{position:absolute;right:17px;width:127px;top:109px;line-height: 18px;}
#complete-box .select{background: url(../images/custom-select-bg-s.png) no-repeat scroll 0 0 transparent;width:59px;font-size: 16px;color:#17375e;}
.cargo1 .input-title span.select{padding: 3px 24px 0 8px;}
#data_container{color:#000;margin-top:10px;}
/************ New Popup's style ******/

.all-service-parent-popup{position:relative;padding:10px 15px;border-radius:8px;-o-border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;background:#17375E;margin:0 auto;width:570px;text-align:left;}
.all-service-popup{width:570px;max-height: 350px;overflow-x: hidden;overflow-y: auto;padding-bottom:10px;}
.all-service-popup h5{padding-top:10px;margin-bottom:0px;}

.format-2 th{font-size:14px;font-weight:bold;text-align:center;background-color:#FFFFFF;}
.format-2 td{font-size:14px;padding:4px 0px;text-align:center;background-color:#FFFFFF;}
.format-1 td img{max-width:80px;}

.active-orange-btn-small{margin:0 0 10px 10px !important;}
.active-orange-btn-small span{width: 30px;}

.standard-popup-x{position:relative;padding:10px 15px 15px;border-radius:8px;-o-border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;background:#17375E;margin-top:130px; auto;width:390px;color:#FFFFFF;text-align:left;box-shadow:0px 0px 0px;border:none;}
.standard-popup-x input[type=text]{width:297px;color: #003366;font-size: 16px;border-radius: 5px;-o-border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}
.standard-popup-x input[type=email]{width:297px;color: #003366;font-size: 16px;border-radius: 5px;-o-border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}
.standard-popup-x .oh{padding:0 0 10px;}

.standard-popup-f{position:relative;padding:10px 15px 15px;border-radius:8px;-o-border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;background:#17375E;margin-top:50px; auto;width:390px;color:#FFFFFF;text-align:left;box-shadow:0px 0px 0px;border:none;}
.standard-popup-f input[type=text]{width:297px;color: #003366;font-size: 16px;border-radius: 5px;-o-border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}
.standard-popup-f input[type=email]{width:297px;color: #003366;font-size: 16px;border-radius: 5px;-o-border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}

.standard-popup-d{position:relative;padding:10px 15px 15px;border-radius:8px;-o-border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;background:#17375E;margin-top:130px; auto;width:220px;color:#FFFFFF;text-align:left;box-shadow:0px 0px 0px;border:none;}
.standard-popup-d .oh{padding:0 0 3px;}
.standard-popup-d .orange-button1, .standard-popup-d .orange-button1 span{display:block;}
.standard-popup-d .orange-button2, .standard-popup-d .orange-button2 span{display:block;}

.standard-popup-z{position:relative;padding:10px 15px 15px;border-radius:8px;-o-border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;background:#17375E;margin-top:130px; auto;width:220px;color:#FFFFFF;text-align:left;box-shadow:0px 0px 0px;border:none;}
.standard-popup-z .oh{padding:0 0 3px;}
.standard-popup-z .orange-button1 span{min-width: 70px;}
.standard-popup-z .orange-button2 span{min-width: 70px;}

.standard-popup-p{position:relative;padding:10px 15px 15px;border-radius:8px;-o-border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;background:#17375E;margin-top:130px; auto;width:400px;color:#FFFFFF;text-align:left;box-shadow:0px 0px 0px;border:none;}
.standard-popup-p .oh{padding:0 0 3px;}

.standard-popup-rk{position:relative;padding:10px 15px 15px;border-radius:8px;-o-border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;background:#17375E;margin-top:10px; auto;width:400px;color:#FFFFFF;text-align:left;box-shadow:0px 0px 0px;border:none;}
.standard-popup-rk .oh{padding:0 0 3px;}
.standard-popup-rk input[type=text]{width:297px;color: #003366;font-size: 16px;border-radius: 5px;-o-border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}
.standard-popup-rk input[type=text]{width:297px;color: #003366;font-size: 16px;border-radius: 5px;-o-border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}

.standard-popup{position:relative;padding:10px 15px;border-radius:8px;-o-border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;background:#17375E;margin:0 auto;width:350px;color:#FFFFFF;text-align:left;border: medium none; box-shadow: 0 0 0;}
.standard-popup input[type=text]{width:225px;border-color: #AFAFAF;border-radius: 5px 5px 5px 5px;color: #7F7F7F;font-size: 16px;height: 21px;padding: 3px 2px;}
.standard-popup input[type=email]{width:225px;}
.standard-popup .oh{padding:0 0 3px;}
.standard-popup .help{background:url(../images/help-icon-white.png) no-repeat 0 0;}

.errorBox1-requirement {
    background-color: #FFFFDD;
    border: 1px solid #F2C218;
    margin: 0 auto;
    padding: 10px 0 0;
    text-align: left;  
    color:#B22222; 
}
.errorBox1-requirement .header {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}
.errorBox1-requirement li {
    margin: 3px 0 3px 15px;
    color:#CD5C5C;
}
.statingnewtrade-box{border:solid 1px #BFBFBF;padding:6px;max-height: 250px;height: 250px;overflow-x: hidden;overflow-y: auto;}
.statingnewtrade-box p{margin:0 0 10px;font-style:italic;font-size:14px;}
.red_text{color:red;}
/**.standard-popup .close-icon{position:absolute;right:-15px;top:-19px;}*/
.standard-popup .close-icon img{cursor:pointer;}
.requirement-content{min-height:101px;line-height: 21px;}
.requirement-content ol{margin-bottom:0;}
.button-container{margin:10px 14px 0;}
.button-container .orange-button1, .button-container .orange-button1 span{display:block;}
.button-container .orange-button2, .button-container .orange-button2 span{display:block;}

.button-container .gray-button1, .button-container .gray-button1 span{display:block;}


.datefield input{background:url(../images/custom-select-bg.png) no-repeat 0 0;height: 26px !important;font-size: 16px;padding:1px 24px 2px 8px !important;;width: 200px !important;border: medium none !important;}
.fr-next-button{position:absolute;right:20px;bottom:12px;margin: 0 !important;}
#complete-box hr{margin-right: 155px;  max-width: 720px;  min-width: 720px;}
.service_type_canvas
{
	margin-left:-10px;
}
.popup-forgot-password{width:330px;margin:70px auto;}
.popup-forgot-password h5{font-weight:bold;text-align:left;}
#popup-container h5{margin-bottom:0px;}
#popup-container p{margin-top:7px;}
#popup-container p.heading-space{margin-top:5px;}
.transporteca-box.active .question-heading{margin-bottom:16px;}
.orange-button2{background:url(../images/orange-button2-left.png) no-repeat 0 0;padding-left:8px;display:inline-block;cursor:pointer;text-decoration:none;position:relative;}
.orange-button2 span{line-height:21px;background:url(../images/orange-button2-right.png) no-repeat right 0;min-width:100px;padding: 5px 8px 6px 0;display:inline-block;font-size:16px;font-family:Calibri,arial,tahoma,verdana;text-transform:uppercase;color:#fff;font-style:normal;text-align:center;}
.orange-button2:hover{background-position:0 -32px;}
.orange-button2:hover span{background-position:right -32px;}
.orange-button2 img{position:absolute;}
textarea:disabled, input:not([type]):disabled, input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="password"]:disabled, input[type="number"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled {color:#7f7f7f;cursor:pointer;}
.popup .oh.email-space{margin-top:10px;}
.popup .oh.name-space{padding-bottom:5px;margin-top:10px;}
.popup .oh p{margin:0;}
.timing-text{float: left;font-size: 15px;font-style: italic;line-height: 17px;margin-left: 20px;margin-top: -5px;width: 469px;}
#complete-box.transporteca-box .cargo-heading{margin: 0 0 20px;}
#cargo_measure_error_span{float:left;width:56%;font-style:italic;}
.standard-popup a{color:#fff;}
.currency-option .select {
    background: url(../images/custom-select-bg-s.png) no-repeat 0 0;
    color: #17375E;
    font-size: 16px;
    width: 59px;padding: 3px 24px 0 8px;display:inline-block;
}
.currency-option select{max-width:92px;}
#service_type_image_div{margin: 0 0 5px;text-align:right;}
#landing_page_form select { padding: 1px 2px;}
#all_available_service .service-popup .container{overflow:auto;max-height:370px;min-height: 370px;}
#all_available_service #popup-bg{z-index: 998;}
#all_available_service #popup-container{z-index: 10002;}

.cargoReady{background:url(../images/Cargo_Ready_Crate.jpg) no-repeat 0 0;}
.cargoPillate{background:url(../images/Cargo_Ready_Pallet.jpg) no-repeat 0 0;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
     input[disabled] {color:#303030 !important; }
}
#city_postcode_box_form .fl-49{margin-top:3px !important;}
.service-popup .checkbox-ab input { top: 4px;}
.explain-content h2{color: #10254B;font-family: arial-rounded;font-size: 27px;font-weight: normal;margin: 0;padding: 0;}

.page_link a {
	color: #FFFFFF;
    font-size: 14px;
    font-style: italic;
    outline: medium none;
    text-decoration: underline;
}
.page_nav
{
	margin-top:-5px;
	align: right;
}
.trans-box-complete{min-height: 63px;}
.transporteca-box .image-text-div{overflow:hidden;}
.image-text-div .image-origin-text{float:left;font-style:italic;}
.image-text-div .image-dest-text{float:right;font-style:italic;}
.transporteca-box .service-image{margin-bottom:8px;}
.next-step{padding-bottom:11px;}
.text-field-align .text-field-align-name{padding-top:3px;}
#data_container span{color:#FFFFFF;}
h5.terms-heading{margin:0 !important;}
.new-button-container-topgap{padding-top:10px;}
.small-popup-doublebutton{margin:13px 10px 0 !important;overflow:hidden;}
.small-popup-doublebutton .orange-button1{float:left;}
.small-popup-doublebutton .orange-button1.right-button{float:right;}
.small-popup-doublebutton .orange-button2{float:left;}
.small-popup-doublebutton .orange-button2.right-button{float:right;}
.standard-popup-rk a{font-size:16px;}
#popup-container select{padding: 1px 2px;}
#booking_detail_form select{padding: 1px 2px;}
#start_search_form .orange-button2{padding-left: 3px;}
#start_search_form .orange-button2 span{min-width: 226px;padding: 5px 3px 6px 0;}
h1{font-size:22px;font-weight:normal;}

.sitemaps_right{width:766px;position:relative;float:left;padding: 10px 0 0;}
.sitemaps_right .common{ float:left;margin: 0 0 0 10px;width:180px;}
.sitemaps_right .last{border:none;}
.sitemaps_right .button{position:absolute;bottom:-26px;left:0px;width:100%;}

.sitemaps_right .common h5{ text-align:left;margin: 0 0 7px;font-size:17px;color:#000000;font-weight: bold;}
.sitemaps_right .common p{padding:0;font-size:15px;margin-bottom:6px;}
.sitemaps_left{float:left;width:180px;padding: 10px 0 0;}
.sitemaps_left .last{border:none;}
.sitemaps_left .button{position:absolute;bottom:-26px;left:0px;width:100%;}

.sitemaps_left .common h5{ text-align:left;margin: 0 0 7px;font-size:17px;color:#000000;font-weight: bold;}
.sitemaps_left .common p{text-align:left; padding:0;margin-bottom:6px;font-size:15px;}
.sitemaps_left a, .sitemaps_right a{font-size:16px;}
.link16 a{font-size:16px;}

.rating-popup .left-text{float:left;text-align:right;width:61px;line-height:105%;margin-right: 1%;padding-left: 10px;}
.rating-popup .right-text{float:left;text-align:left;width:72px;line-height:105%;margin-left:10px;}
.rating-popup .readio-container{float:left;text-align:center;width:26px;}
.rating-popup .readio-container input {margin: 0 3px;}

#hsbody .formated_h2 h2{color: #10254B;font-family: arial-rounded;font-size: 27px;font-weight: normal;margin: 0;padding: 0;}

.search-new.mini2 .fields{ padding: 17px 4px 1px;height: 55px;background: url(../images/search-arrow.jpg) no-repeat center top transparent;width: 705px;margin: 0 auto;}
.search-new.mini2 .fields p { width: 237px;}
.search-new.mini2 .fields p.fl-33 { width: 230px;}
.search-new.mini2 {background: #17375E;min-width: 710px;}

#navigation .country_flag_container{position:absolute;right: 105px;top: -11px;z-index: 99;}
#navigation .country_flag_container img{width:27px;}
#navigation .country_flag_container a, #navigation .country_flag_container a:hover{margin:0;width:32px;float:none;border:none;}
#danish_flag_div a, #danish_flag_div a:hover{margin:0;width:32px;float:none;border:none;}
#danish_flag_div img{width:27px;}

.telephone {position:relative;float:right;width:97px;padding:3px 0 0 35px;}
.telephone img{position:absolute;left:0;top:0;}

#footer .copyright .social-icons a{margin:0;}

.button-green1{background:#B5E61D;padding-left:14px;display:inline-block;cursor:pointer;text-decoration:none;color:#fff;font-weight:bold;border-radius: 12px;}
.button-green1 span{min-width:100px;padding: 6px 14px 7px 0 !important; 0;display:inline-block; font-size: 14px !important;text-transform:uppercase;color:#000;margin:0px !important;font-style:normal;text-align:center;color:#fff;}
.button-green1:hover span{color:#fff;}

.services-filters span{float:left;font-size:10px;padding: 13px 0 0;text-align: center;margin:0 5px 0 0;}
.services-filters{padding:0 0 0 4px;}
.services-filters .one, .services-filters .five, .services-filters .six{padding:0;}
.services-filters .one input{margin:6px 0 0;}
.services-filters .three, .services-filters .four, .services-filters .five {background:url(../images/services-field-separator.png) no-repeat right 23px;padding-right:10px;}
.services-filters .two{ background: url(../images/services-field-arrow-right.png) no-repeat right 18px; padding-right:20px;}
.services-filters .four input{width:120px;}
.services-filters .seven{float:right;margin: 0 15px 0 0;}
.services-filters .button-green1 span{padding: 3px 14px 4px 0 !important;}
.services-filters .button-green1{background:#298903;}

.simpleError{float:left;background:url(../images/exclamation-icon.png) no-repeat 0 center;padding:5px 0 0 20px;font-size:12px;} 