/* Main Style Sheet for jQuery UI date picker */

#ui-datepicker-div {
	display: none;
	z-index: 9999999; /*must have*/
	background:#fff;box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
.ui-datepicker-inline {
	float: left;
	display: block;
	border: 0;
}
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-dialog {
	padding: 5px !important;
	border: 4px ridge #ddd !important;
}
.ui-datepicker-disabled {
	position: absolute;
	z-index: 100;
	background-color: white;
	opacity: 0.5;
}
button.ui-datepicker-trigger {
	width: 25px;
}
img.ui-datepicker-trigger {
	margin: 2px;
	vertical-align: middle;
}
.ui-datepicker-prompt {
	float: left;
	padding: 2px;
	background: #ddd;
	color: #000;
}
* html .ui-datepicker-prompt {
	width: 185px;
}
.ui-datepicker-control, .ui-datepicker-links, .ui-datepicker-header, .ui-datepicker {
	clear: both;
	float: left;
	width: 100%;
}
.ui-datepicker-control {
	padding: 2px 0px;
}
.ui-datepicker-links {
	background: #237aa7;
	padding: 2px 0px;
}
.ui-datepicker-links a{color:#000;}
.ui-datepicker-control, .ui-datepicker-links {
	font-size: 80%;
}
.ui-datepicker-links label { /* disabled links */
	padding: 2px 5px;margin:0;
	color: #a1c6d9;
}
.ui-datepicker-clear, .ui-datepicker-prev {
	float: left;
	width: 34%;
	text-align: left;
}
.ui-datepicker-rtl .ui-datepicker-clear, .ui-datepicker-rtl .ui-datepicker-prev {
	float: right;
	text-align: right;
}
.ui-datepicker-current {
	float: left;
	width: 30%;
	text-align: center;
}
.ui-datepicker-close, .ui-datepicker-next {
	float: right;
	width: 34%;
	text-align: right;
}
.ui-datepicker-rtl .ui-datepicker-close, .ui-datepicker-rtl .ui-datepicker-next {
	float: left;
	text-align: left;
}
.ui-datepicker-header {
	padding: 2px;
	text-align: left;
}
.ui-datepicker-header .ui-datepicker-new-month {
	margin-left: 2px;
    margin-right: 23px;
}
.ui-datepicker {margin:0;background: #ccc;text-align: center;font-size: 100%;font-size:14px;}
.ui-datepicker a {
	display: block;
	width: 100%;
}
.ui-datepicker-title-row {
	background: #237aa7;
}
.ui-datepicker-days-row {
	background: #eee;
	color: #666;
}
.ui-datepicker-week-col {
	background: #777;
	color: #fff;
}
.ui-datepicker-days-cell {
	color: #000;
	border:0;
}
.ui-datepicker-days-cell a{
	display: block;
	color:#000;
	text-decoration: none;
	color:black;
	font-weight:bold;
}
.ui-datepicker-week-end-cell {
	background: #ddd;
}
.ui-datepicker-title-row .ui-datepicker-week-end-cell {
	background: #17375E;
}
.ui-datepicker-title-row a{color:#000;}
.ui-datepicker-days-cell-over {
	background: #fff;
	border:0;
}
.ui-datepicker-unselectable {
	color: #888;
}
.ui-datepicker-today {
	background: #17375E !important;
}
.ui-datepicker-today a{color:#fff;}

.ui-datepicker-current-day {
	background: #999 !important;
}
.ui-datepicker-status {
	background: #ddd;
	width: 100%;
	font-size: 80%;
	text-align: center;
}

/* ________ Datepicker Links _______

** Reset link properties and then override them with !important */
#ui-datepicker-div a, .ui-datepicker-inline a {
	cursor: pointer;
	margin: 0;
	padding: 0;
	background: none;
	font-style:normal !important;
	text-decoration: none;
}
.ui-datepicker-inline .ui-datepicker-links a {
	padding: 0 5px !important;
}
.ui-datepicker-control a, .ui-datepicker-links a {
	padding: 2px 5px !important;
}
.ui-datepicker-title-row a {
	color: #eee !important;
	text-decoration: none;
}

.ui-datepicker-links a:hover, .ui-datepicker-title-row a:hover {
	background: #ddd !important;
	color: #333 !important;
}

/* ___________ MULTIPLE MONTHS _________*/

.ui-datepicker-multi .ui-datepicker {
	border: 1px solid #777;
}
.ui-datepicker-one-month {
	float: left;
	width: 232px;
}
.ui-datepicker-new-row {
	clear: left;
}

/* ___________ IE6 IFRAME FIX ________ */

.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}
.ui-datepicker-links a{color:#fff;}
.ui-datepicker-header select{min-width: 95px;  padding: 2px;width:auto;}
