/* 
    Created on : 14 Mar, 2016, 11:00:09 AM
    Author     : Whiz Solutions
*/
body{font-size:16px;}
h1{word-wrap:normal;}
h2{font-family: "Montserrat",sans-serif;font-size:60px;font-weight:700;line-height:1.5;margin: 0 0 45px;}
footer.footer ul li{font-size:12px;padding:0 0 7px;}
a{font-size:400;}
p{margin-bottom:12px;}

#main select.styled{position:absolute;left:0;top:0;max-width:100%;border:0;opacity:0;z-index:5;color:#000;}
.input-fields > span {display: none;}
.input-fields > .select {display: block;}
#main .search .select {background:url(../images/search-field-arrow.png) no-repeat scroll 94% center #fff !important;box-sizing: border-box;display: block;font-size: 14px;height:31px;left: 0;padding:5px 4px 0;position: static;width: 100%;margin-top:-5px;color:#000 !important;font-weight:400;}

.body-color{padding:0 0 50px;font-size:22px;line-height:1.6;}
.body-color .para{margin:0 0 15px;color:#fff;}
.body-color h1, .body-color .heading{text-transform: uppercase;line-height: 1.2;font-size:60px !important;margin:0 0 45px !important;font-family: 'Montserrat', sans-serif !important;font-weight:700 !important;color:#fff !important;}
.body-color h2{font-size:28px !important;margin:0 0 25px !important;font-family: 'Montserrat', sans-serif !important;font-weight:700 !important;color:#fff !important;}
.body-color a{color:#fff !important;text-decoration:underline !important;}
.body-color a:hover{text-decoration:none;}
.body-color .ulclass{list-style: disc;margin: 0 0 5px 14px;color:#fff;}
.body-color p, .body-color span, .body-color li, .body-color div, .body-color font {color:#fff !important;}

.body-color-white{padding:0 0 50px;}
.body-color-white .para{margin:0 0 15px;color:#424242;}
.body-color-white h1, .body-color-white .heading{text-transform: uppercase;line-height: 1.2;font-size:60px !important;margin:0 0 45px !important;font-family: 'Montserrat', sans-serif !important;font-weight:700 !important;color:#424242 !important;}
.body-color-white h2{font-size:28px !important;margin:0 0 25px !important;font-family: 'Montserrat', sans-serif !important;font-weight:700 !important;color:#424242 !important;}
.body-color-white a{color:#424242 !important;font-weight:300 !important;text-decoration:underline !important;}
.body-color-white a:hover{text-decoration:none;}
.body-color-white .ulclass{list-style: disc;margin: 0 0 5px 14px;color:#424242;}

.body-color-white p, .body-color.white p,.body-color.white span, .body-color.white li,.body-color.white a, .body-color.white div, .body-color.white font , .body-color.white h1, .body-color.white h2 {color:#424242 !important;}
.body-color ul{list-style:disc;}

#hsbody{margin: 0 auto;max-width:962px;min-height: 400px;padding:50px 0 20px;}
#hsbody ul, #hsbody ol {padding:0;margin: 0 0 0 25px;}
#hsbody div{max-width: 100%;}

.social-section-head {margin-left: 20%;min-height: 250px;padding: 40px 0 0;width: 80%;}
.social-section-head h1{font-family: "Montserrat",sans-serif;font-size:80px;font-weight:700;line-height:1;margin: 0 0 30px;text-transform: uppercase;}


.link-container{color:#7f7f7f;padding-bottom:10px;}
.link-container a{color:#7f7f7f;display:inline-block;margin:0 2px;font-size:16px;font-weight:300;text-decoration:none;}
.link-container a:hover{color:#222;}
.pagination-a {
    color: #000;
    list-style: none outside none; 
    overflow: hidden;
    padding: 0; 
    width: 100%; 
}
.pagination-a ul{margin:0;}
.pagination-a li {position: fixed; top: 50%;margin: -24px 0 0;z-index: 2; left: 0;}
.pagination-a li > a {
    background: url(../images/sprite-a.png) no-repeat scroll -29px -1897px #1e4376;
    display: block;
    height: 48px;
    overflow: hidden;
    position: relative;
    text-indent: -3000em;
    width: 48px;
    z-index: 2;
}
.pagination-a li:first-child > a {
    background-position: 20px -1897px;
    float: left;
} 
.pagination-a li.right-msg {position: fixed; top: 50%;margin: -24px 0 0;z-index: 2; right: 0;left:auto;}
.pagination-a li.right-msg a{float:right;}
.pagination-a li .text {background-color:#eee;width: auto;float:left;}
.pagination-a li .text a{display:block;color:#000;background-color:#eee;height: 28px;line-height: 28px;padding:10px;font-weight:400;text-decoration:none;}

.search {background: rgba(255, 255, 255, 0.15);border: 1px solid rgba(170, 170, 170, 0.5);border-radius: 5px;color: #fff;margin: 0 auto;padding: 15px;position: relative;text-align: left;}

.search input{width:98%;margin-left:2%;display:block;color:#000;font-weight:400;}
.search-mini-container label, .search-mini-container p, .search-mini-container span, .search-mini-container .cargo1 .input-title, .search-mini-container .cargo2 .input-title {font-size: 15px !important;}

.version-3 .search-mini-cargo-fields p {margin:0;position: relative;width: auto;min-width: 65px;padding:6px 0 0;}
.version-3 .dotted-line {border-top: 1px dashed rgba(250,250,250,0.4);float: none !important;height: 1px;line-height: 1px;margin: 0 -15px;max-width: none !important;}
.version-3 .search-mini-v3-fields-container .dimensions-container .date {width: 100%;}
.version-3 .search-min-v3-cargo-field {float: none !important;margin-bottom: 5px;}
.version-3 .search-min-v3-button-cotainer {float: none !important;text-align:center;}
.version-3 .transporteca-box .cargo-volume-measures > div {float: left;width: 25%;}
.version-3 .transporteca-box .cargo-weight-measures .search-mini-cargo-fields {float: left;width: 25%;}
.version-3 .transporteca-box .cargo-weight-measures .search-mini-cargo-fields + .search-mini-cargo-fields {width: 50%;}
.version-3 .transporteca-box .cargo-weight-measures .cargo-button-container {float:Left;padding-left: 0;padding-top: 31px;text-align: center;width: 25%;}
.version-3 .transporteca-box .v3-cargo-container .cargo-weight-measures .cargo-button-container {padding: 1px 0 0;}
.version-3 .transporteca-box .cargo-weight-measures .cargo-button-container .v3-cargo-buttons-container {display: inline-block;}

.version-4 .search-mini-cargo-fields p {margin:0;position: relative;width: auto;min-width: 65px;padding:6px 0 0;}
.version-4 .dotted-line {border-top: 1px dashed rgba(250,250,250,0.4);float: none !important;height: 1px;line-height: 1px;margin: 0 -15px;max-width: none !important;}
.version-4 .search-mini-v3-fields-container .dimensions-container .date {width: 100%;}
.version-4 .search-min-v3-cargo-field {float: none !important;margin-bottom:25px;}
.version-4 .search-min-v3-cargo-field .transporteca-box > div > div+div{padding-top:10px;}
.version-4 .search-min-v3-button-cotainer {float: none !important;text-align:center;}
.version-4 .transporteca-box .cargo-volume-measures > div {float: left;width: 25%;}
.version-4 .transporteca-box .cargo-weight-measures .search-mini-cargo-fields {float: left;width: 25%;}
.version-4 .transporteca-box .cargo-weight-measures .search-mini-cargo-fields + .search-mini-cargo-fields {width: 50%;}
.version-4 .transporteca-box .cargo-weight-measures .cargo-button-container {float:Left;padding-left: 0;padding-top: 31px;text-align: center;width: 25%;}
.version-4 .transporteca-box .v3-cargo-container .cargo-weight-measures .cargo-button-container {padding: 1px 0 0;}
.version-4 .transporteca-box .cargo-weight-measures .cargo-button-container .v3-cargo-buttons-container {display: inline-block;}


.cargo-button-container a, .cargo-button-container a:hover {background: rgba(0, 0, 0, 0) url("../images/MinusYellow.png") no-repeat scroll 0 0 / 100% auto;float: right;height: 30px;margin-left: 6px;overflow: hidden;text-indent: -1000em;width: 30px;}
.cargo-button-container .cargo-add-button, .cargo-button-container .cargo-add-button:hover {background: rgba(0, 0, 0, 0) url("../images/PlusYellow.png") no-repeat scroll 0 0 / 100% auto;line-height: 20px;}

.version-3 .search .location-container div > div, .search-mini-container .search .dimensions-container div > div {background: rgba(255, 255, 255, 1);height: 34px;padding: 5px 0 0;}
.version-3 .search-mini-cargo-fields .input-fields{background: rgba(255, 255, 255, 1);height: 34px;padding: 5px 0 0;border:solid 1px rgba(170, 170, 170, 0.6);border-left:0;box-sizing:border-box;}
.version-3 .search-mini-cargo-fields:nth-child(1) .input-fields{border:solid 1px rgba(170, 170, 170, 0.6);}
.version-3 .transporteca-box .cargo-weight-measures .search-mini-cargo-fields div .input-fields {float: left;width:50%;}

.version-4 .search .location-container div > div, .search-mini-container .search .dimensions-container div > div {background: rgba(255, 255, 255, 1);height: 34px;padding: 5px 0 0;}
.version-4 .search-mini-cargo-fields .input-fields{background: rgba(255, 255, 255, 1);height: 34px;padding: 5px 0 0;border:solid 1px rgba(170, 170, 170, 0.6);border-left:0;box-sizing:border-box;}
.version-4 .search-mini-cargo-fields:nth-child(1) .input-fields{border:solid 1px rgba(170, 170, 170, 0.6);}
.version-4 .transporteca-box .cargo-weight-measures .search-mini-cargo-fields div .input-fields {float: left;width:50%;}

#main .version-3 .search-min-v3-button-cotainer .btn, #main .version-3 .search-min-v3-button-cotainer .btn-grey, #main .version-4 .search-min-v3-button-cotainer .btn, #main .version-4 .search-min-v3-button-cotainer .btn-grey {display:inline-block;float:none !important;margin:0 auto;min-width: 36%;padding:0;text-align: center;width: auto;}
#main .search .btn a, #main .search .btn-grey a{box-sizing: border-box;color: #fff !important;font-size: 14px;font-weight: 400 !important;height: 33px;text-decoration: none !important;line-height:1;padding-top:8px;}

.cookie-blue-box{background-color: rgba(10, 150, 255, 0.3);box-sizing: border-box;color: #fff !important;left: 0;padding: 10px 20px;position: absolute;top: 60px;    width: 100%;    z-index: 1;} 
.cookie-blue-box-container{background-color: #1e4376;text-align:center;box-sizing: border-box;color: #fff !important;padding: 10px 20px;width: 100%;z-index: 1;font-size:14px;}
.cookie-blue-box a, .cookie-blue-box a:hover, .cookie-blue-box-container a, .cookie-blue-box-container a:hover{color:#fff;text-decoration:underline} 

#main .search .location-container div > div, #main .search .dimensions-container div > div{background:#fff;box-sizing:border-box;height:33px;}

.evp-video-wrap > div{z-index:1;}

#main .version-3 .search .dimensions-container div > div, #main .version-4 .search .dimensions-container div > div{border-right:solid 1px rgba(170, 170, 170, 0.6);}
#main .version-3 .search .dimensions-container input{text-align:left;}

.social-section-head h4{font-size:30px;font-weight:300;line-height:40px;margin-bottom:15px;}


#page_not_found p{line-height:1.4;}
#page_not_found a{font-weight:400;color:#7f7f7f;}

.duty-calculator div .duty-calculator-field-container{float:left;width:50%;}
.duty-calculator div .duty-calculator-value-container{float:left;width:50%;}
.duty-calculator div .duty-calculator-value-container input, .duty-calculator div .duty-calculator-value-container select{width:100%;box-sizing:border-box;height:38px;color:#000;}
.duty-calculator div .duty-calculator-value-container .duty-calculator-select{float:left;width:25%;}
.duty-calculator div .duty-calculator-value-container .duty-calculator-input{float:right;width:70%;}

.mobile-bg-fix-wrap .mobile-bg-fix-img-wrap{display:none;}


@media(min-width:740px) {
	.social-section-head .text {float: left;text-align: left;width: 35%;}
	.social-section-head .image{float: right;overflow: hidden;width: 60%;}
	.social-section-head .image img{float:right;}
}
@media(min-width:768px) {
	.version-3 .search-mini-v3-fields-container{float: none !important;margin-bottom:15px;}
	.version-3 .booking-quote.search .search-mini-v3-fields-container .location-container{float: left;width: 66.67%;}
	.version-3 .booking-quote.search .dimensions-container {float: left;width: 33.33%;}
	.version-3 .search-min-v3-cargo-field .cargo1 .field-name {padding: 29px 0 0;width: 11.11%;float:left;}
	.version-3 .transporteca-box .cargo-volume-measures, .version-3 .transporteca-box .cargo-weight-measures {float:left;width:44.44%;}
	.version-3 .cargo-weight-measures .search-mini-cargo-fields:nth-child(1) .input-fields{border-left:0;}
	
	.version-4 .search-mini-v3-fields-container{float: none !important;margin-bottom:15px;}
	.version-4 .booking-quote.search .search-mini-v3-fields-container .location-container{float: left;width: 66.67%;}
	.version-4 .booking-quote.search .dimensions-container {float: left;width: 33.33%;padding:0;}
	.version-4 .search-min-v3-cargo-field .cargo1 .field-name {padding: 29px 0 0;width: 11.11%;float:left;}
	.version-4 .transporteca-box .cargo-volume-measures, .version-4 .transporteca-box .cargo-weight-measures {float:left;width:50%;}
	.version-4 .cargo-weight-measures .search-mini-cargo-fields:nth-child(1) .input-fields{border-left:0;}
	
	#main .version-1 .location-container, #main .version-2 .location-container{float:left;width:55%;}
	#main .version-1 .dimensions-container, #main .version-2 .dimensions-container{float:left;width:30%;padding:0;}
	#main .version-1 .btn, #main .version-1 .btn-grey, #main .version-2 .btn, #main .version-2 .btn-grey{float:left;width:15%;}
	#main .search .location-container div > div, #main .search .dimensions-container div > div{border-right:0;}
	
	.version-5 .search > div{float:None;}
	.version-5 .search .location-container{float:left;width:45%;}
	.version-5 .search.booking-quote .dimensions-container{float:left;width:40%;}
	.version-5 .search .dimensions-container > div{width:25%;}
	.version-5 .btn, .version-5 .btn-grey{float:left;}
	
	.version-6 .search > div{float:None;font-size:15px;}
	.version-6 .search .location-container{float:left;width:45%;}
	.version-6 .search.booking-quote .dimensions-container{float:left;width:40%;padding-top:0;}
	.version-6 .search .dimensions-container > div{width:25%;}
	.version-6 .btn, .version-6 .btn-grey{float:left;}
	
	
}



@media(max-width:1040px) {
	.social-section-head h1{font-size:55px;}
}
@media(max-width:962px) {
	#hsbody{width: 84%;}
}
@media(max-width:800px) {
	.social-section-head{margin-left:5%;width: 90%;}
	.social-section-head h1{font-size:70px;}
}
@media(max-width:767px) {
	.social-section-head h1, h1{font-size:28px;}
	.social-section-head .text, .social-section-head .image{text-align:center;}
	
	.search-mini-container .search-min-v3-cargo-field .cargo1 .field-name {display:none;}
	.version-3 .transporteca-box .cargo-volume-measures, .version-3 .transporteca-box .cargo-weight-measures, .version-4 .transporteca-box .cargo-volume-measures, .version-4 .transporteca-box .cargo-weight-measures {float: none;width: auto;}
	.version-3 .search-mini-v3-fields-container, .version-4 .search-mini-v3-fields-container {float: none !important;margin-bottom: 15px;} {float: none !important;margin-bottom: 15px;}
	#main .search .btn, #main .search .btn-grey{padding-top:32px;}
	#main .version-5 .btn, #main .version-5 .btn-grey, #main .version-6 .btn, #main .version-6 .btn-grey{padding-top:0;}
	#main .search-mini-container .search .btn a, #main .search-mini-container .search .btn-grey a{padding-top:8px;}
	#main .version-1 .dimensions-container, #main .version-2 .dimensions-container{width:80%;}
	#main .version-1 .btn, #main .version-1 .btn-grey, #main .version-2 .btn, #main .version-2 .btn-grey{width:20%;}
	
	.version-3 .search .to, .version-3 .search .from, .version-3 .booking-quote.search .search-mini-v3-fields-container .location-container, .version-3.search-mini-container .search .dimensions-container, .version-3.search-mini-container .booking-quote.search .dimensions-container{float:none;width:auto;}
	.version-3 .search .to, .version-3 .search .from{margin-bottom:8px;}
	.version-3.search-mini-container .search .location-container div > div, .version-3.search-mini-container .search .dimensions-container div > div{border:solid 1px #ccc;}
	.version-3 .search-min-v3-cargo-field .cargo1 .field-name{padding:0;float:none;width:auto;}
	.version-3 .transporteca-box .cargo-volume-measures, .version-3 .transporteca-box .cargo-weight-measures{float:none;width:auto;}
	.version-3.search-mini-container .search .btn-grey, .version-3.search-mini-container .search .btn{padding:0;}
	.version-3.search-mini-container .search-min-v3-cargo-field .cargo1 .field-name{display:none;}
	
	.version-4 .search .to, .version-4 .search .from, .version-4 .booking-quote.search .search-mini-v3-fields-container .location-container, .version-4 .search .dimensions-container, .version-4 .booking-quote.search .dimensions-container{float:none;width:auto;}
	
	.version-4 .search .to, .version-4 .search .from{margin-bottom:8px;}
	.version-4.search-mini-container .search .location-container div > div, .version-4.search-mini-container .search .dimensions-container div > div{border:solid 1px #ccc;}
	.version-4 .search-min-v3-cargo-field .cargo1 .field-name{padding:0;float:none;width:auto;}
	.version-4 .transporteca-box .cargo-volume-measures, .version-4 .transporteca-box .cargo-weight-measures{float:none;width:auto;}
	.version-4.search-mini-container .search .btn-grey, .version-4.search-mini-container .search .btn{padding:0;}
	.version-4.search-mini-container .search-min-v3-cargo-field .cargo1 .field-name{display:none;}
	
	.duty-calculator div .duty-calculator-field-container, .duty-calculator div .duty-calculator-value-container{float:none;width:auto;display:block;}
	
	
}
@media only screen and (max-width : 500px) and (min-width : 0) {
	.body-color p, .body-color span, .body-color li, .body-color div, .body-color font{font-size:14px !important;}
	.body-color h1, .body-color .heading {font-size: 32px !important;}
}
@media (max-width:460px) {
	.cargo-button-container a:nth-child(1), .cargo-button-container a:nth-child(1):hover {margin-left: 4px;}
	.search-mini-container .cargo-button-container a:nth-child(2), .search-mini-container .cargo-button-container a:nth-child(2):hover, .search-mini-2-container .cargo-button-container a:nth-child(2), .search-mini-2-container .cargo-button-container a:nth-child(2):hover {margin-left: 0;}
}
@media (max-width:460px) {
	#hsbody{width:94%;}
}
