body
{
	font-family: 'Roboto', sans-serif;color:#000;font-size:12px;text-align:center;
	padding:0px;margin:0px;
	background:#fff;	
}
img{border: 0;max-width:100%;}

p, h1, h2, h3, h4, h6{margin:0;padding:0;}
h5{margin:0 0 12px;font-size:15px;font-weight:normal;}
h4{margin:0;font-size:15px;font-weight:normal;}

a{color:#7f7f7f;font-style:italic;font-weight:700;text-decoration:underline;outline:none;outline-style:none;}
a:hover{color:#000;text-decoration:none;}
select, input, textarea{font-size:12px;color:#000;border:solid 1px #e8e8e8;font-family: 'Roboto', sans-serif;border-radius:2px;width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
select{padding:1px;}
input, textarea{padding:2px;}
select option{outline:none;outline-style:none;padding:0px;margin:0px;font-size:12px;}
input[type=checkbox],input[type=radio]{width:13px;height:13px;margin:0;padding:0 px;}
input:disabled, textarea:disabled, select:disabled, input[type="checkbox"]:disabled {background:#ddd;}

ul{margin:0 0 0 16px;padding:0px;}
li{margin:0;padding:0px;}

a img, img{border:none;outline:none;}

br{line-height:10px;}
.checkbox-container{position:relative;padding-left:17px;display:inline-block;line-height:20px;}
.checkbox-container > input{position:absolute;left:0;top:4px;}
.checkbox-container > label{position:absolute;left:0;top:4px;}
.checkbox-container > label.red_border {border:0;}
.checkbox-container > label.red_border:after{position: absolute;border:1px solid #d9000b;top: 0;left: 0;content: '';width: 11px;height: 11px;z-index: 1;}

#setRolePermissionForm .checkbox-container {display:block;}
#setRolePermissionForm .checkbox-container input{top:3px;}
#setRolePermissionForm h5.checkbox-container input{top:4px;}


.oh{padding:0 0 10px;}
.oh .oh{padding:0 0 5px;}
.oh select{width:99%;}
.fl-85{width:85%;float:left;}
.fl-80{width:80%;float:left;}
.fl-75{width:75%;float:left;}
.fl-70{width:70%;float:left;}
.fl-65{width:65%;float:left;}
.fl-60{width:59%;float:left;}
.fl-49{width:49%;float:left;}
.fl-50{width:50%;float:left;}
.fl-45{float:left;width:45%;}
.fl-40{width:40%;float:left;}
.fl-33{width:33%;float:left;}
.fl-30{width:30%;float:left;}
.fl-25{width:25%;float:left;}
.fl-20{width:20%;float:left;}
.fl-15{width:12%;float:left;}
.fl-12{width:12.5%;float:left;}
.fl-10{width:10%;float:left;}
.fl-5{width:5%;float:left;}
.fr-20{width:20%;float:right;}
.fr-30{width:30%;float:right;}
.fr-40{width:40%;float:right;}
.fr-45{float:right;width:45%;}
.fr-50{width:50%;float:right;}
.fr-55{width:55%;float:right;}

.pos-rel{position:relative;}
.right-bt{position:absolute;right:0;bottom:0;}
.right-tp{position:absolute;right:0;top:0;}
.left-bt{position:absolute;left:0;bottom:0;}
.left-tp{position:absolute;left:0;top:0;}

.optional{color:#7F7F7F;font-size:10px;}

.checkbox-ab{display:block;padding-left:20px;position:relative;}
.checkbox-ab input{position:absolute;left:0;top:2px;}
 
.help{background:url(../../images/help-icon.png) no-repeat 0 0;height:12px;width:12px;display:inline-block;text-decoration:none;}

.help-pop{margin-top:10px;background:#000;width:300px;padding:1px;position:absolute;display:none;z-index:99999999;box-shadow: 2px 2px 2px #9D9D9D;-moz-box-shadow: 2px 2px 2px #9D9D9D;-webkit-box-shadow: 2px 2px 2px #9D9D9D;-o-box-shadow: 2px 2px 2px #9D9D9D;}
.help-pop div{background:#FFF;text-align:left;padding: 11px 14px;line-height: 14px;font-size:12px;border: 2px solid #BFBFBF;}
.help-pop div h5{margin:0 0 6px;}
.help-pop div span, .help-pop div p{font-size:12px;}
.help-pop.right{background-position:200px top;}
.help-pop img{position:absolute;left:30px;top:-10px;}
.help-pop.right img{left: 253px;}

.scroll-div{height:130px;padding:5px;overflow-y:auto;border:solid 1px #BFBFBF;margin-bottom:10px;}

.clear-all{clear:both;}

.f-size-12{font-size:12px;}
.f-size-14{font-size:14px;}
.f-size-16{font-size:16px;}
.f-size-18{font-size:18px;}

.color{color:#7F7F7F;}

.button1{width:auto;border-radius:0;background:#e74118;font-size:14px;min-width: 94px;text-align:center;display:inline-block;cursor: pointer;text-transform:uppercase;padding:2px 7px;color:#fff;font-weight:bold;font-style:normal;text-decoration:none;}
.button1:hover{color:#000;}
.gray-btn, .button2{background:#7b7b7b;font-size:14px;min-width: 94px;text-align:center;display:inline-block;cursor: pointer;text-transform:uppercase;padding:2px 7px;color:#fff;font-weight:bold;font-style:normal;text-decoration:none;}
.gray-btn:hover, .button2:hover{color:#000;}

#header{margin:0 auto;width:986px;text-align:left;min-height:90px;}
#header .logo{float:left;margin:15px 0;}
#header .header-links{float:right;width:450px;margin:38px 0 0;position:relative;line-height:1.25;}
#header .header-links a{float:left;margin-left:25px;width:46px;font-weight:400;}
#header .header-links a.facebook-icon{margin-left:25px;text-decoration:none;margin-top: 0px;width:27px;}
#header .header-links a.twitter-icon{margin-left:5px;text-decoration:none;margin-top: 0px;width:27px;}
#header .header-links a.linkedin-icon{margin-left:5px;text-decoration:none;margin-top: 0px;width:27px;}
#header .header-links a.rss-icon{margin-left:5px;text-decoration:none;margin-top: 0px;width:27px;}
#header .header-links .user {width: 160px;float:left;position:relative;}
#header .header-links .user a {float:right;width:auto;font-size:14px;text-decoration:none;font-style: normal;}
#header .quick_quote{margin-left:5px !important;text-decoration:none;margin-top: 0px !important;width:80px !important;font-style: normal;font-size:14px;}
#header .header-links .header-quote-container{float:right;}
#header .header-links .header-quote-container strong{float:right;line-height:1.5;}
#header .header-links  .contacts {
    font-size: 14px;
    font-style: normal;
    margin-left: 5px !important;
    margin-top: 0 !important;
    text-decoration: none;
    width: 63px;
}

#navigation{margin:0 auto;width:986px;border-bottom:solid 1px #bfbfbf;text-align:left;}
#navigation a{border-bottom:solid 3px #fff;line-height:15px;color:#000;font-style:normal;font-weight:normal;text-decoration:none;display:block;padding: 0 0 2px;}
#navigation a.big{width:170px;margin-right:44px;}
#navigation li:hover a{border-bottom:solid 3px #7b7b7b;margin-bottom:0;}
#navigation li.active a{border-bottom:solid 3px #e74118;margin-bottom:0;}
#navigation a span{font-size:14px;text-transform:uppercase;font-weight:bold;}
#navigation ul:after{display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden;}
#navigation ul{margin:0;list-style:none;}
#navigation li{float:left;width:11%;margin:0 1% 0 0;}

#footer{}
#footer .copyright{margin:0 auto;width:986px;color:#909093;padding: 16px 0 6px !important;border-top:solid 1px #bfbfbf;}
#footer a{color:#fff;font-weight:400;}
#footer h3{color:#fff;font-size:16px;font-weight:normal;}
#footer .links1{float:left;margin:0 20px 0 0;width:200px;}
#footer .links2{float:right;width:100px;}
#footer .links1 a, #footer .links2 a{font-style:normal;text-decoration:none;font-size:13px;}

#footer .copyright span, #footer .copyright a{color:#909093;margin-right:15px; font-size:11px;margin-top: 4px;font-weight:normal;}


#hsbody{margin:0 auto;width:986px;padding:20px 0;text-align:left;position:relative;}
#hsbody-2{margin:0 auto;width:966px;padding:0 0 0 20px;text-align:left;background:url(../../images/border-line.gif) repeat-y 205px top;}
#hsbody-2:after, #content_body:after{display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden;}
.hsbody-2-left{float:left;width:185px;padding:20px 20px 20px 0;}
.hsbody-2-left p{margin:0px 0px 12px;}
.hsbody-2-right{float:left;width:746px;padding: 20px 0 20px 15px;min-height:500px;}

.hsbody-half{text-align:left;margin:0 auto;width:986px;overflow:hidden;background:url(../../images/border-line.gif) repeat-y 50% top;border-bottom:solid 1px #BFBFBF;}
.hsbody-half .hsbody-left{padding:20px 0;width:49%;float:left;}
.hsbody-half .hsbody-right{padding:20px 0;width:49%;float:right;}

.transportation-select {width:67%;}
.transportation-select select{min-width:411px;}

.where-when{width:22%;}
.where-when input{width:126px;}

.dimensions-field span{float:left;margin:0 6px 0 0;width:80px;}
.dimensions-field span.last{margin:0;}
.dimensions-field span input{width:72px;}
.dimensions-field span select{width:80px;}
.dimensions-field span.cross_seperator{width:7px;}
.dimensions-field span.dangerous_cargo{width:140px;}

.dimensions-field-name span{float:left;font-size:12px;}
.dimensions-field-name span.length{padding:0 55px 0 0;}
.dimensions-field-name span.width{padding:0 58px 0 0;}
.dimensions-field-name span.quantity{padding:0 0 0 123px;}

#popup-bg{background:#000;opacity:0.7;filter:alpha(opacity=70);position:fixed;top:0;left:0;z-index:999998;width:100%;height:100%;}
.popup-bg{background:url(../../images/blank.png);;opacity:0.7;filter:alpha(opacity=70);position:fixed;top:0;left:0;z-index:999998;width:100%;height:100%;}
#popup-container{position:fixed;top:10%;left:0;margin-top:0%;width:100%;text-align:center;z-index:999999;}

.popup{width:330px;text-align:left;padding:10px 20px;border:solid 1px #000;margin:0 auto;background:#fff;
	box-shadow:0px 0px 8px #202020;position:relative;
}
.popup.user-popup{width:360px;}
.popup h5{font-weight:bold;text-align:left;}

.signin-popup{width:270px;text-align:left;padding:10px 20px 10px 10px;border:solid 1px #000;margin:0 auto;}

.signin-popup .oh{padding:0 0 3px;}
.signin-popup-verification{width:270px;text-align:left;padding:10px 20px 10px 10px;border:solid 1px #000;margin:100px auto 0;}

.forgot-password-popup{width:340px;text-align:left;padding:10px 20px 10px 10px;border:solid 1px #000;margin:0 auto;}
.forgot-password-popup input[type=text]{width:220px;}

.contact-popup{width:355px;text-align:left;padding:10px 20px 10px 10px;border:solid 1px #000;margin:0 auto;}
.contact-popup textarea{width:100%;height:70px;}

.warehouse-map-popup{width:345px;text-align:left;padding:10px 20px;border:solid 1px #000;margin:0 auto;}
.warehouse-map-popup .map-border{border:solid 1px #000;}

.rating-popup{width:400px;text-align:left;padding:10px 20px;border:solid 1px #000;margin:0 auto;}
.rating-popup .rating-box .oh{padding:0 0 5px;}
.rating-popup .rating-box p{line-height:80%;}
.rating-popup .rating-count{font-style:italic;text-decoration:underline;color:#7F7F7F;}
.rating-popup .rating-graph{background:#eeeecc;margin:0 10px 0 0;}
.rating-popup .rating-graph span{display:block;background:#ffcc66;}

.help-select-graph-popup{width:575px;background:url(../../images/help-select-graph.gif) no-repeat center 80px #fff;min-height:350px;}
.help-select-graph-popup p{margin:0 0 12px;font-size:17px;}
.help-select-graph-popup .links{overflow:hidden;margin:0 0 58px;}
.help-select-graph-popup .links span{float:left;text-align:center;font-style:italic;color:#7F7F7F;line-height:100%;font-size:14px;}
.help-select-graph-popup .links .first{width:60px;margin: 0 0 0 3px;}
.help-select-graph-popup .links .third{width:65px;margin:0 0 0 56px;}
.help-select-graph-popup .links .seventh{width:69px;margin:0 0 0 202px;}
.help-select-graph-popup .links .ninth{width:70px;margin:0 0 0 50px;}
.help-select-graph-popup .shipment{font-style:italic;color:#7F7F7F;line-height:100%;font-size:14px;margin:0 0 10px;}


.forwarders label{display:block;position:relative;padding-left:20px;}
.forwarders label input{position:absolute;top:4px;left:0;}

.format-1 th, .format-1 td{font-size:12px;padding:4px 0px;text-align:center;border-bottom:solid 1px #9ca0bd;}

.format-2{border-bottom:solid 1px #BFBFBF;border-right:solid 1px #BFBFBF;}
.format-2 td{padding:4px 2px;border-left:solid 1px #BFBFBF;border-top:solid 1px #BFBFBF;}

.courier-provider .format-2, .courier-provider .format-7{border-right:0px;}
.courier-provider .format-2 td.firsttdnoborder, .courier-provider .format-7 td.firsttdnoborder{border-left:0px;}
.courier-provider-scroll {border:1px solid #BFBFBF;width:100%;min-height:229px;max-height:229px;overflow-y:auto;box-sizing: border-box;}
.courier-provider-scroll .format-2 tr:nth-child(1) td, .courier-provider-scroll .format-7 tr:nth-child(1) td{border-top:none;}
.courier-provider-scroll .format-2 td:nth-child(1), .courier-provider-scroll .format-7 td:nth-child(1){border-left:none;}

.format-3 td{border-right: 1px dashed #eaeaea;padding: 0 2px 3px;}
.format-3 th{border-right: 1px dashed #eaeaea;padding: 0 2px 4px;font-size: 14px;text-align:left;}
.format-3 td:nth-child(1), .format-3 th:nth-child(1){padding-left:0;}
.format-3 td:nth-last-child(1), .format-3 th:nth-last-child(1){border:none;}

.format-4 {border-right:solid 1px #BFBFBF;border-bottom:solid 1px #BFBFBF;}
.format-4 td{padding:4px 2px;border-left:solid 1px #BFBFBF;border-top:solid 1px #BFBFBF;}
.format-4 th{padding:4px 2px;border-left:solid 1px #BFBFBF;border-top:solid 1px #BFBFBF;}

.format-7 {border-right:solid 1px #BFBFBF;border-bottom:solid 1px #BFBFBF;}
.format-7 td{padding:4px 2px;border-left:solid 1px #BFBFBF;border-top:solid 1px #BFBFBF;}
.format-7 th{padding:4px 2px;border-left:solid 1px #BFBFBF;border-top:solid 1px #BFBFBF;}

.format-5 {border-right:solid 1px #BFBFBF;border-bottom:solid 1px #BFBFBF;}
.format-5 td{padding:4px 2px;border-left:solid 1px #BFBFBF;border-top:solid 1px #BFBFBF;background:#f2f2f2;}
.format-5 th{padding:4px 2px;border-left:solid 0px #BFBFBF;border-top:solid 1px #BFBFBF;}
.format-5 tr{height:30px;}

.selected-row td, .selected-row th{background:#dbdbdb;color: #828282;}

.breadcrumb{overflow:hidden; margin: 0 0 7px 35px;}
.breadcrumb p{float:left;display:inline-block;font-size:16px;background:url(../../images/breadcrumb-arrow.jpg) no-repeat right center; padding: 9px 35px 10px 0;margin:0 25px 0 0;}
.breadcrumb p a{font-style:normal;text-decoration:none;font-size:16px;color:#000;font-weight:400;}
.breadcrumb p.active {padding:0 35px 0 0;margin:0 25px 0 0;}
.breadcrumb p.active span{font-size:26px;color:#ff9d49;display:block;text-align:center;font-weight:bold;line-height:100%;}
.breadcrumb p.active .active-here{font-size:16px;color:#22518a;display:block;text-align:center;font-weight:bold;line-height:70%;}
.breadcrumb p.last{background:none;margin-right:0;padding-right:0;}

.signin-box{border: 1px solid #BFBFBF;padding:10px;width:42%;min-height:160px;}
.bd-or{float:left;width:70px;padding-top:65px;}

.profile-fields{height:26px;margin:3px 0 0 0;display:block;position:relative;clear: both;}
.profile-fields .field-name{float:left;width:25%;}
.hsbody-2-right .profile-fields .field-name{width:30%;}
.profile-fields .field-name span{font-size:11px;color:#7F7F7F;}
.profile-fields .field-container{float:left;width:30%;}
.profile-fields .field-container select{min-width:100px;}
.profile-fields.checkbox-field{height:55px;}
.profile-fields.checkbox-field .email-checkbox{position:absolute;left:25%;top:24px;padding-left:20px;}
.profile-fields.checkbox-field .email-checkbox input{position:absolute;left:0;top:0px;}

.ui-fields{overflow:hidden;margin:3px 0 0 0;display:block;position:relative;min-height:26px;}
.ui-fields .field-name{float:left;width:30%;}
.ui-fields .field-name span{font-size:11px;color:#7F7F7F;}
.ui-fields .field-container{float:left;width:65%;font-style:italic;}
.ui-fields .field-container select{min-width:100px;}


.ui-full-fields{overflow:hidden;margin:3px 0 0 0;display:block;position:relative;min-height:26px;}
.ui-full-fields .field-name{float:left;width:auto;}
.ui-full-fields .field-name span{font-size:11px;color:#7F7F7F;}
.ui-full-fields .field-container{float:right;font-style:italic;}
.ui-full-fields .field-container input[type=text]{width:50%;margin:0;}
.ui-full-fields .field-container select{min-width:100px;}

.profile-fields .field-alert{position:absolute;left:54.5%;top:-5px;z-index:9;background:url(../../images/field-alert-arrow.png) no-repeat left 10px;padding:0 0 0 15px;width:350px;}
.hsbody-2-right .profile-fields .field-alert{width:300px;left:60%;}
.profile-fields .field-alert div, .profile-fields .field-alert1 div{background:#b6dde8;padding:10px;line-height:110%;}

.profile-done-alert{z-index: 9;position:absolute;right:60px;top:60px;background:url(../../images/profile-done-alert.png) no-repeat left 10px;width:310px;height:459px;}
.profile-done-alert td{padding: 0 0 0 55px;}
.profile-done-alert .profile-alert-content{background:#B6DDE8;padding:20px;vertical-align: middle;display:table-cell;width: 270px;}
.profile-done-alert div a{font-size:15px;font-weight:400;}
.profile-done-alert div p{margin-bottom:15px;}
.profile-fields .checkbox-alert{top:30px;}

.profile-fields .field-alert1{position:absolute;left:54.5%;bottom:3px;z-index:9;background:url(../../images/field-alert-arrow-btm.png) no-repeat left bottom;padding:0 0 0 15px;width:350px;}

.bd-details-field input[type=text]{width:235px;}
.bd-details-field select{width:241px;}

.total-payable{border-top:solid 1px #BFBFBF;margin-left:20%;}

.account-links a{color:#000;font-style:normal;font-size:14px;font-weight:400;}
.account-links li{list-style:none;margin:0 0 6px;}
.account-links li.active{list-style:disc;}
.account-links li a{text-decoration:none;}

.booking-steps{list-style:none;height:30px;margin: 0 0 0 -3px;}
.booking-steps li{float:left;font-size:14px;padding:4px 4px 0;}
.booking-steps li.active{font-weight:bold;font-size:24px;color:#E46C0A;padding:0 4px;}
.booking-steps li a{font-size:18px;text-decoration:none;font-style:normal;color:#000;font-weight:400;}

.booking-box{overflow:hidden;border:solid 1px #BFBFBF;background:url(../../images/border-line.gif) repeat-y scroll 150px top;padding: 10px 5px 1px 10px;margin:0 0 10px;position:relative;}
.booking-box .logo-container{float:left;width:130px;margin-right:20px;}
.booking-box .details{float:left;width:377px;margin:0 5px 0 0;}
.booking-box .details p{line-height:110%;}
.booking-box .details p.f-size-12{line-height:160%;}
.booking-box .buttons{float:left;width:175px;}
.booking-box .buttons .button1 span, .booking-box .buttons .button2 span{width:145px;text-align:center;}

.booking-box-part1{margin-bottom:10px;border:solid 1px #BFBFBF;border-top:none;overflow:hidden;padding:10px;position: relative;}
.booking-box-part1 .buttons{float:right;width:190px;padding-bottom: 58px;}
.booking-box-part1 .buttons .color{font-size:13px;color:#7F7F7F;margin:0 0 10px;}
.booking-box-part1 .buttons .button1 span, .booking-box-part1 .buttons .button2 span{width:145px;text-align:center;}

.booking-textarea textarea{width:99%;height:100px;}
.booking-textarea span{font-size:12px;font-style:italic;}

.registered-textarea select{height:150px;}
.registered-textarea select option{border:None;}
.registered-textarea .consignee{margin-left:2%;}


.errorBox {
    background-color: #FFFFDD;
    border: 1px solid #F2C218;
    margin-bottom: 20px;
    padding: 15px 15px 15px 45px;
}
.errorBox .header {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}
.errorBox li {
    margin: 3px 0 3px 15px;
}
.mainpage .fl-65 .fl-25{margin:0 6px 0 0;line-height:110%:}
.mainpage .fl-65 .fl-20{width:124px; line-height:100%:}
.mainpage .fl-65 .fl-20 input[type=text]{width:110px;}
.mainpage .clear-all{padding-right:17px;}
.dimensions-field span.last{margin:0;}
.mainpage h5{margin-bottom:17px;}
.helpmeselect{bottom:13px;position: absolute;right: 0;}
hr{outline:none;height:1px;border:none;border-top:solid 1px #BFBFBF;}

.booking-ref-link{font-style:normal;color:#000;font-weight:400;}

.selected-row .booking-ref-link{background:#dbdbdb;color: #828282;}

.page_limit{padding:5px 0 0;}
.page_limit .pagination{margin:9px 0 0;width:70%;float:left;}
.page_limit .limit{float:right;width:30%;position:relative;padding:4px 90px 0 0;text-align:right;box-sizing:border-box;margin-top:14px;}
.page_limit .limit select{border: 1px solid #ccc;height: 26px;margin-right:1px;position:absolute; right:0;top:0;width:80px;}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
  #navigation a span{font-size:16px;}
  #header .header-links{width:560px;} 
  .dimensions-field{width:66%;}
  .fl-65.dimensions-field span.fl-30{margin:0;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
  #navigation a span{font-size:16px;}
  #header .header-links{width:560px;} 
  .dimensions-field{width:66%;}
  .fl-65.dimensions-field span.fl-30{margin:0;}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation:portrait) {
  /* For portrait layouts only */
  #navigation a span{font-size:16px;}
  #header .header-links{width:560px;} 
  .dimensions-field{width:66%;}
  .fl-65.dimensions-field span.fl-30{margin:0;}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation:landscape) {
  /* For landscape layouts only */
  #navigation a span{font-size:16px;}
  #header .header-links{width:560px;} 
  .dimensions-field{width:66%;}
  .fl-65.dimensions-field span.fl-30{margin:0;}
}

#myaccount_info h5{margin:0 0 7px;}
#myaccount_info .ui-fields{height:26px;}
.filter_style p{margin: 0 0 2px;}

/*loader function starts*/
.loader_popup_bg{position:fixed;width:100%;height:100%;z-index:9999;margin:0px;padding:0px;left:0;top:0;}
			
.popup_loader{width:100%;z-index:1;height:100%;position:absolute;left:0;top:0;margin:0px;padding:0px;background:#000;opacity:0.7;filter:alpha(opacity=70);}

.popup_loader .popup_content{width:100%;position:fixed;margin:0px;;padding:0px;text-align:center;z-index:33;left:0;top:44%;}
.popup_loader .popup_content img{margin:10px auto 0;padding:0px;}

.login_popup3 .error_msg{min-height:40px;margin:0px 20px 10px;text-align:center;padding-top:15px;color:red;font-weight:bold;}
#loader img{left:50%;top:50%;position:absolute;margin:0;z-index:2}
/*loader function ends*/
.signin-popup h5{margin-bottom:20px;}

.errorBox1 {
    background-color: #FFFFDD;
    border: 1px solid #F2C218;
    margin: 0 auto;
    padding: 0 0 1px;
    text-align: left;   
}
.errorBox1 .header {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}
.errorBox1 li {
    margin: 3px 0 3px 15px;
}

#select_service_search p{font-size:15px;}
.filter_style h5{margin-bottom:0px;}
.format-1 .button1 span{min-width: 50px !important;}
#select_service_search .forwarders label, #select_service_search hsbody-2-left{font-size:15px;}
.filter_top_text{position:absolute;font-size:11px;font-style:italic;}
.range_value_left{position:absolute;font-size:11px;color:#a0a0a0;font-style:italic;margin:2px 0 0;}
.range_value_right{position:absolute;font-size:11px;margin: 2px 0 0 94px;color:#a0a0a0;font-style:italic;width: 77px;text-align: right;}
.compare-popup{width:350px;margin-top: 50px;}
.abandon-popup{margin-top:50px;width:512px;}
.format-1 td img{max-width:80px;}

#ratings-star{background:url(../../images/rating-stars.png)no-repeat 0 0;height:10px;line-height:10px;width:50px;margin: 3px auto 4px;}
#ratings-star span{background:url(../../images/rating-stars.png)no-repeat 0 -10px;height:10px;line-height:10px;display:block;}

.RatingBox1
{
	display:block;
	width:10px;
	background:url(/images/white-star.png) no-repeat;
	margin:3px 4px 0px 0px;
	height:10px;
	line-height:4px;
	float:left;
	cursor:pointer;
	text-decoration:none;
}
.RatingBoxAct1, .RatingBox1:hover
{
	display:block;
	width:10px;
	margin:3px 4px 0px 0px;
	height:10px;
	line-height:4px;
	float:left;
	background:url(../../images/orange-star.png) no-repeat;
	cursor:pointer;
	text-decoration:none;
}
.registered-textarea h5{margin-bottom:3px;}
.registered-textarea{padding-bottom:4px;}
.remove-shippers-popup{margin-top:50px;}
#linked_user_account select{height:150px;}
.delete-account-popup{margin-top:80px;}
.map-popup{margin-top:-50px;width:500px;}
.servicess_slider_header_text{font-size:15px;}


.profile-done-alert-booking{z-index: 9;position:absolute;right:50px;top:190px;background:url(../../images/profile-done-alert.png) no-repeat left 10px;width:310px;height:459px;}
.profile-done-alert-booking td{padding: 0 0 0 55px;}
.profile-done-alert-booking .profile-alert-content{background:#B6DDE8;padding:20px;vertical-align: middle;display:table-cell;width: 270px;}
.profile-done-alert-booking div a{font-size:15px;font-weight:400;}
.profile-done-alert-booking div p{margin-bottom:15px;}
.compare-popup select{width:55px;}

.paid_amount{margin-top:5px;}
.forwarder_logo{text-align:center;float: left;margin: 0 10px 0 0;}
.booking-box-part1 .checkbox-ab{padding-left:16px;}
.booking-box-part1 .rating_buttons{bottom: 14px;position: absolute;right: 15px;width: 170px;}
.booking_ratings{ bottom: 3px;position: absolute;right: 6px;width: 160px;}
.bottom_align{position:absolute;bottom:10px;right:6px;}
.rating_content p{margin-bottom:6px;}
.rating_content p.rating_comment{margin:0;}


.profile-done-alert-forwarder{z-index: 9;position:absolute;right:50px;top:90px;background:url(../../images/profile-done-alert.png) no-repeat left 10px;width:310px;height:200px;}
.profile-done-alert-forwarder td{padding: 0 0 0 55px;}
.profile-done-alert-forwarder .profile-alert-content{background:#B6DDE8;padding:20px;vertical-align: middle;display:table-cell;width: 270px;}
.profile-done-alert-forwarder div a{font-size:15px;font-weight:400;}
.profile-done-alert-forwarder div p{margin-bottom:15px;}
#userBookingLogin{padding:10px;border:solid 1px #BFBFBF;margin-bottom:10px;}
#userBookingLogin .oh{padding-bottom:0px;}
#userBookingLogin .oh p {margin-top: 4px;}
.rating-popup h5 {margin-bottom: 5px;font-weight:normal;}
#user_comment p{margin-bottom:5px;font-size:14px}
#booking_detail_form H5{margin-bottom:0px;}
#pickup_address_div {margin-top:-210px;}
#show_link{position:absolute;right:0;top:28px;width:200px;}
#booking_confirmation_form .hsbody-2-right .oh{padding: 0 0 5px;}
#booking_confirmation_form .hsbody-2-right hr{margin: 0 0 5px;}
#show_link a {float: none !important;margin: 0 !important;}
.haulage-get-data .s-field{width:16%;}
.haulage-get-data .s-field select{width:110px;}

.s-field.fl-65{width:63%;float:right;margin-right:7px;}


.profile-box-link{float:left;width:149px;border:solid 1px #BFBFBF;padding:10px;text-align:center;background:#f2f2f2;min-height:75px;}
.profile-box-link a{color:#000;text-decoration:none;font-style:normal;font-weight:400;}

.profile-box{float:left;width:169px;border:solid 1px #BFBFBF;margin:0 10px 0 0;}
.profile-box .title{font-weight:bold;border-bottom:solid 1px #BFBFBF;padding:5px;line-height:132%;min-height:21px;}
.profile-box .email{background:url(../../images/email-icon.png) no-repeat 5px center; padding:5px 5px 5px 25px;line-height:132%;}
.profile-box .date-setting{background:url(../../images/lock-icon.png) no-repeat 5px center; overflow:hidden;padding:5px 5px 5px 25px;line-height:132%;}
.profile-box .date-setting .date{float:left;padding:1px 0 0;}
.profile-box .date-setting a{text-decoration:none;width:20px;height:20px;font-weight:400;}
.profile-box .date-setting .settings{float:right;background:url(../../images/setting-icon.png) no-repeat left center;margin-right:5px;}
.profile-box .date-setting .delete{float:right;background:url(../../images/delete-icon.png) no-repeat left center;}

.feedback-box{border:solid 1px #BFBFBF;padding:6px;min-height:210px;}
.feedback-box p{margin:0 0 10px;font-style:italic;font-size:14px;}
.hsbody-2-left.account-links p{font-size: 14px;font-weight: bold;margin:0 0 5px}
.format-3 .tabcolor {border-top-color: white;}

/* container of the file upload elements and look of the field */
.file {
	display: inline-block;
	width:99%;
	position: relative;
	background: #fff;
	border:solid 1px #BFBFBF;
	margin: 10px 0;
}
/* style text of the upload field and add an attachment icon */
.file .button {
	background:url(../../images/ico_clip.png) no-repeat 100% 50%;
	text-indent:10px;	
	font-size:14px;
	color: #000000;
	height:32px;
	line-height:32px;
	display: block;
}
/* hide the real file upload input field */
.file input {
	cursor: pointer;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	filter: alpha(opacity=1);
	-moz-opacity: 0.01;
	opacity: 0.01;
	font-size: 100px;
}

#paging_button ul{max-width:800px; padding:0px; margin:8px; }

#paging_button ul li { 

	-moz-border-radius: 3px 3px 3px 3px;
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin: 0 2px 0px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
	list-style-type:none; 
    width: 20px;cursor:pointer;
	}
	
#paging_button ul li:hover{background:#006699;}
#paging_button li:hover{ color: #CC0000; cursor: pointer; }

#content #payment_pending{width: auto;padding-right: 10px;}

#show_link .logout_account{float:right;width:30px;padding: 4px 0 0;text-align: right;}
#show_link .user_account{float:right;width:120px;text-align: right;}
#show_link a{float:none !important;margin:0 !important;}
.sort-arrow-up{background:url(../../images/sort-arrow-up.png) no-repeat right center;display:inline-block;min-height:12px;min-width:12px;float:right;}
.sort-arrow-down{background:url(../../images/sort-arrow-down.png) no-repeat right center;display:inline-block;min-height:12px;min-width:12px;float:right;}
.sort-arrow-up-grey{background:url(../../images/sort-arrow-up-gray.png) no-repeat right center; display:inline-block;min-height:12px;min-width:12px;float:right;}
.sort-arrow-down-grey{background:url(../../images/sort-arrow-down-gray.png) no-repeat right center;display:inline-block;min-height:12px;min-width:12px;float:right;}


.multi-payment-transfer-parent-popup{width:700px;margin-top: 20px;}
.multi-payment-transfer-popup{max-height: 330px;overflow-x: hidden;overflow-y: auto;padding-bottom:10px;}
.multi-payment-transfer-popup h5{padding-top:10px;margin-bottom:0px;}
.terms_condition_top{margin-top:-35px;margin-right:15px;}
.user_nav {margin:0 0 10px;}
.user_nav td{cursor:pointer;}
#ajax_prefrence_control select{width:215px;}
.google_map_select{width:720px;height:570px;}
.cursor-pointer{cursor: pointer;}
.info-icon{background:url(../../images/Information.png) no-repeat right center; display:inline-block;padding-right:25px;padding-top:3px;}

.multi-bulk-upload-comment-popup{width:450px;}
.multi-comment-popup{width:400px;max-height: 230px;overflow-x: hidden;overflow-y: auto;padding-bottom:10px;}
.multi-comment-popup h5{padding-top:10px;margin-bottom:0px;}
#content #payment_pending{width: 250px;}
.bank_name{width: 200px;}
.profile-fields .profile-fields {margin: 0;position: inherit;}
#add{margin-bottom:3px;}
#editCurrency .profile-fields .field-container{width:29.4%;float:right;}
#editCurrency .country-field{width:49%;float:left;}
#editCurrency .country-field:nth-last-child(1){margin-left:2%;}
.hsbody-2-right #editCurrency .profile-fields .field-name{width: 60%;}

#userInfo .profile-fields .field-container{width: 29.5%;}
#userInfo .profile-fields .field-name{width: 30%;}
.page_nav a {cursor: pointer;padding: 2px 2px 2px 2px;}
#searchPage input[type="text"], #selectSevices input[type="text"], #myBookings input[type="text"], #bulkUpload input[type="text"], #zonePricing input[type="text"], #general input[type="text"], #communication input[type="text"]{width:100px !important;margin:0;}
.popup-forgot-password{width:330px;text-align:left;padding:10px 20px;border:solid 1px #000;margin:70px auto;background:#fff;
	box-shadow:0px 0px 8px #202020;
}
.popup-forgot-password h5{font-weight:bold;text-align:left;}
.map_note p {color: #000000;display: inline-block;font-size: 12px;font-style: italic;margin: 0 0 5px;}
.show_message{border-bottom: 1px solid #bfbfbf;margin: 0 auto;padding-right: 81px;position: relative;text-align: left;width: 905px;padding-top: 4px;padding-bottom:4px;}
.note_info{min-height:30px;}
.warning{background:url(../../images/Warning.png)no-repeat 0 3px; padding: 2px 0 2px 30px;margin-top: -2px;}
.information{background:url(../../images/Information.png) no-repeat 0 3px; padding:3px 0 1px 30px;}
.show_message #foo {padding-left: 2px;}
.graph-oh{overflow:Hidden;margin:0 0 10px;}
.graph-oh div{float:left;width:50%;}
.graph-oh img{width:99%;max-width:99%;}
.graph-oh h4 {font-size: 16px;}
.hsbody-2-right #addExplainPage .profile-fields .field-name { width: 63%;}
.hsbody-2-right #addExplainPage .profile-fields .field-container{float:right;}
.hsbody-2-right #addExplainPage .profile-fields .field-container textarea{ width: 99%;margin-bottom: 5px;height:70px;}
.hsbody-2-right #addBlogPage .profile-fields .field-name { width: 63%;}
.hsbody-2-right #addBlogPage .profile-fields .field-container{float:right;}
.hsbody-2-right #addBlogPage .profile-fields .field-container textarea{ width: 99%;margin-bottom: 5px;height:70px;}
#uploadFile #upload{
    bottom: -4px;
    cursor: pointer;
    display: block;
    height: 27px;
    left: 2px;
    margin: 0;
    padding: 0 10px 0 0;
    position: absolute;
    width: 110px;
    opacity:0.0;filter:alpha(opacity=0);}
.multi-comment-popup p{font-size: 14px; margin: 0 0 10px 7px;}
.viewhaulagezone .format-2{border-right:0px;}
.viewhaulagezone .format-2 td.firsttdnoborder{border-left:0px;}
iframe{margin:0;padding:0;border:0;}
.pricingzonedata th{font-size:12px;font-weight:normal;padding-right:10px;}
.pricingzonedata th:nth-last-child(1){padding-right:0;}
#haulageOBO .haulage-get-data .s-field{width: 123px;}
#haulageOBO .haulage-get-data .s-field select{width: 118px;}
#haulageOBO .haulage-get-data #warehouse.s-field{width:254px;}
#haulageOBO .haulage-get-data #warehouse.s-field select{width:249px;}
.tryhaulagepricing td{font-size:12px;padding-right:4px;}
.tryhaulagepricing td a span{min-width: 70px;}
.displayzonemap{float:right;max-width:40%;border: 1px solid #BFBFBF;}
.tableScroll{border: 1px solid #BFBFBF;overflow:auto;}
.tableScroll .format-2{border-right:0px;}
.tableScroll .format-2 .noborder{border-left:0px;}
.tableScroll .format-2 th{border-left: 1px solid #BFBFBF;padding: 4px 2px;}

.tryitnow .fl-25 select{width:96%;}
.tryitnow .fl-20 input{width:132px;}
.tryitnow .fl-33 select{width:96%;}
.td-border-bottom td, .td-border-bottom th{border-bottom:solid 1px #BFBFBF;}
.td-border-top td, .td-border-top th{border-top:solid 1px #BFBFBF;}

.preview_box{
	
}
#currentWTW .fl-25 { width: 22%;}
#currentWTW .fl-10 { width: 14%;}
#obo_lcl_bottom_form .gap-text-field{margin-top: 20px;}
#currentHaulage .fl-25 { width: 22%;}
#currentHaulage .fl-10 { width: 14%;}
#currentCC .fl-25 { width: 22%;}
#update_obo_cc_form .gap-text-field{margin-top: 20px;}
#currentCFS .fl-25 { width: 22%;}
#cfs_location_map_form .fl-25 { width: 22%;}
#addEditWarehouse .profile-fields .field-alert1 {left: 60%;width: 300px;}


/*******************New home page css starts here*************************************/
.home-new p{font-size:16px;}
.orange-button{background:#f79646;display:inline-block;text-align:center;padding:4px 12px;color:#fff;text-decoration:none; font-style:normal;box-shadow:0px 3px 3px #0f233b;-o-box-shadow:0px 3px 3px #0f233b;-webkit-box-shadow:0px 3px 3px #0f233b;-moz-box-shadow:0px 3px 3px #0f233b;}
.orange-button:hover{color:#000;}

.blue-button{min-width:150px;background:#17375e;display:inline-block;text-align:center;padding:4px 12px;color:#fff;text-decoration:none; font-style:normal;/*box-shadow:0px 3px 3px #0f233b;-o-box-shadow:0px 3px 3px #0f233b;-webkit-box-shadow:0px 3px 3px #0f233b;-moz-box-shadow:0px 3px 3px #0f233b;*/border-radius:3px 3px 3px;-webkit-border-radius:3px 3px 3px;-moz-border-radius:3px 3px 3px;-o-border-radius:3px 3px 3px;}
.blue-button:hover{color:#FFF;}

#hsbody.search-option p{margin:0 0 10px;line-height:20px;}
#hsbody.search-option h2{color:#10254b;margin:0;padding:0;font-weight:normal;font-family: arial-rounded;font-size:27px;}
#hsbody.search-option h3{color:#505050;margin:0 0 10px;font-weight:normal;font-family: arial-rounded;font-size:18px;}
.home-new{float:right;width:650px;padding: 4px 0 23px;}
.benefits{width:646px;background:#f7f7f7;border: 1px solid #e2e2e2;position:relative;padding: 9px 0 0;min-height:126px;}
.benefits .common{ float:left;margin: 0 0 0 5px;padding-right:5px;width:204px;border-right: 1px solid #e2e2e2;}
.benefits .last{border:none;}
.benefits .button{position:absolute;bottom:-26px;left:0px;width:100%;}

#hsbody.search-option .benefits .common h5{ text-align:center;margin: 0 0 7px;font-size:16px;color:#10254b;font-family: arial-rounded;}
.benefits .common p{padding:0;line-height: 115%;margin: 0 !important;font-size:15px;line-height: 18px;}

.search-new{float:left;line-height:140%;width:280px;margin-bottom:10px;line-height:20px;}
.search-new h6{font-family: arial-rounded;font-size:27px;color:#17375e;padding:10px 0;background:url(../images/search-heading-bg.jpg) repeat-x 0 bottom #f0f0f0;font-weight:normal;}
.search-new .fields{background:url(../images/search-arrow.jpg) no-repeat center top #17375e;padding: 24px 24px 1px;margin:0 0 10px;}
.search-new .fields a{display:block;}
#hsbody.search-option .search-new .fields p{margin:0 0 15px;}
.search-new .fields select{width:100%;color:#17375e;font-size:16px;height:26px;}

.search-new .text{padding: 10px 10px 9px;background:/* url("../images/truck.jpg1") no-repeat right bottom*/ #17375E;;color:#fff;}
.search-new ul{list-style:none;margin: 0 0 0 12px;padding:0;}
.search-new li{padding: 5px 0 0 52px;line-height: 20px;margin-bottom: 5px;background-position: 0 16px !important; min-height: 86px;}
.search-new .one{background:url(../images/list-style1.png) no-repeat 0 center;}
.search-new .two{background:url(../images/list-style2.png) no-repeat 0 center;}
.search-new .three{background:url(../images/list-style3.png) no-repeat 0 center;}
.search-new .button1 span{min-width:205px;line-height:18px;}
.search-new .text p {margin: 0 0 12px !important;}
.checkbox, .radio {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(../images/checkbox.png) no-repeat;
	display: block;
	clear: left;
	float: left;
}
.radio {
	background: url(../images/radio.png) no-repeat;
}
.select {
	position: absolute;
	width: 200px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 26px;
	padding: 3px 24px 0 8px;
	color:#003366;
	font-size: 16px;
	background: url(../images/custom-select-bg.png) no-repeat;
	overflow: hidden;
}

.compare-button{background:url(../images/compare-button.png) no-repeat 0 0;width:228px;margin:0 auto;height:32px;text-decoration:none;}
.compare-button:hover{background-position:0 -32px;}
.register-button {
    background: url(../images/register-button.png) no-repeat scroll 0 0;height: 34px;margin: 0 auto;width: 144px; display:inline-block;
}
.register-button:hover{background-position:0 -34px;}
.search-option{overflow:Hidden;padding-bottom:1px !important;}
.intro_video{background: url(../images/see-transporteca-txt.jpg) no-repeat 43px 0;padding: 65px 0 0 130px;text-align:center;margin:0 0 20px;}
.search-new .text p.book_in_minutes{font-family: arial-rounded;margin-bottom: 17px !important;}
.share-this-button {
    background: url(../images/share-this-link-button.png) no-repeat scroll 0 0;height: 34px;margin: 0 auto;width: 148px; display:inline-block;
}
.share-this-button:hover{background-position:0 -34px;}
/*******************New home page css ends here*************************************/

#addLandingPage .profile-fields .field-container {float: right;}
.hsbody-2-right #addLandingPage .profile-fields .field-name{width: 60%;}
.profile-fields:after {
 content: ".";
 display: block;
 clear: both;
 visibility: hidden;
 line-height: 0;
 height: 0;
}
#addLandingPage .profile-fields .field-container textarea {width: 99%;height:71px;}
#preview_landing_page img{width:100%;}
#addLandingPage .profile-fields{height:auto;}

#first_div{margin-top:15px;}
#first_div .left-fields{float:left;width:235px;}
#first_div .right-fields{float:right;width:466px;}
#first_div .left-fields input{width:215px;}

.hsbody-2-right #addLandingPage #first_div .profile-fields .field-name{width:15px;}
#first_div .field-container{width:219px;}

#first_div .right-fields .field-container{width:450px;}

#addLandingPag #first_div .right-fields .profile-fields .field-container input,#addLandingPag #first_div .right-fields .profile-fields .field-container textarea{width:430px;}
.hsbody-2-right #addLandingPage #middle_div .profile-fields .field-name{width:15px;}
#middle_div .field-container{width:219px;}
#addLandingPage #middle_div .profile-fields .field-container input, #addLandingPage #middle_div .profile-fields .field-container textarea{width:215px;}

#preview_landing_page{margin: 4px 0 0 14px;}
#middle_div{margin-bottom:15px;}
#last_div .button1 span{min-width: 66px;}
#addLandingPage .right-fields .profile-fields .field-container textarea{height:45px;}

/* graph bar: container, graph bar, holiday, workday */
.C {position: relative; width: 40px; left: 0; top:0; height:295px; float:left;text-align: center;}
.G {position: absolute; width: 30px; left: 0; z-index: 1;left: 5px;}
.DH, .DW {position: absolute; left: 0; top: 293px;z-index: 2; text-align: center;width: 40px;}
.DW1 {position: absolute; width: 40px; left: 0; top: 15px;z-index: 2; text-align: center;font-size:14px;}
.DH {background: #fdd;}

/* Y-axis description */
.Y {position: absolute; left: 6px;}

/* legend below graph: text, image */
.Lt {position: relative; top: 0; left: 0; width:  92px; height: 16px;
     border: 0; float: left;}
.Li {width: 20px; height: 12px; border: 0;}

.clearfix:after, .oh:after {display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden;}
#show_graph #right_div p{padding:0 0 2px;}
.message_options p.checkbox-ab{line-height: 114%;}
#updateLogoForm .profile-fields{height:auto;}

.row-container{display:table;width:100%;}
.row-container div{display:table-cell;padding:8px 5px;}
.row-container .selected
{
    background: none repeat scroll 0 0 #D8D8D8;
    border-bottom: 1px dashed #CCCCCC;
    border-right: 1px dashed #CCCCCC;
    padding: 8px 5px;
}
.row-container .wd-15{width:15%;}
.row-container .wd-5{width:5%;}
.row-container .wd-7{width:7%;}

p.active_list{
     list-style:disc outside none;
     display:list-item; 
     }
.field-title{color:#222222;font-size:12px;}

.body-color{padding:0 0 30px;}
.body-color .para{margin:0 0 15px;color:#fff;}
.body-color .heading{margin:0 0 45px;}
.body-color a{color:#fff;font-weight:300;text-decoration:underline;}
.body-color a:hover{text-decoration:none;}
.body-color .ulclass{list-style: disc;margin: 0 0 5px 14px;color:#fff;}

.red_border{border:1px solid #D9000B; !important;}
.red_background{border:1px solid #D9000B; !important;color:#D9000B;}
.red_text{color:#D9000B;}
.green_text{color:#33be40;}

#search-freight{background: url(../../images/search-background.jpg) 50% 0 no-repeat fixed;background-size: cover; min-height: 500px;height: 800px;margin: 0 auto;width: 100%;position: relative;}
#search-freight article {min-height: 10px;position: absolute;top: 40%;margin:-95px 0 0;width: 100%;}
#search-freight article h1{color:#222222;font-size:53px;}
#search-freight .search{box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);}
.search{text-align:left;color:#222222;border-radius:5px;background:rgba(256, 256, 256, 0.15);border:1px solid rgba(170, 170, 170, 0.5);margin:0 auto;max-width:750px;padding:15px;position:relative;}
.search > div, .location-container > div, .dimensions-container > div{float:left;}
.search .location-container div > div, .search .dimensions-container div > div{border:1px solid rgba(170, 170, 170, 0.6);background:rgba(256, 256, 256, 0.1);border-right:none;padding:5px 0;}
.search .dimensions-container .kg div{border-right:1px solid rgba(170, 170, 170, 0.6);}
.search label{display:block;margin:0 0 2px;white-space: nowrap;}
.search input{background:transparent;border:none;color:#222222;padding:0;width:97%;margin:0 0 0 2%;overflow: hidden;text-overflow: ellipsis;white-space: pre;}
.search .location-container{width:47%;}
.search .dimensions-container{width:38%;}
.search .from {width:50%;}
.search .to {width:50%;}
.search .pickup {width:22%;}
.search .dimensions-container .pickup > div {height: 26px;padding: 4px 4px 0;position:relative;}
.search .date {width:39%;}
.search .cbm {width:21%;}
.search .kg {width:18%;}
.search .pickup input, .search .date input, .search .cbm input, .search .kg input{text-align:center;}

.search .btn {width:15%;text-align:right;padding:22px 0 0;float: right !important;}
.search .btn a{text-align: center;color:#fff;width:100%;display:block;background:#52a723;padding:5px 0 0;margin:0;height:27px;text-transform:uppercase;}
.search .pickup select{width:100%;height:22px;line-height: 19px; border: none;color: #fff;background:transparent;font-size: 13px;padding: 2px;}
.search .location-pointer{position:absolute;left:51px;top:-16px;}

#search-result{margin:0px 0 0 200px;min-height:50px;}
#search-result .search label{font-size: 15px;margin: 0 0 5px;}
#search-result .search{color:#333;margin:0 auto 50px;padding:0;border:none;max-width:966px;}
#search-result .search input{color:#707070;background:url(../../images/search-field-arrow.png) no-repeat 100% center;font-size: 15px;margin: 0 0 0 5%;width: 88%;padding-right: 5%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#search-result .search .cbm input, #search-result .search .kg input{background:transparent;}
#search-result .search .date{width:35%;}
#search-result .search .btn{width:13%;padding: 25px 0 0;}
#search-result .search .btn a{width:100%;height:31px;padding:9px 0 0;font-size:16px;margin:0;color:#fff;border-radius:0 4px 4px 0;background:#d85124;text-transform:uppercase;text-decoration:none;}
#search-result .search > div > div > div{padding:9px 0 8px;box-shadow: 0 3px 2px 0 rgba(170, 170, 170, 0.3) inset;background:#fff;}
#search-result .search .from div{border-radius:4px 0 0 4px;}
#search-result .search .kg {width:20%;}
#search-result .search .dimensions-container .kg div {border-right:none;}
#search-result .search .pickup {width:24%;}
#search-result .search .pickup select{color:#707070;font-size: 15px;height:24px;outline: none;}
#search-result .search .dimensions-container .pickup > div{padding:6px 2px;}
#search-result .search .dimensions-container .pickup > div .select{color: #707070;font-size: 15px;height: 28px;padding: 4px 0 0 4px;width:80%;}
#search-result .search .dimensions-container {width: 39%;}
#search-result .search .date input {text-align:left;width:86%;margin-left:6%;}

#search-result .search .btn-grey {
    padding: 25px 0 0;
    width: 13%;
}
#search-result .search .btn-grey a {
    background: #7f7f7f;
    border-radius: 0 4px 4px 0;
    color: #fff;
    font-size: 16px;
    height: 31px;
    margin: 0;
    padding: 9px 0;
    text-transform: uppercase;
    width: 100%;
    text-decoration:none;
}


.results {margin:0 auto 50px;max-width:966px;text-align:left;}
.results > div{padding:10px;}
.results .odd{background:#e5e5e7;}
.results div > div{float:left;font-weight: 400;font-size: 15px;text-align:center;}
.results .head > div{font-weight:700;text-align:center;}
.results .head .rating{margin-left:16%;}
.results .head .price{position:relative;text-align:left;}
.results .head .price .select{font-size:13px;width: 48px;color:#999;}
.results .head .price select.styled{position:absolute;width:45%;font-size:13px;padding:0;}

.results .logo{width:16%;}
.results .logo a{display:table-cell;vertical-align:middle;height:50px;padding-top:4px;}
.results .logo img{max-width:100%;max-height:44px;}
.results .rating{width:18%;padding:14px 0 0;}
.results .rating a{font-weight:300;font-size:12px;display:inline-block;}
.results .rating a:after{clear: both;content: ".";display: block;font-size: 0;height: 0;line-height: 0;overflow: hidden;}
.results .rating img{float:left;margin:3px 5px 0 0;}
.results .rating > a > span{float:left;}
.results .cut-off{width:12%;padding:14px 0 0;}
.results .delivery{width:12%;padding:14px 0 0;white-space: nowrap;}
.results .days{width:12%;padding:14px 0 0;}
.results .price{width:13%;padding:14px 0 0;}
.results .btn{width:17%;padding:4px 0 0;}
.results .btn a{display:inline-block;padding:12px 0;text-align:center;background:#59ad33;color:#fff;border-radius:4px;width:94%;font-size:15px;text-transform:uppercase;}
.results .btn a.button-yellow{background:#f7b932;}
.formError {
	position: absolute;
	top: 300px;
	left: 300px;
	display: block;
	z-index: 6001;
	cursor: pointer;
}

.ajaxSubmit {
	padding: 20px;
	background: #55ea55;
	border: 1px solid #999;
	display: none
}

.formError .formErrorContent {
	width: 100%;
	background: #ee0101;
	position:relative;
	z-index:6001;
	color: #fff;
	width: 150px;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	border: 2px solid #ddd;
	box-shadow: 0 0 6px #000;
	-moz-box-shadow: 0 0 6px #000;
	-webkit-box-shadow: 0 0 6px #000;
	padding: 4px 10px 4px 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.greenPopup .formErrorContent {
	background: #33be40;
}

.blackPopup .formErrorContent {
	background: #393939;
	color: #FFF;
}

.formError .formErrorArrow {
	width: 15px;
	margin: -2px 0 0 13px;
    position:relative;
    z-index: 9001;
}

.formError .formErrorArrowBottom {
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
	margin: 0px 0 0 12px;
        top:2px;
}

.formError .formErrorArrow div {
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	box-shadow: 0 2px 3px #444;
	-moz-box-shadow: 0 2px 3px #444;
	-webkit-box-shadow: 0 2px 3px #444;
	font-size: 0px;
	height: 1px;
	background: #ee0101;
	margin: 0 auto;
	line-height: 0;
	font-size: 0;
	display: block;
}

.formError .formErrorArrowBottom div {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.greenPopup .formErrorArrow div {
	background: #33be40;
}

.blackPopup .formErrorArrow div {
	background: #393939;
	color: #FFF;
}

.formError .formErrorArrow .line10 {
	width: 15px;
	border: none;
}

.formError .formErrorArrow .line9 {
	width: 13px;
	border: none;
}

.formError .formErrorArrow .line8 {
	width: 11px;
}

.formError .formErrorArrow .line7 {
	width: 9px;
}

.formError .formErrorArrow .line6 {
	width: 7px;
}

.formError .formErrorArrow .line5 {
	width: 5px;
}

.formError .formErrorArrow .line4 {
	width: 3px;
}

.formError .formErrorArrow .line3 {
	width: 1px;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-bottom: 0 solid #ddd;
}

.formError .formErrorArrow .line2 {
	width: 3px;
	border: none;
	background: #ddd;
}

.formError .formErrorArrow .line1 {
	width: 1px;
	border: none;
	background: #ddd;
}
.search-result-show-hide-div{height:60px;}


/** initial setup **/
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
  max-height: 230px;
}
.nano .content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano .content:focus {
  outline: thin dotted;
}
.nano .content::-webkit-scrollbar {
  visibility: hidden;
}
.has-scrollbar .content::-webkit-scrollbar {
  visibility: visible;
}
.nano > .pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 10px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01; 
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;  
  border-radius         : 5px;
}
.nano > .pane > .slider {
  background: none repeat scroll 0 0 #0C5C8D;
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;  
  border-radius         : 3px;
}
.nano:hover > .pane, .pane.active, .pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}

wd120{width:120px;}

.open-icon{background:url(../../images/plus-minus-icon.png) no-repeat center bottom; display:inline-block;width:18px;height:18px;text-indent:-1000px;overflow:hidden;}
.close-icon{background:url(../../images/plus-minus-icon.png) no-repeat center top; display:inline-block;width:18px;height:18px;text-indent:-1000px;overflow:hidden;}
#pdfDiv .close-icon{position:absolute;right:-9px;top:-9px;}

.verfied-yes{background:url(../../images/verified_yes.png) no-repeat center -2px; display:inline-block;width:15px;height:15px;text-indent:-1000px;overflow:hidden;}
.verfied-no{background:url(../../images/verified_no.png) no-repeat center -1px; display:inline-block;width:15px;height:15px;text-indent:-1000px;overflow:hidden;}
 
.overview{height:22px;margin:3px 0 0 0;display:block;position:relative;clear: both;}
.overview .field-name{float:left;width:35%;}  
.overview .field-value{float:left;width:65%;font-weight: bolder;} 
.overview .field-value a{color:#000;text-decoration:none;font-style:normal;}
.overview .field-value > a{max-width:80%;display:inline-block;}

.overview-form{height:26px;padding:5px 0;display:block;position:relative;}
.overview-form .field-name{float:left;width:30%;padding:3px 0 0;}  
.overview-form .field-container{float:left;width:60%;}
.overview-form .field-container input[type="checkbox"]{margin-top:5px;}
.overview-form .field-container select{min-width:10px;padding: 1px 2px;}
.overview-form .company-registration{width:34%;margin-right:2%;float:left;}
.overview-form .private-cb{float:left;position:relative;width:28%;padding:4px 0 0 20px;}
.overview-form .private-cb input{position:absolute;left:0;top:5px;}

.overview-form .field-nospace{float:left;width:22%;}
.overview-form .field-space{float:left;width:22%;margin-right:2%;}
.overview-form .field-text{float:left;width:18%;}
.overview-form .field-text.last{width:16%;}
.overview-form .text{float:left;width:5%;padding:3px 0.5% 0;}
.overview-form .single-field{float:left;width:70%;}
.overview-form .separator{float:left;width:2%;text-align:center;padding: 2px 0 0;}
.overview-form .name-container{float:left;width:70%; padding: 2px 0 0;}
.overview-form .name-container input[type="text"]{float:left;width:49%;margin-right:2%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;height: 22px;}
.overview-form .name-container input[type="text"]:nth-last-child(1){margin:0;}
.overview-form .name-container select{padding: 1px 2px;height: 22px; line-height:20px;width: 39%;}

.overview-form .label-language {float:left;padding: 3px 0 0 2%;width:14%;}
.overview-form .currency-dropdown {float:left;width: 27%;}
.overview-form .currency-dropdown select{padding: 1px 2px;height: 22px; line-height:20px;width: 100%;}

.overview-form .field-text-cbm{float:left;width:16%;}
.overview-form .text-cbm{float:left;width:6%;padding:3px 1.5% 0 0.5%;}
.overview-form .field-text-kg{float:left;width:16%;}
.overview-form .text-kg{float:left;width:6%;padding:3px 1.5% 0 0.5%;}
.overview-form .field-text-colli{float:left;width:16%;}
.overview-form .text-colli{float:left;width:5.5%;padding:3px 0 0 0.5%;}

.pending-task-email{float:left;width:43%;position:relative;}
.pending-task-email a{position:absolute;right:0;top:3px;}
.pending-task-email input{width:90%;}
.overview-form .verify-button{float:right;width:25%;}
.overview-form .verify-button .gray-btn, .overview-form .verify-button .button1{width:100%;padding: 2px 0;font-size: 13px;}

.overview-form .phone-container{float:left;width:70%; padding: 1px 0 0;}
.overview-form .phone-container input[type="text"]{width:70%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;height: 22px;float:right;}
.overview-form .phone-container select{padding: 1px 2px;float:left;height: 22px; line-height:20px;width: 29%;}

.format-6 td{padding: 0px 2px;}
.format-6 th{padding: 1px 2px;text-align:left;}

.pending-tray-scrollable-div{position:relative;text-align:left;border-bottom:solid 1px #7b7b7b;}
.scrolling-div{max-height: 200px;overflow-x: hidden;overflow-y: scroll;padding-bottom:10px;margin-bottom:20px;-webkit-overflow-scrolling: touch;}
.scrolling-div ul{list-style-type: none;}
.scrolling-div .format-4{border-bottom:none;}

.format-6 th{padding:0 4px 0 0}
.format-6 th:nth-last-child(1){padding:0}
.task-tray-header a{cursor:pointer;background:#7b7b7b;color:#fff;font-size:14px;text-transform:uppercase;text-decoration:none;font-style:normal;display:block;}
.active-th a, .task-tray-header a:hover{background:#e74118;}
  
.horizontal-scrolling-div-container{position:relative;float:left;width:80%;}
.quote-button-container{float:right;width:12%;padding: 7px 0 0;}
.quote-button-container .button1{display:block;text-align:center;margin:0 0 5px;font-size:12px;}
.horizontal-scrolling-div{overflow-x: auto;overflow-y: auto;} 
.form3{border-radius: 5px 5px 5px 5px; box-shadow: 0 0 5px #AEAEAE;margin: 1px 0 15px;padding: 10px;} 

.close-button{background:url(../../images/no-tick.png) no-repeat center center; display:inline-block;width:15px;height:15px;text-indent:-1000px;overflow:hidden;}
.open-button{background:url(../../images/open.png) no-repeat center center; display:inline-block;width:35px;height:35px;text-indent:-1000px;overflow:hidden;}

.file-owner-button{background:url(../../images/file_owner.png) no-repeat center center; display:inline-block;width:35px;height:35px;text-indent:-1000px;overflow:hidden;}

.x{position:relative;}
.calender_more_popup{position:absolute;top:-4px;left:-200px;background:rgba(63,63,63,0.9);width:200px;z-index: 999999;color:#fff;}
.calender_more_popup ul{list-style-type: none;margin:0;padding:0;}
.calender_more_popup li{position:relative;padding:3px 5px 3px 23px;}
.calender_more_popup li:hover, .x .calender_more_popup li:focus, .x .calender_more_popup li.user-tray-popup-li{background:#e74118;}
.calender_more_popup li input{position:absolute;left:5px;top:5px;}
.calender_more_popup_arrow
{
    position:absolute;display:none;
    top:11px;
    border-style: solid;
    width: 0;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #555555;
    border-width: 0 0 13px 15px;
    left: 210px;
} 
.task-popup{max-width:960px;width:90%;text-align:left;padding:10px 20px;border:solid 1px #000;margin:0 auto;background:#fff; box-shadow:0px 0px 8px #202020;}
.task-popup h5{font-weight:bold;text-align:left;} 
.pending-tray-scrollable-div-overview{position:relative;text-align:left;}
.scrolling-div-overview{max-height: 350px;overflow-x: hidden;overflow-y: auto;padding-bottom:0px;}

.pending-tray-scrollable-div-task-pane{position:relative;text-align:left;}
.scrolling-div-task-pane{min-height: 550px;overflow-x: hidden;overflow-y: auto;padding-bottom:10px;} 

#booking_quote_main_container_table > a{display:block;margin:0 0 10px;text-align:center;}
#booking_quote_main_container_table #booking_quote_table_heading{padding: 10px 0 10px 20px;width: 160px;float:left;}

.disabled-box{color:#808080;word-wrap: break-word;}
.disabled-box input, .disabled-box select, .disabled-box textarea{background-color: #d3d3d3;color:#808080;} 
.disabled-box .quote-comment-a {text-decoration: none;font-style: normal;}

.active-box{color:#000;word-wrap: break-word;} 
.active-box .quote-comment-a {color:#000;text-decoration: none;font-style: normal;}
 
.quote-comment .calender_more_popup{position:absolute;top:15px;left:73px;background:#ffff00;padding:5px;width:200px;z-index: 99999999;box-shadow: 0 1px 4px -1px #888;color:#000000;margin-top: 12px;font-weigth:400;white-space: normal;}
.quote-comment .calender_more_popup_arrow
{
    position:absolute;
    top:11px;
    border-style: solid;
    width: 0;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #555555;
    border-width: 0 0 13px 15px;
    left: 210px;
}   
.ellipsis-text{word-wrap: break-word;overflow:hidden;text-overflow: ellipsis;}
.vertical-text{color:#7b7b7b;background:url(../../images/gray-line.jpg) repeat-x 0 center;font-size:10px;}
.vertical-text span{display:inline-block;background:#fff;padding:0 3px 0 0;}

.overlay_div{display:block;width:190px;position:absolute;top:0px;left:0px;} 
.pending-tray-lists{padding-bottom:0;}
.pending-tray-lists .format-4{border-bottom:none;}

.truncate-text{white-space:pre;text-overflow:ellipsis;overflow:hidden;max-width:100%;display:block;}

.from-forwarder-box, .internal-task-box, .to-customer-box{position:relative;padding-left:142px;}
.request-quote-fields .from-forwarder-box{padding-left:0;}
.quote-forwarder-logo{position:absolute;left:0;top:0;width:130px;height:100%;}
.quote-forwarder-logo img{position:absolute;left:0;top:50%;margin-top:-25px;}
.internal-task-box .vertical-text{top: 78px;}
.to-customer-box .vertical-text{top: 100px;}
.email-box-container{position:relative;}
.email-box-container .vertical-text{left:5px;top:183px;}
.font-14{font-size:14px !important}
.font-12{font-size:12px !important}

.task-quote-hr { 
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #808080;
    border-width: 2px 0 0;
    margin: 10px 0 5px;
    width: 100%; 
}
.quote-pricing-fields{position:relative;}

@media only screen and (-webkit-min-device-pixel-ratio: 1) {
     ::i-block-chrome, .vertical-text {
        left: -71px;top: 65px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) {
     ::i-block-chrome, .email-box-container .vertical-text {
    left: -33px;
    top: 105px;
}
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) {
     ::i-block-chrome, .internal-task-box .vertical-text {
         top: 19px;left: -33px;
}
} 

.popup-body-scroll{max-height:100%;overflow:hidden;}
#pending_task_list_container_div .scrolling-div{overflow-y: scroll;padding-right:12px;}

.show-more-less-alert{position: absolute; bottom: 1px; right: 0px;}
.accordion-container{padding:0 0 20px;border-bottom:solid 1px #7f7f7f;}
.btn-container{padding:10px 0 20px;}
.btn-container-pending-tray{padding:0px 0 0px;border-bottom:solid 1px #7f7f7f;margin:0 0 10px;}
.table-scroll-head{padding:5px 18px 0 0;}
.table-scroll-head.mac-table-header{padding:5px 0 0 0;}
.table-scroll-head th{font-size: 14px;padding: 0 2px 4px;text-align: left;}
.table-scroll-head th+th{border-left: 1px dashed #eaeaea;}
.accordian{float:left;position:relative;padding:3px 23px 1px 0;font-size:18px;font-weight:bold;text-transform:uppercase;line-height:18px;}
.accordian a{position:absolute;right:0;top:3px;}
.accordion-btn{float:right;white-space:nowrap;}
 
#pending_task_listing_container .table-scroll-head {padding-right:31px;}

.task-table td{padding:0 10px;border-right:dashed 1px #eaeaea;}
.task-table td:nth-last-child(1){padding-right:0;border-right:none;}
.task-table td:nth-child(1){padding-left:0;}

.task-search-form-container td, .task-search-form-container th{padding:6px 12px 6px 0;}
.task-search-form-container td:nth-last-child(1), .task-search-form-container th:nth-last-child(1){padding:6px 0;}

#horizontal-scrolling-div-id > div{border-bottom:solid 1px #7b7b7b;margin-bottom:10px;padding-bottom:5px;}

.quote-row-container{position:relative;}

.quote-row-container .quote-field-label{float:left;width:32%;padding: 2px 0 0;}
.quote-row-container .quote-field-container{float:left;width:68%;}
.quote-row-container .overview-form{float:left;margin-right:1%;width: 33%;}
.quote-row-container .quote-transit-time-container{width:35%;}
.quote-row-container .quote-mode-container{width:20%;}
.quote-row-container .quote-transit-time-container .quote-field-label{width:35%;}
.quote-row-container .quote-mode-container .quote-field-label{width:32%;}
.quote-row-container .quote-mode-container .quote-field-container{width:68%;}
.quote-row-container .quote-transit-time-container .quote-field-container{width:40%;}
.quote-row-container .quote-transit-time-container .quote-transit-days-label{float:left;width:13%;padding:2px 0 0 1%;}

.quote-row-container .quote-company-container{width:28%;}
.quote-row-container .quote-contact-container{width:50%;margin:0;}
.quote-row-container .quote-contact-container .quote-field-label{width:16%;}
.quote-row-container .quote-contact-container .quote-field-container{width:84%;}
.quote-row-container .quote-remind-button-container{width:30%;margin:0;}

.quote-row-container .quote-forwarder-price-container{width:38%;margin:0;}
.quote-row-container .quote-forwarder-price-container .quote-field-label{width:17%;}
.quote-row-container .quote-forwarder-price-container .quote-field-container{width:83%;}
.quote-row-container .quote-forwarder-price-container select{width:58%;margin-right:2%;float:left;}
.quote-row-container .quote-forwarder-price-container input{width:40%;float:left;}
.quote-row-container .quote-forwarder-vat-container{width:30%;float:right;margin:0;}
.quote-row-container .quote-forwarder-vat-container .quote-field-label{width:47%;text-align:right;}
.quote-row-container .quote-forwarder-vat-container .quote-field-container{width:33%;}
.quote-row-container .quote-forwarder-vat-container .quote-vat-currency-conatier{width:20%;float:left;padding: 2px 0 0;}

.quote-row-container .quote-comment-box{width:100%;float:none;margin:0;}
.quote-row-container .quote-comment-box .quote-field-label{width:10%;}
.quote-row-container .quote-comment-box .quote-field-container{width:90%;}
.quote-row-container .quote-comment-box .quote-field-container textarea{height: 22px;resize: none;}

.quote-row-container .quote-cb-container{position:absolute;right:-45px;top:5px;width:34px;}
.quote-row-container .quote-cb-container > input{float:left;margin:4px 0 0;}
.quote-row-container .quote-cb-container > a{float:right;margin-top: 3px;}

.quote-row-container .quote-customer-price-container{width:22%;}
.quote-row-container .quote-customer-price-container .quote-field-label{width:50%;}
.quote-row-container .quote-customer-price-container .quote-field-container{width:50%;}

.quote-row-container .quote-gross-profit-container{width:26%;}
.quote-row-container .quote-gross-profit-container .quote-field-label{width:55%;}
.quote-row-container .quote-gross-profit-container .quote-field-label span{font-size:10px;color: #7b7b7b;}
.quote-row-container .quote-gross-profit-container .quote-field-container{width:45%;}

.quote-row-container .quote-gross-profit-amount-container{width:30%;}
.quote-row-container .quote-gross-profit-amount-container .quote-field-label{width:55%;}
.quote-row-container .quote-gross-profit-amount-container .quote-field-container{width:45%;}

.quote-row-container .quote-insurance-cb-container{width:19%;margin:0;}
.quote-row-container .quote-insurance-cb-container .quote-field-label{width:80%;}
.quote-row-container .quote-insurance-cb-container .quote-field-container{width:15%;padding: 4px 0 0;}

.quick-quote-title{line-height:20px;font-weight:700;}

.email-fields-container {padding: 5px 0;}
.email-fields-container .quote-field-label{width:14%;float:left;padding:2px 0 0;}
.email-fields-container .quote-field-container{width:86%;float:left;box-sizing:border-box;}

.reminder-fields-container{padding: 5px 0;}
.reminder-fields-container .quote-field-label{width:9%;float:left;padding:2px 0 0;}
.reminder-fields-container .quote-field-container{width:20%;float:left;}
.quote-remider-time‏‏{float: left;color:#999;font-style: italic;padding: 2px 0 0;width: 5%;}
.reminder-fields-container .quote-field-container input{width:48%;float:left;margin-right:2%;}

.label-value{padding-top:2px;}
.quote-row-container .quote-transit-time-container .quote-field-container.label-value{display:inline-block;width:auto;}
.quote-row-container .quote-forwarder-vat-container .quote-field-label.label-vat{width:17%;text-align:left;}

.overview-form .cargo-desc-field{float:left;width:46%;margin-right: 1%;}
.overview-form .cargo-text{float:left;padding: 3px 0 0;text-align: right;width: 9%;}
.overview-form .cargo-desc-field.last{float: right;margin: 0;text-align: right;width: 15%;}
.overview-form .cargo-desc-field.last select{padding: 1px 2px;height: 22px; line-height:20px;width: 100%;}

.overview-form .cargo-desc-field.middle{float: left;margin: 0px;text-align: right;width: 5%;}
.overview-form .cargo-desc-field.last input[type="radio"]{position:absolute;left:0;top:0px;margin: 0px;}

#search_task_loader{position:relative;padding:5px 0 0 32px;float:left;}
#search_task_loader img{position:absolute;left:0;top:0;}
.tyni-loader{background: url(../../images/loader.gif) no-repeat 5px center #e74118;background-size: auto 50%;padding: 2px 7px 2px 13px;}
#link_customer_popup_form .tyni-loader{background: url(../../images/loader.gif) no-repeat 10px center #e74118;background-size: auto 50%;padding:2px 0 2px 13px;}
.accordion-container-task{padding:0 0 20px;}
.task-tabs-heading{border-bottom: 1px solid #7f7f7f;padding: 0 0 3px;}

.transporteca-settings{font-size:14px;}

#obo_haulage_tryit_out_form .button1, #obo_haulage_tryit_out_form .button2, #model_list .button1, #model_list .button2{padding:2px 5px;}

#date_change{float:right;padding:2px 0 0;width:21%;text-align:right;}
#forwarder_billing_top_form{float:left;width:63%;}

@media only screen and (max-width:1024px){
	#header, #navigation, .show_message, #hsbody, #footer{max-width:96%;margin-left:2%;}
}

.metrics-label{padding:5px 0 0;} 
.metrics-login-box{width: 300px; border: 1px solid #bfbfbf; padding: 10px 20px; text-align: left;margin:0 auto;}
.same-width-button{width:134px;}
.metrics-login-box input{padding:4px;}

.profile-fields .phone-container{float:left;width:30%; padding: 1px 0 0;}
.profile-fields .phone-container input[type="text"]{width:70%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;height: 22px;float:right;}
.profile-fields .phone-container select{padding: 1px 2px;float:left;height: 22px; line-height:20px;width: 29%;}

#createNewAdminProfile .profile-fields .field-name{width:30%;}
#createNewAdminProfile .profile-fields .field-container, #createNewAdminProfile .profile-fields .phone-container{width:68%;}
#createNewAdminProfile .profile-fields .phone-container select{width:25%;}

#courierDetail .overview-detail:after{clear: both;display: block;height: 0;line-height: 0;visibility: hidden;}
#courierDetail .overview-detail .field-name{float:left;width:35%;padding-bottom:2px;}
#courierDetail .overview-detail .field-value{float:left;width:65%;padding-bottom:2px;}
#courierDetail .overview-detail .field-name-cargo{float:left;width:95%;padding-bottom:2px;}

#courierDetail .format-6{border: 1px solid #bfbfbf ;border-right:none;}
#courierDetail .format-6 td{border-right: 1px solid #bfbfbf ;padding: 4px 5px 3px;font-size: 14px;}
#courierDetail .format-6 td:nth-child(1){padding-left: 10px;}
#courierDetail .format-6 td:nth-last-child(1){padding-right: 10px;}
#courierDetail .format-6 tr:nth-child(1) td{padding-top: 7px;}
#courierDetail .format-6 tr:nth-last-child(1) td{padding-bottom: 7px;}
#courierDetail  .format-6 th{border-bottom: 1px solid #bfbfbf ;border-right: 1px solid #bfbfbf ;padding: 1px 2px;font-size: 14px;text-align:left;}

#courierDetail .submit-quote-form *{box-sizing:border-box;}
#courierDetail .submit-quote-form > div{font-size:13px;float:left;padding:0 15px 10px 0;width:21%;}
#courierDetail .submit-quote-form > div:nth-last-child(1){padding:0;}
#courierDetail .submit-quote-form .currency{width:16%;}
#courierDetail .submit-quote-form .vat{position:relative;}

#courierDetail submit-quote-form .transit-time{margin-right: 4px;}
#courierDetail .submit-quote-form .transit-time-days{width:4%;padding:21px 0 0;}
#courierDetail .submit-quote-form input, .submit-quote-form select, .submit-quote-form textarea{width:100%;margin:2px 0 0;}
.edit-links{font-size:13px;font-style: normal;}
#courierDetail .submit-quote-form .currency select{width:45%;float:left;}
#courierDetail .submit-quote-form .currency span{width:10%;float:left;text-align:center;}


.sort-arrow-up{background:url(../../images/sort-arrow-up.png) no-repeat -1px center;display:inline-block;padding-left: 12px;}
.sort-arrow-down{background:url(../../images/sort-arrow-down.png) no-repeat -1px center;display:inline-block;padding-left: 12px;}

.cargo-top-line{margin:10px 0 20px -34px;}

#namelist * {box-sizing: border-box;}

#namelist > li {margin: 0px 17px 0px 0px;width: 7%;} 
.selected-row-red td, .selected-row-red th{background:#dbdbdb;color: red;}
.pdf-popup{width:795px;padding: 15px;}
.selected_row{background:#dbdbdb;color:#828282;}

.upload_label{border:dashed 2px #eee;border-radius:4px;padding:10px;text-align:center;}

#fileList{width:90%;}
.ui-sortable{margin:0;padding:0;list-style:none;text-align:center;}
.ui-sortable li{width:6%;margin: 0 4% 0 0;float:none;display:inline-block;position:relative;cursor:pointer;text-align:left;}
.ui-sortable li span{width:39px;left:0;top:0;position:absolute;height:50px;text-align:center;padding:20px 0 0;}

.file_list_con{position:relative;min-height: 54px;}
#deleteArea{position:absolute;right:0;bottom:0;}

.dotted-line {border-bottom: 1px dashed #ccc;color: #fff; background-color: #fff;}
.task-table .dotted-line {margin: 0 -10px 15px 0;}

#forwarderCountryTradeForm td, #addEditServiceCoverdDiv td, #addAgreementTradesOfferForm td{width:49%;padding-right:1%;}
#forwarderCountryTradeForm td:nth-last-child(1), #addEditServiceCoverdDiv td:nth-last-child(1), #addAgreementTradesOfferForm td:nth-last-child(1){padding-right:0;padding-left:1%;}

.left-buttons{float:left;width:36%;}
.left-buttons a{width:50%;margin-bottom:8px;}
.left-buttons a:nth-child(2n){width:38%;}
.right-buttons{float:right;width:64%;text-align:right;}

.table-content-left{float:left;width:45%;}
.table-content-right{float:right;width:54%;}
.provider-term-inst textarea{width:100%;border: 1px solid #bfbfbf;resize:none;border-radius:0;height:200px;margin:0 0 5px;}
.twotextarea .table-content-right .btns{text-align:right;}
 

ul.tsc_pagination { margin:4px 0; padding:0px; height:100%; overflow:hidden; font-size:12px; list-style-type:none; }
ul.tsc_pagination li { float:left; margin:0px; padding:0px; margin-left:5px; }
ul.tsc_pagination li:first-child { margin-left:0px; }
ul.tsc_pagination li a { color:black; display:block; text-decoration:none; padding:7px 10px 7px 10px; }
ul.tsc_pagination li a img { border:none; }
ul.tsc_paginationC li a { color:#707070; background:#FFFFFF; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; border:solid 1px #DCDCDC; padding:6px 9px 6px 9px; }
ul.tsc_paginationC li { padding-bottom:1px; }
ul.tsc_paginationC li a:hover,
ul.tsc_paginationC li a.current { color:#FFFFFF; box-shadow:0px 1px #DDDDDD; -moz-box-shadow:0px 1px #DDDDDD; -webkit-box-shadow:0px 1px #DDDDDD; }
ul.tsc_paginationC01 li a:hover,
ul.tsc_paginationC01 li a.current { color:#FFFFFF; font-weight: bold; text-shadow:0px 1px #e74118; border-color:#e74118; background:#e74118; background:-moz-linear-gradient(top, #e74118 1px, #e74118 1px, #e74118); background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #e74118), color-stop(0.02, #e74118), color-stop(1, #e74118)); }
ul.tsc_paginationC01 li a.disabled { color:#333333; font-weight: bold; text-shadow:0px 1px #D8D8D8; border-color:#D8D8D8; background:#D8D8D8; background:-moz-linear-gradient(top, #D8D8D8 1px, #D8D8D8 1px, #D8D8D8); background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #D8D8D8), color-stop(0.02, #D8D8D8), color-stop(1, #D8D8D8)); }
ul.tsc_paginationC li a.In-active {
   pointer-events: none;
   cursor: default;
}
.cookie-blue-box{background-color: #FF6600;color: #fff !important;padding: 5px;} 

.graph-container{width:100%;}
.pending-tray-overview-links a{font-size: 13px;} 

.tryitout_cargo_container span{float:left;margin:0 6px 0 0;width:10%;}
.tryitout_cargo_container .dimensions-field span input{width:90%;}
.tryitout_cargo_container .dimensions-field span select{width:95%;}
  
.cargo-add-button, .cargo-add-button:hover{background:url(../../images/PlusBlack.png) no-repeat center bottom; display:inline-block;width:20px;height:20px;text-indent:-1000px;overflow:hidden;}
.cargo-remove-button, .cargo-remove-button:hover{background:url(../../images/MinusBlack.png) no-repeat center top; display:inline-block;width:20px;height:20px;text-indent:-1000px;overflow:hidden;}
.disabled-input{background: #ddd none repeat scroll 0 0;}

.setup-search-row span{float:left;width:17%;}
.setup-search-row .text-input{padding:0 10px;width:20%;box-sizing:border-box;}
.setup-search-row .url-input{width:57%;float:right;}

#headerSearchForm{float:left;width:250px;margin:29px 0 0 50px;}

.snoozeDate{color:red;cursor:pointer}
.overview_comments{word-wrap: break-word;} 

.quick_quote_search_form_container .wd-19 input, .quick_quote_search_form_container .wd-11 select{width:100% !important;}
.unread-email{font-weight: bolder !important;}

.wd-2{width:2% !important;}
.wd-3{width:3% !important;}
.wd-5{width:5% !important;}
.wd-6{width:6% !important;}
.wd-7{width:7% !important;}
.wd-8{width:8% !important;}
.wd-9{width:9% !important;}
.wd-10{width:10% !important;}
.wd-11{width:11% !important;}
.wd-12{width:12% !important;}
.wd-13{width:13% !important;}
.wd-14{width:14% !important;}
.wd-15{width:15% !important;}
.wd-16{width:16% !important;}
.wd-17{width:17% !important;}
.wd-18{width:18% !important;}
.wd-19{width:19% !important;}
.wd-20{width:20% !important;}
.wd-21{width:21% !important;}
.wd-22{width:22% !important;}
.wd-23{width:23% !important;}
.wd-24{width:24% !important;}
.wd-25{width:25% !important;}
.wd-26{width:26% !important;}
.wd-28{width:28% !important;}
.wd-29{width:29% !important;}
.wd-30{width:30% !important;}
.wd-31{width:31% !important;}
.wd-32{width:32% !important;}
.wd-33{width:33% !important;}
.wd-34{width:34% !important;}
.wd-35{width:35% !important;}
.wd-40{width:40% !important;}
.wd-45{width:40% !important;} 
.wd-50{width:50% !important;}
.wd-51{width:51% !important;}
.wd-52{width:52% !important;}
.wd-53{width:53% !important;}
.wd-54{width:54% !important;}
.wd-55{width:55% !important;}
.wd-56{width:56% !important;}
.wd-57{width:57% !important;}
.wd-58{width:58% !important;}
.wd-59{width:59% !important;}
.wd-60{width:60% !important;}
.wd-65{width:65% !important;}
.wd-66{width:66% !important;}
.wd-67{width:67% !important;}
.wd-68{width:68% !important;}
.wd-70{width:70% !important;}
.wd-80{width:80% !important;}
.wd-81{width:81% !important;}
.wd-82{width:82% !important;}
.wd-83{width:83% !important;}
.wd-84{width:84% !important;}
.wd-85{width:85% !important;}
.wd-86{width:86% !important;}
.wd-87{width:87% !important;}
.wd-88{width:88% !important;}
.wd-89{width:89% !important;}
.wd-90{width:90% !important;}
.wd-100{width:100% !important;}



.wds-3{width:3% !important;padding-left:5px;}
.wds-5{width:5% !important;padding-left:5px;}
.wds-6{width:6% !important;padding-left:5px;}
.wds-7{width:7% !important;padding-left:5px;}
.wds-8{width:8% !important;padding-left:5px;}
.wds-9{width:9% !important;padding-left:5px;}
.wds-10{width:10% !important;padding-left:5px;}
.wds-11{width:11% !important;padding-left:5px;}
.wds-12{width:12% !important;padding-left:5px;}
.wds-13{width:13% !important;padding-left:5px;}
.wds-14{width:14% !important;padding-left:5px;}
.wds-15{width:15% !important;padding-left:5px;}
.wds-16{width:16% !important;padding-left:5px;}
.wds-17{width:17% !important;padding-left:5px;}
.wds-18{width:18% !important;padding-left:5px;}
.wds-19{width:19% !important;padding-left:5px;}
.wds-20{width:20% !important;padding-left:5px;}
.wds-21{width:21% !important;padding-left:5px;}
.wds-22{width:22% !important;padding-left:5px;}
.wds-23{width:23% !important;padding-left:5px;}
.wds-24{width:24% !important;padding-left:5px;}
.wds-25{width:25% !important;padding-left:5px;}
.wds-26{width:26% !important;padding-left:5px;}
.wds-28{width:28% !important;padding-left:5px;}
.wds-30{width:30% !important;padding-left:5px;}
.wds-31{width:31% !important;padding-left:5px;}
.wds-32{width:32% !important;padding-left:5px;}
.wds-33{width:33% !important;padding-left:5px;}
.wds-34{width:34% !important;padding-left:5px;}
.wds-35{width:35% !important;padding-left:5px;} 
.wds-36{width:36% !important;padding-left:5px;}
.wds-36-5{width:36.5% !important;padding-left:5px;}
.wds-37{width:37% !important;padding-left:5px;}
.wds-38{width:38% !important;padding-left:5px;}
.wds-39{width:39% !important;padding-left:5px;}
.wds-40{width:40% !important;padding-left:5px;}
.wds-41{width:41% !important;padding-left:5px;}
.wds-42{width:42% !important;padding-left:5px;}
.wds-45{width:45% !important;padding-left:5px;}
.wds-50{width:50% !important;padding-left:5px;}
.wds-54{width:54% !important;padding-left:5px;}
.wds-55{width:55% !important;padding-left:5px;}
.wds-60{width:60% !important;padding-left:5px;}
.wds-65{width:65% !important;padding-left:5px;}
.wds-66{width:66% !important;padding-left:5px;}
.wds-67{width:67% !important;padding-left:5px;}
.wds-68{width:68% !important;padding-left:5px;}
.wds-70{width:70% !important;padding-left:5px;}
.wds-72{width:72% !important;padding-left:5px;}
.wds-75{width:70% !important;padding-left:5px;}
.wds-80{width:80% !important;padding-left:5px;}
.wds-81{width:81% !important;padding-left:5px;}
.wds-82{width:82% !important;padding-left:5px;}
.wds-83{width:83% !important;padding-left:5px;}
.wds-84{width:84% !important;padding-left:5px;}
.wds-85{width:85% !important;padding-left:5px;}
.wds-86{width:86% !important;padding-left:5px;}
.wds-87{width:87% !important;padding-left:5px;}
.wds-88{width:88% !important;padding-left:5px;}
.wds-89{width:89% !important;padding-left:5px;}
.wds-90{width:90% !important;padding-left:5px;}
.wds-100{width:100% !important;padding-left:5px;}

.wd-50+.wd-50{padding-left:5px;}
.wd-35+.wd-65{padding-left:5px;}
.wd-33+.wd-33, .wd-33+.wd-34{padding-left:5px;}

.quick_quote_search_form_container .single-field input[type=text], .quick_quote_search_form_container .single-field select{width:100%;}
.manual_fee_form_container .quote-field-container input[type=text],.manual_fee_form_container .quote-field-container select{width:98%;float:left;margin-right:2%;}
.hide-cargo-heading{display:none;}
#quick_quote_search_form_container{margin-bottom:10px;}
#quick_quote_booking_infomation_main_container .accordion-container{border-bottom:0;border-top:1px solid #7f7f7f;padding:20px 0 0;}
#quick_quote_booking_infomation_main_container .accordian{padding:3px 0 1px 23px;}
#quick_quote_booking_infomation_main_container .accordian a{right:auto;left:0;}

#quick_quote_booking_infomation_main_container .quick-quote-billing, #quick_quote_booking_infomation_main_container .quick-quote-consignee, #quick_quote_booking_infomation_main_container .quick-quote-shipping{float:left;width:32%;}
.quick-quote-shipping{margin:0 2%;}
#booking_information_container .wd-68{padding-right:5px;}

.quick-quote-results{border-top:solid 1px #555;border-spacing:0;}
.quick-quote-results th{border-bottom:solid 1px #555;padding:5px 0;}
.quick-quote-results td{border-bottom:dashed 1px #999;padding:5px 0;}

#booking_information_container .dotted-line{margin-bottom:8px;line-height:9px;}

.quick-quote-button-container {text-align:center;}
.quick-quote-button-container > span, .quick-quote-button-container > a{width:120px;display:inline-block;box-sizing: border-box;}
.quick-quote-button-container .quick-quote-currency{text-align:left;}
.quick-quote-button-container > span a{display:block;}

.get-rates-btn-clicked{background:#d85124 url(../../images/loader.gif) no-repeat 95% center;background-size:auto 40%;}
.bg-grey{background:#D3D3D3}
.quick-quote-send-button-container{display:inline-block;position:relative;}
.quick-quote-send-button-container > span{position:absolute;left:105%;top:3px;}

.btn-email-attachment{text-indent:-10000px;text-align:center;background:url(../../images/attachment-icon.png) no-repeat;opacity:0.5;filter:alpha(opacity=50);display:inline-block;width:25px;height:19px; border:0 !important; color:#fff;font-size:12px;cursor:pointer;margin-left:3px;}
.btn-email-attachment:hover{opacity:0.7;filter:alpha(opacity=70);}

.italic-text{    
    color: #999999;
    font-style: italic; 
}
.chat-title{
    color: #764ea5;
    font-weight: bold;
}
.chat-time{
    text-align: right;
    padding: 0px 5px 0px 0px;
    float: right;
}
.crm-operation-button-container{margin:0;padding:0;list-style:none;}
.crm-operation-button-container > li{float:left;position:relative;width:14.28%;box-sizing:border-box;}
.crm-operation-button-container > li+li{padding-left:2px;}
.crm-operation-button-container > li > a{display:block;min-width:0;}
.reply-button-container div{position:absolute;left:0;top:100%;right:0;z-index:9;}
.reply-button-container > a{position:relative;}
.reply-button-container > a:after{position:absolute;content:'';width:0;height:0;right:8px;top:9px;border-top:5px solid #fff;border-left:5px solid transparent;border-right:5px solid transparent;}
.reply-button-container div a{display:block;margin-top:1px;}
.crm-operation-button-container > li + li.reply-button-container div{padding-left:2px;}

.reassign-button-container .calender_more_popup{top:100%;right:0;left:auto;margin-top:1px;}
.reassign-button-container .calender_more_popup li{padding:3px 5px;}

.gallery{ width:100%; float:left; margin-top:30px;}
.gallery ul{ margin:0; padding:0; list-style-type:none;}
.gallery ul li{ padding:7px; border:2px solid #ccc; float:left; margin:10px 7px; background:none; width:auto; height:auto;}
.gallery img{ width:250px;}
.none{ display:none;}
.upload_div{ margin-bottom:50px;}
.uploading{ margin-top:15px;}

.grey-line {border-bottom: 1px solid #ccc;color: #fff; background-color: #fff;}

.reorder_ul{margin:0 0 5px;list-style:none;}
.ui-sortable-handle{padding:3px 0;}

.disabled-tab{opacity:0.4;cursor:not-allowed;}

.crm-button-main-container{padding-top:18px;}

.remind-email-popup{padding:0;border:0;margin-bottom:0;}

#pending_task_tray_container p{margin-bottom:15px;}
.email_body_container p{margin-bottom:3px !important;}

.wysiwyg-container {
    overflow: visible;
    color: black;
    background: none white;
    border: 1px solid #dddddd;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.wysiwyg-textarea {
    display: block;
    width: 100%;
    min-height: 1.5em;          /* should be equal to line-height */
    padding: 0;
    resize: none;
}
.wysiwyg-wrapper {
    position: relative;
}
.wysiwyg-editor {
    position: relative;
    min-height: 1.5em;      /* should be equal to line-height */
    padding: 4px 6px;
    overflow: auto;
    outline: none;
    color: #141824;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.wysiwyg-toolbar {
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
}
.wysiwyg-toolbar-top {
    border-bottom: 1px solid #dddddd;
}
.wysiwyg-toolbar-bottom {
    border-top: 1px solid #dddddd;
}
.wysiwyg-toolbar a {
    vertical-align: top;
}
.wysiwyg-placeholder {
    position: absolute;
    top: 4px;  /* same as padding in .wysiwyg-editor */
    left: 6px;
    opacity: 0.54;  /* https://developer.mozilla.org/de/docs/Web/CSS/%3A%3A-moz-placeholder */
}
.wysiwyg-popup {
    position: absolute;
    z-index: 9999;
    color: black;
    background: white;
    background: rgba(255,255,255,0.9);
    left: -50%;
    white-space: nowrap;
    border: 1px solid #dddddd;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.wysiwyg-popup.wysiwyg-popuphover {
    margin-top: 9px;
    /*-moz-box-shadow: 0 3px 10px rgba(50,50,50,0.3);
    -webkit-box-shadow: 0 3px 10px rgba(50,50,50,0.3);
    box-shadow: 0 3px 10px rgba(50,50,50,0.3);*/
}
.wysiwyg-popup.wysiwyg-popuphover:after {
    position: absolute;
    left: 50%;
    bottom: 100%;
    border: solid transparent;
    content: '';
    width: 0;
    height: 0;
    margin-left: -8px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 8px solid #dddddd;
}
.wysiwyg-toolbar-icon {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    margin: 0;
    padding: 0;
    color: #999999;
    text-decoration: none;
    *zoom: 1;
    vertical-align: top;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*width: 16px;
    height: 16px;*/
    padding: 8px 12px;
    font: 16px FontAwesome;
    -moz-transition: color 0.2s, background 0.2s;
    -webkit-transition: color 0.2s, background 0.2s;
    -ms-transition: color 0.2s, background 0.2s;
    -o-transition: color 0.2s, background 0.2s;
    transition: color 0.2s, background 0.2s;
}
.wysiwyg-toolbar-icon:hover {
    color: HighlightText;
    background-color: Highlight;
    text-decoration: none;
    -moz-transition: color 0.2s, background 0.2s;
    -webkit-transition: color 0.2s, background 0.2s;
    -ms-transition: color 0.2s, background 0.2s;
    -o-transition: color 0.2s, background 0.2s;
    transition: color 0.2s, background 0.2s;
}
.wysiwyg-toolbar-form {
    padding: 10px;
    white-space: nowrap;
}
.wysiwyg-toolbar-form .wysiwyg-toolbar-icon {
    margin-left: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.wysiwyg-toolbar-color {
    width: 12px;
    height: 12px;
    cursor: pointer;
}
.wysiwyg-input {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    color: #141824;
    background: none white;
    border: 1px solid #dddddd;
    width: 20em;
    height: 20px;
    padding: 5px 6px;  /* 8 - extraheight(2) - border(1) = 5 */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    outline: none;
}
.wysiwyg-input.wysiwyg-inputtextarea {
    width: 100%;
    height: 5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
}
.wysiwyg-input:hover,
.wysiwyg-input:active,
.wysiwyg-input:focus {
    border-color: #dddddd;
}
.wysiwyg-browse {
    position: relative;
    left: 0;
    top: 0;
    height: 3em;
    line-height: 3em;
    color: #666666;
    border: 2px dashed #dddddd;
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}
.wysiwyg-browse:hover,
.wysiwyg-browse:active,
.wysiwyg-browse:focus {
    color: #141824;
    border-color: #dddddd;
}
.wysiwyg-embedcode {
    margin-bottom: 10px;
} 
.nicEdit-main{width:100% !important}

.email-content{max-height:400px;overflow-y:auto;}

.upload-stripe-csv{float:right;margin-right:3px;}

.admin-button1-clicked{background:#e74118 url(../../images/loader.gif) no-repeat 90% center;background-size:auto 40%;opacity:0.5;}
.admin-button2-clicked{background:#7b7b7b url(../../images/loader.gif) no-repeat 90% center;background-size:auto 40%;opacity:0.5;}

.setup-search-row{padding-top:3px;}
.display-block{display: block !important;}
.display-none{display: none !important;}

.recent-popup-toggle-container{float:right;width:14%;text-align:right;padding-top:5px;}
.recent-popup-toggle-container span{display:inline-block;text-align:left;line-height:1.45;}
.recent-popup-toggle-container span+span{margin-left:12px;}


.search-popup-button {
    background: #d85124 url("../../images/loader.gif") no-repeat scroll 5% center / auto 40%;
}

.forwarder_logo img {
    max-height: 30px;
    max-width: 80px;
}

.wds-request-70 {
    width: 70% !important;
    padding-right: 5px;
}

.wds-request-10{
    width: 10% !important;
}

.email-fields-container .quote-field-label-language
{
    float: left;
    padding: 2px 0 0;
    width: 6%;
}
#pending_task_overview_main_container{padding-top:10px;}

#pending_task_tray_container {
    padding-top: 10px;
}   
#pending_task_tray_container .email-content p {
    margin-bottom: 0 !important;
} 

.quote_to_customer_fields_container .quote-customer-price-container .quote-field-label{width:58%;}
.quote_to_customer_fields_container .quote-customer-price-container .quote-field-container{width:42%;}
.quote_to_customer_fields_container .quote-gross-profit-container .quote-field-label{width:51%;}
.quote_to_customer_fields_container .quote-gross-profit-container .quote-field-container{width:49%;}
.quote_to_customer_fields_container .quote-gross-profit-amount-container .quote-field-label{width:70%;}
.quote_to_customer_fields_container .quote-gross-profit-amount-container .quote-field-container{width:30%;}

.quote_to_customer_fields_container .quote-insurance-cb-container .quote-field-container{padding-top:1px;width:20%;}
.quote_to_customer_fields_container .quote-gross-profit-amount-container, .quote_to_customer_fields_container .quote-customer-price-container, .quote_to_customer_fields_container .quote-gross-profit-container {
    margin: 0;
}

.grey_text{color:#D3D3D3;}
.forwarder-logo-upload-button{background:#7b7b7b !important;font-size:14px;min-width: 94px;text-align:center;display:inline-block;cursor: pointer;text-transform:uppercase;padding:2px 6px;color:#fff;font-weight:bold;font-style:normal;text-decoration:none;-moz-box-shadow: 0 2px 0 0 #7b7b7b !important;
-webkit-box-shadow: 0 2px 0 0 #7b7b7b !important;
box-shadow: 0 2px 0 0 #7b7b7b !important;border-radius: 0px !important;}
.forwarder-logo-upload-button:hover{color:#fff;}