<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_xclick">
			<input type="hidden" name="business" value="whiz_1211195257_biz@gmail.com">
			<input type="hidden" name="item_name" value="Articles">
			<input type="hidden" name="amount" value="5.00">								
			<input type="hidden" name="no_shipping" value="1">
			<input type="hidden" name="no_note" value="1">
			<input type="hidden" name="currency_code" value="USD">
			<input type="hidden" name="no_tax" value="1">
			<input type="hidden" name="lc" value="US">
			<input type="hidden" name="return" value="<?=SITE?>member/paypalconfirm.php">
			<input type="hidden" name="cancel_return" value="<?=SITE?>premiummember.php">
			<input type="hidden" name="custom" value="$refkey">
			<input type="hidden" name="notify_url" value="<?=SITE?>member/verifyipn.php">
			<input type="hidden" name="bn" value="PP-BuyNowBF">
			<input type="image" src="images/PayButton3.jpg" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form><br><CENTER>*IMPORTANT</CENTER></td></tr>	
			<tr><td align="center"  height="50">
			<a href="payment_method.php?option=Poker Site Transfer&type=6&newoffer=true&croffer=true&acc=addon&months=6" title="Pokersite" style="text-decoration:none;color:#000000;font-size:150%;display:block;width:200px;"><strong >Poker Site Transfers</strong></a></td>
			</tr>
			<tr><td height="50" ALIGN="CENTER">
			