<table cellpadding="2" cellspacing="0" class="format-3" width="100%" id="insuranced_booking_table"> 
    <tr id="{{pendingTask.szTrId}}" class="pending_tray_listing_row_{{pendingTask.idBookingFile}}" ng-repeat="pendingTask in pendingTasks">
        <td class="wd-10 pending-tray-td-{{pendingTask.idBookingFile}}" ng-click="display_pending_task_details(pendingTask.szTrId)">{{pendingTask.szTaskUpdatedOn}}</td>
        <td class="wd-15 pending-tray-td-{{pendingTask.idBookingFile}}">{{pendingTask.szTask}}</td>
        <td class="wd-15 pending-tray-td-{{pendingTask.idBookingFile}}">{{pendingTask.szCustomerName}}</td>
        <td class="wd-10 pending-tray-td-{{pendingTask.idBookingFile}}">{{pendingTask.szTransportMode}}</td> 
        <td class="wd-15 pending-tray-td-{{pendingTask.idBookingFile}}">{{pendingTask.szOriginCity}}</td>
        <td class="wd-15 pending-tray-td-{{pendingTask.idBookingFile}}">{{pendingTask.szDestinationCity}}</td>
        <td class="wd-18 pending-tray-td-{{pendingTask.idBookingFile}}">{{pendingTask.szVolWeight}}</td>
        <td class="wd-2"><input type="checkbox" class="pendingTrayList" name="pendingTrayList" id="pendingTrayList_{{pendingTask.idBookingFile}}" value="{{pendingTask.idBookingFile}}" onclick="selectLineForClosingTheFile(pendingTask.idBookingFile,this.id,pendingTask.iCounter)"/></td>
    </tr>
</table>   