html {overflow-y: scroll;height:100%;}
body
{
	font-family:Calibri,arial,tahoma,verdana;color:#000;font-size:16px;text-align:center;
	padding:0px;margin:0px;
	background:#fff;	
	height:100%;
}

img{border: 0; }

p, h1, h2, h3, h4, h6{margin:0;padding:0;}
h5{margin:0 0 12px;font-size:17px;font-weight:normal;}
h4{margin:0;font-size:17px;font-weight:normal;}

a{color:#7f7f7f;font-style:italic;text-decoration:underline;outline:none;outline-style:none;font-size:14px;}
a:hover{color:#000;text-decoration:none;}

select{font-size:14px;color:#000;border:solid 1px #BFBFBF;padding:1px;font-family:Calibri,arial,tahoma,verdana;margin:0;}
input, textarea{font-size:14px;color:#000;border:solid 1px #BFBFBF;padding:2px;font-family:Calibri,arial,tahoma,verdana;outline: none;outline-style: none;margin: 0;width:100%;}
select option{outline:none;outline-style:none;padding:0px;margin:0px;font-size:14px;font-family:Calibri,arial,tahoma,verdana;border-right:solid 1px #ccc;}
input[type=checkbox],input[type=radio]{width:13px;height:13px;margin:0px;padding:0px;}
input:disabled, textarea:disabled, select:disabled, input[type="checkbox"]:disabled {background:#ddd;}
ul{margin:0 0 0 16px;padding:0px;}
li{margin:0;padding:0px;}

a img, img{border:none;outline:none;}

br{line-height:10px;}

.oh{overflow:hidden;padding:0 0 10px;}
.oh .oh{padding:0 0 5px;}
.oh select{width:99%;}
.fl-97{width:97%;float:left;}
.fl-95{width:95%;float:left;}
.fl-85{width:85%;float:left;}
.fl-80{width:80%;float:left;}
.fl-75{width:75%;float:left;}
.fl-70{width:70%;float:left;}
.fl-65{width:65%;float:left;}
.fl-60{width:59%;float:left;}
.fl-49{width:49%;float:left;}
.fl-50{width:50%;float:left;}
.fl-45{width:45%;float:left;}
.fl-40{width:40%;float:left;}
.fl-33{width:33%;float:left;}
.fl-30{width:30%;float:left;}
.fl-25{width:25%;float:left;}
.fl-20{width:20%;float:left;}
.fl-15{width:15%;float:left;}
.fl-10{width:10%;float:left;}
.fl-5{width:5%;float:left;}
.fl-90{width:90%;float:left;}
.fl-8{width:8%;float:left;}
.fr-20{width:20%;float:right;}
.fr-30{width:30%;float:right;}
.fr-40{width:40%;float:right;}
.fr-45{float:right;width:45%;}
.fr-50{width:50%;float:right;}
.fr-55{width:55%;float:right;}
.fr-70{width:70%;float:right;}
.fr-90{width:70%;float:right;}
.fr-10{width:10%;float:right;}
.fl-3{width:3%;float:left;}
.fr {float: right;}
.pos-rel{position:relative;}
.right-bt{position:absolute;right:0;bottom:0;}
.right-tp{position:absolute;right:0;top:0;}
.left-bt{position:absolute;left:0;bottom:0;}
.left-tp{position:absolute;left:0;top:0;}

.optional{color:#7F7F7F;font-size:10px;}

.checkbox-ab{display:block;padding-left:20px;position:relative;}
.checkbox-ab input{position:absolute;left:0;top:2px;}

.help{background:url(../../images/help-icon.png) no-repeat 0 0;height:12px;width:12px;display:inline-block;text-decoration:none;}

.help-pop{margin-top:10px;background:#000;width:300px;padding:1px;position:absolute;display:none;z-index:99999999;box-shadow: 2px 2px 2px #9D9D9D;-moz-box-shadow: 2px 2px 2px #9D9D9D;-webkit-box-shadow: 2px 2px 2px #9D9D9D;-o-box-shadow: 2px 2px 2px #9D9D9D;}
.help-pop div{background:#FFF;text-align:left;padding: 11px 14px;line-height: 14px;font-size:12px;border: 2px solid #BFBFBF;}
.help-pop div h5{margin:0 0 6px;}
.help-pop div span, .help-pop div p{font-size:12px;}
.help-pop.right{background-position:200px top;}
.help-pop img{position:absolute;left:30px;top:-10px;}
.help-pop.right img{left: 253px;}

.scroll-div{height:130px;padding:5px;overflow-y:auto;border:solid 1px #BFBFBF;margin-bottom:10px;}

.clear-all{clear:both;}
.f-size-10{font-size:10px;}
.f-size-12{font-size:12px;}
.f-size-14{font-size:14px;}
.f-size-16{font-size:16px;}
.f-size-18{font-size:18px;}

.color{color:#7F7F7F;}

.button1{background:url(../../images/button-left-bg.png) no-repeat 0 0;padding-left:14px;display:inline-block;cursor:pointer;text-decoration:none;position:relative;}
.button1 > span{background:url(../../images/button-right-bg.png) no-repeat right 0;min-width:100px;padding:6px 14px 7px 0; 0;display:inline-block;font-size:14px;text-transform:uppercase;color:#000;margin:0px !important;font-style:normal;text-align:center;}
.button1:hover > span{color:#fff;}

.button2{background:url(../../images/gray-button-left-bg.png) no-repeat 0 0;padding-left:14px;display:inline-block;cursor:pointer;text-decoration:none;}
.button2 span{background:url(../../images/gray-button-right-bg.png) no-repeat right 0;padding:6px 14px 7px 0; 0;min-width:100px;text-align:center;display:inline-block;font-size:14px;text-transform:uppercase;color:#000;margin:0px !important;font-style:normal;}
.button2:hover span{color:#5b5b5b;}

#header{margin:0 auto;width:986px;text-align:left;min-height:90px;}
#header .logo{float:left;margin:15px 0;}
#header .header-links{float:right;width:550px;margin:38px 0 0;position:relative;}
#header .header-links a{float:left;margin-left:25px;margin-top: 9px;width:46px;}
#header .header-links a.facebook-icon{margin-left:25px;text-decoration:none;margin-top: 0px;width:27px;}
#header .header-links a.twitter-icon{margin-left:5px;text-decoration:none;margin-top: 0px;width:27px;}
#header .header-links a.linkedin-icon{margin-left:5px;text-decoration:none;margin-top: 0px;width:27px;}
#header .header-links a.rss-icon{margin-left:5px;text-decoration:none;margin-top: 0px;width:27px;}
#header .header-links .user {width: 400px;float:right;position:relative;}
#header .header-links .user a {float:right;width:auto;}
#header .header-links .signin-user {width: 330px;float:right;}
#header .header-links .signin-user a {float:right;width:auto;}

#navigation{margin:0 auto;width:986px;border-bottom:solid 1px #BFBFBF;height:35px;text-align:left;padding:0 0 1px;}
#navigation a{font-size:13px;line-height:15px;color:#000;font-style:normal;text-decoration:none;display:block;white-space: nowrap;}
#navigation li:hover a, #navigation li.active a{border-bottom:solid 7px #BFBFBF;}
#navigation a span{font-size:17px;text-transform:uppercase;}
#navigation ul{list-style:none;width:100%;display:table;margin:0;}
#navigation ul li{display: table-cell;padding-right:20px;}
#navigation ul li:nth-last-child(1){padding-right:0;}
#navigation ul li.big{}
@media screen and (-webkit-min-device-pixel-ratio:0) {
 #navigation ul li {}
}
#footer{background:url(../../images/footer-bg.jpg);margin:0 auto;width:936px;overflow:hidden;padding:6px 25px;text-align:left;}
#footer a{color:#fff;}
#footer h3{color:#fff;font-size:16px;font-weight:normal;}

.copyright{color:#ccc;font-style:italic;padding: 10px 0 0 !important;overflow:hidden;}

#hsbody{margin:0 auto;width:946px;padding:20px;text-align:left;position:relative;}
#hsbody-2{margin:0 auto;width:946px;padding:0 20px;overflow:hidden;text-align:left;background:url(../../images/border-line.gif) repeat-y 205px top;}

.hsbody-2-left{float:left;width:185px;padding:20px 20px 20px 0;}
.hsbody-2-left p{margin:0px 0px 12px;}
.hsbody-2-right{float:left;width:725px;padding: 20px 0 20px 15px;min-height:500px;}

.hsbody-half{text-align:left;margin:0 auto;width:986px;overflow:hidden;background:url(../../images/border-line.gif) repeat-y 50% top;border-bottom:solid 1px #BFBFBF;}
.hsbody-half .hsbody-left{padding:20px 0;width:49%;float:left;}
.hsbody-half .hsbody-right{padding:20px 0;width:49%;float:right;}

.transportation-select {width:67%;}
.transportation-select select{min-width:411px;}

.where-when{width:22%;}
.where-when input{width:126px;}

.dimensions-field span{float:left;margin:0 6px 0 0;width:80px;}
.dimensions-field span.last{margin:0;}
.dimensions-field span input{width:72px;}
.dimensions-field span select{width:80px;}
.dimensions-field span.cross_seperator{width:7px;}
.dimensions-field span.dangerous_cargo{width:140px;}

.dimensions-field-name span{float:left;font-size:12px;}
.dimensions-field-name span.length{padding:0 55px 0 0;}
.dimensions-field-name span.width{padding:0 58px 0 0;}
.dimensions-field-name span.quantity{padding:0 0 0 123px;}

#popup-bg{background:#000;opacity:0.5;filter:alpha(opacity=50);position:fixed;top:0;left:0;z-index:999998;width:100%;height:100%;}
#popup-container{position:fixed;top:0%;left:0;margin-top:0%;width:100%;text-align:center;z-index:999999;}

.popup{width:330px;text-align:left;padding:10px 20px;margin:0 auto;background:#fff;border-radius: 8px 8px 8px 8px;position: relative;}
.popup h5{font-weight:bold;text-align:left;margin-bottom:7px;}
.mainpage .popup h5{margin-bottom:7px;}
.popup .close-icon {position: absolute;right: -12px;top: -12px;height:31px;width:31px;}

.popup *{box-sizing:border-box;}
.popup select{width:100%;}

.signin-popup{width:270px;padding:10px 20px 10px 10px;}
.signin-popup input[type="password"], .signin-popup input[type="text"], .signin-popup input[type="email"]{width:175px;}
.signin-popup .oh{padding:0 0 3px;}
.popup .close-icon img{cursor: pointer;}
.signin-popup-verification{width:270px;padding:10px 20px 10px 10px;margin:100px auto 0;}

.forgot-password-popup{width:340px;text-align:left;padding:10px 20px 10px 10px;border:solid 1px #000;margin:0 auto;}
.forgot-password-popup input[type=text]{width:220px;}

.contact-popup{width:355px;text-align:left;padding:10px 20px 10px 10px;margin-top:100px;}
.contact-popup textarea{width:100%;height:70px;}
.contact-popup input[type=text]{width:100%;}

.warehouse-map-popup{width:345px;text-align:left;padding:10px 20px;border:solid 1px #000;margin:0 auto;}
.warehouse-map-popup .map-border{border:solid 1px #000;}

.rating-popup{width:400px;text-align:left;padding:10px 20px;border:solid 1px #000;margin:0 auto;margin-top:50px;}
.rating-popup .rating-box .oh{padding:0 0 5px;}
.rating-popup .rating-box .oh p{margin-top: 0 !important;}
.rating-popup .rating-box p{line-height:80%;}
.rating-popup .rating-count{font-style:italic;text-decoration:underline;color:#7F7F7F;}
.rating-popup .rating-graph{background:#eeeecc;margin:0 10px 0 0 !important;}
.rating-popup .rating-graph span{display:block;background:#ffcc66;}

.help-select-graph-popup{width:575px;min-height:350px;margin-top:70px;padding: 10px 20px 5px;}
.help-select-graph-popup p{margin:0 0 12px;font-size:17px;}
.help-select-graph-popup .links{overflow:hidden;margin:0 0 58px;}
.help-select-graph-popup .links span{float:left;text-align:center;font-style:italic;color:#7F7F7F;line-height:100%;font-size:14px;}
.help-select-graph-popup .links .first{width:60px;margin: 0 0 0 3px;}
.help-select-graph-popup .links .third{width:65px;margin:0 0 0 56px;}
.help-select-graph-popup .links .seventh{width:69px;margin:0 0 0 202px;}
.help-select-graph-popup .links .ninth{width:70px;margin:0 0 0 50px;}
.help-select-graph-popup .shipment{font-style:italic;color:#7F7F7F;line-height:100%;font-size:14px;margin:0 0 10px;}


.forwarders label{display:block;position:relative;padding-left:20px;}
.forwarders label input{position:absolute;top:4px;left:0;}

.format-1 th, .format-1 td{font-size:12px;padding:4px 0px;text-align:center;border-bottom:solid 1px #9ca0bd;}

.format-2{border-bottom:solid 1px #BFBFBF;border-right:solid 1px #BFBFBF;}
.format-2 td{font-size:14px;padding:4px 2px;border-left:solid 1px #BFBFBF;border-top:solid 1px #BFBFBF;}

.format-3 {border-right:solid 1px #BFBFBF;border-bottom:solid 1px #BFBFBF;}
.format-3 td{font-size:14px;padding:4px 2px;border-left:solid 1px #BFBFBF;border-top:solid 1px #BFBFBF;}
.format-3 th{font-size:14px;padding:4px 2px;border-left:solid 1px #BFBFBF;border-top:solid 1px #BFBFBF;}

.format-5 {border-right:solid 1px #BFBFBF;border-bottom:solid 1px #BFBFBF;}
.format-5 td{font-size:16px;padding:4px 2px;border-left:solid 1px #BFBFBF;border-top:solid 1px #BFBFBF;background:#f2f2f2;}
.format-5 th{font-size:16px;padding:4px 2px;border-left:solid 0px #BFBFBF;border-top:solid 1px #BFBFBF;}
.format-5 tr{height:30px;}
.breadcrumb{overflow:hidden; margin: 0 0 7px 35px;}
.breadcrumb p{float:left;display:inline-block;font-size:16px;background:url(../../images/breadcrumb-arrow.jpg) no-repeat right center; padding: 9px 35px 10px 0;margin:0 25px 0 0;}
.breadcrumb p a{font-style:normal;text-decoration:none;font-size:16px;color:#000;}
.breadcrumb p.active {padding:0 35px 0 0;margin:0 25px 0 0;}
.breadcrumb p.active span{font-size:26px;color:#ff9d49;display:block;text-align:center;font-weight:bold;line-height:100%;}
.breadcrumb p.active .active-here{font-size:16px;color:#22518a;display:block;text-align:center;font-weight:bold;line-height:70%;}
.breadcrumb p.last{background:none;margin-right:0;padding-right:0;}

.signin-box{border: 1px solid #BFBFBF;padding:10px;width:42%;min-height:160px;}
.signin-box input[type=text]{width:99%;}
.bd-or{float:left;width:70px;padding-top:65px;}

.profile-fields{margin:3px 0 0 0;display:block;position:relative;min-height:26px;}
.profile-fields .field-name{float:left;width:25%;}
.hsbody-2-right .profile-fields .field-name{width:30%;}
.profile-fields .field-name span{font-size:11px;color:#7F7F7F;}

#addedit_warehouse .profile-fields .field-container, #forwarder_bank_details .profile-fields .field-container, #forwarder_company_details .profile-fields .field-container, #registered_company_details .profile-fields .field-container, .input29 .profile-fields .field-container, #approve_data_review .profile-fields .field-container {width:29%;}
.profile-fields .field-container{float:left;width:60%;}
.profile-fields .field-container input[type=text]{width:100%;box-sizing:border-box;}
.profile-fields .field-container select{min-width:100px;width: 100%;}
.profile-fields.checkbox-field{height:55px;}
.profile-fields.checkbox-field .email-checkbox{position:absolute;left:25%;top:24px;padding-left:20px;}
.profile-fields.checkbox-field .email-checkbox input{position:absolute;left:0;top:4px;}

.ui-fields{overflow:hidden;margin:3px 0 0 0;display:block;position:relative;min-height:26px;}
.ui-fields .field-name{float:left;width:30%;}
.ui-fields .field-name span{font-size:11px;color:#7F7F7F;}
.ui-fields .field-container{float:left;width:65%;font-style:italic;}
.ui-fields .field-container input[type=text]{width:99%;}
.ui-fields .field-container select{min-width:100px;}

.ui-full-fields{overflow:hidden;margin:3px 0 0 0;display:block;position:relative;min-height:26px;}
.ui-full-fields .field-name{float:left;width:auto;}
.ui-full-fields .field-name span{font-size:11px;color:#7F7F7F;}
.ui-full-fields .field-container{float:right;font-style:italic;}
.ui-full-fields .field-container input[type=text]{width:50%;}
.ui-full-fields .field-container select{min-width:100px;}

.profile-fields .field-alert{position:absolute;left:54.5%;top:-5px;z-index:9;background:url(../../images/field-alert-arrow.png) no-repeat left 10px;padding:0 0 0 15px;width:350px;}
.hsbody-2-right .profile-fields .field-alert{width:300px;left:60%;}
.profile-fields .field-alert div, .profile-fields .field-alert1 div{background:#b6dde8;padding:10px;line-height:110%;}

.profile-done-alert{z-index: 9;position:absolute;right:60px;top:60px;background:url(../../images/profile-done-alert.png) no-repeat left 10px;width:310px;height:459px;}
.profile-done-alert td{padding: 0 0 0 55px;}
.profile-done-alert .profile-alert-content{background:#B6DDE8;padding:20px;vertical-align: middle;display:table-cell;width: 270px;}
.profile-done-alert div a{font-size:15px;}
.profile-done-alert div p{margin-bottom:15px;}
.profile-fields .checkbox-alert{top:30px;}

.profile-fields .field-alert1{position:absolute;left:60%;bottom:3px;z-index:9;background:url(../../images/field-alert-arrow-btm.png) no-repeat left bottom;padding:0 0 0 15px;width:296px;}

.bd-details-field input[type=text]{width:235px;}
.bd-details-field select{width:241px;}

.total-payable{border-top:solid 1px #BFBFBF;margin-left:20%;}

.account-links a{color:#000;font-style:normal;font-size:16px;}
.account-links li{list-style:none;margin:0 0 6px;}
.account-links li.active{list-style:disc;}
.account-links li a{text-decoration:none;}

.booking-steps{list-style:none;height:30px;margin: 0 0 0 -3px;}
.booking-steps li{float:left;font-size:16px;padding:4px 4px 0;}
.booking-steps li.active{font-weight:bold;font-size:24px;color:#E46C0A;padding:0 4px;}
.booking-steps li a{font-size:18px;text-decoration:none;font-style:normal;color:#000;}

.booking-box{overflow:hidden;border:solid 1px #BFBFBF;background:url(../../images/border-line.gif) repeat-y scroll 150px top;padding: 10px 5px 1px 10px;margin:0 0 10px;position:relative;}
.booking-box .logo-container{float:left;width:130px;margin-right:20px;}
.booking-box .details{float:left;width:377px;margin:0 5px 0 0;}
.booking-box .details p{line-height:110%;}
.booking-box .details p.f-size-12{line-height:160%;}
.booking-box .buttons{float:left;width:175px;}
.booking-box .buttons .button1 span, .booking-box .buttons .button2 span{width:145px;text-align:center;}

.booking-box-part1{margin-bottom:10px;border:solid 1px #BFBFBF;border-top:none;overflow:hidden;padding:10px;position: relative;}
.booking-box-part1 .buttons{float:right;width:190px;padding-bottom: 58px;}
.booking-box-part1 .buttons .color{font-size:13px;color:#7F7F7F;margin:0 0 10px;}
.booking-box-part1 .buttons .button1 span, .booking-box-part1 .buttons .button2 span{width:145px;text-align:center;}

.booking-textarea textarea{width:99%;height:100px;}
.booking-textarea span{font-size:12px;font-style:italic;}

.registered-textarea select{width:348px;height:150px;}
.registered-textarea .consignee{margin-left:2%;}

.errorBox {
    background-color: #FFFFDD;
    border: 1px solid #F2C218;
    margin-bottom: 20px;
    padding: 15px 15px 15px 20px;
}
.errorBox .header {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}
.errorBox li {
    margin: 3px 0 3px 15px;
}
.mainpage .fl-65 .fl-25{margin:0 6px 0 0;line-height:110%:}
.mainpage .fl-65 .fl-20{width:124px; line-height:100%:}
.mainpage .fl-65 .fl-20 input[type=text]{width:110px;}
.mainpage .clear-all{padding-right:17px;}
.dimensions-field span.last{margin:0;}
.mainpage h5{margin-bottom:17px;}
.helpmeselect{bottom:13px;position: absolute;right: 0;}
hr{outline:none;height:1px;border:none;border-top:solid 1px #BFBFBF;}
.signin-popup input[type=password]{width:175px;}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
  #navigation a span{font-size:16px;}
  #header .header-links{width:560px;} 
  .dimensions-field{width:66%;}
  .fl-65.dimensions-field span.fl-30{margin:0;}
  .hsbody-2-right{font-size:60%;}
  #navigation ul li{float:left;margin: 0 2% 7px 0;width: 13.6%;}
  #navigation .big{width:22%;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
  #navigation a span{font-size:16px;}
  #header .header-links{width:560px;} 
  .dimensions-field{width:66%;}
  .fl-65.dimensions-field span.fl-30{margin:0;}
  .hsbody-2-right{font-size:60%;}
  #navigation ul li{float:left;margin: 0 2% 7px 0;width: 13.6%;}
  #navigation .big{width:22%;}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation:portrait) {
  /* For portrait layouts only */
  #navigation a span{font-size:16px;}
  #header .header-links{width:560px;} 
  .dimensions-field{width:66%;}
  .fl-65.dimensions-field span.fl-30{margin:0;}
  .hsbody-2-right{font-size:60%;}
  #navigation ul li{float:left;margin: 0 2% 7px 0;width: 13.6%;}
  #navigation .big{width:22%;}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation:landscape) {
  /* For landscape layouts only */
  #navigation a span{font-size:16px;}
  #header .header-links{width:560px;} 
  .dimensions-field{width:66%;}
  .fl-65.dimensions-field span.fl-30{margin:0;}
  .hsbody-2-right{font-size:60%;}
  #navigation ul li{float:left;margin: 0 2% 7px 0;width: 13.6%;}
  #navigation .big{width:22%;}
}

#myaccount_info h5{margin:0 0 7px;}
#myaccount_info .ui-fields{height:26px;}
.filter_style p{margin: 0 0 2px;}

/*loader function starts*/
.loader_popup_bg{position:fixed;width:100%;height:100%;z-index:9999;margin:0px;padding:0px;left:0;top:0;}
			
.popup_loader{width:100%;z-index:1;height:100%;position:absolute;left:0;top:0;margin:0px;padding:0px;background:#000;opacity:0.5;filter:alpha(opacity=50);}

.popup_loader .popup_content{width:100%;position:fixed;margin:0px;;padding:0px;text-align:center;z-index:33;left:0;top:44%;}
.popup_loader .popup_content img{margin:10px auto 0;padding:0px;}

.login_popup3 .error_msg{min-height:40px;margin:0px 20px 10px;text-align:center;padding-top:15px;color:red;font-weight:bold;}
#loader img{left:50%;top:50%;position:absolute;margin:0;z-index:2}
/*loader function ends*/
.signin-popup h5{margin-bottom:20px;}

.errorBox1 {
    background-color: #FFFFDD;
    border: 1px solid #F2C218;
    margin: 0 auto;
    padding: 0 0 1px;
    text-align: left;   
}
.errorBox1 .header {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}
.errorBox1 li {
    margin: 3px 0 3px 15px;
}

#select_service_search p{font-size:15px;}
.filter_style h5{margin-bottom:0px;}
.format-1 .button1 span{min-width: 50px !important;}
#select_service_search .forwarders label, #select_service_search hsbody-2-left{font-size:15px;}
.filter_top_text{position:absolute;font-size:11px;font-style:italic;}
.range_value_left{position:absolute;font-size:11px;color:#a0a0a0;font-style:italic;margin:2px 0 0;}
.range_value_right{position:absolute;font-size:11px;margin: 2px 0 0 94px;color:#a0a0a0;font-style:italic;width: 77px;text-align: right;}
.compare-popup{width:350px;margin-top: 50px;}
.abandon-popup{margin-top:50px;width:512px;}
.format-1 td img{max-width:80px;}

#ratings-star{background:url(../../images/rating-stars.png)no-repeat 0 0;height:10px;line-height:10px;width:50px;margin: 3px auto 4px;}
#ratings-star span{background:url(../../images/rating-stars.png)no-repeat 0 -10px;height:10px;line-height:10px;display:block;}

.RatingBox1
{
	display:block;
	width:10px;
	background:url(/images/white-star.png) no-repeat;
	margin:3px 4px 0px 0px;
	height:10px;
	line-height:4px;
	float:left;
	cursor:pointer;
	text-decoration:none;
}
.RatingBoxAct1, .RatingBox1:hover
{
	display:block;
	width:10px;
	margin:3px 4px 0px 0px;
	height:10px;
	line-height:4px;
	float:left;
	background:url(../../images/orange-star.png) no-repeat;
	cursor:pointer;
	text-decoration:none;
}
.registered-textarea h5{margin-bottom:3px;}
.registered-textarea{padding-bottom:4px;}
.remove-shippers-popup{margin-top:50px;}
#linked_user_account select{height:150px;}
.delete-account-popup{margin-top:80px;}
.map-popup{margin-top:10px;width:500px;}
.servicess_slider_header_text{font-size:15px;}


.profile-done-alert-booking{z-index: 9;position:absolute;right:50px;top:190px;background:url(../../images/profile-done-alert.png) no-repeat left 10px;width:310px;height:459px;}
.profile-done-alert-booking td{padding: 0 0 0 55px;}
.profile-done-alert-booking .profile-alert-content{background:#B6DDE8;padding:20px;vertical-align: middle;display:table-cell;width: 270px;}
.profile-done-alert-booking div a{font-size:15px;}
.profile-done-alert-booking div p{margin-bottom:15px;}
.compare-popup select{width:55px;}

.paid_amount{margin-top:5px;}
.forwarder_logo{float: left;text-align: left;width:100px;height:36px;}
.booking-box-part1 .checkbox-ab{padding-left:16px;}
.booking-box-part1 .rating_buttons{bottom: 14px;position: absolute;right: 15px;width: 170px;}
.booking_ratings{ bottom: 3px;position: absolute;right: 6px;width: 160px;}
.bottom_align{position:absolute;bottom:10px;right:6px;}
.rating_content p{margin-bottom:6px;}
.rating_content p.rating_comment{margin:0;}


.profile-done-alert-forwarder{z-index: 9;position:absolute;right:50px;top:90px;background:url(../../images/profile-done-alert.png) no-repeat left 10px;width:310px;height:200px;}
.profile-done-alert-forwarder td{padding: 0 0 0 55px;}
.profile-done-alert-forwarder .profile-alert-content{background:#B6DDE8;padding:20px;vertical-align: middle;display:table-cell;width: 270px;}
.profile-done-alert-forwarder div a{font-size:15px;}
.profile-done-alert-forwarder div p{margin-bottom:15px;}
#userBookingLogin{padding:10px;border:solid 1px #BFBFBF;margin-bottom:10px;}
#userBookingLogin .oh{padding-bottom:0px;}
#userBookingLogin .oh p {margin-top: 4px;}
.rating-popup h5 {margin-bottom: 5px;font-weight:normal;}
#user_comment p{margin-bottom:5px;font-size:14px;margin-top: 0 !important;}
#booking_detail_form H5{margin-bottom:0px;}
#pickup_address_div {margin-top:-210px;}
#show_link{position:absolute;right:220px;top:25px;width:200px;}
#booking_confirmation_form .hsbody-2-right .oh{padding: 0 0 5px;}
#booking_confirmation_form .hsbody-2-right hr{margin: 0 0 5px;}


.haulage-get-data .s-field{width:16%;}
.haulage-get-data .s-field select{width:110px;}

.s-field.fl-65{width:63%;float:right;margin-right:7px;}


.profile-box-link{float:left;width:149px;border:solid 1px #BFBFBF;padding:10px;text-align:center;background:#f2f2f2;min-height:75px;}
.profile-box-link a{color:#000;text-decoration:none;font-style:normal;}

.profile-box{float:left;width:169px;border:solid 1px #BFBFBF;margin:0 10px 0 0;}
.profile-box .title{font-weight:bold;border-bottom:solid 1px #BFBFBF;padding:5px;line-height:132%;min-height:21px;}
.profile-box .email{padding:5px;line-height:132%;}
.profile-box .date-setting{overflow:hidden;padding:5px;line-height:132%;}
.profile-box .date-setting .date{float:left;padding:1px 0 0;}
.profile-box .date-setting .padlock{float:left;background: url(../../images/lock-icon.png) no-repeat 0 center;width:14px;height:21px;margin-right:5px;}
.profile-box .date-setting a{text-decoration:none;width:20px;height:20px;}
.profile-box .date-setting .settings{float:right;background:url(../../images/setting-icon.png) no-repeat left center;margin-right:5px;}
.profile-box .date-setting .delete{float:right;background:url(../../images/delete-icon.png) no-repeat left center;}
.profile-box .email span{background: url(../../images/email-icon.png) no-repeat 0 bottom; display:inline-block;width:16px;height:18px;margin-right:4px;}
.feedback-box{border:solid 1px #BFBFBF;padding:6px;max-height: 250px;height: 250px;overflow-x: hidden;overflow-y: auto;}
.feedback-box p{margin:0 0 10px;font-style:italic;font-size:14px;}
.hsbody-2-left.account-links p{margin:0 0 5px}
.format-3 .tabcolor {border-top-color: white;}

/* container of the file upload elements and look of the field */
.file {
	display: inline-block;
	width:99%;
	position: relative;
	background: #fff;
	border:solid 1px #BFBFBF;
	margin: 10px 0;
	overflow: hidden;
}
/* style text of the upload field and add an attachment icon */
.file .button {
	background:url(../../images/ico_clip.png) no-repeat 100% 50%;
	text-indent:10px;	
	font-size:14px;
	color: #000000;
	height:32px;
	line-height:32px;
	display: block;
}
/* hide the real file upload input field */
.file input {
	cursor: pointer;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	filter: alpha(opacity=1);
	-moz-opacity: 0.01;
	opacity: 0.01;
	font-size: 100px;
}
.company-edit{width:500px;margin-top: 50px;}
.google_map_select{width:700px;height:570px;margin-top:5px;}

.format-2 td.noleft_border{border-left:none;}
.fl-33.s-field {margin-right: 1%;width: 32%;}
#obo_lcl_bottom_form .oh{padding:0 0 5px;}
#addForwarderContactInfo .oh{padding: 0 0 5px;}
#addForwarderContactInfo .oh input, #addForwarderContactInfo .oh select{width:275px;}
.profile-fields .profile-fields{position:inherit;margin:0;}
#ajax_prefrence_control select{width:29%;}
#forwarder_company_div .ui-fields .field-container, #forwarder_system_control .ui-fields .field-container{float:left;}
#forwarder_bank_details .oh{padding: 0 0 0px; min-height: 26px;margin: 3px 0 0;}

.popupscroll{overflow:hidden;height:100%;}
.popup-scroller{right:0;left:0;top:0 !important;bottom:0;overflow:auto;position:fixed;}
.popup-scroller div.popup{top:0;margin-top:20px !important;}
#obo_cc_no_record_found{border: 1px solid #458B00;background-color:#ECF1EF;color:#000000;}
.tryitnow .fl-25 select{width:96%;}
.tryitnow .fl-20 input{width:132px;}
.tryitnow .fl-33 select{width:96%;}
.td-border-bottom td, .td-border-bottom th{border-bottom:solid 1px #BFBFBF;}
.td-border-top td, .td-border-top th{border-top:solid 1px #BFBFBF;}
#removeFormNonAcceptance option, #removeFormNonAcceptanceEmail option{border-right:none;}
.gap-text-field{padding-top:15px;}
#obo_lcl_bottom_form .f-size-12{line-height:100%;}
#forwarder_company_div .ui-fields, #forwarder_system_control .ui-fields{min-height:26px;}
#forwarder_email_addresses .field-container .field-container{float: none !important;display:block;}
#forwarder_company_details .oh, #registered_company_details .oh{padding:0 0 5px;}
.forwarder_logo img {max-width:80px;max-height:30px;}
#add_edit_haulage_data .oh { padding: 0 0 5px;}
#add_edit_haulage_data .f-size-12 {line-height: 100%;}
#obo_cc_bottom_span .oh { padding: 0 0 5px;}
#obo_cc_bottom_span .f-size-12 {line-height: 100%;}
.forwarder_login{border: 1px solid #BFBFBF;padding: 10px 20px;width: 300px;}
.forwarder_login input[type="text"], .forwarder_login input[type="password"]{width:195px;}
.image{max-width:900px; clear:both; display:block; margin:auto;box-shadow: 5px 5px 4px #888;}
.copyright span.forwarder_footer_links{float:right;text-align:right;width:602px;margin:0;}
.copyright span.forwarder_footer_links a{float:none;display:inline-block;margin-right: 0px;margin-left: 15px;margin-top:0px !important;margin-right:0px !important;color:#ccc;}
#show_link .logout_account{float:right;width:30px;padding: 4px 0 0;text-align: right;}
#show_link .user_account{float:right;width:120px;text-align: right;}
#show_link a{float:none !important;margin:0 !important;}
.forwarders_tandc{margin: 0; padding: 0 0 0 20px;}
.forwarders_tandc a{text-decoration:none;color:#000;font-style:normal;font-size: 16px;}
ol{margin:0;padding:0 0 0 20px;}
.haulage_obo td{width:88px !important;}
.welcome {padding-left:35px;}
#booking_table.format-2 td{padding: 1px 2px;}
#forwarder_booking_seach_form select, #forwarder_billing_seach_form select { max-width: 85px;}
#forwarder_booking_seach_form input, #forwarder_billing_seach_form input  {max-width: 80px;}
#forwarder_booking_seach_form .button1 span, #forwarder_booking_seach_form .button2 span,#forwarder_billing_seach_form .button1 span, #forwarder_billing_seach_form .button2 span { min-width: 50px;}
#forwarder_booking_seach_form .fr-20, #forwarder_billing_seach_form .fr-20  { padding-top: 9px;}
#forwarder_booking_seach_form .fl-10, #forwarder_billing_seach_form .fl-10{width: 10.7%;}
.format-4{border: 1px solid #BFBFBF;border-right:none;}
.format-4 td{border-right: 1px solid #BFBFBF;padding: 1px 2px;font-size: 14px;}
.format-4 th{border-bottom: 1px solid #BFBFBF;border-right: 1px solid #BFBFBF;padding: 1px 2px;font-size: 14px;text-align:left;}
.format-4 th a{font-style:normal;color:#000;text-decoration:none;}
.sort-arrow-up{background:url(../../images/sort-arrow-up.png) no-repeat right 0px; display:inline-block;min-height:12px;min-width:12px;float:right;margin-top:3px;cursor:pointer;}
.sort-arrow-down{background:url(../../images/sort-arrow-down.png) no-repeat right 0px; display:inline-block;min-height:12px;min-width:12px;float:right;margin-top:4px;cursor:pointer;}
.sort-arrow-up-grey{background:url(../../images/sort-arrow-up-gray.png) no-repeat right 0px;display:inline-block;min-height:12px;min-width:12px;float:right;margin-top:3px;cursor:pointer;}
.sort-arrow-down-grey{background:url(../../images/sort-arrow-down-gray.png) no-repeat right 0px;display:inline-block;min-height:12px;min-width:12px;float:right;margin-top:4px;cursor:pointer;}
.scroll-div .format-2 th {
    border-top: 1px solid #BFBFBF;
    font-size: 14px;
    padding: 4px 2px;
font-weight:normal;
}
.forwarders_tandc li{margin-left:11px;}
#obo_lcl_bottom_form .fl-15{width:14.9%;}
#addeditHaulageData .fl-15{width:14.9%;}

#content #payment_pending{width: 250px;}
.bank_name{width: 200px;}
.terms_condition_top{margin-top:-35px;margin-right:15px;}
.customerImg{background: url(../../images/BobQuestion.png) no-repeat right 0px; padding-right:12px; margin-right: 12px;display:inline-block;min-height: 156px;min-width: 186px;float:left;margin-top:5px;}
.rssImg{background: url(../../images/RSS-CompanySection.png) no-repeat right 0px; padding-left:12px; margin-left: 12px;display:inline-block;min-height: 113px;min-width: 99px;float:left;margin-top:5px;}
.qOpen{background: url(../../images/QuotationOpen.png) no-repeat center center; display:inline-block;min-height:42px;min-width:41px;float:left;margin-right: 1px;}
.qClose{background: url(../../images/QuotationClose.png) no-repeat center center; display:inline-block;min-height:42px;min-width:41px;float:right;margin-top: 23px;}
.tc_link{color: #7F7F7F;font-size: 16px;font-style: italic;text-decoration: underline}
#show_message{border-bottom: 1px solid #BFBFBF;margin: 0 auto;padding-right: 81px;position: relative;text-align: left;width: 905px;padding-top: 4px;padding-bottom:4px;}
.note_info{min-height:30px;}
.warning{background:url(../../images/Warning.png)no-repeat 0 -2px; padding: 2px 0 0 30px;margin-top: -2px;}
.information{background:url(../../images/Information.png) no-repeat 0 -2px; padding:2px 0 0 30px;margin-top: -2px;}
.tandc_forwarders{width:100%;}
.tandc_forwarders th{width:15%;text-align:left;font-weight:normal;}
.tandc_forwarder td{width:85%;text-align:left;}
.tandc_forwarders td a{color: #000000;font-size: 16px; font-style: normal;text-decoration: none;}   
#show_message #foo {padding-left: 2px;}
#copyPostCode .fl-25 {margin-right: 1%;width: 24%;}
.tryhaulagepricing td{font-size:12px;padding-right:4px;}
.tryhaulagepricing td a span{min-width: 70px;}
.displayzonemap{float:right;max-width:40%;border: 1px solid #BFBFBF;}
iframe body{margin:0 !important;padding:0 !important;}
.viewhaulagezone .format-2{border-right:0px;}
.viewhaulagezone .format-2 td.firsttdnoborder{border-left:0px;}
iframe{margin:0;padding:0;border:0;}
.pricingzonedata th{font-size:12px;font-weight:normal;}
#haulageOBO .haulage-get-data .s-field{width: 120px;}
#haulageOBO .haulage-get-data .s-field select{width: 115px;}
#haulageOBO .haulage-get-data #warehouse.s-field{width:224px;}
#haulageOBO .haulage-get-data #warehouse.s-field select{width:219px;}

.multi-bulk-upload-comment-popup{width:450px;margin-top: 100px;}
.multi-comment-popup{width:400px;max-height: 230px;overflow-x: hidden;overflow-y: auto;padding-bottom:10px;}
.multi-comment-popup h5{padding-top:10px;margin-bottom:0px;}
#copyZone .fl-25{margin-right: 1%; width: 24%;}
#copyZone .fl-15{margin-right: 1%; width: 24% !important;}
#show_copy_data{ height: 105px; overflow: auto;}
.tableScroll{border: 1px solid #BFBFBF;overflow:auto;}
.tableScroll .format-2{border-right:0px;}
.tableScroll .format-2 .noborder{border-left:0px;}
.tableScroll .format-2 th{border-left: 1px solid #BFBFBF;font-size: 14px;padding: 4px 2px;}
#update_postcode_form li{margin:0 0 10px;clear:both; min-height: 24px;}
#szPostCodeStr option{border-right:0px;}
#update_distance_form li:after {clear: both;content: "";display: block;font-size: 0;height: 0;line-height: 0;overflow: hidden;}
#update_distance_form li {margin: 0 0 10px;clear:both;}
#list_countries_arr option{border-right:0;}
#copyDistance .fl-25{margin-right: 1%; width: 24%;}
.tableScroll .format-2 .topborder{border-top:0px;}
#show_copy_data .checkbox input{position: relative; top: 2px;}
#bulkExportData .fl-30{padding:0px 0 0 10px;}
#bulkExportData .fr-15{margin-top: 10px;}
.map_note p {color: #000000;display: inline-block;font-size: 12px;font-style: italic;margin: 0 0 5px;}
#haulage_data_1, #haulage_data_2, #haulage_data_3, #haulage_data_4{cursor:pointer;}
#update_postcode_form td div{margin:0 0 10px;}
#copyZone .direction{margin-right:0;width:13%;}
#copyZone #warehouse_zone{width:36%;}
#show_copy_data td, #show_copy_data table{border:none !important;}
#show_copy_data td{padding: 1px 2px !important;}
#copyDistance .direction {margin-right: 0;width: 13%;}
#copyDistance #warehouse_zone {width: 36%;}
#copyPostCode .direction {margin-right: 0;width: 13%;}
#copyPostCode #warehouse_zone {width: 36%;}
.pop-up-forgot-password .popup{margin-top: 50px;}
.scroll-div .format-2 .noborder{border-left:0px;}
.displayMap{float:left;max-width:100%;border: 1px solid #BFBFBF;}
.popup-forgot-password{width:330px;text-align:left;padding:10px 20px;margin:129px auto;background:#fff;}
.popup-forgot-password h5{font-weight:bold;text-align:left;}
#obo_cc_data_export_form .oh select{width: 113px;}
#obo_lcl_bottom_form input[type="text"]{width: 84px;}
#obo_cc_data_export_form .fl-33.s-field{margin-right: 6px; width: 113px;}
.clearfix:after {
    clear: both;
    content: "";
    display: block;
    font-size: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.multi-comment-popup p em{font-size:14px;}
.multi-comment-popup p{margin:0 0 10px 7px;font-size: 14px;}
h5.terms-heading{margin:0 !important;}
.uploadfilelist {display:block;overflow:hidden;margin:0 0 5px;}
.uploadfilelist a{display:inline-block;width:16px;height:20px;background:url(../../images/delete-icon.png)no-repeat 0 0;margin:0 0 0 5px;float:left;}
.uploadfilelist span{margin: 2px 0 0; float: left;display:inline-block;}
.show-form-step{list-style:none;overflow:hidden;margin: 0 0 10px;padding:0;}
.show-form-step li{float:left;border-right:solid 2px #757575;padding: 5px 0 5px 45px;font-size: 16px;font-weight:700;width:32%;}
.show-form-step li.one{background: url(../../images/list-style1.png) no-repeat scroll 0 center;}
.show-form-step li.two{background: url(../../images/list-style2.png) no-repeat scroll 0 center;margin:0 2%;}
.show-form-step li.three{background: url(../../images/list-style3.png) no-repeat scroll 0 center;border-right:none;padding-right:0px;margin: 0;}
.show-form-step li.one.gray{background: url(../../images/list-style1-gray.png) no-repeat scroll 0 center;}
.show-form-step li.two.gray{background: url(../../images/list-style2-gray.png) no-repeat scroll 0 center;opacity:0.5;filter:alpha(opacity=50);}
.show-form-step li.three.gray{background: url(../../images/list-style3-gray.png) no-repeat scroll 0 center;border-right:none;padding-right:0px;opacity:0.5;filter:alpha(opacity=50);}
.show-form-step li.two.dark-gray{background: url(../../images/list-style2-gray-dark.png) no-repeat scroll 0 center;}
#showFillForm .profile-fields .field-alert{left: 59%;width: 280px;}
#showFillForm .profile-fields .field-alert1{left: 59%;width: 280px;}
#showFillForm .profile-fields .field-name{width: 30%;}
#showFillForm .profile-fields .profile-fields{margin: 3px 0 0;}
#update_preference_control .profile-fields .field-container select { min-width: 211px;}
.preference-scroll{overflow: auto; height: 480px;}
.preference-scroll form{display: block;max-width: 720px;}
#showFillForm #popup-container{position:absolute;}
#updateRegistComapnyForm .forwarder_logo{width:91px;}
#updateRegistComapnyForm, #registered_company_details{max-width: 725px;dispaly:block;}
.multi-payment-transfer-parent-popup .sort-arrow-up, .multi-payment-transfer-parent-popup .sort-arrow-up-grey, .multi-payment-transfer-parent-popup .sort-arrow-down, .multi-payment-transfer-parent-popup .sort-arrow-down-grey {margin-right: 12px;}
.link16 a{font-size:16px;}

.red_border{border:1px solid #D9000B; !important;} 

.overview{height:26px;margin:3px 0 0 0;display:block;position:relative;clear: both;}
.overview .field-name{float:left;width:40%;}  
.overview .field-value{float:left;width:60%;font-weight: bolder;} 
.overview .field-value a{color:blue}

.overview-form{height:26px;margin:3px 0 0 0;padding:5px;display:block;position:relative;clear: both;}
.overview-form .field-name{float:left;width:30%;}  
.overview-form .field-container{float:left;width:68%;}
.overview-form .field-container input[type="text"]{width:100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;height: 28px;}
.overview-form .field-container textarea{width:100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;}
.overview-form .field-container select{min-width:10px;padding: 1px 2px;}
 
.overview-form .name-container{float:left;width:68%; padding: 2px 0 0;}
.overview-form .name-container input[type="text"]{width:59%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;height: 28px;}
.overview-form .name-container select{padding: 1px 2px;height: 28px; line-height:22px;width: 39%;}

.overview-form .phone-container{float:left;width:68%; padding: 1px 0 0;}
.overview-form .phone-container input[type="text"]{width:70%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;height: 28px;float:right;}
.overview-form .phone-container select{padding: 1px 2px;float:left;height: 28px; line-height:22px;width: 29%;}

.format-6{border: 1px solid #bfbfbf ;border-right:none;}
.format-6 td{border-right: 1px solid #bfbfbf ;padding: 4px 5px 3px;font-size: 14px;}
.format-6 td:nth-child(1){padding-left: 10px;}
.format-6 td:nth-last-child(1){padding-right: 10px;}
.format-6 tr:nth-child(1) td{padding-top: 7px;}
.format-6 tr:nth-last-child(1) td{padding-bottom: 7px;}
.format-6 th{border-bottom: 1px solid #bfbfbf ;border-right: 1px solid #bfbfbf ;padding: 1px 2px;font-size: 14px;text-align:left;}

.pending-tray-scrollable-div{position:relative;text-align:left;}
.scrolling-div{max-height: 250px;overflow-x: hidden;overflow-y: scroll;padding-bottom:10px;border-bottom:solid 1px #BFBFBF;}
.scrolling-div > table{border-bottom:none;}
.scrolling-div ul{list-style-type: none;}

.table-preferenced-emails{padding:5px 17px 0 0;}
.table-preferenced-emails > table{border-right: 1px solid #bfbfbf;border-bottom:solid 1px #BFBFBF;}
.table-preferenced-emails > table th{border-left: 1px solid #bfbfbf;border-top: 1px solid #bfbfbf;padding: 4px 2px;font-size:14px;}

.active-th
{ 
    background-color: #222222;
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #ffffff;
    outline: 0 none;
}
.task-tray-header{margin:3px 0 0 0;cursor:pointer;}
.afq{padding:1px;}
  
.horizontal-scrolling-div-container{position:relative;background:#DBDBDB;text-align:left;}
.horizontal-scrolling-div{max-height: 250px;overflow-x: auto;overflow-y: auto;padding-bottom:10px;} 
.form3{border-radius: 5px 5px 5px 5px; box-shadow: 0 0 5px #AEAEAE;margin: 1px 0 15px;padding: 10px;} 

.close-button{background:url(../../images/no-tick.png) no-repeat center center; display:inline-block;width:15px;height:15px;text-indent:-1000px;overflow:hidden;}
.open-button{background:url(../../images/open.png) no-repeat center center; display:inline-block;width:35px;height:35px;text-indent:-1000px;overflow:hidden;}

.file-owner-button{background:url(../../images/file_owner.png) no-repeat center center; display:inline-block;width:35px;height:35px;text-indent:-1000px;overflow:hidden;}

.x{position:relative;}
.x .calender_more_popup{position:absolute;bottom:-6px;left:-215px;background:#555;height:100%;padding:5px;width:200px;z-index: 999999;box-shadow: 0 1px 4px -1px #888;color:#fff;}
.x .calender_more_popup ul{list-style-type: none;background:#555;}
.x .calender_more_popup_arrow
{
    position:absolute;
    bottom:11px;
    border-style: solid;
    width: 0;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #555555;
    border-width: 0 0 13px 15px;
    left: 210px;
}


.task-popup{width:70%;text-align:left;padding:10px 20px;border:solid 1px #000;margin:0 auto;background:#fff; box-shadow:0px 0px 8px #202020;}
.task-popup h5{font-weight:bold;text-align:left;} 
.pending-tray-scrollable-div-overview{position:relative;text-align:left;}
.scrolling-div-overview{max-height: 350px;overflow-x: hidden;overflow-y: scroll;padding-bottom:0px;border-bottom:solid 1px #bfbfbf;}
.scrolling-div-overview .format-4{border-bottom:none;border-top:none;}
.pending-tray-scrollable-div-task-pane{position:relative;text-align:left;}
.scrolling-div-task-pane{max-height: 650px;min-height: 550px;overflow-x: hidden;overflow-y: auto;padding-bottom:0px;} 
.grey-container-div{background-color:#DBDBDB !important;} 
.scroll-table-head{padding-right:17px;}

.submit-quote-form *{box-sizing:border-box;}
.submit-quote-form > div{float:left;padding:0 13px 10px 0;width:21%;}
.submit-quote-form .vat{position:relative;}
.submit-quote-form > div:nth-last-child(1){padding:0;}
.submit-quote-form .currency{width:16%;}
.submit-quote-form .currency.courier-currency{width:10%;}
.submit-quote-form .transit-time-days{width:4%;padding:21px 0 0;}
.submit-quote-form input, .submit-quote-form select, .submit-quote-form textarea{width:100%;margin:2px 0 0;}
.submit-quote-form .currency.courier-currency select{width:100%;}
.submit-quote-form .currency select {float: left;width: 45%;}
.submit-quote-form .currency span {float: left;width: 10%;text-align:center;}

#forwarder_quote_main_container > div{margin-bottom:10px;}
#forwarder_quote_main_container > div:nth-last-child(1){margin:0;}

.show-more-less-alert{position: absolute; bottom: 1px; right: 0px;} 
.table-scroll-head{padding:5px 17px 0 0;}
.mac-table-header{padding:5px 0 0 0 !important;}
.table-scroll-head th{border-right: 1px dashed #eaeaea;font-size: 14px;padding: 0 2px 4px;text-align: left;}

.accordion-container{padding:0 0 20px;border-bottom:solid 1px #7f7f7f;} 
.accordian{float:left;position:relative;padding:0 23px 0 0;font-size:18px;font-weight:bold;text-transform:uppercase;}
.accordian a{position:absolute;right:0;top:4px;}
.accordion-btn{float:right;white-space:nowrap;} 

.overview-detail:after{clear: both;content: "";display: block;font-size: 0;height: 0;line-height: 0;overflow: hidden;}
.overview-detail .field-name{float:left;width:18%;padding-bottom:2px;}
.overview-detail .field-value{float:left;width:82%;padding-bottom:2px;}

.email-trim{display:block;max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

#courierDetail .overview-detail:after{clear: both;content: "";display: block;font-size: 0;height: 0;line-height: 0;overflow: hidden;}
#courierDetail .overview-detail .field-name{float:left;width:35%;padding-bottom:2px;}
#courierDetail .overview-detail .field-value{float:left;width:65%;padding-bottom:2px;}
#courierDetail .overview-detail .field-name-cargo{float:left;width:95%;padding-bottom:2px;}

#courierDetail .overview-detail:after{clear: both;display: block;height: 0;line-height: 0;visibility: hidden;}
#courierDetail .overview-detail .field-name{float:left;width:35%;padding-bottom:2px;}
#courierDetail .overview-detail .field-value{float:left;width:65%;padding-bottom:2px;}
#courierDetail .overview-detail .field-name-cargo{float:left;width:95%;padding-bottom:2px;}

#courierDetail .format-6{border: 1px solid #bfbfbf ;border-right:none;}
#courierDetail .format-6 td{border-right: 1px solid #bfbfbf ;padding: 4px 5px 3px;font-size: 14px;}
#courierDetail .format-6 td:nth-child(1){padding-left: 10px;}
#courierDetail .format-6 td:nth-last-child(1){padding-right: 10px;}
#courierDetail .format-6 tr:nth-child(1) td{padding-top: 7px;}
#courierDetail .format-6 tr:nth-last-child(1) td{padding-bottom: 7px;}
#courierDetail  .format-6 th{border-bottom: 1px solid #bfbfbf ;border-right: 1px solid #bfbfbf ;padding: 1px 2px;font-size: 14px;text-align:left;}

#courierDetail .submit-quote-form *{box-sizing:border-box;}
#courierDetail .submit-quote-form > div{font-size:13px;float:left;padding:0 15px 10px 0;width:21%;}
#courierDetail .submit-quote-form > div:nth-last-child(1){padding:0;}
#courierDetail .submit-quote-form .currency{width:16%;}
#courierDetail .submit-quote-form .vat{position:relative;}

#courierDetail submit-quote-form .transit-time{margin-right: 4px;}
#courierDetail .submit-quote-form .transit-time-days{width:4%;padding:21px 0 0;}
#courierDetail .submit-quote-form input, .submit-quote-form select, .submit-quote-form textarea{width:100%;margin:2px 0 0;}
.edit-links{font-size:13px;font-style: normal;}
#courierDetail .submit-quote-form .currency select{width:45%;float:left;}
#courierDetail .submit-quote-form .currency span{width:10%;float:left;text-align:center;}


.page-courier-label {
   position: relative;
}

.page-courier-label .page {
   position: absolute;
   left: 0px;
   width: 100%;
   margin: 0 auto;
}

.pdf-popup{margin-top:50px;width:795px;}

.selected-row td, .selected-row th{background:#dbdbdb;color: #828282;}

.format-7{border-bottom:solid 1px #BFBFBF;border-right:solid 1px #BFBFBF;}
.format-7 td{padding:4px 2px;border-left:solid 1px #BFBFBF;border-top:solid 1px #BFBFBF;}

.courier-provider .format-7{border-right:0px;}
.courier-provider .format-7 td.firsttdnoborder{border-left:0px;}
.courier-provider-scroll {float:left;border:1px solid #BFBFBF;width:100%;min-height:229px;max-height:229px;overflow-y:auto;}
.courier-provider-scroll .format-7 tr:nth-child(1) td{border-top:none;}
.courier-provider-scroll .format-7 td:nth-child(1){border-left:none;}
.sort-arrow-up{background:url(../../images/sort-arrow-up.png) no-repeat -1px center;display:inline-block;padding-left: 12px;}
.sort-arrow-down{background:url(../../images/sort-arrow-down.png) no-repeat -1px center;;display:inline-block;padding-left: 12px;}
.font-14{font-size:14px !important}
.font-12{font-size:14px !important}
.cargo-top-line{margin:10px 0 20px -34px;}

.service-provider-fields input, .service-provider-fields select{box-sizing:border-box;width:100%;height: 25px;}
.service-provider-fields td:nth-child(2n){padding:0 0 0 5px;}
.service-provider-fields a{float:right;}

.tyni-loader{background: url(../../images/loader.gif) no-repeat 5% center;background-size: auto 50%;display:inline-block;padding-left:20px;}

#namelist * {
     box-sizing: border-box;
}

#fileList {width:80%;}
#namelist {margin:0;padding:0;text-align:center;}
#namelist > li {margin: 0px 17px 0px 0px;text-align:left;display:inline-block;width: 6.5%;list-style:none;position:relative;
}
#namelist > li span{padding:20px 0 0;position:absolute;left:0;top:0;width:100%;height:100%;text-align:center;}
.file_list_con{position:relative;min-height: 54px;}
#deleteArea{position:absolute;right:0;bottom:0;}

.accordian_small{float:left;position:relative;padding:0 23px 0 0;font-size:18px;font-weight:bold;}
.accordian_small a{position:absolute;right:0;top:4px;}
.pricingzonedata input, .pricingzonedata select{box-sizing:border-box;width:92%;}
 
ul.tsc_pagination { margin:4px 0; padding:0px; height:100%; overflow:hidden; font:12px; list-style-type:none; }
ul.tsc_pagination li { float:left; margin:0px; padding:0px; margin-left:5px; }
ul.tsc_pagination li:first-child { margin-left:0px; }
ul.tsc_pagination li a { color:black; display:block; text-decoration:none; padding:7px 10px 7px 10px; }
ul.tsc_pagination li a img { border:none; }
ul.tsc_paginationC li a { color:#707070; background:#FFFFFF; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; border:solid 1px #DCDCDC; padding:6px 9px 6px 9px; }
ul.tsc_paginationC li { padding-bottom:1px; }
ul.tsc_paginationC li a:hover,
ul.tsc_paginationC li a.current { color:#FFFFFF; box-shadow:0px 1px #DDDDDD; -moz-box-shadow:0px 1px #DDDDDD; -webkit-box-shadow:0px 1px #DDDDDD; }
ul.tsc_paginationC01 li a:hover,
ul.tsc_paginationC01 li a.current { color:#FFFFFF; font-weight: bold; text-shadow:0px 1px #fa8c2c; border-color:#fa8c2c; background:#fa8c2c; background:-moz-linear-gradient(top, #fa8c2c 1px, #fa8c2c 1px, #fa8c2c); background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #fa8c2c), color-stop(0.02, #fa8c2c), color-stop(1, #fa8c2c)); }
ul.tsc_paginationC01 li a.disabled { color:#333333; font-weight: bold; text-shadow:0px 1px #D8D8D8; border-color:#D8D8D8; background:#D8D8D8; background:-moz-linear-gradient(top, #D8D8D8 1px, #D8D8D8 1px, #D8D8D8); background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #D8D8D8), color-stop(0.02, #D8D8D8), color-stop(1, #D8D8D8)); }
ul.tsc_paginationC li a.In-active {
   pointer-events: none;
   cursor: default;
}
.cookie-blue-box{background-color: #FF6600;color: #fff !important;padding: 5px;} 

.graph-container{width:100%;}
  
.tryitout_cargo_container span{float:left;margin:0 6px 0 0;width:10%;}
.tryitout_cargo_container .dimensions-field span input{width:90%;}
.tryitout_cargo_container .dimensions-field span select{width:95%;}  

.cargo-add-button{background:url(../../images/PlusBlack.png) no-repeat center bottom; display:inline-block;width:20px;height:20px;text-indent:-1000px;overflow:hidden;}
.cargo-remove-button{background:url(../../images/MinusBlack.png) no-repeat center top; display:inline-block;width:20px;height:20px;text-indent:-1000px;overflow:hidden;}
.dark-bg{background-color: #DBDBDB;}

.dotted-line {border-bottom: 1px dashed #ccc;color: #fff; background-color: #fff;}
.email-fields-container {padding: 5px 0;}
.email-fields-container .tryitout-field-container{width:25%;float:left;box-sizing:border-box;}

.tryitout-button-container {text-align:center;}
.tryitout-button-container > span, .quick-quote-button-container > a{width:120px;display:inline-block;box-sizing: border-box;}
.tryitout-button-container .quick-quote-currency{text-align:left;}
.tryitout-button-container > span a{display:block;}


.email-fields-container {padding: 5px 0;}
.email-fields-container .quote-field-label{width:14%;float:left;padding:2px 0 0;}
.email-fields-container .quote-field-container{width:86%;float:left;box-sizing:border-box;}
 
.wd-2{width:2% !important;}
.wd-3{width:3% !important;}
.wd-5{width:5% !important;}
.wd-6{width:6% !important;}
.wd-7{width:7% !important;}
.wd-8{width:8% !important;}
.wd-9{width:9% !important;}
.wd-10{width:10% !important;}
.wd-11{width:11% !important;}
.wd-12{width:12% !important;}
.wd-13{width:13% !important;}
.wd-14{width:14% !important;}
.wd-15{width:15% !important;}
.wd-16{width:16% !important;}
.wd-17{width:17% !important;}
.wd-18{width:18% !important;}
.wd-19{width:19% !important;}
.wd-20{width:20% !important;}
.wd-21{width:21% !important;}
.wd-22{width:22% !important;}
.wd-23{width:23% !important;}
.wd-24{width:24% !important;}
.wd-25{width:25% !important;}
.wd-26{width:26% !important;}
.wd-27{width:27% !important;}
.wd-28{width:28% !important;}
.wd-29{width:29% !important;}
.wd-30{width:30% !important;}
.wd-31{width:31% !important;}
.wd-32{width:32% !important;}
.wd-33{width:33% !important;}
.wd-34{width:34% !important;}
.wd-35{width:35% !important;}
.wd-40{width:40% !important;}
.wd-45{width:40% !important;} 
.wd-50{width:50% !important;}
.wd-51{width:51% !important;}
.wd-52{width:52% !important;}
.wd-53{width:53% !important;}
.wd-54{width:54% !important;}
.wd-55{width:55% !important;}
.wd-56{width:56% !important;}
.wd-57{width:57% !important;}
.wd-58{width:58% !important;}
.wd-59{width:59% !important;}
.wd-60{width:60% !important;}
.wd-65{width:65% !important;}
.wd-66{width:66% !important;}
.wd-67{width:67% !important;}
.wd-68{width:68% !important;}
.wd-70{width:70% !important;}
.wd-72{width:72% !important;}
.wd-80{width:80% !important;}
.wd-81{width:81% !important;}
.wd-82{width:82% !important;}
.wd-83{width:83% !important;}
.wd-84{width:84% !important;}
.wd-85{width:85% !important;}
.wd-86{width:86% !important;}
.wd-87{width:87% !important;}
.wd-88{width:88% !important;}
.wd-89{width:89% !important;}
.wd-90{width:90% !important;}
.wd-100{width:100% !important;}



.wds-3{width:3% !important;padding-left:5px;}
.wds-5{width:5% !important;padding-left:5px;}
.wds-6{width:6% !important;padding-left:5px;}
.wds-7{width:7% !important;padding-left:5px;}
.wds-8{width:8% !important;padding-left:5px;}
.wds-9{width:9% !important;padding-left:5px;}
.wds-10{width:10% !important;padding-left:5px;}
.wds-11{width:11% !important;padding-left:5px;}
.wds-12{width:12% !important;padding-left:5px;}
.wds-13{width:13% !important;padding-left:5px;}
.wds-14{width:14% !important;padding-left:5px;}
.wds-15{width:15% !important;padding-left:5px;}
.wds-16{width:16% !important;padding-left:5px;}
.wds-17{width:17% !important;padding-left:5px;}
.wds-18{width:18% !important;padding-left:5px;}
.wds-19{width:19% !important;padding-left:5px;}
.wds-20{width:20% !important;padding-left:5px;}
.wds-21{width:21% !important;padding-left:5px;}
.wds-22{width:22% !important;padding-left:5px;}
.wds-23{width:23% !important;padding-left:5px;}
.wds-24{width:24% !important;padding-left:5px;}
.wds-25{width:25% !important;padding-left:5px;}
.wds-26{width:26% !important;padding-left:5px;}
.wds-27{width:27% !important;padding-left:5px;}
.wds-28{width:28% !important;padding-left:5px;}
.wds-30{width:30% !important;padding-left:5px;}
.wds-31{width:31% !important;padding-left:5px;}
.wds-32{width:32% !important;padding-left:5px;}
.wds-33{width:33% !important;padding-left:5px;}
.wds-34{width:34% !important;padding-left:5px;}
.wds-35{width:35% !important;padding-left:5px;}
.wds-40{width:40% !important;padding-left:5px;}
.wds-41{width:41% !important;padding-left:5px;}
.wds-42{width:42% !important;padding-left:5px;}
.wds-45{width:45% !important;padding-left:5px;}
.wds-50{width:50% !important;padding-left:5px;}
.wds-54{width:54% !important;padding-left:5px;}
.wds-55{width:55% !important;padding-left:5px;}
.wds-60{width:60% !important;padding-left:5px;}
.wds-65{width:65% !important;padding-left:5px;}
.wds-66{width:66% !important;padding-left:5px;}
.wds-67{width:67% !important;padding-left:5px;}
.wds-68{width:68% !important;padding-left:5px;}
.wds-70{width:70% !important;padding-left:5px;}
.wds-72{width:72% !important;padding-left:5px;}
.wds-75{width:75% !important;padding-left:5px;}
.wds-76{width:76% !important;padding-left:5px;} 
.wds-80{width:80% !important;padding-left:5px;}
.wds-81{width:81% !important;padding-left:5px;}
.wds-82{width:82% !important;padding-left:5px;}
.wds-83{width:83% !important;padding-left:5px;}
.wds-84{width:84% !important;padding-left:5px;}
.wds-85{width:85% !important;padding-left:5px;}
.wds-86{width:86% !important;padding-left:5px;}
.wds-87{width:87% !important;padding-left:5px;}
.wds-88{width:88% !important;padding-left:5px;}
.wds-89{width:89% !important;padding-left:5px;}
.wds-90{width:90% !important;padding-left:5px;}
.wds-100{width:100% !important;padding-left:5px;}

.wd-50+.wd-50{padding-left:5px;}
.wd-35+.wd-65{padding-left:5px;}
.wd-33+.wd-33, .wd-33+.wd-34{padding-left:5px;}

.clearfix-fwd:after, .oh:after {display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden;}

.quick_quote_search_form_container .single-field input[type=text], .quick_quote_search_form_container .single-field select{width:100%;}
.manual_fee_form_container .quote-field-container input[type=text],.manual_fee_form_container .quote-field-container select{width:98%;float:left;margin-right:2%;}
.hide-cargo-heading{display:none;}
#quick_quote_search_form_container{margin-bottom:10px;}
#quick_quote_booking_infomation_main_container .accordion-container{border-bottom:0;border-top:1px solid #7f7f7f;padding:20px 0 0;}
#quick_quote_booking_infomation_main_container .accordian{padding:3px 0 1px 23px;}
#quick_quote_booking_infomation_main_container .accordian a{right:auto;left:0;}

#quick_quote_booking_infomation_main_container .quick-quote-billing, #quick_quote_booking_infomation_main_container .quick-quote-consignee, #quick_quote_booking_infomation_main_container .quick-quote-shipping{float:left;width:32%;}
.quick-quote-shipping{margin:0 2%;}
#booking_information_container .wd-68{padding-right:5px;}

.quick-quote-results{border-top:solid 1px #555;border-spacing:0;}
.quick-quote-results th{border-bottom:solid 1px #555;padding:5px 0;}
.quick-quote-results td{border-bottom:dashed 1px #999;padding:5px 0;}

#booking_information_container .dotted-line{margin-bottom:8px;line-height:9px;}

.quick-quote-button-container {text-align:center;}
.quick-quote-button-container > span, .quick-quote-button-container > a{width:120px;display:inline-block;box-sizing: border-box;}
.quick-quote-button-container .quick-quote-currency{text-align:left;}
.quick-quote-button-container > span a{display:block;}

.email-fields-container .quote-field-container input{box-sizing: border-box;}
.email-fields-container .quote-field-container select{box-sizing: border-box;width:100%;}
.grey-text{color:#999;font-size:12px;font-style: italic;}
.get-rates-btn-clicked{background:#d85124 url(../../images/loader.gif) no-repeat 95% center;background-size:auto 40%;}

.radio-container{display:block;padding-left:20px;position:relative;}
.radio-container input{position:absolute;left:0;top:2px;}

.checkbox-container{position:relative;padding-left:17px;display:inline-block;line-height:20px;}
.checkbox-container > input{position:absolute;left:0;top:4px;}
.checkbox-container > label{position:absolute;left:0;top:4px;}
.checkbox-container > label.red_border {border:0;}
.checkbox-container > label.red_border:after{position: absolute;border:1px solid #d9000b;top: 0;left: 0;content: '';width: 11px;height: 11px;z-index: 1;}

.open-icon{background:url(../../images/plus-minus-icon.png) no-repeat center bottom; display:inline-block;width:18px;height:18px;text-indent:-1000px;overflow:hidden;}
.close-icon{background:url(../../images/plus-minus-icon.png) no-repeat center top; display:inline-block;width:18px;height:18px;text-indent:-1000px;overflow:hidden;}

.sort-arrow-up{background:url(../../images/sort-arrow-up.png) no-repeat right center;display:inline-block;min-height:12px;min-width:12px;float:right;}
.sort-arrow-down{background:url(../../images/sort-arrow-down.png) no-repeat right center;display:inline-block;min-height:12px;min-width:12px;float:right;}
.sort-arrow-up-grey{background:url(../../images/sort-arrow-up-gray.png) no-repeat right center; display:inline-block;min-height:12px;min-width:12px;float:right;}
.sort-arrow-down-grey{background:url(../../images/sort-arrow-down-gray.png) no-repeat right center;display:inline-block;min-height:12px;min-width:12px;float:right;}

#tryitout_cargo_container .input-title{font-size:14px !important}

.earlier-quotes-heading span{display:inline-block;position:relative;padding-right:22px;}
.earlier-quotes-heading span a{position:absolute;right:0;top:2px;}
#loader_popup_1 img{left:50%;top:50%;position:absolute;margin:0;z-index:2}

#show_message .warning{background-position:0 5px;}
#show_message .information{background-position:0 5px;}

#header .header-links .quick-quote{width: 72px;}


.quick-quote-button-container {text-align:center;}
.quick-quote-button-container > span, .quick-quote-button-container > a{width:120px;display:inline-block;box-sizing: border-box;}
.quick-quote-button-container .quick-quote-currency{text-align:left;}
.quick-quote-button-container > span a{display:block;}

.get-rates-btn-clicked{background: url(../../images/loader.gif) no-repeat 95% center;background-size:auto 40%;}
.bg-grey{background:#D3D3D3}
.quick-quote-send-button-container{display:inline-block;position:relative;}
.quick-quote-send-button-container > span{position:absolute;left:105%;top:3px;}


#header .header-links .user #show_link{position:absolute;right:0px;top:100%;width:200px;}
.quick-quote-title{line-height:20px;font-weight:700;}
.bold-text{font-weight:bold;}
.show_message{border-bottom: 1px solid #bfbfbf;margin: 0 auto;padding-right: 81px;position: relative;text-align: left;width: 905px;padding-top: 4px;padding-bottom:4px;}
.note_info{min-height:30px;}
.warning{background:url(../../images/Warning.png)no-repeat 0 3px; padding: 2px 0 2px 30px;margin-top: -2px;}
.information{background:url(../../images/Information.png) no-repeat 0 3px; padding:3px 0 1px 30px;}
.show_message #foo {padding-left: 2px;}
.tyni-loader-quick-quote img{display:none;position:absolute;left:5px;top:5px;width:15px;height:auto;}
 
.billing-heading-values{text-align:center;font-size:17px;line-height:1.125;}
.billing-heading-values span{font-size:22px;}
.file-upload-button-list{border: solid 1px #CCC; padding: 3px 3px 7px 0;position:relative;}
.file-upload-button-list .upload {margin: 0;position: absolute !important;right: 2px;top: 2px;height: auto;font-size: 14px;line-height: 1.25;border-radius: 3px;}
.file-upload-button{background:#7b7b7b !important;font-size:14px;min-width: 94px;text-align:center;display:inline-block;cursor: pointer;text-transform:uppercase;padding:2px 6px;color:#fff;font-weight:bold;font-style:normal;text-decoration:none;-moz-box-shadow: 0 2px 0 0 #7b7b7b !important;
-webkit-box-shadow: 0 2px 0 0 #7b7b7b !important;
box-shadow: 0 2px 0 0 #7b7b7b !important;border-radius: 0px !important;}
.file-upload-button:hover{color:#fff;}
.profile-fields:after{clear:both;content:'';display:table;}
.forwarder-logo-upload-button{background:#7b7b7b !important;font-size:14px;min-width: 94px;text-align:center;display:inline-block;cursor: pointer;text-transform:uppercase;padding:2px 6px;color:#fff;font-weight:bold;font-style:normal;text-decoration:none;-moz-box-shadow: 0 2px 0 0 #7b7b7b !important;
-webkit-box-shadow: 0 2px 0 0 #7b7b7b !important;
box-shadow: 0 2px 0 0 #7b7b7b !important;border-radius: 3px;}
.forwarder-logo-upload-button:hover{color:#fff;}

.videoWrapper {
 position: relative;
 padding-bottom: 59.15%;
 padding-top: 25px;
 height: 0;
}
.videoWrapper iframe {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

.haulage-video{
     position: relative;
padding-bottom: 58.15%;
padding-top: 34px;
height: 0;

}

.haulage-video iframe {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}